[2022-04-11 20:50] JessicaMeixner-NOAA commented on #1108
For the BM-ICs which go in the BM_IC-20220207 directories.  The files should be taken from:
/scratch2/NCEPDEV/climate/climpara/S2S/IC/GEFS-NoahMP-aerosols-p8c
which combine the gfs* files that come from /scratch2/NCEPDEV/stmp3/Barry.Baker/C384_025/MERRA2_UFS_ICS/20* directories with sfc* files from the land-spin-up.

[2022-04-11 20:53] DeniseWorthen commented on #1108
Yes,  from the time line above I understood that Barry copied the ICs from Bing and added Aerosols, so we should use those from Barry's directory.

[2022-04-11 20:55] JessicaMeixner-NOAA commented on #1108
And then we need the sfc files from @barlage which is done in /scratch2/NCEPDEV/climate/climpara/S2S/IC/GEFS-NoahMP-aerosols-p8c but for the RT-IC dates we don't have the extra spin-up.  Just in the BM_ICs.

[2022-04-12 01:40] junwang-noaa opened #1168 "Add a new suite definition file to FV3 (FV3_WoFS_v0) for SRW release"
## Description
Add a new suite definition file to FV3 (FV3_WoFS_v0) to use the NSSL cloud microphysics scheme with Noah LSM. For use use with the next SRW app release

## Alternatives
If applicable, add a description of any alternative solutions or features you've considered.

## Related to
Directly reference any issues or PRs in this or other repositories that this is related to, and describe how

[2022-04-12 14:31] bbakernoaa opened #1169 "Update aerosol configuration for RTs to be similar to p8c"
## Description
This issue is created to solve two issues

- update dust settings in the RT suite to be similar to the upcoming p8c.
- add the parameter `fscav_aero` to the coupled regression tests ensuring that the wet scavenging of aerosols is tested when changes in the physics suite occurs.

## Solution
Update the settings to be more inline with the P8c settings.  Dust fix is only in the input s

[2022-04-13 13:28] bbakernoaa commented on #1108
@DeniseWorthen I can't check that box for whatever reason but yes I approve (CHECK)

[2022-04-13 14:20] HelinWei-NOAA commented on #1108
@DeniseWorthen I can't check the box either. Yes. They are right one.

[2022-04-13 14:21] DeniseWorthen commented on #1108
Thanks for the confirmations. Those who could not check the boxes should have an invitation to join the ufs-weather-model as a collaborator.

[2022-04-13 15:38] ChunxiZhang-NOAA commented on #1115
For this error:  module_mp_thompson.F90 (unit = 63, file = 'qr_acr_qgV2.dat')
118: Fortran runtime error: End of file
The possible cause is the big_endian, little_endian issue.  Not sure if -fconvert=big_endian was on?

[2022-04-13 15:50] climbfuji commented on #1115
Why would that only be the case for this particular test? The file is used all over the place in many other regression tests.

[2022-04-13 15:56] JessicaMeixner-NOAA commented on #1115
Is the wave model also trying to read/write something with unit=63? (I'm trying to look in the wave code and haven't found this yet, so maybe not?)

[2022-04-13 16:04] junwang-noaa commented on #1115
Denise tried to use an available unit, but it does not resolve the issue.

On Wed, Apr 13, 2022 at 11:57 AM Jessica Meixner ***@***.***>
wrote:

[2022-04-13 16:09] ChunxiZhang-NOAA commented on #1115
@climbfuji  I did a test by simply adding "convert=big_endian" in the open(63,...) in module_mp_thompson.F90 and I got the 'end of file during read' error. Not sure if similar compiler option was added during compiling for these particular tests.

[2022-04-13 16:12] JessicaMeixner-NOAA commented on #1115
WW3 uses -fconvert=big-endian although I wouldn't think that would effect non-wave files

[2022-04-13 16:33] MicroTed commented on #1168
UPDATE: fd_nems.yaml file needed to be updated -- works now

@junwang-noaa
I'm trying to do some tests with a subdomain of the 2019061518 "student" test, and I'm getting an odd error:

PET00 src/addon/NUOPC/src/NUOPC_Base.F90:2101 Invalid argument  - inst_tracer_diag_aod is not a StandardName in the NUOPC_FieldDictionary!

Any ideas? I see that inst_tracer_diag_aod is a new addition to atmos_model

[2022-04-13 16:43] DusanJovic-NOAA commented on #1115
Then, add `convert='little_endian'` to the open statement (in mp_thompson) to explicitly specify endianess, because WW3 adds the compiler flags that implicitly sets 'big endian' to all unformatted file implicitly. We should try to avoid using this flag.

[2022-04-13 17:20] DeniseWorthen commented on #1115
@DusanJovic-NOAA Do you mean that when WW3 sets 'big endian', it propagates to other components?

The failure happens only on intel.

[2022-04-13 17:27] DusanJovic-NOAA commented on #1115
It does propagate to all other components that depend on WW3, including the top-level driver. WW3 should not set compiler flags as PUBLIC properties of the ww3_lib target:
[code]
Why is this done this way? No other component is doing that. All other components are either appending component specific flags to already defined `CMAKE_Fortran_FLAGS` or set the flags from scratch.

[2022-04-13 17:34] DusanJovic-NOAA commented on #1115
Instead of adding `convert='little_endian'` to mp_thompson, you can also try to switch all compiler options in WW3 to PRIVATE, or in my opinion just set various `CMAKE_Fortran_FLAGS` to whatever options are necessary for WW3, like it's done in other components.

[2022-04-13 18:04] climbfuji commented on #1115
I think it is best to explicitly add the endiannness in module_mp_thompson - way safer than relying on external (build) compiler options.

[2022-04-13 18:18] JessicaMeixner-NOAA commented on #1115
Maybe some day we'll get away from binary files and not need to set big-endian, but for the time being we still need to be consistent.  I don't think we can realistically switch it for WW3, but if we need to set it to PRIVATE so it does not propagate out, I'll be happy to attempt to figure out how to do that and make sure it gets updated in WW3. Just let me know.   However I also agree with @climb

[2022-04-13 19:11] ChunxiZhang-NOAA commented on #1115
@climbfuji @DusanJovic-NOAA @JessicaMeixner-NOAA @DeniseWorthen Yes, the safer way is to add endianness in the module_mp_thompson.F90. I will ask Greg Thompson if he agrees to make changes to the code.

[2022-04-13 20:31] junwang-noaa commented on #1115
I agree with @DusanJovic-NOAA, I am worried that the compile options set for ww3 are populated to other components, so the test running with/without ww3 will have different compile options and could generate different results, even though the reading file issue could be temporarily fixed by adding endiannness in module_mp_thompson. Anytime ww3 compile option change could impact atm run results, th

[2022-04-13 21:50] ChunxiZhang-NOAA opened #1173 "Update namelist settings of the Thompson, NoahMP and RRTMGP for RTs"
## Description
The namelist settings for the Thompson and NoahMP scheme need to be updated in order to keep up with the fast development of P8C. Currently, sedi_semi is set to false and decfl is set to 8 for all Thompson scheme related RTs. Due to the computing efficiency issue for the RRTMGP scheme, the RRTMGP scheme in suite_FV3_GFS_v17_coupled_p8 and suite_FV3_GFS_v17_p8 was reverted to RRTMG.

[2022-04-13 22:04] kgerheiser commented on #1115
Yes, I will fix the flags and make a PR. I think @DusanJovic-NOAA is correct about using `CMAKE_Fortran_FLAGS`. I think I was being a little too clever setting flags per target like that.

[2022-04-13 22:34] kgerheiser commented on #1115
I have a fix here:https://github.com/kgerheiser/WW3/commit/d3078c0d49b7ca744d090aff05b9f0ceb1065549

[2022-04-14 12:34] DeniseWorthen commented on #1115
I added 'convert=little_endian' to all the open statements in module_mp_thompson and re-ran the S2SWA test using the new cap. I no longer get the end-of-file error, but I do now get the cap error (``GOCART/ESMF/UFS/Aerosol_Cap.F90:321``).

I will also test Kyle's solution.

BTW,  in ozinterp.f90 and h2ointerp.f90, there are existing 'convert' statements in the file open statements.

[2022-04-14 13:29] DeniseWorthen commented on #1115
I tried Kyle's cmake solution but the model appears to hang. I'm not sure what exactly is happening. The run directory is here

/scratch1/NCEPDEV/stmp2/Denise.Worthen/FV3_RT/rt_gnumesh/test_flags

[2022-04-14 13:46] WenMeng-NOAA opened #1174 "Unify inline post interfaces for global and regional FV3"
## Description
At  FV3/io, global inline post and regional inline post uses two separate interfaces, post_gfs, post_regional.

## Solution
These two interfaces can be unified.

## Related to
Directly reference any issues or PRs in this or other repositories that this is related to, and describe how they are related. Example:
- needed by noaa-emc/fv3atm/pull/<pr_number>

[2022-04-14 13:47] kgerheiser commented on #1115
I put that together without really testing it. Let me take a look...

[2022-04-14 14:26] kgerheiser commented on #1115
Compilation looks ok to me both in your logs and in a test build. The correct WW3 flags/definitions are being used and are not being propagated.

[2022-04-15 12:50] junwang-noaa commented on #1085
hafs_regional_storm_following_1nest_atm failed on hera in PR#909.

[2022-04-15 13:34] junwang-noaa opened #1177 "high resolution CICE6 model scalability issue in UFS"
## Description
hae-cheol.kim@noaa.gov is running high resolution (1/12degree) NG-GODAS test and found some scalability issue with cice6 model. Below is the description from Hae-Cheol:

While running 1/12-th degree DATM-MOM6-CICE6 (with GEFS forcing), I bumped into a load balancing issue. Here is some information from ESMF_profile_summary and it looks like that the ice model does not scale at all,

[2022-04-15 13:49] junwang-noaa opened #1178 "NG-GODAS development Q3FY2022"

[2022-04-15 13:53] junwang-noaa commented on #1088
Reopen the issue for additional bug fixes for P8c.

[2022-04-15 13:55] junwang-noaa opened #1179 "SRW/CCPP v6 public release"

[2022-04-15 14:02] junwang-noaa opened #1180 "MRW release 2022"

[2022-04-15 14:05] junwang-noaa commented on #1148
Code was committed. The issue will be committed.

[2022-04-15 14:05] #1148 closed

[2022-04-15 14:08] junwang-noaa commented on #1086
The issue is fixed in PR #1130.

[2022-04-15 14:08] #1086 closed

[2022-04-15 14:18] junwang-noaa commented on #1093
PR#1090 was committed.

[2022-04-15 14:18] #1093 closed

[2022-04-15 14:22] junwang-noaa commented on #1116
A quick update, we are working with nceplibs team to get libraries ready on wcoss2 (hps-stack issue [#432](https://github.com/NOAA-EMC/hpc-stack/issues/432)). Some libraries were updated on wcoss2 according to nceplibs team, those libraries need to be installed on all ufs supported platforms too.

[2022-04-15 14:25] junwang-noaa commented on #810
Ben created an [new issue #1116](https://github.com/ufs-community/ufs-weather-model/issues/1116) to port ufs-weather-model to wcoss2 (cactus/dogwood), let's close this one.

[2022-04-15 14:25] #810 closed

[2022-04-15 16:50] BinLiu-NOAA commented on #1085
@junwang-noaa, it looks to me these HAFS nesting RT failures are related to the corrupted/incomplete atm/sfc.nest??.fhhh.nc files (even though the file sizes look normal). By any chance, the write grid component did not properly close the netcdf files? Any comments/suggestions/ideas on what might be the cause for these corrupted/incomplete history output files will be much appreciated. Thanks!

[2022-04-15 17:18] junwang-noaa commented on #1085
@BinLiu-NOAA Code managers have been tracking this error for a while. This is what we observed:
1) The error only happened when a new baseline was created. We haven't seen it in the PR against existing baseline. Every time the baseline creation was finished successfully and all the output files including those created after atm.nest02.f006.nc were copied to baseline location. The error happened at

[2022-04-15 19:13] WenMeng-NOAA commented on #1174
The changes will be made in both ufs-weather-model repository and fv3atm repository:

- fv3atm:
    1) Unified inline post interface post_fv3
    2) Add bug fix for dx/dy computation
    3) Add reading pwat from FV3
    4) Clean up some legacy variable initialization.
    5) Read max/min 2m T from tmax_max2m for GFS, and from t02max/min for RRFS and HAFS.
    6) Read 3D cloud fraction from cld_amt

[2022-04-15 21:51] WenMeng-NOAA commented on #1174
Here are test results form UFS RT control and regional_control:
[code]

[2022-04-17 23:51] lipan-NOAA commented on #795
@junwang-noaa [PR#1182](https://github.com/ufs-community/ufs-weather-model/pull/1182) was created

[2022-04-18 01:48] WenMeng-NOAA commented on #1174
The changed results above tests come from:

- sfcf*, phyf*: output variable name change from pwatclm to pwat
- UPP outputs in GRIB2 for GFS: output pwat from model calculation instead of UPP calculation
   891:51910349:PWAT:entire atmosphere (considered as a single layer):rpn_corr=0.999814:rpn_rms=0.357892
- UPP outputs in GRIB2 for regional FV3 (RRFS, HAFS): a bug fix in ABSV, MCONV calculation i

[2022-04-18 13:05] #906 closed

[2022-04-18 13:05] #1108 closed

[2022-04-18 13:05] #1150 closed

[2022-04-18 23:06] DeniseWorthen commented on #1115
I've repeat the tests using the new cap and the S2SWA and S2SW hera.gnu builds.

Without Kyle's build fix
- the S2SWA gives me the error at line 321 in Aerosol_Cap shown above.
- the S2SW  completes if I add the 'convert=little_endian' to the the open statements in module_mp_thompson

With Kyle's build fix, both the S2SW and S2SWA tests time out while trying to start up.

[2022-04-19 09:57] DeniseWorthen commented on #1163
The hafs_regional_1nest_atm test on Dell failed 4 times in PR https://github.com/ufs-community/ufs-weather-model/pull/909#issuecomment-1100443959 (user signal 2). I was able to complete the test by running without ecflow.

[2022-04-19 10:02] DeniseWorthen commented on #1085
The hafs_regional_storm_following_1nest_atm test on hera.intel was turned off in PR https://github.com/ufs-community/ufs-weather-model/pull/909#issuecomment-1100231180. We need a follow-up PR to switch from netcdf-parallel to netcdf in all the nested HAFS tests and then turn the test back on.

[2022-04-19 18:09] DeniseWorthen commented on #1115
I've been able to resolve the model hang issue if I use Kyle's build fix by adding the 'convert='big_endian'' modifier in w3iogrmd.F90

[code]

With Kyle's build fix, adding convert=little_endian to the the open statements in module_mp_thompson.F90 is not required. The model runs and completes either way. There is no 'end of file' error message.

The model is running with the mod_def files I creat

[2022-04-19 18:20] JessicaMeixner-NOAA commented on #1115
Wait, shouldn't all WW3 files be compiled with big_endian? More than just w3iogrmd has a binary file which requires consistent endian usage.

[2022-04-19 18:28] DeniseWorthen commented on #1115
@JessicaMeixner-NOAA Kyle checked my earlier build logs and confirmed that his fix seemed to be working (ww3 using big_endian, but not propagating that setting to other components). Since the end-of-file error was resolved even w/ no changes to the mp_thompson, I think that confirms that it is not being propagated. I looked at my build log and I did see that
ww3 was being build with big_endian, so

[2022-04-19 18:34] DeniseWorthen commented on #1115
``
[ 44%] Building Fortran object WW3/model/src/CMakeFiles/ww3_lib.dir/w3iogrmd.F90.o
cd /scratch2/NCEPDEV/climate/Denise.Worthen/WORK/ufs_cmake_gnu/tests/build_fv3/WW3/model/src && /scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/gnu-9.2.0/mpich/3.3.2/bin/mpif90 -DW3_BS0 -DW3_BT1 -DW3_CRT1 -DW3_CRX1 -DW3_DB1 -DW3_DIST -DW3_FLD2 -DW3_FLX0 -DW3_IC0 -DW3_IS0 -DW3_MLIM -DW3_MPI -DW3_NCO -DW3_NL1 -DW

[2022-04-19 18:36] JessicaMeixner-NOAA commented on #1115
@DeniseWorthen I understand now.  Hopefully it'll run with the new mod_defs without further code modifications.  It does look like w3igrmd is using the big_endian, but are all WW3 files?  Because w3iogo w3iors and others also use binary files and need to be consistently compiled.

[2022-04-19 18:47] DeniseWorthen commented on #1115
@JessicaMeixner-NOAA Reverting the change to w3iogrmd.F90 and using your new mod_def produces a model hang (I've been giving it 5 minutes to start up and killing when it has not progressed).

I don't understand why the convert modifier is required if the compiler is including it.

[2022-04-19 18:56] JessicaMeixner-NOAA commented on #1115
This change seems odd to me.  Especially as it's a one-line change and not changing for example the write above it, which should likely also be changed along with every other binary read or write in WW3.  I wonder what NDSM is?  Is the issue that somehow NDSM=63 and that's the issue?

[2022-04-19 19:20] DeniseWorthen commented on #1115
W3IOGR is being called in wav_shel_inp here:

[code]

NDSF(7) is unit 17 (which I confirmed).

I've also confirmed now that if I compile the same code w/ Intel and Kyle's build fix (but no fix to mp_module_thompson, no fix to w3iogr), the model runs fine.

[2022-04-19 19:29] JessicaMeixner-NOAA commented on #1115
So we still have an issue with gnu without the w3iogr fix though?    I wonder if the mod_def needs to be created with a gnu executable?

[2022-04-19 19:43] JessicaMeixner-NOAA commented on #1115
@DeniseWorthen I made mod_defs with gnu:
/scratch2/NCEPDEV/climate/Jessica.Meixner/newgridsforp8andregtests/WW3_input_data_20220418_gnu

[2022-04-19 20:00] binli2337 commented on #1177
The reason for the load balancing (scalability) issue has been found.

In the test using 1240 cores for CICE6, only 300 cores are actually used by CICE6 for forecasting.

Settings in ice_in are
    nprocs            = 1240
    nx_global         = 4500
    ny_global         = 3297
    block_size_x      = 15
    block_size_y      = 3297
    max_blocks        = -1
    processor_shape   = 'slenderX1'

[2022-04-19 20:20] DeniseWorthen commented on #1115
That's right. We can't turn on Aerosols for GNU because of the issue in the the aerosol_cap. But I've been trying to add waves to the test (currently it is run w/o waves on gnu). If we resolve the propagation of compiler flags from WW3 to other components w/ Kyle's build fix, even though we're compiling the w3iogr with big_endian, I need to add that modifier or the model hangs for GNU.

One thing

[2022-04-19 20:24] tse-chunchen opened #1184 "Adding NN evaluation for FV3"
## Description
To facilitate neural network (NN) based correction to the state variables, I would like to introduce subroutines that define and evaluate a typical feedforward NN and call it from the model (similar to https://github.com/AlexBelochitski-NOAA/fv3atm_full_physics_nn_emulator/).

## Solution
* Current plan is to implement it in a similar way as the IAU update since they are both adding

[2022-04-19 20:50] DeniseWorthen commented on #1115
The gnu mod_def didn't make a difference.

[2022-04-19 21:49] lisa-bengtsson opened #1185 "DNATS exported as 2 in RT's without GOCART aerosol"
## Description

DNATS should be set to 0 in control_p8 tests without GOCART aerosols, otherwise ozone and tke will not be advected in the dycore.

control_2threads_p8
control_debug_p8
control_decomp_p8
control_p8
control_restart_p8

Should all have DNATS = 0 as the field_table does not include GOCART aerosols.

[2022-04-20 02:05] junwang-noaa opened #1186 "UFS documentation"

[2022-04-20 13:43] DeniseWorthen commented on #1115
I think I understand what may be happening. I did two final tests, with and without Kyle's build fix (to prevent propagation of the big-endian flag to all components). I did not change the open statements in either module_mp_thompson or w3iogrmd, but I added an inquiry to write the endian-ness of the open unit.

With Kyle's build fix, all files report being 'little_endian', **even** w3iogrmd, even

[2022-04-20 13:54] JessicaMeixner-NOAA commented on #1115
Thanks @DeniseWorthen that's really interesting!

Theoretically as long as WW3 is consistently compiled we could change to little endian, but that would have big consequences for operations and the community users, so we should think about possible ways to minimize that impact if that's something we want to consider.     @DeniseWorthen let me know if you want a "little-endian" set of GNU mod_defs

[2022-04-20 13:57] DeniseWorthen commented on #1115
I actually think the safest solution might be to specify the ``convert=big-endian`` on all open statements in WW3. That involves a lot of source code changes I'm sure. But as was pointed out, it means that WW3 will not be relying on any build system particulars.

[2022-04-20 14:02] kgerheiser commented on #1115
@DeniseWorthen that does make sense. Good work on finding that.

That is non-standard Fortran. Ifort (and maybe gfortran) have extensions, but they are compiler dependent.

[2022-04-20 14:52] DusanJovic-NOAA commented on #1115
Is there any particular reason why WW3 uses big-endian unformatted files on a little-endian system?

[2022-04-20 15:03] JessicaMeixner-NOAA commented on #1115
@arunchawla-NOAA might know more of that history.  We've always used big-endian on WW3.

[2022-04-20 16:28] DeniseWorthen commented on #1115
@kgerheiser Do you mean that the words you specify for convert setting in the open statement is compiler dependent? I wrote 'big-endian' but it looks like both ifort and gnu use "convert=big_endian".

[2022-04-20 16:44] kgerheiser commented on #1115
I mean that the `convert=` syntax specifier is a compiler extension, and is not technically standard Fortran. I've checked Intel, GNU, PGI, Flang, and Cray compilers, and they all support it, so it appears safe to use across most mainstream compilers.

[2022-04-20 17:10] DeniseWorthen commented on #1115
Thanks for the clarification. I think we're all agreed that WW3 compiler flags should not be propagated to all components, so we want to use Kyle's build fix. Are these our two options then?

1) create the mod_def files as little-endian and remove the fconvert=big_endian flag from WW3 for UWM (since it isn't working anyway, at least not for GNU)

2) specify the fconvert=big_endian everywhere in th

[2022-04-20 17:14] JessicaMeixner-NOAA commented on #1115
The way that the CMAKE is introduced in WW3 it's not just choosing the "fconvert=big_endian " for WW3/UWM it's doing that for everyone and everyone might not agree to that.  It's also pretty impactful for operations for a GNU-only issue.   That being said, putting in non-standard fortran in the code for a compiler issue seems like not a great option, but perhaps still preferable if our options are

[2022-04-20 17:21] DeniseWorthen commented on #1115
@JessicaMeixner-NOAA Thanks for the clarification regarding how big_endian is not configurable for just UWM.

What solution would you propose?

[2022-04-20 17:29] JessicaMeixner-NOAA commented on #1115
If the choices are 1 or 2, I personally think 2 is the way to go.  The other solutions I've thought of adds unnecessary complication.   Should I make an issue in WW3 to make sure others are okay with this addition?

[2022-04-20 17:30] kgerheiser commented on #1115
I think specifying `open(convert=big_endian)` might be the best solution.

It makes the option explicit in each open statement that needs it, and cuts out setting the endian flag for each compiler. I couldn't find a compiler that doesn't support this setting. Even the NAG Fortran compiler has it, which is really strict about non-standard code.

[2022-04-20 17:37] arunchawla-NOAA commented on #1115
we chose big_endian because we were on multiple different types of platforms and this allowed us to pass binary files acros platforms and not worry about endian. Choice of big_endian was arbitrary. Maybe we just remove it and move to creating mod def files on each platform ?

[2022-04-20 17:39] arunchawla-NOAA commented on #1115
Or do what Kyle suggests :). Maybe now is when we switch to a netcdf mod_def file and do away with binary outputs :)

[2022-04-20 17:40] JessicaMeixner-NOAA commented on #1115
That'd be my vote and hope we will when we get the time!

[2022-04-20 18:04] kgerheiser commented on #1115
I made a branch based off of develop (https://github.com/kgerheiser/WW3/tree/explicit-big-endian) that adds `convert='big_endian'` to all unformatted opens.

Commit here: https://github.com/kgerheiser/WW3/commit/109f9fc546be7a5ee95296a8aed70d6524f465e2

[2022-04-20 18:30] DeniseWorthen commented on #1139
See Issue [1115](https://github.com/ufs-community/ufs-weather-model/issues/1115) for the proposed resolution of this failure.

PR #1228  will resolve the endian-ness issue related to WW3 by allowing the endianness to be specified for WW3 only w/o impacting other components.

[2022-04-20 19:54] hannahcbarnes opened #1188 "Allow More Flexibility in Grell-Freitas Convective Parameterization and Add Suite Definition Files used by GSL"
## Description
- We would like to be able to run the deep portion of the Grell-Freitas (GF) Convective Parameterization without a shallow convective parameterization. Right now, the code is hard-wired so that GF deep must be run with GF shallow.
- GSL has a few Suite Definition Files that are not maintained in the repository. We would like to add these Suite Definition Files.

## Solution
- Resolv

[2022-04-21 17:33] DusanJovic-NOAA commented on #1116
'wcoss2' branch in my fork can now be used on wcoss2 (cactus). Only -DAPP=ATM and ATMW for now due to missing pio, and 3 other NASA libraries.

`git clone --recursive --branch wcoss2 https://github.com/DusanJovic-NOAA/ufs-weather-model`

[2022-04-21 19:10] jswhit commented on #1184
reading from an ascii file sounds cumbersome and slow - why not netcdf?

[2022-04-21 20:41] tse-chunchen commented on #1184
That's a good point. Thanks!

On Thu, Apr 21, 2022 at 12:11 PM Jeff Whitaker ***@***.***>
wrote:

[2022-04-25 16:07] junwang-noaa commented on #1036
Waiting for [mom-ocean/MOM6 PR #1566](https://github.com/mom-ocean/MOM6/pull/1566) to be committed

[2022-04-25 16:33] junwang-noaa commented on #1125
@kgerheiser May I ask the status of the w3emc/2.9.1?

[2022-04-25 16:34] kgerheiser commented on #1125
I just looked at this, and I think it's everywhere (only machine I don't have access to is Cheyenne),but I'm going to double check real quick.

[2022-04-25 16:35] aerorahul commented on #1125
I know it is on Orion, Hera, Dell and wcoss2.

[2022-04-25 16:47] binli2337 commented on #1166
A new script "bl_and_rt_auto.sh" has been created. This script can be used to create a new baseline and then run the regression tests.

a) if new log from the tests is not saved to the feature branch, the command is
./bl_and_rt_auto.sh pr_url pr_branch_name rt_machine

b) if new log from the tests is saved to the developer's feature branch, the command is
./bl_and_rt_auto.sh pr_url pr_branch_name

[2022-04-25 18:13] DusanJovic-NOAA commented on #1166
What's the purpose of the 3rd command line argument (rt_machine)? The rt.sh does 'know' which machine it is running on. Why do we need to specify that again?

What will happen if I'm on dell but specify wcoss_cray for example?

[2022-04-25 23:50] DeniseWorthen opened #1190 "aerosol fields do not reproduce when fhmax=4,fhzero=2"
## Description

To reduce the time required by the updated ``cpld_bmark_p8`` test with the mesh cap for PR https://github.com/ufs-community/ufs-weather-model/pull/1131, I've tried to reduce fhmax to 4 and restart the model from hour 2.

All files reproduce except for the ``atmf004.tile[1-6].nc`` and ``fv_tracer.res.tile[1-6].nc`` restart files. These files differ only in the following fields: nh3,

[2022-04-26 00:00] WenMeng-NOAA commented on #1125
@aerorahul Will there be a plan to install w3emc/2.9.1 on WCOSS1-Cray?

[2022-04-26 00:46] aerorahul commented on #1125
I am not sure. You will have to ask @kgerheiser @Hang-Lei-NOAA
Possibly open an install request in the hpc-stack repo.

[2022-04-26 13:01] Hang-Lei-NOAA commented on #1125
@Wen Meng - NOAA Federal ***@***.***> The w3emc/2.9.1 has been added
on wcoss cray

On Mon, Apr 25, 2022 at 8:46 PM Rahul Mahajan ***@***.***>
wrote:

[2022-04-26 13:27] bbakernoaa opened #1191 "Thompson microphysics sedimentation of hydrometers not correctly passed to aerosols"
## Description
With the switch to the Thompson mp the sedimentation values of hydrometers is not calculated.  This causes a problem for the large scale wet removal of aerosols within the GOCART component creating an ever growing aerosol field in the S2S runs.  These variables were calculated in the GFDL microphysics but the capability was lost with the Thompson mp.

please see: https://docs.google

[2022-04-26 13:54] WenMeng-NOAA commented on #1125
@Hang-Lei-NOAA I saw it. Thanks!

[2022-04-26 14:25] lisa-bengtsson opened #1193 "Address CA not working with non-uniform blocksizes"
## Description
Currently the cellular automata scheme only works with uniform blocksizes limiting the layout combination used.

## Solution
Update the code to work also on non-uniform blocksizes by making a small change stochastic_physics_driver.F90 to allow the cellular automata to work on non-uniform blocksizes. Previously the code aborted if not all blocks in the domain had the same size, howev

[2022-04-26 17:21] pjpegion opened #1194 "Compile time on hera is extremely long"
## Description
I am compiling the model via the compile.sh script on hera, and it take over 8 minutes to get past the configuration step and being the compilation.

## Solution
Can this be sped up?

## Alternatives
None

[2022-04-26 17:27] junwang-noaa commented on #1194
@pjpegion Did this happen to you before? The total time for compiling cpld case is taking about ~9mins.  Please see
https://github.com/ufs-community/ufs-weather-model/blob/develop/tests/RegressionTests_hera.intel.log#L4

[2022-04-26 17:55] pjpegion commented on #1194
I first noticed it last week when I ran regression tests to compare the timing of RRTMG and RRTMGP. In that case, it took 1045 seconds to compile the atmosphere only model, and it is equally slow today.

[2022-04-26 19:59] junwang-noaa commented on #1194
@pjpegion I could not repeat the issue you reported. I compiled the atmonly test today, it took ~300s to finish the whole compile job.  /scratch1/NCEPDEV/stmp2/Jun.Wang/FV3_RT/rt_151590/compile_001/compile_001_time.log

[2022-04-26 20:58] pjpegion commented on #1194
Interesting. I guess hera does not like me.

[2022-04-26 20:58] #1194 closed

[2022-04-27 09:59] DeniseWorthen commented on #571
Closing, undesired to implement at this time.

[2022-04-27 09:59] #571 closed

[2022-04-27 10:01] DeniseWorthen commented on #445
Closing. C-grid development has progressed steadily. Once a C-grid is available for CICE6, we can track the implementation in a new issue.

[2022-04-27 10:01] #445 closed

[2022-04-27 10:04] DeniseWorthen commented on #879
@junwang-noaa We still require this change I think. While I could add it in the mesh cap PR, I think that PR already has enough changes. Can we plan to update in an upcoming commit that also changes baselines? I will create a PR if that is what we want to do. The change will only be in the test files.

[2022-04-27 10:33] DeniseWorthen commented on #1177
Is this a bug, or is it an error in how the test is being configured?

[2022-04-27 10:43] DeniseWorthen commented on #1076
@ClaraDraper-NOAA I've linked the current PR to this issue; please let me know if this is not correct.

[2022-04-27 10:51] DeniseWorthen commented on #856
@pjpegion Can you give a status update?

[2022-04-27 10:52] DeniseWorthen commented on #730
@rmontuoro Can we close this issue?

[2022-04-27 10:56] DeniseWorthen commented on #229
@MatthewMasarik-NOAA @JessicaMeixner-NOAA Can we get an update for debug when using the existing (wmesmf) cap?

[2022-04-27 10:57] DeniseWorthen commented on #320
bump

[2022-04-27 12:24] junwang-noaa commented on #1190
@weiyuan-jiang May I ask if there is any restriction on the restart intervals for the species of nh and no3?

[2022-04-27 12:32] junwang-noaa commented on #1191
@yangfanglin @lisa-bengtsson FYI.

[2022-04-27 12:34] JessicaMeixner-NOAA commented on #229
For ATMW the wmesmf will pass debug.  For S2SW, this work was paused as we were focusing on using the mesh based cap for p8.  Depending on long term cap plans this work will be revisited as necessary for wmesmf & S2S.

[2022-04-27 14:39] bbakernoaa commented on #1190
@DeniseWorthen Does this include the updated compiler flags.  I can't find that issue/pr right now but I believe that @rmontuoro had fixed this issue.

[2022-04-27 14:44] DeniseWorthen commented on #1190
I can get restart reproducibility with the current configuration which uses fhmax in intervals of 6 (depending on the test). It is when reducing the fhmax to 4 (and fhzero to either 1 or 2) that the aerosol fields are not reproducing.

[2022-04-27 15:05] lisa-bengtsson commented on #1155
@mzhangw I think we can close this issue correct?

[2022-04-27 15:18] mzhangw commented on #1155
I think so. But I would like to let @ligiabernardet chip in.

[2022-04-27 16:01] pjpegion commented on #856
This is an open issue.  Do you want me to implement Dom's suggestion?

[2022-04-27 16:02] ligiabernardet commented on #1155
Yes. If needed we can open issues in the ccpp-physics and stochastic-physics repos.

[2022-04-27 16:03] #1155 closed

[2022-04-27 16:31] JessicaMeixner-NOAA commented on #1190
If you use Dusan's PR: https://github.com/ufs-community/ufs-weather-model/pull/1171  does it help?  I believe that's the issue/fix Barry is referring to.

[2022-04-27 16:35] SamuelTrahanNOAA opened #1197 "Lack of fault tolerance in rt_utils.sh Rocoto support frequently causes workflows to fail"
## Description

There are several flaws in the Rocoto implementation in rt_utils.sh that cause frequent failures. PR #1195 corrects these flaws, and those updates have been tested extensively by several developers on Hera and Jet.

1. The rocotorun is run too frequently: every 20 seconds. Batch systems queries can take longer than that to register that a job was submitted. This can cause Rocoto to

[2022-04-27 16:54] DeniseWorthen commented on #856
I don't know enough about these options to know what the full true/false matrix might be between the options.

Is there is only one combination of true/false that is valid (either scientifically or by code-implemenation)?

[2022-04-27 16:55] weiyuan-jiang commented on #1190
Sorry I cannot answer the question. But I can ask around for you

[2022-04-27 16:55] DeniseWorthen commented on #856
I don't know enough about these options to know what the full true/false matrix might be between the options.

Is there is only one combination of true/false that is valid (either scientifically or by code-implemenation)?

[2022-04-27 16:57] pjpegion commented on #856
@DeniseWorthen, scientifically pert_clds is only valid when SPPT is active.  My suggestion was to just set pert_clds to false if SPPT is not on, Dom suggest aborting the model and telling the user to fix the namelist.

[2022-04-27 19:08] DeniseWorthen commented on #1190
Thanks @JessicaMeixner-NOAA, I understood which fix Barry was referring to.

I can test Dusan's compile options. However, since aerosols reproduce using fhmax=6,fhzero=6, I would be surprised if that explains why it is not reproducing at fhmax=4, fhzero=2.

[2022-04-27 21:38] DeniseWorthen commented on #1190
I tested using oRT after merging Dusan's release_flags branch and obtained the same non-reproducing aerosol fields.

[2022-04-28 14:51] lisa-bengtsson opened #1198 "Model does not reproduce with different blocksizes"
## Description
The model does not give bitwise identical results if blocksize is changed. Tried blocksize 32, 16, and 5 they do not reproduce. Tried with the FV3_RAP suite and the FV3_GFS_v17_p8 suite both show this problem.  Tried compiler flag change from decomposition issue, it did not solve the issue. Tried turning do_ca = false, did not solve the issue.

### To Reproduce:
What compilers/machi

[2022-04-28 15:01] pjpegion commented on #1198
In my test, I used the FV3_RAP suite.
I ran, outputting every time-step and saving the physics tendencies.  The difference arises from differences in deep convection tendencies in the 2nd time-step.  Surface fluxes, latent heat flux, dynamics tendencies are identical at this point.
 I also tested with debug on, and it gave different results for different block sizes, although I did not save the te

[2022-04-28 15:02] #1076 closed

[2022-04-28 15:06] lisa-bengtsson commented on #1198
It is interesting since the FV3_RAP suite and the FV3_GFS_v17_p8 suite uses different convection schemes. @grantfirl could it be related to some generic convection routine in CCPP?

[2022-04-28 15:34] bensonr commented on #1198
Last time this happened was early in the transition of GFSv15.  At that time it was traced to a specific parameterization where a variable was being conditionally set.  In that case, the variable was not given a default value, but set within a complex if-structure and then used outside of that if-structure.  If any of the parameterizations are fortran-90 modules, it would also be good to understan

[2022-04-28 15:39] dustinswales commented on #1198
@lisa-bengtsson
Did you try any other SDFs?
I ask because the commonality between these two is that they have Thompson MP enabled. I wonder if this issue is present in v16 physics?

[2022-04-28 15:40] lisa-bengtsson commented on #1198
Thanks @bensonr, it could perhaps be a good idea to have a blocksize test in the ORT's in the future @DeniseWorthen?

@dustinswales I will try v16. Good suggestion.

[2022-04-28 21:46] lisa-bengtsson commented on #1198
Me and @pjpegion found that the control_p8 test does reproduce with blocksize of 32 and 16, but not if you chose blocksize 5.
blocksize 5 and 32 does however reproduce in conrol_debug_p8.

Both these tests are with do_ca = False because of a call to mpp_error when using non-uniform blocksizes when the do_ca namelist flag is true: https://github.com/ufs-community/ufs-weather-model/issues/1193 so if

[2022-04-29 17:36] pjpegion commented on #1198
I also checked control (GFS_v16) and it also nodes not reproduce when changing blocksize from 32 to 5.
But it also passed the block size test in debug mode.

Looking closely,  the differences in both control and control_p8 occur in the 1st time step.
for control, I see a difference in the deep convection heating tendency, and in control_p8 I see a difference in the MP heating tendency, and also in

[2022-04-29 20:25] rmontuoro commented on #730
@DeniseWorthen - My recommendation is to keep this open until we come to a meaningful resolution.

[2022-04-29 20:26] DeniseWorthen commented on #1190
I've updated the test branch to try a 3/1/4 restart test. The oRT enforces the restart time at ``FHMAX/2`` so testing of the 3/1/4 cannot be done w/ the oRT. Also, because of Issue MOM6 Issue [ #90](https://github.com/NOAA-EMC/MOM6/issues/90), comparison of MOM6 restarts will need to be removed if otherwise the 3/1/4 test reproduces.

[2022-05-02 12:27] mathomp4 commented on #1190
Query for someone in GEOS-land, do you have a "descriptive" explanation for the variables in play here? I've never run UFS so I'm a bit in the dark. 😄 I'm sort of guessing they are like our DT (time steps)?

[2022-05-02 12:31] weiyuan-jiang commented on #1190
Are the restart files the only input files? Are there any Extdata in the tests? @junwang-noaa

[2022-05-02 12:43] junwang-noaa commented on #1190
@mathomp4 The test case is a C96 global forecast coupled case. The time step for atmosphere is 720s, it does not change in the control (fh0->4hr from a cold start) and the restart test(fh0->2 cold start, then fh2->4 with restrart). In the restart test, the forecast restarts from current time at fh=2 using the restart files and continue to run 2 hrs to get fh=4hr.

[2022-05-02 12:44] DeniseWorthen commented on #1190
@mathomp4 The fhmax is the forecast length. In this case, we are running the model forward 4 hours and writing a restart for the components at hour 2. Using the restarts at hour2, the model is run from hour=2 to hour=4. What I comparing are the FV3 tracer restart files and the model forecast files between the initial (hr 0:4) and the restart run (2:4).

I can get the aerosol fields to reproduce if

[2022-05-02 12:53] SMoorthi-emc commented on #1190
I think fhzero should not be lower than fhout.

On Mon, May 2, 2022 at 8:44 AM Denise Worthen ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e-mail: ***@***.***
Phone:  (301

[2022-05-02 12:57] DeniseWorthen commented on #1190
Thanks @SMoorthi-emc. I think I did have fhout set to either 2 (for fhzero=2) or 1 (for fhzero=1) but I will recheck.

@weiyuan-jiang I'm not sure how to answer your question. I have a run directory on hera here

[code]

[2022-05-02 13:12] #795 closed

[2022-05-02 14:06] mathomp4 commented on #1190
Okay. I can confirm this on the GEOS end it seems. I ran a start-stop run of 4 hours vs 2+2 and I'm getting restart failures as well. I guess my nightly tests never picked up on this because my 'default' regression start-stop test is 24 vs 18+6...and there's a lot of 3s in that.

I've pinged @bena-nasa about this as well as @weiyuan-jiang and @tclune from our group knowing this.

[2022-05-02 14:26] bena-nasa commented on #1190
Hi All,
there appears to be a hard coded 3 hourly frequency here
https://github.com/GEOS-ESM/GOCART/blob/v2.0.6/ESMF/GOCART2G_GridComp/NI2G_GridComp/NI2G_GridCompMod.F90#L393
and here:
https://github.com/GEOS-ESM/GOCART/blob/v2.0.6/ESMF/GOCART2G_GridComp/SU2G_GridComp/SU2G_GridCompMod.F90#L480

in gocart2g

If I changed this to a 2 hour frequency then a run of 4 hours vs 2 + 2 passes our start-sto

[2022-05-02 18:51] weiyuan-jiang commented on #1190
Here is Arlindo's comments. Quote: " There was a reason why the 3 hour alarm was hardwired, as not to give the user the illusion that they could specify any other value. An easier solution may involve changing the way we handle these oxidants. The way this oxidant is "recycled" always apperead contrived in my opinion. So, stop trying to find a way to address this in code. There is no deep mandate

[2022-05-02 18:54] tclune commented on #1190
@weiyuan-jiang when did he make that comment?

[2022-05-02 19:48] bena-nasa commented on #1190
https://github.com/GEOS-ESM/GOCART/issues/146#issuecomment-1115201582

[2022-05-03 12:21] #1161 closed

[2022-05-03 15:34] bensonr commented on #801
@junwang-noaa @arunchawla-NOAA @JacobCarley-NOAA - please try your tests with this version of [fv3atm](https://github.com/bensonr/fv3atm/tree/emc_io_fixes).  Make sure to use io_layout=1,1 to test the initialization performance.

This branch also contains a fix to the restart checksum issue you've been wanting removed.  The option is controlled separately for the dycore and the physics.  In the dy

[2022-05-03 15:42] junwang-noaa commented on #801
@bensonr Thank you very much for making the code changes.
@BinLiu-NOAA @EricRogers-NOAA FYI,

[2022-05-03 16:27] EricRogers-NOAA commented on #801
How would I check this out and compile w.r.t. to the full model (https://github.com/ufs-community/ufs-weather-model)? I've always just cloned the https://github.com/ufs-community/ufs-weather-model (and maybe checkout a feature branch) and have not had experience dealing with a different version of fv3atm or some other submodule. Thanks for your assistance.

[2022-05-03 16:36] junwang-noaa commented on #801
@EricRogers-NOAA I am creating a ufs-weather-model branch from the latest develop branch using Rusty's fv3atm, we can use it for testing. I will let you know when I am done.

[2022-05-03 16:48] bensonr commented on #801
Or simply
* cd ufs-weather-model
* mv FV3 FV3.orig  (or: rm -rf FV3)
* git clone -b emc_io_fixes --recursive https://github.com/bensonr/fv3atm FV3

[2022-05-03 17:00] junwang-noaa commented on #801
Thanks, Rusty, that will work too. Anyway, @EricRogers-NOAA @BinLiu-NOAA Here is the branch for testing:

https://github.com/junwang-noaa/ufs-weather-model/tree/checksum_io

[2022-05-03 17:08] BinLiu-NOAA commented on #801
Thanks a lot, @bensonr @junwang-noaa! We will test from the HAFS side and report back on how this new branch perform for the model forecast init phase when using io_layout of (1x1) for both cold-start and warm-start scenarios. We will also test the capability of skipping the checksum step. Thanks!

[2022-05-03 18:02] EricRogers-NOAA commented on #801
@junwang-noaa my compile failed on WCOSS Dell:

CMake Error at FV3/CMakeLists.txt:21 (message):
  An error occured while running ccpp_prebuild.py, check
  /gpfs/dell6/emc/modeling/noscrub/Eric.Rogers/emc_io_fixes/build/FV3/ccpp_prebuild.{out,err}

I had been using this to compile the code, I take it there have been changes:

#!/bin/bash
set -x
. /usrx/local/prod/lmod/lmod/init/sh
module purge
modu

[2022-05-03 18:28] arunchawla-NOAA commented on #649
@RatkoVasic-NOAA based on some of the other conversations, does this problem go away when blending is set to zero ?

[2022-05-03 18:31] RatkoVasic-NOAA commented on #649
Yes, but we have to test couple of more cases.

[2022-05-03 18:43] junwang-noaa commented on #801
I run the RT tests on Orion, it works. Let me check Dell.

[2022-05-04 02:29] junwang-noaa commented on #801
@EricRogers-NOAA  The code compiled on dell. Here is what I did:

Jun.Wang@v71a1 ufs-weather-model]$ pwd
/gpfs/dell1/ptmp/Jun.Wang/ufs-weather-model
module purge
module use -a /gpfs/dell1/ptmp/Jun.Wang/ufs-weather-model/modulefiles
module load ufs_wcoss_dell_p3
module list
export CMAKE_FLAGS="-DAPP=ATM -DCCPP_SUITES=FV3_GFS_v15_thompson_mynn_lam3km -D32BIT=ON"
nohup ./build.sh >xxxcmpl 2>&1 &

[2022-05-04 12:07] BenjaminBlake-NOAA commented on #801
@junwang-noaa I tried compiling your branch using your commands listed above, but I got the same error as Eric.  I looked in my build/FV3/ccpp/ccpp_prebuild.err file and I saw the following message at the end:

KeyError: 'rrtmg_sw_pre'

The FV3_GFS_v15_thompson_mynn_lam3km suite file we were using did contain rrtmg_sw_pre, but I see it was replaced by rad_sw_pre in the repository.  The xml file we

[2022-05-04 14:08] RatkoVasic-NOAA commented on #649
@arunchawla-NOAA I'm confirming that without blending boundaries (nrows_blend=0) different MPI decomposition reproduces results.

[2022-05-04 14:49] MinsukJi-NOAA commented on #1103
Using the latest weather model (846f0e4, #1171), the decomposition test is successful: the `cpld_decomp_p8` regression test works not only as it is (`INPES=4` and `JNPES=6`), but also with `INPES=8` and `JNPES=3`.

[2022-05-04 18:52] arunchawla-NOAA commented on #649
thanks, so blending is the problem not the different physics packages

[2022-05-04 18:58] RatkoVasic-NOAA commented on #649
Correct!

[2022-05-04 19:02] BenjaminBlake-NOAA commented on #1116
@DusanJovic-NOAA  I was able to compile the ufs-weather-model code on Cactus (with -DAPP=ATM) using your branch, thanks for getting that set up.  One issue I ran into initially was that the cray-mpich/8.1.7 module was not being loaded, even though it is in modulefiles/ufs_wcoss2.  After adding module load envvar/1.0 to the top of that modulefile, the cray-mpich/8.1.7 module was successfully loaded

[2022-05-05 01:01] SMoorthi-emc commented on #1198
I think I know the reason for this.
In the physics package in GSM based GFS arguments were general with e.g.
"im, imx" etc,
where physics operated on "im" points but the leading dimension of arrays
were "imx" where im<=imx.
This was retained in the IPD version of physics, but in the CCPP version
this was removed assuming that in FV3 im ia always = imx.
But when you use odd block size (like 5), for

[2022-05-05 18:49] EricRogers-NOAA commented on #801
I've got the new code running on WCOSS Dell P3; I saw this print:

Computing rain collecting graupel table took    226.539 seconds.
   creating rain collecting snow table
Computing rain collecting snow table took     31.857 seconds.

Are there new tables we need to read in that will eliminate the above computations and reduce run time?

The run subsequently aborted a few minutes after the above pr

[2022-05-05 19:26] EricRogers-NOAA commented on #801
One of the ESMF debug prints had this in the failed run of the new code:

20220505 184831.351 ERROR            PET1875 src/addon/NUOPC/src/NUOPC_Base.F90:2101 Invalid argument  - inst_tracer_diag_aod is not a StandardName in the NUOPC_FieldDictionary!
20220505 184831.351 ERROR            PET1875 src/addon/NUOPC/src/NUOPC_Base.F90:480 Invalid argument  - Passing error in return code
20220505 184831

[2022-05-05 19:37] junwang-noaa commented on #801
@EricRogers-NOAA Please update the fd_nems.yaml file in the run directory from the latest develop branch:

https://github.com/ufs-community/ufs-weather-model/blob/develop/tests/parm/fd_nems.yaml

[2022-05-05 20:40] ericaligo-NOAA commented on #801
I'm not using the latest code, so I don't know if new tables have been
added.  Ruiyu, do you know if the latest ufs-weather-model code requires
new tables to be read in by the Thompson scheme?

On 5/5/2022 2:50 PM, EricRogers-NOAA wrote:

[2022-05-06 03:04] RuiyuSun commented on #801
@ericaligo-NOAA I am not aware of any new tables required. If the tables are being created at the initial time that probably means the existing table files are not copied to the run directory.

[2022-05-06 11:15] SMoorthi-emc commented on #801
Ruiyu, Where are these precomputed tables?  I also saw them being created
while running.

On Thu, May 5, 2022 at 11:04 PM RuiyuSun ***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3

[2022-05-06 13:31] JessicaMeixner-NOAA opened #1203 "Update ICs for P8c surface fields"
## Description
The surface fields for p8c ICs were updated.  While likely sufficient for regression testing for the existing ICs, wanted to make everyone aware that there is a change in what we're running for the prototypes, so we should probably update these inputs when we get a chance.

Essentially we need to do the following:

for CDATE  in  2012010100  2012040100	2012070100  2012100100	2013010

[2022-05-06 13:32] DeniseWorthen opened #1204 "Running cpld_control_p8 past 48 hours fails"
## Description

Reported by @shansun6, extending the cpld_control_p8 test to fhmax>48 hours fails with an error in aerosols. A matching run w/ aerosols turned off completes a 72 hour forecast.

### To Reproduce:

A run directory was copied from Shan's test case (UWM hash 07edf4c). The model_configure and nems.configure were modified to run 72 hours.

For the non-aero case, nems.configure was modif

[2022-05-06 13:32] RuiyuSun commented on #801
You can use the tables created in your current/previous experiment for your future experiments. I didn't find them in the current ufs_weather_model. They need to be added @yangfanglin.
qr_acr_qgV2.dat, qr_acr_qsV2.dat, freezeH2O.dat

[2022-05-06 13:36] SMoorthi-emc commented on #801
Ruiyu, do they depend on resolution?

On Fri, May 6, 2022 at 9:32 AM RuiyuSun ***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e-mail: ***@***.***
Phone:  (301) 683-3718   Fax

[2022-05-06 13:39] RuiyuSun commented on #801
I don't think so

[2022-05-06 13:44] JiliDong-NOAA commented on #801
I believe they are in the fix file directory:

Hera:
/scratch1/NCEPDEV/global/glopara/fix/fix_am/

Jet:
/lfs4/HFIP/hfv3gfs/glopara/git/fv3gfs/fix/fix_am/

Orion:
/work/noaa/global/glopara/fix/fix_am/

[2022-05-06 13:45] DeniseWorthen commented on #801
For UWM regression testing, the files ``freezeH2O.dat``, ``qr_acr_qgV2.dat`` and ``qr_acr_qsV2.dat`` are located in the input-data-directory in ``FV3_fix``:

/scratch1/NCEPDEV/nems/emc.nemspara/RT/NEMSfv3gfs/input-data-20220414/FV3_fix

[2022-05-06 14:08] EricRogers-NOAA commented on #801
Thanks all for your comments concerning the tables. This was my mistake, in the real-time LAM parallels we do use the pre-computed qr_acr_qgV2.dat and qr_acr_qsV2.dat files. But for my testing with the the new code w/Rusty's I/O changes I was running a canned case, and I forgot to add the "V2" files as input for this canned case. Sorry for the inconvenience.

[2022-05-06 15:10] EricRogers-NOAA commented on #801
@junwang-noaa Ben and I got a successful 12-h forecast of the 3km RRFS NA domain with your code with Rusty's I/O changes. Here are the fcst_initialize times with io_layout=1,1

Cold start (on Dell P3.5):  fcst_initialize total time:    73.7074041366577
Warm start (on Dell P3):  fcst_initialize total time:    365.096565008163

With the current code run in the LAM parallels, fcst_initialize time for

[2022-05-06 19:35] yangfanglin commented on #801
They are available in the shared/standard/common "FIX" directory. They do not dependent on resolution.

HERA: /scratch1/NCEPDEV/global/glopara/fix_NEW/fix_am
WCOSS:  /gpfs/dell2/emc/modeling/noscrub/emc.glopara/git/fv3gfs/fix_NEW/fix_am
ORION: /work/noaa/global/glopara/fix_NEW/fix_am/

For global model, there are links included in the forecast script exglobal_forecast.sh
  $NLN $FIX_AM/CCN_ACTIVAT

[2022-05-06 20:31] DeniseWorthen commented on #1134
Fix was committed in PR #1171 .

[2022-05-06 20:31] #1134 closed

[2022-05-07 12:45] DeniseWorthen opened #1207 "allow cice, cmeps and mom6 to write restarts at end of run"
## Description
Currently these restarts are controlled as frequencies. If the run ends prior to the next frequency unit, no restart is written. Implementing this will allow additional flexibility in RT design.

## Solution

Restart writing needs to be linked to the stop_alarm.

## Related

-MOM6 https://github.com/NOAA-EMC/MOM6/issues/90

[2022-05-08 06:39] lisa-bengtsson opened #1208 "Grid(nb)%area(ix) field is corrupt"
## Description
When printing out the field Grid(nb)%area(ix), from ccpp/physics/physics (standard_name = cell_area in physics), I see that the field looks corrupt. I tested control_p8 and cpld_control_p8. Both tests have this issue.

<img width="568" alt="area" src="https://user-images.githubusercontent.com/54411948/167284916-165e5629-3ee1-42c9-8d5e-9085cbb478ae.png">

I have not had much time to

[2022-05-09 13:34] junwang-noaa commented on #1190
@bena-nasa @weiyuan-jiang May I ask if there is any update on this issue? Thanks

[2022-05-09 13:39] junwang-noaa opened #1209 "Prototype P8/P8.1 (after P8c)"
The EPIC includes issues after P8c. The title may need to change.

[2022-05-09 13:42] junwang-noaa commented on #1188
@hannahcbarnes May I ask which project (RRFS, SRW, or MRW) is going to use this feature? Thanks

[2022-05-09 14:08] junwang-noaa commented on #898
@climbfuji Is this issue resolved?

[2022-05-09 14:08] weiyuan-jiang commented on #1190
I am not aware of any update on this issue. @junwang-noaa

[2022-05-09 14:12] junwang-noaa commented on #856
@pjpegion I agree with Dom, it might be better to abort the model run so that the users will be aware of the inconsistent namelist setting and get it fixed before they run the model and interpret the results.

[2022-05-09 14:17] junwang-noaa commented on #239
@ChunxiZhang-NOAA @yangfanglin @grantfirl Since Chunxi is cleaning up the CCPP suite files, I suggest to close this issue and open a new one after the clean up. What do you think?

[2022-05-09 14:22] junwang-noaa commented on #1103
@MinsukJi-NOAA Thanks for testing. Since the problem is resolved, I will close the issue.

[2022-05-09 14:22] #1103 closed

[2022-05-09 14:25] junwang-noaa commented on #806
@DusanJovic-NOAA Since the GFSv16 model code is ported to wcoss2, let's close the issue. If there is any problem with workflow, we will open a new issue.

[2022-05-09 14:25] #806 closed

[2022-05-09 14:26] junwang-noaa commented on #1166
@binli2337 Would you please address Dusan's comments? Thanks

[2022-05-09 14:27] junwang-noaa commented on #1094
The code is merged, the issue will be closed,

[2022-05-09 14:27] #1094 closed

[2022-05-09 14:30] ChunxiZhang-NOAA commented on #239
@junwang-noaa I only cleaned the suites related to RRTMGP for PR#1196. I can created another PR that simply moving those SDFs not used by RTs to a legacy directory. Since the PR doesn't change baselines, it will be an easy one.

[2022-05-09 14:37] pjpegion commented on #856
OK, I'm attending a workshop at ECMWF this week.  I will work on this
when I get back.
-Phil

On Mon, May 9, 2022 at 3:12 PM Jun Wang ***@***.***> wrote:

--
Phil Pegion (he/him/his)
Physical Scientist
NOAA/Physical Sciences Laboratory
(303) 497-7897
***@***.***

[2022-05-09 14:39] junwang-noaa commented on #1174
The issue was resolved and PR was merged. The issue will be closed.

[2022-05-09 14:43] junwang-noaa commented on #566
@DeniseWorthen The ESMF 830bs9 is now used in the UFS WM, can you check if the issue is resolved? Thanks

[2022-05-09 16:06] rsdunlapiv commented on #566
@DeniseWorthen @junwang-noaa 830bs09 does not have the PIO update.  I suggest waiting until the ESMF 8.3.0 release to test this.  Alternatively, you can test now with [830bs14](https://github.com/esmf-org/esmf/commits/v8.3.0b14) if would like.

[2022-05-09 17:06] BrianCurtis-NOAA commented on #1099
Issue i'm running into:
[code]
using: https://github.com/BrianCurtis-NOAA/ufs-weather-model/tree/feature/aqm_test

[2022-05-09 17:07] DeniseWorthen commented on #566
I can confirm that 830bs09 does not resolve the tiled grid output issue for the bmark_p8 test. I still get the errror
[code]

[2022-05-09 18:08] junwang-noaa commented on #1099
@BrianCurtis-NOAA Where is your run directory?

[2022-05-09 18:10] BrianCurtis-NOAA commented on #1099
@junwang-noaa /scratch1/NCEPDEV/stmp2/Brian.Curtis/FV3_RT/rt_148153/control_atmaq

I'm using # to mark the variables I do not see in https://github.com/ufs-community/ufs-weather-model/blob/develop/tests/parm/regional.nml.IN

[2022-05-09 19:32] ChunxiZhang-NOAA commented on #1208
@lisa-bengtsson Which variable is it in sfcf000.nc?

[2022-05-09 19:39] ChunxiZhang-NOAA commented on #1208
When I wrote out GFS_grid_type%area in sfcf000.nc, I got correct area size distribution.
<img width="953" alt="Screen Shot 2022-05-09 at 3 33 57 PM" src="https://user-images.githubusercontent.com/49283036/167484880-8893bc25-bf02-427b-9f4f-24672d5f444b.png">

[2022-05-09 20:01] MinsukJi-NOAA commented on #1204
My job failed at hour 42. Error messages are:
[code]

My run directory is `/scratch1/NCEPDEV/stmp2/Minsuk.Ji/FV3_RT/is1204_aero_2/cpld_control_p8`
For comparison, my 24 hour run directory is `/scratch1/NCEPDEV/stmp2/Minsuk.Ji/FV3_RT/rt_84444/cpld_control_p8`
Changes are in `input.nml`, `model_configure` and `nems.configure` only.

[code]

[2022-05-09 20:17] junwang-noaa commented on #1204
Thanks, @MinsukJi-NOAA. @rmontuoro @lipan-NOAA @weiyuan-jiang In the AERO_ExtData.rc in cpld_control_p8 test, we have following emission files specified:
[code]
But in the input data directory, we have only 2 days emission files (please see below), do we need 20210325 emission files if we want to run forecast on 20210325? Thanks
[code]

[2022-05-09 20:26] lisa-bengtsson commented on #1208
Thank you very much Chunxi for taking a look, I wrote out "garea" (standard_name = cell_area) from the samfshalcnv.f by putting it in a diagnostic variable I use for printing out various fields from physics, all the other fields I print out look correct except this one. Do you know where in the model this grid-size field is written out? Is it e.g from the atmos_model.F90 before the call to physics

[2022-05-09 20:42] rmontuoro commented on #1204
Adding @bbakernoaa to the discussion.

[2022-05-09 21:07] ChunxiZhang-NOAA commented on #1208
We are looking at the same standard_name = cell_area. In GFS_typedefs.meta, it is assigned to a local name 'area'. I believe the grid-size field is written out from atmos_model.F90 and before the call to physics.

[2022-05-09 21:16] ChunxiZhang-NOAA commented on #1208
So "garea" could be either modified in physics incorrectly or handled by CCPP framework incorrectly.

[2022-05-09 21:28] DeniseWorthen commented on #1204
I believe that @shansun6 wanted to be able to do for example a 10d run (perhaps longer). Are input data files for the entire period required?

[2022-05-09 21:38] lisa-bengtsson commented on #1208
If you have a chance, could you write standard_name = cell_area out from inside the physics in your test? I tried also the c384 cpld_control_p8 test and see the same thing... it's confusing. I'm currently on a 8 hour time-difference (in the UK) so may have to check in tomorrow.

[2022-05-09 22:40] #1173 closed

[2022-05-09 22:40] #1185 closed

[2022-05-10 00:05] lipan-NOAA commented on #1204
20220509 194945.631 ERROR            PET136 Aerosol_Cap.F90:462 Invalid object  - Passing error in return code
20220509 194945.631 ERROR            PET136 CHM:src/addon/NUOPC/src/NUOPC_ModelBase.F90:2226 Invalid object  - Passing error in return code
20220509 194945.631 ERROR            PET136 EARTH Grid Comp:src/addon/NUOPC/src/NUOPC_Driver.F90:3340 Invalid object  - Phase 'RunPhase1' Run for mod

[2022-05-10 01:12] junwang-noaa commented on #1204
@lipan-NOAA The error message in line 462 in Aerosol_Cap.F90 is:
[code]
basically it indicates the run failed. Do we have QFED and CEDS for 20210325-20210402?

[2022-05-10 01:21] junwang-noaa commented on #1099
@BrianCurtis-NOAA The lndp_each_step is not an valid variable in gfs_physics_nml any more. Also you need to have the cires_ugwp_nml in the input.nml. Please see /scratch1/NCEPDEV/stmp2/Jun.Wang/control_atmaq/input.nml as example.

[2022-05-10 01:29] lipan-NOAA commented on #1204
@junwang-noaa actually, there are three days QFED inputs from 0322 to 0324, the regression run started from 0322 06z, and was failed at  0324 00z. QFED is still available.

[2022-05-10 02:34] ChunxiZhang-NOAA commented on #1208
I did another test and wrote standard_name = cell_area out inside samfshalcnv.f, and the grid sizes look correct too. I only test control_p8 though.

[2022-05-10 02:43] lisa-bengtsson commented on #1208
Ok thank you very much for testing Chunxi. I must have made some mistake on my end, I will check out the latest version of today and try again. I think I can close this issue for now.

[2022-05-10 02:43] #1208 closed

[2022-05-10 13:14] bena-nasa commented on #1190
@junwang-noaa
Our best thought is that the issue is this 3 hourly frequency hard coded in gocart (see the issue linked above in the gocart repo). I think the issue is two-fold, the alarm needs to be created with a fixed reference time and an extra field needs to be in the checkpoint file. Unfortunately I was having some misbehaviour with the ESMF alarms when I tried to fix this. In that issue Arli

[2022-05-10 13:28] bena-nasa commented on #1204
@junwang-noaa  and all, just to clarify. Other than the special case of a climatology, in the version of ExtData you are using, you need input files for the entire time period you intend to run. If it can not find two times in the dataset that bracket any time in the model run, you will fail. So if running a forecast that means you have to create "future" files for the forecast period. I believe i

[2022-05-10 13:44] junwang-noaa commented on #1204
@bena-nasa Thanks for looking into the issue. We are trying to run 3d forecast, we do have 3 days' emission files. The MAPL version is 2.11.0. Thanks

[2022-05-10 13:49] bbakernoaa commented on #1204
@junwang-noaa we do have the emission files needed. My understanding was that we had the emissions in the directory for the regression tests so that they could be used and distributed to all systems. We have another directory with the rest of the emission files currently on HERA. Let me find the directory and then I’ll post it here. If we need to cover a longer test that can certainly be accommoda

[2022-05-10 14:04] bena-nasa commented on #1204
@junwang-noaa hmm, well that line does seem to indicate it can't find the file. Are you absolutely sure that the files are getting copied or linked to the correct place in your run scripting and that you are not trying to run to the last available time? I.E. if you last file has a time of 0z at say the 24th of the month, and you try to run to 0z on the 24th of the month it WILL fail because it is

[2022-05-10 14:12] junwang-noaa commented on #1204
@bena-nasa I checked the input data, we are using a softlink, and the data from 20220321 - 20210324 are there
[code]
I think your explanation sounds right. The model actually starts at 2021032206, after 42 hr forecast it reaches 2021032400. So if the model is trying to find the 20210325 emission files, then they are not present.

@bbakernoaa If you have the emission files for 20210325, please let

[2022-05-10 15:28] MinsukJi-NOAA commented on #1204
Run directory on Orion is `/work/noaa/stmp/jminsuk/stmp/jminsuk/FV3_RT/is1204_aero_1/cpld_control_p8`. Same results as on Hera. Failure after 42 hours.
[code]

[code]

[2022-05-10 15:35] bbakernoaa commented on #1204
@junwang-noaa @MinsukJi-NOAA @DeniseWorthen In the `AERO_ExtData.rc` file please update the path for the CEDS emissions to

[code]

QFED emissions can be found here:

[code]

[2022-05-10 15:46] MinsukJi-NOAA commented on #1204
Thanks @bbakernoaa. I will test it out and report the findings.

[2022-05-10 16:27] junwang-noaa commented on #649
@lharris4 @RatkoVasic-NOAA @MicroTed @bensonr @XiaqiongZhou-NOAA Here is the current status on debugging the regional decomposition reproducibility with blending. @jkbk2004 FYI,

Following @lharris4's suggestion, I am able to run the model and output restart files for one time step. All the tests run with nrows_blend=10 and dycore only without threading.
- With k_split=1, n_split=1, the decomposit

[2022-05-10 16:53] MinsukJi-NOAA commented on #1204
I am getting the same error even with additional CEDS and QFED data. Rundir on Hera `/scratch1/NCEPDEV/stmp2/Minsuk.Ji/FV3_RT/is1204_aero_3/cpld_control_p8`

[2022-05-10 17:04] bbakernoaa commented on #1204
@MinsukJi-NOAA

Your `AERO_ExtData.rc` still isn't changed.

[code]

You need to change the directory path

[2022-05-10 17:11] MinsukJi-NOAA commented on #1204
`ExtData` is soft linked to a new directory:
[code]

[2022-05-10 17:23] RatkoVasic-NOAA commented on #649
@junwang-noaa did you make any changes in the code other than k_split & n_split in namelist?

[2022-05-10 17:33] junwang-noaa commented on #649
No, I am using Ted's dycore branch regional_bc_test and did no make any changes except the print lines

[2022-05-10 19:55] #320 closed

[2022-05-10 19:58] MinsukJi-NOAA commented on #1204
Interestingly, `cpld_bmark_p8` failed (on Orion) after 24 hours. The starting time is 2013/4/1/00. Error messages are the same as that of `cpld_control_p8`.
`RUNDIR` is `/work/noaa/stmp/jminsuk/stmp/jminsuk/FV3_RT/is1204_bmark_aero_1/cpld_bmark_p8`
[code]

[code]

[2022-05-10 20:06] junwang-noaa commented on #1204
@jiandewang May I ask if you have a run directory from a P7b benchmark 35d run with GOCART?  Thanks

[2022-05-10 20:08] MinsukJi-NOAA commented on #1204
These are linked `CEDS` and `QFED` data in `/work/noaa/nems/emc.nemspara/RT/NEMSfv3gfs/input-data-20220414/GOCART/p8/ExtData/`
[code]
[code]
Interestingly, the last time stamp `20130402` also seems to coincide with the failure time.
But `cpld_control_p8` failed even with additional `CEDS` and `QFED` data provided by @bbakernoaa ...

[2022-05-10 20:17] jiandewang commented on #1204
@junwang-noaa P7 is without GOCART, there is no P7b. I have a P8b on HERA which has GOCART
/scratch2/NCEPDEV/climate/role.ufscpara/Prototype8b/work-P8b/COMROOT/p8b2012010100/gfs.20120101/00
Note the above is COMROOT, RUNDIR was deleted after the run was completed. Let me know if you want me to have a repeat run  with RUNDIR being saved.

[2022-05-10 20:31] bbakernoaa commented on #1204
@MinsukJi-NOAA I think that this is tied to the volcanic emissions found in the `SU2G_instance_SU.rc` file.  I'm working on getting the files that we need for this.  Stay tuned

[2022-05-10 20:32] junwang-noaa commented on #1204
@jiandewang Thank you! Sorry, I mean P8b. Could you make a run directory for us?

[2022-05-11 03:09] junwang-noaa commented on #649
Here is some updates. I output the v wind at (4,17) on PET8 (a point inside its computation domain) and compared the value with that in PET0 when it=2(second time in the n_split loop). The are the same before the line:
[code]
After the call, the PET0 has different value for v wind at (3:6,17) compared to that on PET8 at (3:6,17).  The v wind at (3:6,17) for PET0 in the decomposition 16x6 is consis

[2022-05-11 15:56] BrianCurtis-NOAA opened #1213 "Bring in AQM changes to fix issue with PM2.5 peaks being offset"
## Description
PM2.5 peaks are offset and there's a fix in AQM to change coordinate systems from radians to degrees that fixes that issue.

[2022-05-12 20:01] DeniseWorthen opened #1216 "DOGP_LWSCAT is set incorrectly for cpld*p8 tests"
## Description

In the coupled section of default_vars for the coupled model, the variable `` DOGP_LWSCAT`` is set as ``.true``, which does not provide the correct logical flag of "T".

[code]

The control_p8 tests set this variable manually within each P8 test, and it appears to be set correctly as ``.true.`` in all standalone P8 tests.

[2022-05-13 13:15] DeniseWorthen opened #1217 "control_atm_aerosol test reports ESMF error in log file"
## Description
Running the ``control_atm_aerosol`` test from the develop branch gives ESMF errors on all CHM PETS:

[code]

### To Reproduce:
Hera.intel; run and examine PET Logs 0:143

[2022-05-13 13:30] climbfuji commented on #898
No, this is still an issue.

[2022-05-13 14:09] BinLiu-NOAA commented on #801
@junwang-noaa and @bensonr, I got a chance to test HAFS single 3-km domain warm-start run on Orion.
With io_layout=1,1, I got:
fcst_initialize total time:    254.639430604875
fcst_initialize total time:    297.894324436784
for two consecutive forecast cycles, which is much faster than previously. With this speed up, it is now even faster than using io_layout=1,10 for the 20220412 develop version o

[2022-05-13 15:44] BinLiu-NOAA commented on #801
@bensonr and @junwang-noaa, just a quick follow-up: while I am testing the fv_core_nml::ignore_rst_cksum=.true. and atmos_model_nml::ignore_rst_cksum=.true. options to skip the checksum for the restart files, I got the forecast failure with this error:
FATAL from PE   974: check_nml_error in fms_mod:  Unknown namelist, or mistyped namelist variable in namelist atmos_model_nml,   (IOSTAT =

[2022-05-13 16:10] bensonr commented on #801
@BinLiu-NOAA - please make sure you are using the [emc_io_fixes](https://github.com/bensonr/fv3atm/tree/emc_io_fixes) branch for fv3atm.  I see the namelist variable ignore_rst_cksum in [atmos_model.F90](https://github.com/bensonr/fv3atm/blob/emc_io_fixes/atmos_model.F90#L177-L179) and it doesn't look like there are any typos.

[2022-05-13 16:36] bbakernoaa commented on #1204
@MinsukJi-NOAA for a work around and if we are just using the RTs running longer we can set the volcanic ash in the `SU2G_instance_SU.rc` to /dev/null

So for example we can change

[code]

to

[code]

[2022-05-13 19:27] MinsukJi-NOAA commented on #1204
@bbakernoaa That did not work. Same failure at the same forecast time as before. My rundir is here: `/scratch1/NCEPDEV/stmp2/Minsuk.Ji/FV3_RT/is1204_aero_4/cpld_control_p8`

[2022-05-13 19:32] bbakernoaa commented on #1204
ok let me take a look

[2022-05-13 19:35] DeniseWorthen opened #1219 "Update atm_aerosol test to use P8 configuration"
## Description

The  atm_aerosol test is not current with the P8 configuration. For debugging purposes, it is helpful to have a non-coupled RT which exercises the Aerosol configuration used in the prototypes.

## Solution

Update the atm_aerosol test to the current P8 configuration.

[2022-05-13 19:47] bbakernoaa commented on #1204
@MinsukJi-NOAA I made a copy of your directory and was able to get it to run for the full 72 hours.  Please see here: `/scratch1/NCEPDEV/stmp2/Barry.Baker/FV3_RT/cpld_control_p8`

[2022-05-13 19:49] MinsukJi-NOAA commented on #1204
You did not change any file?

[2022-05-13 19:56] bbakernoaa commented on #1204
Please look at the AERO_ExtData.rc and the SU2G*.rc

On Fri, May 13, 2022 at 3:49 PM Minsuk Ji ***@***.***> wrote:

[2022-05-16 21:32] BinLiu-NOAA commented on #801
@bensonr and @junwang-noaa, I made sure to to use your emc_io_fixes branch for fv3atm. Another question is: does this ignore_rst_cksum=.true. option need a newer version than fms/2022.01 to work properly? My current test uses fms/2022.01.

Meanwhile, wondering if anyone else can test this ignore_rst_cksum option from his/her side.

Thanks!

Bin

[2022-05-17 12:19] bensonr commented on #801
@BinLiu-NOAA - Your test for dycore restarts was successful with the current v2022.01 library, so the library and logic in the dycore are not an issue.  The error you are encountering is related to the atmos_model_nml namelist in the input.nml or the specific namelist definition in  atmos_model.F90.  I urge you to check both the source file and your input.nml atmos_model_nml entry (or whatever bui

[2022-05-17 15:17] pjpegion commented on #856
I'm working on the logic check, and will put it in GFS_typedefs.F90 after the namelist is read in.  Is it appropriate to just put a stop here like other logic checks?  Would this only abort the atmosphere model, and not ocean and ice?

[2022-05-17 15:29] junwang-noaa opened #1222 "feature test issues for rrfs_smoke_conus13km_hrrr_warm"
## Description
PR #1195 added a feature test rrfs_smoke_conus13km_hrrr_warm using suite file FV3_HRRR_smoke. The test owner needs to confirm that the feature test can reproduce results with different threads, decomposition, mpi tasks and in restart mode. It can also run in debug mode. Currently the test failed with decomposition and debug test.

### To Reproduce:
Check out the branch in PR#1195, r

[2022-05-17 15:55] pjpegion commented on #856
the stop doesn't work.  it only aborts the atmos model, the other components just hang.

[2022-05-18 15:55] DavidHuber-NOAA opened #1223 "Enable Intel 2022 and update test support on S4"
## Description
Support for S4 should be maintained so users of that system can continue to use the latest features of the UFS.  Currently, S4 support is lagging in two areas: regression testing and Intel 2022 support.

## Solution
1. Update the resources in `default_vars.sh` to reenable regression testing on S4, following #320.
2. Rebuild the hpc-stack libraries on S4 using the Intel 2022.1 compil

[2022-05-18 15:59] climbfuji commented on #1223
Note: The new spack-stack build on S4 - ready for developers soon - uses the Intel 2022.01 compilers.

[2022-05-19 16:38] #1169 closed

[2022-05-19 20:48] tanyasmirnova opened #1225 "Inconsistency between a suite definition and the namelist in several regression tests."
## Description
The FV3_GFS_v15_thompson_mynn physics suite uses the GFS surface layer scheme (sfc_diff.f). However, the namelist option with the use of this suite has do_mynnsfclay=.true., that means that MYNN surface layer scheme is supposed to be used.
A fix should be put either in the FV3_GFS_v15_thompson_mynn suite definition to use
      <scheme>mynnsfc_wrapper</scheme>
or in the input.nml to

[2022-05-19 20:50] climbfuji commented on #330
@arunchawla-NOAA @junwang-noaa @DusanJovic-NOAA @aerorahul Any chance that we can we get rid of this `debug_linkmpi`?

It's been discussed controversially since when it was added, and now I am also getting errors with Intel oneAPI MPI:
[code]
Has anyone else run into this with the new oneAPI MPI library?

[2022-05-19 20:56] DusanJovic-NOAA commented on #330
In my personal opinion we should get rid of all debug versions of all libraries (esmf, mapl, mpi). In rare cases, when it turns out that we suspect there's a bug in esmf and/or MPI, we can temporarily switch to debug versions, debug the issue, fix the code and continue to use release version of all libraries.

[2022-05-20 01:16] #1116 closed

[2022-05-20 11:42] BinLiu-NOAA opened #1226 "Turn on HAFS related regression tests on WCOSS2"
## Description
Turn on HAFS RTs on WCOSS2 and switch to use the netcdf (instead of netcdf_parallel) write_grid_component option for HAFS RTs.
Note: when using the netcdf_parallel write grid component option, the forecast will hang on WCOSS2 during writing out netcdf history output files.

## Solution
Modify rt.conf and tests/hafs* files to turn on HAFS RTs on WCOSS2 and to use the netcdf write_gri

[2022-05-20 16:52] BinLiu-NOAA commented on #801
@bensonr and @junwang-noaa, I think I might have found the issue now. This is because the ignore_rst_cksum option is only added [here in FV3/atmos_model.F90](https://github.com/bensonr/fv3atm/blob/bcbe661de5ae961e61d8ab22fcb59e3a0075cb85/atmos_model.F90#L177):
[code]
However, it was not updated [here in FV3/atmos_cubed_sphere/driver/fvGFS/atmosphere.F90](https://github.com/bensonr/GFDL_atmos_cubed

[2022-05-20 16:58] bensonr commented on #801
@BinLiu-NOAA - Feel free to merge my work into your own work and make the fix.  But please remind me again why the UFS has two different modules from two different repositories reading the same namelist?

[2022-05-20 22:08] BinLiu-NOAA commented on #801
@bensonr, I saw some notes near [FV3/atmos_cubed_sphere/driver/fvGFS/atmosphere.F90](https://github.com/bensonr/GFDL_atmos_cubed_sphere/blob/b67bc5d154da2911d20b7a07716ec645eb2a1f0e/driver/fvGFS/atmosphere.F90#L330), from which it looks to me, this is a temporary workaround for something. And it would be nice if this can be fixed in the future. @climbfuji and @junwang-noaa might know more backgrou

[2022-05-21 16:17] BinLiu-NOAA opened #1229 "Update to use fms/2022.01 on wcoss_cray"
## Description
On other ufs-weather-model supported platforms, the FMS version used has been updated to fms/2022.01. However, on wcoss_cray, it is still fms/2021.04, e.g.,
https://github.com/ufs-community/ufs-weather-model/blob/develop/modulefiles/ufs_wcoss_cray#L61
https://github.com/ufs-community/ufs-weather-model/blob/develop/modulefiles/ufs_wcoss_cray_debug#L61

## Solution
Update to use fms/2

[2022-05-22 01:57] #1113 closed

[2022-05-23 03:02] junwang-noaa commented on #801
If I remember correctly. it is due to the calling sequence of the ccpp physics subroutine. @climbfuji can correct me if this is not the case.

[2022-05-23 14:13] BinLiu-NOAA commented on #801
Thanks @junwang-noaa for the background!

Also, @bensonr, a quick follow-up, after adding the ignore_rst_cksum item in FV3/atmos_cubed_sphere/driver/fvGFS/atmosphere.F90, the ignore_rst_cksum worked fine for my HAFS tests. @EricRogers-NOAA and @BenjaminBlake-NOAA also tested from the RRFS side and confirmed it worked as well.

Thanks again for the speeding-up for FMS2IO as well as for the option t

[2022-05-23 14:53] BinLiu-NOAA commented on #1229
@junwang-noaa, is there a specific reason, the fms/2022.01 version was not updated for wcoss_cray? If not, and I can update it in PR #1227 if desired.

[2022-05-23 15:32] junwang-noaa commented on #1229
@BinLiu-NOAA Is the fms/2022.01 available on wcoss cray? If yes, please update in your PR#1227.

[2022-05-23 15:34] junwang-noaa commented on #1197
The code updates were merged in PR#1195. The issue is closed.

[2022-05-23 15:34] #1197 closed

[2022-05-23 16:25] junwang-noaa commented on #898
@climbfuji Did you test the case after the new compile options from PR#1171?

[2022-05-23 16:30] climbfuji commented on #898
No, I didn't.

[2022-05-23 16:31] BinLiu-NOAA commented on #1229
@junwang-noaa, I believe so, fms/2022.01 is already there on wcoss_cray. I tested it from the HAFS side last Friday. And I will include this in PR #1227. Bin

[2022-05-23 16:34] junwang-noaa commented on #961
@arunchawla-NOAA @JacobCarley-NOAA @JeffBeck-NOAA  FYI.

[2022-05-23 16:46] junwang-noaa commented on #898
@climbfuji  Also the Intel compiler is now updated to 2021/2022. maybe give a try on hera.

[2022-05-23 16:51] climbfuji commented on #898
Sure, we'll have to make sure it works on all platforms, though.

[2022-05-23 18:40] junwang-noaa commented on #1017
We discussed this issue, we will go with the name UFSDriver.

[2022-05-23 19:21] junwang-noaa commented on #1162
@tsupinie we had some discussion on this issue. The plan is to use the minimum version number for all the libraries. But we'd like to clarify that ESMF beta snapshots (e.g. v8.3.0b09)  have been used in ufs-weather-model, and the  CMakeLists.txt can not interpret it correctly at this time. So setting ESMF minimum version number may not catch all the ESMF version issues.

[2022-05-23 22:59] MinsukJi-NOAA commented on #1204
@bbakernoaa I compared the `AERO_ExtData.rc` file in `/scratch1/NCEPDEV/stmp2/Barry.Baker/FV3_RT/cpld_control_p8` and `/scratch1/NCEPDEV/stmp2/Minsuk.Ji/FV3_RT/is1204_aero_4/cpld_control_p8`.

There are 3 differences:

1.
[code]
vs.
[code]
2.
[code]
vs.
[code]

3.
[code]
vs.
[code]

Of these 3 differences, the reason for not being able to go beyond 42 hour forecast was 3. The two directories `/scr

[2022-05-24 15:57] junwang-noaa commented on #801
@bensonr I did some testing with gdas case using the GFSv16 gdas restart files with checksum in the ICs, I still got the error when reading the restart files with ignore_rst_cksum=.true..

  0:  in atmosphere bf fv_restart,  ignore_rst_cksum= T
  0:  in fv_restart ncnst=           9
  0:  FV_RESTART:            1 T F
  0:  Warm starting, calling fv_io_restart
  0:   ptop & ks   0.9990000

[2022-05-24 16:14] BinLiu-NOAA commented on #801
@junwang-noaa, you might want to double check if you have ignore_rst_cksum in both fv_core_nml and atmos_model_nml sections. (for dycore fv_core_nml::ignore_rst_cksum=.true. and for the physics, atmos_model_nml::ignore_rst_cksum=.true.)

[2022-05-24 17:19] rgrumbine opened #1232 "wiki docs for build.sh and rt.sh do not result in successful builds on gaea (at least)"
## Description
Provide a clear and concise description of what the bug is.
Also give a description of what behavior you expected to happen.

following documentation in wiki https://github.com/ufs-community/ufs-weather-model/wiki/Running-regression-test-using-rt.sh and https://github.com/ufs-community/ufs-weather-model/wiki/Building-model
does not result in a successful compilation of the UFS model

[2022-05-24 18:03] MinsukJi-NOAA commented on #1232
It seems that the account is not valid for Slurm jobs. Can you try the following in your shell before running `rt.sh`: `export ACCNR=nggps_emc`. Feel free to replace `nggps_emc` with some other account you know your job works under.

[2022-05-24 18:17] rgrumbine commented on #1232
I do have that export line, and it is what I used a year ago when I successfully ran rt.sh

I also used that account earlier today for an unrelated task. And ran in the queue 'normal' -- on c3.

For the rt.sh, and other, wiki, I think it'd be helpful to have a section early in the page regarding setting the environment. I only found ACCNR on the rt.sh page because you mentioned it here. Likewise t

[2022-05-24 18:37] EricRogers-NOAA commented on #801
@BinLiu-NOAA @BenjaminBlake-NOAA @junwang-noaa : I'm testing the code in the RRFS 3 km North American DA run, I see significant slowdown in GSI analysis times when the model is run with io_layout=1,1, and the input first guess to the GSI are model restart files:

New code :
regional_gsianl_tm03_12.log:The total amount of wall time                        = 1754.419832
regional_gsianl_tm04_12.log:Th

[2022-05-24 18:55] junwang-noaa commented on #801
@BinLiu-NOAA Thanks for the suggestion, the test ran through. Here are some timing:

All testing is using io_layout (1.1)
1) From the develop branch, the c384gdas test:
```   0:  in fv3_cap, init time=   68.9708864763379 ```
2) From Rusty's fv3atm branch:
```   0:  in fv3_cap, init time=   20.7666180133820 ```
3) From Rusty's fv3atm branch with ignore_rst_cksum=.true.
```  0:  in fv3_cap, init tim

[2022-05-24 19:15] junwang-noaa commented on #801
@EricRogers-NOAA So the only change you made is io_layout change? Also I am curious, did you specify the chunksizes for restart files? I think you can still use io_layout= 1,15 if that helps with the total run time.

My understanding is that using more io tasks in io_layout will speed up reading the restart files

[2022-05-24 19:35] EricRogers-NOAA commented on #801
@junwang-noaa In the current code, making io_layout=1,X (I used 15) dramatically speed up reading the restart files, for example;
regional_forecast_tm03_12.log: fcst_initialize total time:    192.971059083939
regional_forecast_tm04_12.log: fcst_initialize total time:    206.560415983200
regional_forecast_tm05_12.log: fcst_initialize total time:    153.661432027817

With io_layout=1,1 these were mu

[2022-05-24 20:55] climbfuji commented on #898
@junwang-noaa FYI https://github.com/ufs-community/ufs-weather-model/pull/1230. So far the Intel tests passed on hera, cheyenne, orion, jet - still waiting on gaea (first attempt failed, trying again). One would also have to test manually on wcoss and wcoss2.

[2022-05-25 03:31] climbfuji commented on #953
@junwang-noaa @SamuelTrahanNOAA @grantfirl I started working on this. The decomp differences are definitely coming from the Grell Freitas scheme. When I return immediately from that scheme (after setting `errmsg` and `errflg`), differences are zero after two time steps. If I run GF, results are different after two time steps when changing the MPI decomposition. Stay tuned.

[2022-05-25 03:39] gspetro-NOAA commented on #1186
@junwang-noaa Can a ufs-v3.0.0 version of the [readthedocs site](https://ufs-weather-model.readthedocs.io/en/latest/) be created in time for the SRW App release? I see that there is a release/public-v3 branch in the GitHub repo but no corresponding RTD docs version. It is fairly simply to activate docs for a branch in RTD; I'm happy to explain if needed.

[2022-05-25 09:30] DeniseWorthen commented on #1204
The problem has been identified as lack of input-data required for longer runs in the RT set-up. We'll let users know they will not be able to use the RT system for longer runs if aerosols are turned on.

[2022-05-25 09:30] #1204 closed

[2022-05-25 11:42] junwang-noaa commented on #1186
Sure. FYI. @jkbk2004 @daniel-hildebrandt are managing the release/public-v3 branch.

[2022-05-25 13:23] junwang-noaa commented on #1232
@rgrumbine Can you do:
cd ufs-weather-model
module purge
module use -a $your_ufs-weather-model_path/modulefiles
module load ufs_gaea.intel

We assume users load ufs_gaea.intel after "module purge". We are not sure if there is anything special in your account that makes you not be able to load the module file.

[2022-05-25 13:48] rgrumbine commented on #1232
It appears that ufs_gaea.intel has many incorrect version numbers. I did the cd, purge, module use, module load, as suggested. That and the responses from the system are pasted below:

gaea12:~/rgdev/fresh_ufs> module purge
DefApps(10):ERROR:105: Unable to locate a modulefile for 'globus-toolkit'
DefApps(10):ERROR:105: Unable to locate a modulefile for 'darshan/3.2.1'
gaea12:~/rgdev/fresh_ufs> mod

[2022-05-25 13:59] junwang-noaa commented on #1232
@rgrumbine It looks to me that the issue is that you can't load hpc/1.1.0, which is under /lustre/f2/pdata/ncep_shared/hpc-stack/modulefiles/stack. Can you see files under that directory? What do you get if you do:

module use /lustre/f2/pdata/ncep_shared/hpc-stack/modulefiles/stack
module load hpc/1.1.0

You may need to contact nceplibs team if you can't access this module.

[2022-05-25 14:08] rgrumbine commented on #1232
the module use statement executes fine. And I've listed the contents of the directory.
module load hpc/1.1.0
fails, as does
module load hpc/1.1.0.lua

gaea12:/lustre/f2/pdata/ncep_shared/hpc-stack/modulefiles> module use /lustre/f2/pdata/ncep_shared/hpc-stack/modulefiles/stack

gaea12:/lustre/f2/pdata/ncep_shared/hpc-stack/modulefiles> module load hpc/1.1.0
ModuleCmd_Load.c(244):ERROR:105: Unable

[2022-05-25 14:11] rgrumbine commented on #1232
I should probably add that prior to the above load attempt, I had purged all modules.

[2022-05-25 14:28] rgrumbine commented on #1232
cd ufs-weather-model
module use modulefiles
module use /lustre/f2/pdata/ncep_shared/hpc-stack/modulefiles/stack
module purge
source /lustre/f2/pdata/esrl/gsd/contrib/lua-5.1.4.9/init/init_lmod.sh
module load ufs_gaea.intel

this does load hpc/1.1.0

but build.sh (same one as above) fails at the same point as before: ccpp_prebuild.py
rt.sh -e fails as before also.

[2022-05-25 14:30] MinsukJi-NOAA commented on #1232
For your build, I think some of the ccpp suite name in the wiki needs to be updated. You can try instead using one of the `COMPILE` lines from the `tests/rt.conf` file to build.

[2022-05-25 14:34] rgrumbine commented on #1232
rt.sh also fails to compile, using the COMPILE lines from tests/rt.conf, for all 16 compiles

[2022-05-25 16:53] MinsukJi-NOAA commented on #1232
Here is what I mean. After you successfully load all modules, change your step 8 above to
`CMAKE_FLAGS="-DAPP=S2SWA -DCCPP_SUITES=FV3_GFS_v16_coupled_nsstNoahmpUGWPv1,FV3_GFS_v17_coupled_p8" ./build.sh >out 2>&1 &`
The value for `CMAKE_FLAGS` comes from, in this case, line 5 of `tests/rt.conf`.

[2022-05-25 16:55] DeniseWorthen commented on #1217
This log error is not being produced with the new ``atmaero_control_p8`` test in PR #1218.

[2022-05-25 16:55] #1217 closed

[2022-05-25 17:17] rgrumbine commented on #1232
**Still fails. To ensure a clean test, I logged out and back in, and made a script of the collected notes on things to do.**
#!/bin/sh

set -x

export ACCNR=nggps_emc

cd ~/rgdev/fresh_ufs

git pull
git submodule update --init --recursive

source /lustre/f2/pdata/esrl/gsd/contrib/lua-5.1.4.9/init/init_lmod.sh
module purge
module use modulefiles
module use /lustre/f2/pdata/ncep_shared/hpc-stack/mod

[2022-05-25 17:22] DeniseWorthen commented on #1232
Gaea admin advises against using the module purge command:

WARNING: please DO NOT use the command module purge. This will remove all modules currently loaded by default in your environment and will lead to major errors. If you have accidentally used the command purge, log out of GAEA and log in. This will give you the default environment with the default modules loaded.

Should you happen to use

[2022-05-25 17:32] DusanJovic-NOAA commented on #1232
Change `set -x` at the beginning of the script to `set -eux` and rerun.

[2022-05-25 18:21] rgrumbine commented on #1232
Thank you Denise. I've commented out the module purge. It was recommended by jun above. Compile failed without purging also. But more has evolved since then than just the purge.

Dusan: done.

The build command listed does work now. Trying the rt.sh.

** my script that worked for build **
#!/bin/sh

set -eux

export ACCNR=nggps_emc

cd ~/rgdev/fresh_ufs

git pull
git submodule update --init --recu

[2022-05-25 18:34] rgrumbine commented on #1232
rt.sh -e fails as before -- none of the 16 compiles succeeds.

**script for trying rt.sh:**

#!/bin/sh

set -eux

export ACCNR=nggps_emc

cd ~/rgdev/fresh_ufs

git pull
git submodule update --init --recursive

source /lustre/f2/pdata/esrl/gsd/contrib/lua-5.1.4.9/init/init_lmod.sh
#module purge
module list 2> pre.list
module use modulefiles
module use /lustre/f2/pdata/ncep_shared/hpc-stack/modulefi

[2022-05-25 19:33] DusanJovic-NOAA commented on #1232
I still see some module load errors in:

[code]
Do you run any module commands in your .bashrc?

[2022-05-25 19:43] rgrumbine commented on #1232
no module commands, not even the source of init_lmod.sh

There is also no .profile or .login file in my home directory.

[2022-05-25 20:01] DusanJovic-NOAA commented on #1232
go to `/lustre/f2/scratch/Robert.Grumbine/FV3_RT/rt_24244/compile_001` and try to submit `job_card` manually. If it fails, then make the job_card executable and just run it as a bash script to see if it works like that.

[2022-05-25 20:11] DusanJovic-NOAA commented on #1232
Another thing to try is to comment out `set +x` on line 58 in /lustre/f2/dev/ncep/Robert.Grumbine/fresh_ufs/tests/compile.sh:
[code]
and resubmit the job_card.

[2022-05-25 21:02] rgrumbine commented on #1232
gaea12:~/scratch/FV3_RT/rt_24244/compile_001> sbatch job_card
Submitted batch job 73579609 on cluster es

It ran in queue about 10 minutes, apparently successfully.

**Directory contents**

gaea9: ~/scratch/FV3_RT/rt_24244/compile_001> ls -lstr
total 175
 13 -rw-r--r-- 1 Robert.Grumbine ncep     582 May 25 14:25 job_card
137 -rw-r--r-- 1 Robert.Grumbine ncep 1637109 May 25 16:21 out
  9 -rw-r--r--

[2022-05-25 22:34] climbfuji opened #1233 "Has anyone run ufs-weather-model on TACC Stampede2 lately?"
## Description

I am having trouble running the current ufs-weather-model code on Stampede2. It crashes immediately on startup, doesn't even get to the point where it writes the `PET*.ESMF_LogFile` files:
[code]

This is with `esmf/8.3.0b09`.

[2022-05-25 23:02] DusanJovic-NOAA commented on #1233
Since it crashes so early in the program execution, I would try to run simple 'Hello ESMF World' type of program with just  ESMF_Initialize followed by ESMF_Finalize. Or simply #ifdef everything between these two calls in UFS.F90. If you are using UFS.F90 I would also remove/comment out USE module_EARTH_GRID_COMP.

[2022-05-25 23:09] DusanJovic-NOAA commented on #1233
Does Stampede support AVX2?

[2022-05-25 23:50] MinsukJi-NOAA commented on #1233
The coupled prototype p7c was run during the second half of 2021. It was built without avx2, although I don't see why it cannot be, given that CPUs are very similar to Hera's.

[2022-05-26 03:20] climbfuji commented on #1233
Thanks for that suggestion, Dusan. I did that, same error. Next I'll try to go back to ESMF 8.2.0 and a corresponding earlier version of ESMF before trying other flags.

[2022-05-26 15:18] Hae-CheolKim-NOAA opened #1234 "Parallel IO issue"
## Description

With the new compilation I cloned on May 23, 2002, I advanced a run for 1/12-th degree DATM (CDEPS)-MOM6-CICE6 on HERA but bumped into an parallel IO issue. Looks like this has something to do with parallel netcdf lib.

...
   0: Abort with message NetCDF: Variable not found in file /scratch2/NCEPDEV/nwprod/hpc-stack/src/develop/pkg/pio-2.5.3/src/clib/pio_nc.c at line 1158
  40: Ab

[2022-05-26 20:22] climbfuji commented on #1233
Update (@kgerheiser FYI). ESMF 8.2.0 didn't help either. I compiled ufs in debug mode, so no AVX2.

But I found the reason: login nodes are skylake processors, default develop queue is KNL on Stampede2. If I use a skylake compute node, the code runs :-) That's the good news. The bad news is that something in the pre-compiled libraries (likely ESMF itself) uses nasty flags like `-xHOST`.

We don't

[2022-05-26 21:22] #1085 closed

[2022-05-26 21:22] #1213 closed

[2022-05-26 21:22] #1229 closed

[2022-05-26 23:04] kgerheiser commented on #1233
This is with Spack libraries? Maybe something with `target=skylake`? And then trying to run it on a different architecture without the same instructions? You could trying setting the `target=x86_64`

You can set it in `packages.yaml`

https://spack.readthedocs.io/en/latest/build_settings.html#package-preferences

Also this option in concretizer.yaml: https://spack.readthedocs.io/en/latest/build_se

[2022-05-27 03:13] climbfuji commented on #1233
That's a very good point. I'll have to try this again. Right now the target is set as `any` and the specs have
[code]
Weird though, because I did compile the fv3-jedi-bundle-env before and I thought that all ran fine. Check again next week!

[2022-05-27 16:30] gspetro-NOAA opened #1236 "Activate a v3-release version of the docs on readthedocs.org"
Currently, the only versions of the [WM documentation](https://ufs-weather-model.readthedocs.io/en/latest/) available on readthedocs.org are "latest," "ufs-v1.0.0," "ufs-v1.1.0," and "ufs-v2.0.0,"  even though there is a release/public-v3 branch.

- For the SRW release (scheduled for next Friday, June 3, 2022), we need to provide links to an updated version of the WM docs. Ideally, we want to link

[2022-05-27 16:37] jkbk2004 commented on #1236
@llpcarson @ligiabernardet can you add @gspetro-NOAA to the WM readthedoc site?

[2022-05-27 21:35] JessicaMeixner-NOAA opened #1237 "Resolve issue and turn back on gdaswav test"
## Description
The gdas wave test was turned off after moving to the newest intel version because an issue with itags was discovered (see more info here: https://github.com/NOAA-EMC/WW3/issues/711).  A solution for this issue is needed and then this test needs to be turned back on.

## Solution
Make sure all itag values in WW3 are <= 32k

## Alternatives
Using different MPI environment variables m

[2022-05-29 11:59] ligiabernardet commented on #1236
Yes but I need to know the ReadTheDocs userID for @gspetro-NOAA
Meanwhile, I have already activated a hidden page for UFS WM v3 (see https://ufs-weather-model.readthedocs.io/en/release-public-v3/). I assuming there will be a tag called ufs-v3.0.0 created for the release (just like the previous releases)?

[2022-05-29 18:51] #1115 closed

[2022-05-31 15:31] gspetro-NOAA commented on #1236
@ligiabernardet My RTD username is EPIC-AUS.

[2022-05-31 16:16] #1102 closed

[2022-05-31 16:16] #229 closed

[2022-06-01 14:51] junwang-noaa commented on #1232
@rgrumbine Here is the module path from emc.nemspara which is a clean account that does not load any module files initially.

-->echo $MODULEPATH
/usw/eslogin/modulefiles-c4:/sw/gaea-cle7/modulefiles/linux-sles15-x86_64:/opt/cray/pe/perftools/7.1.3/modulefiles:/opt/cray/ari/modulefiles:/opt/cray/pe/craype-targets/default/modulefiles:/opt/cray/pe/modulefiles:/opt/cray/modulefiles:/opt/modulefiles:/

[2022-06-01 15:48] gspetro-NOAA commented on #1236
@ligiabernardet Thanks for activating the hidden page! At yesterday's SRW release meeting, we decided not to create tags (e.g., ufs-v3.0.0) for the SRW component docs. Instead, we'll use the latest docs for each component release branch. This way, if any updates are made to the component release branches subsequent to the SRW release, SRW users will be referred to documentation that reflects these

[2022-06-01 17:36] junwang-noaa opened #1240 "change fhrot from integer to fractional hour"
## Description
Currently the model can only restart at integer hour, some user is requesting to restart the model at fractional hour for their testing.

## Solution
Change fhrot from integer to real. The developers who run the model at fractional hour need to check other model settings (e.g. radiation calling frequency, etc) for restart reproducibility.

## Alternatives
If applicable, add a descri

[2022-06-01 17:41] DeniseWorthen opened #1241 "Adjust resources for atmaero_control_p8; turn test on for cheyenne.intel"
## Description
The default resources for the ``atmaero_control_p8`` test need to be increased for Cheyenne.intel. See PR #1218 for reference.

## Solution
Add a new default tasking setup for the ATMA app for use on all platforms. This can be the same as currently used (``TASKS_dflt``). For Cheyenne, override the defaults by specifying additional resources. The following works, but may not be optim

[2022-06-01 20:38] climbfuji commented on #1233
Quick update. If I change the target to `x86_64`, ESMF is built incorrectly because it decides to use `mpicxx` instead of `mpiicpc`, i.e. it doesn't use the correct MPI wrappers. Trying an Intel specific target that is older than `skylake_avx512` next.

[2022-06-02 06:27] ligiabernardet commented on #1236
OK.
I added EPIC-AUS as a maintainer to readthedocs at https://readthedocs.org/projects/ufs-weather-model/

[2022-06-02 12:43] #879 closed

[2022-06-02 12:43] #1219 closed

[2022-06-02 15:34] danrosen25 commented on #768
Hi @junwang-noaa @BinLiu-NOAA @hyunsookkim-NOAA
I am working on the debugging regression test for HAFS ATM-OCN coupling using UFSATM and HYCOM. I am using the following compiler flags and macros when building HYCOM with Intel compilers `mpiifort -DDEBUG -DENDIAN_IO -DEOS_17T -DEOS_SIG2 -DESPC_COUPLE -DIA32 -DMPI -DNAN2003 -DREAL8 -DRELO -DSERIAL_IO -DTIME -g -traceback -xSSE4.2 -mcmodel=small -r8

[2022-06-02 15:38] junwang-noaa commented on #768
@danrosen25 Thanks for looking into the debug issues, which need to be address for operational models. The debug test does run much slower, we usually cut  the forecast length to make sure it fits in 30mins wall clock window.

[2022-06-02 15:40] danrosen25 commented on #768
@junwang-noaa
I believe the HAFS atm-ocn configuration completed about 1.5 hours within the 30 minute window, would that be sufficient?

[2022-06-02 15:42] junwang-noaa commented on #768
That's fine. For your reference, we run 1 hr forecast for global control debug  test.

[2022-06-02 16:23] hyunsookkim-NOAA commented on #768
@danrosen25 @junwang-noaa @BinLiu-NOAA , The geopar.F90 code includes "mod_cb_arrays" which initializes variables, including util2.  For dpmx, it is definitely initialized insize the "momtum" subroutine.  But, it is initialied with r_init in the "momtum_init" in mod_momtum.F90. Can you make it consistent? In other words, use r_init in place of 2*cutoff.

[2022-06-02 16:34] danrosen25 commented on #768
@hyunsookkim-NOAA
Both util2 and dpmx are already initialized with r_init but r_init is set to a nan (due to `DNAN2003`). Rethinking what I said earlier the floating point check is catching the quiet nan and reporting floating point invalid. Either way we can't initialize to a NaN (r_init) and use the values on the righthand side of an equation. util2 and dpmx need values before they're used.

htt

[2022-06-02 17:18] danrosen25 commented on #768
I created a branch for the HYCOM debugging fix
[https://github.com/hafs-community/HYCOM-src/tree/fix/debug](https://github.com/hafs-community/HYCOM-src/tree/fix/debug)

[2022-06-02 18:59] rgrumbine commented on #1232
My .bashrc is now an empty file. There is no .login or .profile. After a fresh loging, I execute the above script (named prep_rt in my ~/rgdev directory) and it, yet again, fails all compiles.

The script includes, as the first thing to reference modules (cwd is ~/rgdev/fresh_ufs at this point):
source /lustre/f2/pdata/esrl/gsd/contrib/lua-5.1.4.9/init/init_lmod.sh
module list 2> pre.list

pre.lis

[2022-06-02 22:10] EricRogers-NOAA commented on #801
Is there an example handy of how to set chunksizes for restart files? Is this done in the fms2_io_nml part of the input.nml file, or in the code itself?

[2022-06-03 17:28] #1193 closed

[2022-06-03 19:12] junwang-noaa commented on #1188
@hannahcbarnes PR#1195 was merged, can we close this issue?

[2022-06-03 19:13] #1078 closed

[2022-06-06 02:26] climbfuji commented on #953
The remaining RAP (GF) decomp b4b issue is fixed in https://github.com/ufs-community/ufs-weather-model/pull/1243 and associated PRs for fv3atm and ccpp-physics :-)

[2022-06-06 13:31] WenMeng-NOAA opened #1244 "GFS V16 in-line post issue"
## Description
It was found GFSPRS datasets from GFS V16 in-line post with configurating different output frequencies and write groups have changed results.

### To Reproduce:
Kate Friedman did the following tests:
Test #1) If I run with the same output frequency as operations (hourly through 120 and 3hrly afterwards) = all output files match operations, including the master grb files from in-line

[2022-06-06 13:34] WenMeng-NOAA commented on #1244
Hui-ya Chuang investigate the issue and found the difference was in field ceiling height.

[2022-06-06 13:38] junwang-noaa opened #1245 "UFS build system for Q2FY2022"
This EPIC includes updates on UFS build system for Q2FY2022.

[2022-06-06 13:47] junwang-noaa commented on #1165
@BinLiu-NOAA Any progress on this issue? Thanks

[2022-06-06 13:52] junwang-noaa commented on #1168
Progress updates:
- the suite file was committed to the SRW release branch.
- the decomposition issue with blending turned on is resolved. @MicroTed submitted a [PR194](https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/pull/194) to dycore repo.
- there are still issues with restart reproducibility, we are working on it.

[2022-06-06 13:59] junwang-noaa commented on #1188
The code is merged, close the issue.

[2022-06-06 13:59] #1188 closed

[2022-06-06 14:02] junwang-noaa commented on #1190
A related issue #1207 was created to allow model to restart at fh=3hr and write out restart files at the end of forecast time fh=4.

[2022-06-06 14:21] junwang-noaa opened #1248 "UFS WM regression test namelist template updates"
This EPIC includes updates/cleanup of the UFS WM global regression test namelist templates updates so that the templates can be used in the global workflow to seamless code updates.

1.  The global regression test namelist templates will be consolidated and generalized to support standalone and coupled configurations.
2. A procedure of adding new namelist for feature test will be set up.
3. Additi

[2022-06-06 14:27] junwang-noaa commented on #961
@JeffBeck-NOAA May I ask if the issue is resolved? Thanks

[2022-06-06 14:30] junwang-noaa commented on #1121
@danrosen25 may I ask if you have the fix with return code ready? Thanks

[2022-06-06 14:33] junwang-noaa commented on #1078
The corresponding PR is #1211

[2022-06-06 15:13] junwang-noaa commented on #1063
After updated to WW3 mesh cap, S2SW tests are now reproducing with threading, decomposition, MPI tasks and restart runs. They also run in debug mode.

With that, I will close the project. Thanks to Denise and all others who work on the project.

[2022-06-06 15:13] #1063 closed

[2022-06-06 15:15] danrosen25 commented on #1121
@junwang-noaa
We don't have the fix ready. The fix we have planned won't prevent this failure but will fail more gracefully.

[2022-06-06 15:19] junwang-noaa commented on #1121
@danrosen25 Thanks. Do you have the updates to allow model fail with error code?

[2022-06-06 15:21] danrosen25 commented on #1121
@junwang-noaa
No, we're short on bandwidth to make the fix at this time. It'll stay on the to-do list for now.

[2022-06-06 15:58] junwang-noaa commented on #936
@YihuaWu-NOAA Can you remove the control_flake test? Thanks

[2022-06-06 15:58] aliabdolali commented on #1237
Associated issue on WW3: https://github.com/NOAA-EMC/WW3/issues/711

[2022-06-06 16:06] junwang-noaa commented on #649
The regional_3km and regional_3km_wofs decomposition issue with blending is resolved. An [PR](https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/pull/194) was submitted to dycore repo.

[2022-06-06 16:06] SMoorthi-emc commented on #1063
Has anyone tested this at C384?  On both WCOSS2 and Dell I am getting MPI
error when writing ww3 restart.  For example, error on dell is
"[1607] Fatal error in MPI_Startall: Request pending due to failure, error
stack:
[1607] MPI_Startall(157): MPI_Startall(count=3, req_array=0x2b09f8b20f00)
failed
[1607] MPI_Startall(123): Persistent request passed to MPI_Start or
MPI_Startall is already active."

[2022-06-06 16:14] junwang-noaa commented on #1063
@SMoorthi-emc Can you run the C384 cpld_bmark_p8 tests on dell? The test passed on dell with the latest develop branch.
Also would you please create a new issue? I am not sure if your issue is related to S2Sw reproducibility. Thanks

[2022-06-06 16:19] arunchawla-NOAA commented on #649
Thank you for solving this !

[2022-06-06 16:26] SMoorthi-emc commented on #1063
My problem is in writing a restart with the meshcap.  Without writing the
restart, reproducibility can't be tested.

On Mon, Jun 6, 2022 at 12:20 PM Jun Wang ***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park M

[2022-06-06 16:28] MinsukJi-NOAA opened #1249 "CI Fix"
## Description
Fix broken CI:
1) Update the docker image library to fms 2022.01
2) Add a coupled model test to rt_gnu.conf that excludes the wave component. This is necessary because, with waves, there are not enough cores available on aws using a single node.

[2022-06-06 16:29] junwang-noaa commented on #1063
Please check the C384 cpld_bmark_p8 RT on dell in the develop branch, it does write out the restart files.

[2022-06-06 17:44] JeffBeck-NOAA commented on #961
Thanks for the reminder @junwang-noaa.  Closing this issue now.

[2022-06-06 17:44] #961 closed

[2022-06-06 18:12] SMoorthi-emc commented on #1063
It appears to have worked now.

On Mon, Jun 6, 2022 at 12:26 PM Shrinivas Moorthi - NOAA Federal <
***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e-mail: ***@***.***
Phone:

[2022-06-06 18:29] junwang-noaa commented on #1203
@JessicaMeixner-NOAA as we discussed, would you please let us know the location of the wave ICs for the 8 cases? Thanks

[2022-06-06 18:34] junwang-noaa opened #1250 "P8c GOCART emission files"
## Description
The ufs-weather-model weekly test needs to be updated to run the cpld_bmark_p8 test with GOCART turned on. Besides the ICs update for atmosphere and wave, the GOCART emission files are also required to run the weekly test with the 8 cases (2012/2013, 010100, 040100, 070100, 100100).

## Solution
Need the location of emission data for the 8 cases for 5 forecast days.

## Alternatives

[2022-06-06 18:35] junwang-noaa commented on #1250
@bbakernoaa @JessicaMeixner-NOAA Would you please let us know the location of the P8c gocart emission data? Thanks.

[2022-06-06 18:39] jiandewang opened #1251 "can't access data on ORION"
## Description
Provide a clear and concise description of what the bug is.
Also give a description of what behavior you expected to happen.
I am running RT.sh on orion but got permission deny on some dataset

nf90_open: returned error code (13) opening ExtData/dust/FENGSHA_SOILGRIDS2019_GEFSv12_v1.2.nc [Permission denied]

can the owner do a chmod for dust dir ?

### To Reproduce:
What compilers/m

[2022-06-06 18:55] JessicaMeixner-NOAA commented on #1203
The wave ICs can be found on hera, here:
/scratch1/NCEPDEV/climate/role.ufscpara/IC/GEFSwave20220524/${CDATE}//wav/mx025/20150501.000000.restart.mx025

Note you'll need to rename these files to restart.ww3 in the run directory.

[2022-06-06 18:57] junwang-noaa opened #1252 "Add valid time to the 6 tile cubed sphere grid history files"
## Description
In the PR#1073 (issue #1052), a "valid_time" variable was added to the model history files written out by the module_write_netcdf.F90 subroutine. However the 6 tile cubed sphere grid history files written out by the subroutine ESMFproto_FieldBundleWrite do not have the valid_time added yet.

### Solution
Code changes need to be added to ESMFproto_FieldBundleWrite to output "valid_ti

[2022-06-06 19:10] jkbk2004 commented on #1251
@MinsukJi-NOAA same issue on my side when I run cpld_debug_p8.
-rw-r-----  1 jminsuk  nems  247472553 May 12 14:16 FENGSHA_SOILGRIDS2019_GEFSv12_v1.2.nc
my run directory on orion is at: /work/noaa/epic-ps/jongkim/rt-mapl-12.2.3/stmp/jongkim/FV3_RT/rt_106813/cpld_debug_p8/

[2022-06-06 19:24] MinsukJi-NOAA commented on #1251
@jiandewang @jkbk2004 My apologies. I modified the permission on those files. Please try again and let me know.

[2022-06-06 19:33] danrosen25 commented on #768
@junwang-noaa @BinLiu-NOAA
Hi Jun, should I be using the compiler flags set for debugging here?
[https://github.com/ufs-community/ufs-weather-model/blob/develop/cmake/Intel.cmake#L10](https://github.com/ufs-community/ufs-weather-model/blob/develop/cmake/Intel.cmake#L10)
`-O0 -check -check noarg_temp_created -check nopointer -warn -warn noerrors -fp-stack-check -fstack-protector-all -fpe0 -debug -f

[2022-06-06 19:33] jiandewang commented on #1251
@MinsukJi-NOAA thanks, I will close this issue.

[2022-06-06 19:33] #1251 closed

[2022-06-06 19:37] junwang-noaa commented on #1252
Associated with this issue, it is suggested to use a specific setting for the 6 tile history files written out by the ESMF call.

The current setting:
[code]
it can be changed to:
[code]

[2022-06-06 19:40] junwang-noaa commented on #768
Please use ```-check all``` if you can.

[2022-06-06 20:02] rgrumbine commented on #1232
Throwing many print statements at rt.sh and run_compile.sh reveals something that looks bad about module-setup.sh

I have that script of my that does the suggested preparations before calling rt.sh. First thing after sourcing the lmod, as required for gaea, I listed out the modules available. That's the set of 26 discussed above. Last thing before rt.sh, I list what's available, and that the 52 wh

[2022-06-06 20:20] BinLiu-NOAA commented on #768
@junwang-noaa, is there a specific reason that ufs-weather-model currently does not use "-check all" build option for the debug build? Thanks!

[2022-06-06 22:31] yangfanglin commented on #1244
@WenMeng-NOAA To confirm, this fix will be applied to the operational model GFS.v16 on WCOSS2 but not on WCOSS1, is this correct ?     (@JamesAbeles-NOAA )

[2022-06-06 23:32] WenMeng-NOAA commented on #1244
@yangfanglin I would defer your question to @KateFriedman-NOAA and @junwang-noaa.

[2022-06-07 00:20] SMoorthi-emc commented on #1063
Unfortunately, the restart run crashed with a cryptic error message
" *EXTCDE MPI_ABORT, IEXIT=    20*"!
Does Anyone know what the problem is?
I do have *restart.ww3* in the run directory.
Thanks
Moorthi

On Mon, Jun 6, 2022 at 2:12 PM Shrinivas Moorthi - NOAA Federal <
***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling

[2022-06-07 00:31] junwang-noaa commented on #768
@BinLiu-NOAA From our testing with GFSv16, We are actually using -check all,nopointer,noarg_temp_created for debug jobs. There is an omp parallel issue where  multiple threads allocate the same array without the nopointer check, this is related to the impi version 2018. Without noarg_temp_created the log file is very large due to the warnings on creation of a temporary array, it may cause performa

[2022-06-07 01:23] junwang-noaa commented on #1244
@KateFriedman-NOAA can correct me. After this fix is committed, I will create a new tag. My understanding is that it will be used on wcoss2 as we will not update the model on wcoss1.

[2022-06-07 01:58] SMoorthi-emc commented on #1063
Nevermind, I figured out.

On Mon, Jun 6, 2022 at 8:20 PM Shrinivas Moorthi - NOAA Federal <
***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e-mail: ***@***.***
Phone:  (301)

[2022-06-07 02:45] jiandewang opened #1255 "update MOM6 to its main branch 20220602 commit"
MOM6 main branch has been updated on 20220602, see detail at https://github.com/mom-ocean/MOM6/pull/1570
There is no answer change in this updating for UFS

[2022-06-07 10:34] BinLiu-NOAA commented on #768
@junwang-noaa, Thanks for the background and information! @danrosen25 and @BijuThomas-NOAA, appreciate it if you could follow Jun's suggestion when testing HAFS-HYCOM debug build. Thanks!

[2022-06-07 13:49] KateFriedman-NOAA commented on #1244
Not worth updating the model on WCOSS1 since we're weeks away from go-live on WCOSS2, likely wouldn't be accepted anyway. @junwang-noaa If possible, please put the UPP fix into the v16.2 tag so it can at least be used for developers running that version via the global-workflow dev_v16 branch for the next few months and definitely get the UPP fix into the v16.3 tag. It'll at least go into WCOSS2 op

[2022-06-07 15:16] MinsukJi-NOAA opened #1258 "Template files for tests consisting of different components othen those of the current coupled tests configuration"
## Description
I was in the process of adding back a test case consisting of atm, ocn and ice components (cpld_control_c96_noaero_p8) for CI purposes (#1253 #1249) and found that a new nems.configure file is required because the current template includes the wave component. Also found that a new cpld_control_run.IN file is required because, when restarting, the current template looks for a restart

[2022-06-07 15:32] SamuelTrahanNOAA commented on #953
This should be combined with #1257 which enables the full feature set for hrrr_control. Fortunately, that one needs no code changes.

[2022-06-07 16:55] yangfanglin commented on #1244
Kate and Jun, thank you for the clarification.

So this fix will not be included in the GFS on WCOSS2 which will go live as ops on June 28.

We should get this fix into the next update as soon as possible.  @arunchawla-NOAA @daryl.kleist@noaa.gov @jason.levit@noaa.gov, can we add this to GFS.v16.3 ?

[2022-06-07 16:59] arunchawla-NOAA commented on #1244
that should be possible
---------------------------------------------------------------
Arun Chawla
Chief
Engineering & Implementation Branch
Room 2083
National Center for Weather & Climate Prediction
5830 University Research Court
College Park, MD 20740
Phone: 301-683-3740
Mobile: 240-564-5675
     Fax: 301-683-3703
------------------------------------------------------------

On Tue, Jun 7, 2022

[2022-06-07 19:29] danrosen25 commented on #768
I tested HYCOM with `-check all` or more specifically `-DDEBUG -DENDIAN_IO -DEOS_17T -DEOS_SIG2 -DESPC_COUPLE -DIA32 -DMPI -DNAN2003 -DREAL8 -DRELO -DSERIAL_IO -DTIME -g -traceback -xSSE4.2 -mcmodel=small -r8 -O0 -check all -fpe0 -ftrapuv -link_mpi=dbg -init=snan,arrays`. The _hafs_regional_atm_ocn_ regression test finished but the _rt_regional_static_atm_ocn_ HAFS test failed due to insufficient

[2022-06-08 02:02] junwang-noaa commented on #1244
The code was merged. The issue will be closed.

[2022-06-08 02:02] #1244 closed

[2022-06-08 13:40] bbakernoaa commented on #1250
@junwang-noaa This isn't a problem all emission data is on hera for these dates already and just need to be moved into the respective location for the RT.

[2022-06-08 13:42] bbakernoaa commented on #1250
@junwang-noaa All the emission data can be found here: /scratch1/RDARCH/rda-arl-gpu/Barry.Baker/emissions/NASA/ExtData for those dates.  If you need me to pull out exactly the files and put into a directory for you to copy let me know.

[2022-06-08 14:27] ChunxiZhang-NOAA opened #1259 "ORT tests for threading and decomposition failed for wet deposition in the Thompson scheme (PR#1192)"
## Description
ORT tests for threading and decomposition failed for wet deposition in the Thompson scheme. The source of the cause has been identified and it is from the two variables pfi_lsan and pfl_lsan that defined in mp_thompson.F90 and passed to the GOCART. But don't know how to solve the issue. If assigned a constant value 1.e-10 to pfi_lsan and pfl_lsan, it passed tests. So the source of i

[2022-06-08 15:41] EricRogers-NOAA opened #1260 "Unrealistic surface/skin temperature and moisture values with latest model code"
@junwang-noaa On 6/7/2022 the LAMDA and LAMDAX parallels on WCOSS Dell started using the latest ufs-weather-model code (#4376018). Immediately upon starting the forecast this diagnostic print for potential skin temperature in module_sf_mynn.f90 was written out at millions of grid points:

THVSK_lnd(I)           1          10   361.996437289128
   345.488632091217        336.783800357902        339

[2022-06-08 16:46] mark-a-potts opened #1261 "Update release/public-v3 to use ccpp-v6 and the WoFS suite for use with SRW app release/public-v2"
We need a release/public-v3 branch that can be used by the SRW for its release/public-v2.

The update of release/public-v3 of the fv3atm will bring in both the WoFS suite and version 6 of the CCPP.

- required to support SRW public release version 2

[2022-06-08 17:49] DavidHuber-NOAA opened #1262 "S2SWA app crashes on xjet when initializing CICE"
## Description
The model crashes on xjet at line 1146 of ice_init.F90 with an "illegal instruction" error when initializing the CICE component.  This is verified for the S2SWA app, but is likely also true for any S2S* app.

I believe I have tracked it down to the CMakeLists.txt in CICE-interface, which appends `-xHOST` to `CMAKE_Fortran_FLAGS` [on line 10](https://github.com/ufs-community/ufs-weat

[2022-06-08 18:07] junwang-noaa commented on #1262
@DavidHuber-NOAA We've been running low resolution cpld tests on xjet and haven't seen any issues. What resolution is your run? Can you run the cpld_control_p8 test on xjet to confirm the issue? Thanks

[2022-06-08 18:11] DavidHuber-NOAA commented on #1262
@junwang-noaa I'm running at C384 resolution.  Sure, I will run the regression test, though I expect it to pass since the executable will also be built on xjet.

[2022-06-08 19:23] danrosen25 commented on #768
Hi @BijuThomas-NOAA @BinLiu-NOAA
Here are the branches I made with the HYCOM debug changes, they are branched from `feature/hafsv0.3_final`
[https://github.com/hafs-community/ufs-weather-model/tree/fix/debug](https://github.com/hafs-community/ufs-weather-model/tree/fix/debug)
[https://github.com/hafs-community/HYCOM-src/tree/fix/debug](https://github.com/hafs-community/HYCOM-src/tree/fix/debug)
On

[2022-06-09 13:51] junwang-noaa commented on #801
@EricRogers-NOAA I checked with Rusty. You can set the ncchksz in fms2_io_nml for "64BIT" format. I was using default fms2_io_nml setting in my global C384 test (/scratch1/NCEPDEV/stmp2/Jun.Wang/FV3_RT/rt_199573/control_c384gdas_chksum/RESTART), I do not see the chunksize specified as netcdf attributes in the restart files. .

        float ua(Time, zaxis_1, yaxis_2, xaxis_1) ;
                ua:

[2022-06-09 14:20] binli2337 commented on #1250
@junwang-noaa I compared ICs between
 /scratch1/NCEPDEV/nems/emc.nemspara/RT/NEMSfv3gfs/BM_IC-20220207/2013040100/gfs_p8c/C384_L127/INPUT and
/scratch1/NCEPDEV/climate/role.ufscpara/IC/GEFS-NoahMP-aerosols-p8c/2013040100/gfs/C384/INPUT.
The following 5 files are different:
sfc_data.tile1.nc
sfc_data.tile2.nc
sfc_data.tile3.nc
sfc_data.tile4.nc
sfc_data.tile5.nc

[2022-06-09 14:28] #1153 closed

[2022-06-09 14:40] junwang-noaa commented on #1250
@binli2337 Would you please create a new directory under benchmark IC (let's call it p8c) and copy the ICs from /scratch1/NCEPDEV/climate/role.ufscpara/IC/GEFS-NoahMP-aerosols-p8c? In this way the benchmark RT tests will use the same ICs/fix files from the prototype runs.

[2022-06-09 15:12] binli2337 commented on #1250
@junwang-noaa Under /scratch1/NCEPDEV/nems/emc.nemspara/RT/NEMSfv3gfs/BM_IC-20220207/2012010100, the current directory structure looks like the following:
cpc/
gfs_p7/
gfs_p8a/
gfs_p8c/
mom6_da/
wav_p7.2/
I will create a new directory called "p8c". After that the new directory structure will be:
cpc/
gfs_p7/
gfs_p8a/
gfs_p8c/
p8c/
mom6_da/
wav_p7.2/

[2022-06-09 17:08] DavidHuber-NOAA commented on #1262
@junwang-noaa The regression test passed.

As an additional test, I'm going to try running the C384 forecast out 6 hours after recompiling with the `-xHOST` flag removed from CICE-interface/CMakeLists.txt.

[2022-06-09 17:47] junwang-noaa opened #1264 "Use ESMF 8.3.0 release in UFS"
## Description
ESMF 8.3.0 release came out, we will test it in UFS and update ESMF to the release version after testing.

## Solution
Testing ESMF 8.3.0 in UFS WM.

## Alternatives
If applicable, add a description of any alternative solutions or features you've considered.

## Related to
Directly reference any issues or PRs in this or other repositories that this is related to, and describe how th

[2022-06-09 18:56] mkavulich commented on #1261
@mark-a-potts The top-level README.md also needs to be updated; currently it uses an unsupported CCPP suite (FV3_GFS_v15p2) as a build example.

[2022-06-09 20:54] EricRogers-NOAA commented on #801
@junwang-noaa I have netcdf_default_format = "netcdf4" in fms2_io_nml. I have two working directories for you to look at :

1) /gpfs/dell2/ptmp/emc.campara/regional_forecast_tm04_2022060912 is from a 1-h forecast from the real-time LAMDAX parallel using code #a46c7ed (3/24/22). The forecast is run with io_layout=1,15, so you see 14 fv_core*.00* and fv_tracer*.00* files in the ./RESTART directory.

[2022-06-09 21:19] bensonr commented on #801
@EricRogers-NOAA @junwang-noaa

First, the _axis_ values are not chunksizes, they are the variable dimensions as you can see in the variable definition _float delp(Time, zaxis_1, yaxis_2, xaxis_1) ;_

I am very surprised the _io_layout=1,15_ restart files have chunked data in them.  According to the NetCDF documentation, the _ncchksz_ parameter, which is used in the _nf90_open_ function call, is i

[2022-06-09 21:20] ChunxiZhang-NOAA commented on #1259
I also tried to use the (qr, qi, qs) in mp_thompson_post.F90 minus the (qr, qi, qs) in mp_thompson_pre.F90 to calculate tendency term and then retrieve the flux terms. Unfortunately, the decomposition test still failed. Since this is a clean way to get tendency/flux from the Thompson scheme, I believe the issue comes from GOCART.  Please see the following directory for the code on Hera: /scratch1/

[2022-06-09 21:55] jkbk2004 commented on #1259
@ChunxiZhang-NOAA @junwang-noaa I am trying to run atmaero_control_p8 RT with gn11.3 on orion: /work/noaa/epic-ps/jongkim/rt-1192-gnu11.3/stmp/jongkim/FV3_RT/rt_297478/atmaero_control_p8. It crashes at aerosol cap 126:    at /work/noaa/epic-ps/jongkim/UFS-RT-tests/rt-1192-gnu11.3/GOCART/ESMF/UFS/Aerosol_Cap.F90:321
128: #1  0x12af9d8 in modeldatainitialize
I want to test a few other things before

[2022-06-09 23:09] EricRogers-NOAA commented on #801
@bensonr Thanks, I will reach out to Ed. I wasn't quite clear above about that nccopy command, when I ran that command as is, we went from chunksizes in fv_tracer.res.tile1.nc from this:

        float sphum(Time, zaxis_1, yaxis_1, xaxis_1) ;
                sphum:checksum = " 93FD4CEFDD0C45B" ;
                sphum:_Storage = "chunked" ;
                sphum:_ChunkSizes = 1, 6, 300, 439 ;

[2022-06-10 01:57] jkbk2004 commented on #1259
@ChunxiZhang-NOAA @junwang-noaa even with mapl-2-12.3 (and recent gocart branch), the ORT dcp/thr failure is reproduced on orion/gnu11.3. If we need to share the experiment directory with gocart team, we can share: /work/noaa/epic-ps/jongkim/UFS-RT-tests/rt-1192-gnu11.3/tests/log_opnReqTest_orion.gnu

[2022-06-10 03:12] ChunxiZhang-NOAA commented on #1259
@jkbk2004  We know there is an initialization issue (which has been solved but I haven't pushed it to this branch). Please try Intel and only focus on dcp and thr. Actually, we are close to solve the issue which is in GOCART.

[2022-06-10 13:35] junwang-noaa commented on #1259
@ChunxiZhang-NOAA May I ask which part of GOCART code may cause this threading/decomposition issue? Thanks

[2022-06-10 13:42] DavidHuber-NOAA commented on #1262
@junwang-noaa The C384 forecast successfully ran without the `-xHOST` flag.  If AVX* instructions are required/desired for CICE, perhaps the options from `cmake/configure_<machine>.intel.cmake` could be used instead?

[2022-06-10 13:45] bbakernoaa commented on #1259
@ChunxiZhang-NOAA @junwang-noaa does this happen with the GFDL microphysics.  If not (which correct me if I'm wrong) then something else is going on.  With the recent changes in physics we need to make sure what is passed to GOCART is correct.

@ChunxiZhang-NOAA Could you explain what the issue you believe you found inside GOCART is?

[2022-06-10 14:07] junwang-noaa commented on #801
@EricRogers-NOAA May I ask if there is the specific reason to use "netcdf4" netcdf_default_format? What about using the default "64bit" option for the restart files as you use in the mppnccombine command? I don't see the chunksizes in the restart files when using the default "64bit" format, maybe it will speed up the process (no need of using nccopy and fast reading in GSI)?

[2022-06-10 14:29] EricRogers-NOAA commented on #801
@junwang-noaa I will revisit this with Ting Lei, but as best as I can gather from going through old emails, the parallel I/O in the GSI supports netcdf4, not netcdf3, which is why I went down the netcdf4 rabbit hole. But that begs the question, is the GSI faster when reading default 64bit restart files vs netcdf4 restart files with inefficient chunksizes? I'll make some tests to answer that questi

[2022-06-10 15:35] ChunxiZhang-NOAA commented on #1259
@junwang-noaa Currently, I am working with Kate Zhang to narrow down the areas. We found lines 6703 to 6712 in GOCART2G_Process.F90 could be the area caused the decomposition issue because when we deleted these lines of code, it passed decomposition test.

[2022-06-10 15:42] bbakernoaa commented on #1259
@ChunxiZhang-NOAA You haven't answered answered my question about the old GFDL microphysics.  If this isn't a problem with that then it is something wrong with the implementation of the thompson microphysics and coupling what was calculated to GOCART.  Not a problem with gocart but rather a problem with what is calculated in thompson.

[2022-06-10 15:45] ChunxiZhang-NOAA commented on #1259
@bbakernoaa @junwang-noaa   I think we had ORT issues for GFSv16 suite (GFDL MP) for the coupling between GOCART and FV3. When Denise updated GFSv16 to GFSv17 for the RT atmaero_control_p8 (she renamed control_atm_aerosols to atmaero_control_p8), it passed ORT tests. However, the Thompson scheme was not coupled with GOCART at that time. The coupling between the Thompson scheme and GOCART is in thi

[2022-06-10 15:50] bbakernoaa commented on #1259
My point is that this had to pass the ORT tests for p7.1.  These have passed the thr and dcp tests before with the GDFL microphysics.  This means that it isn't a problem with GOCART but rather the variable we are passing to GOCART in the thompson mp.

This points to a problem in the thompson mp and therefore we shouldn't be going in and "fixing" problems in GOCART with this.  We need to pass corre

[2022-06-10 15:57] yangfanglin commented on #1259
Can we give the folks a bit more time to figure out and confirm the issue before jumping into any conclusion ?   One can run another ORT with GFDL MP using the latest system to confirm as well.

[2022-06-10 16:38] zhanglikate commented on #1259
@bbakernoaa @junwang-noaa @rmontuoro @lipan-NOAA @ChunxiZhang-NOAA @yangfanglin @jkbk2004  , I don't think we have ORT for GOCART in P7 and GFSv16. Our first time to have GOCART regression test is from P8, better for @rmontuoro to confirm it. P8b can pass the ORT is because the large scale wet deposition did not work when using GFSv17 (there is no precipitation values (all are zero) to be connecte

[2022-06-10 17:18] DavidHuber-NOAA commented on #1262
I reran the regression test, compiling on kjet then running cpld_control_p8 on xjet.  This caused the same crash I'm seeing when compiled on the head node then running on xjet.  The cpld_control_p8 test directory is located here: /lfs1/NESDIS/nesdis-rdo2/David.Huber/RT_RUNDIRS/David.Huber/FV3_RT/rt_200684/cpld_control_p8.

[2022-06-10 17:29] ChunxiZhang-NOAA commented on #1259
@bbakernoaa @junwang-noaa @jkbk2004 @zhanglikate @lipan-NOAA @yangfanglin @rmontuoro Kate and I found the bug in GOCART that caused the decomposition failure. The bug and fix are in GOCART2G_Process.F90:
          DMS = max(DMS,tiny(1.0)) => DMS(i,j,k) = max(DMS(i,j,k),tiny(1.0))
          SO2 = max(SO2,tiny(1.0))  => SO2(i,j,k) = max(SO2(i,j,k),tiny(1.0))
          SO4 = max(SO4,tiny(1.0))  => SO

[2022-06-10 17:38] zhanglikate commented on #1259
Here are the modifications in GOCART2G_Process.F90
![Screen Shot 2022-06-10 at 11 37 02 AM](https://user-images.githubusercontent.com/64156100/173121126-b567633c-1a36-4f6a-9eab-0ab4d56e603a.png)

[2022-06-10 18:31] weiyuan-jiang commented on #1259
Are you talking about this block ?

[
](https://github.com/GEOS-ESM/GOCART/blob/821ef40859d6155c8594668e6261c97c49a935bc/Process_Library/GOCART2G_Process.F90#L6715-L6721)

Those have been fixed since v2.0.4

[2022-06-10 18:36] tclune commented on #1259
Yes, this was fixed a while back, and I simply forgot about it as a possible cause for layout reproducibility issues.   Apologies that NOAA had to waste effort tracking down a known issue.

[2022-06-10 19:21] junwang-noaa commented on #1259
@tclune @weiyuan-jiang So we will move to the latest GOART develop branch revision [72ddb16](https://github.com/GEOS-ESM/GOCART/commit/72ddb1667c72d6a266fc7277d6683d2d2b7b3660). Meanwhile, we will use:

[MAPL tag 2.21.3](https://github.com/GEOS-ESM/MAPL/tree/v2.21.3)
[gftl-shared tag 1.5.0](https://github.com/Goddard-Fortran-Ecosystem/gFTL-shared/tree/v1.5.0)
[yafyaml tag 1.0.2](https://github.com

[2022-06-10 20:07] tclune commented on #1259
No – you cannot use that version of yafyaml with MAPL2.   The interfaces changed and “we” (me) decided to defer that impact on MAPL until MAPL 3.   Could be reversed if important.

Of course, if you disable ExtData2 (which I recommend), then the version of yafyaml does not matter anyway.

(Note that if you build MAPL with ExtData2, you can still select ExtData1 at run time.  Probably still the def

[2022-06-10 20:13] SamuelTrahanNOAA commented on #953
I've merged Dom's fix for this issue with my PR here:

https://github.com/ufs-community/ufs-weather-model/pull/1257

[2022-06-10 20:14] SamuelTrahanNOAA commented on #1260
@joeolson42 Will the typo PR https://github.com/NCAR/ccpp-physics/issues/941 fix this issue?

[2022-06-10 20:18] junwang-noaa commented on #1259
@tclune Thanks for the information!
@jkbk2004 Would you please build the hpc-stack with the MAPL/gftl-shared version on Orion?
Once the libraries are updated, @ChunxiZhang-NOAA would you please update the GOCART version to [72ddb16](https://github.com/GEOS-ESM/GOCART/commit/72ddb1667c72d6a266fc7277d6683d2d2b7b3660) to confirm the issue is resolved? Thanks

[2022-06-10 20:23] jkbk2004 commented on #1259
@junwang-noaa @ChunxiZhang-NOAA just to be on same page, mapl2.12.3/gftl-shared1.5.0 to test out gocart 72dd hash, right?

[2022-06-10 20:26] junwang-noaa commented on #1259
@jkbk2004 Correct except that it is MAPL 2.21.3, not 2.12.3.

[2022-06-10 20:28] EricRogers-NOAA commented on #801
@junwang-noaa When I set netcdf_default_format = "64bit" in the 3km N. American RRFS domain forecast run, I got this error:

FATAL from PE     0: NetCDF: One or more variable sizes violate format constraints: set_netcdf_mode

which is bringing back memories of what happened last year when I first started running this huge domain (3951x2701) in a DA run with the model writing out restart files.  So

[2022-06-10 20:29] jkbk2004 commented on #1259
@junwang-noaa sure! Matt and gocart team too fast! its already 2.21.3. Will keep you posted.

[2022-06-10 20:33] ChunxiZhang-NOAA commented on #1259
@junwang-noaa @jkbk2004 Sure, I will test the 72ddb16 hash once Jong updated mapl2.21.3/gftl-shared1.5.0.

[2022-06-10 20:58] SamuelTrahanNOAA commented on #1260
This bug was probably caused by the typo on line 851 of module_sf_mynn which calculates the potential temperature:

[code]

The first ** should be a *

[code]

That is corrected in #941, though we won't be certain it will eliminate all of your qsat and skin temperature problems until you try the bugfix in your parallels.

[2022-06-10 21:05] HelinWei-NOAA opened #1268 "fix the density of the frozen precip types"
## Description

The snow density is used for all frozen precip types in the current operational GFS. With this assumption the density for sleet or freezing rain is too small and the snow depth is overestimated in this situation. This fix will give the different density to snow, graupel, and freezing rain in the Noah LSM driver.

### To Reproduce:
What compilers/machines are you seeing this with?
G

[2022-06-10 21:48] joeolson42 commented on #1260
Yes, this typo-bugfix will fix the problem. I ran a test and the result was very similar to the original version (now running in RRFS a & b).

[2022-06-12 03:09] jkbk2004 commented on #1259
@tclune @weiyuan-jiang some error with mapl/2.21.3 build: /work/noaa/epic-ps/jongkim/tools/hpc-stack/pkg/mapl-2.21.3/gridcomps/ExtData2G/ExtDataFileStream.F90(52): error #6460: This is not a component name that is defined in the encompassing structure.   [HAS] is_present = config%has("template"). @weiyuan-jiang  can you check my build log on orion? /work/noaa/epic-ps/jongkim/tools/hpc-stack/log/ma

[2022-06-12 18:58] tclune commented on #1259
@jkbk2004  I thought NOAA was going to build without yafyaml and also skip building extdata2g.  `-DUSE_EXTDATA2G=OFF` as per the instructions above.   If you want to build extdata2g, then you will need to get a rather precise version of yafyaml (has bugfixes but not the latest interfaces).

[2022-06-13 00:49] jkbk2004 commented on #1259
@tclune Thanks for the information! It builds ok with -DUSE_EXTDATA2G=OFF

[2022-06-13 02:11] jkbk2004 commented on #1259
@ChunxiZhang-NOAA I built a new hpc-stack on orion for mapl/2.21.3 and gftl-shared1.5.0.
module use /work/noaa/epic-ps/tools/intel/2022.1.2/modulefiles/stack/
module load hpc/1.2.0
module load gftl-shared/v1.5.0
module load mapl/2.21.3-esmf-8.3.0b09
All other module files are same as we use in current ufs-wm on orion. Let me know if you see any issue.

[2022-06-13 15:50] junwang-noaa commented on #801
@EricRogers-NOAA Thanks for the explanation. So for RRFS, we have to use "netcdf4" format. In that case, can we still use "io_layout=1,15" as before? Will that slow down RRFS runs? My understanding is that until the netcdf chunksize issue is fixed, RRFS will not get speedup by using the fixes Rusty provided. But other applications such as GFS/HAFS/UFSAQM will speed up by using io_layout=1,1 with d

[2022-06-13 16:18] EricRogers-NOAA commented on #801
@junwang-noaa Yes, RRFS will need to use netcdf4 format for restart files, we can just continue to set io_layout=1,15 and then recombine the restart file pieces using that mppnccombine utility with the -64 option so the input restart files to the GSI are in 64bit format.

Earlier I stated this: "We found that if these chunksizes were reset to the grid dimensions using nccopy:

nccopy -c xaxis_1/39

[2022-06-13 17:05] junwang-noaa commented on #801
@EricRogers-NOAA Thanks for the information. I think this is a netcdf issue we may need to ask some netcdf expert to take a look.  Would you please create an issue with the default chunksizes with continuous fields? Once that issue is resolved, maybe we don't need the nccopy any more.

[2022-06-13 18:08] JianpingHuang-NOAA commented on #801
Should UFS-AQM use "netcdf64" format and set io_layout=1,15 to speed up the
restart-file writing ?  @Jun Wang - NOAA Federal ***@***.***> @Eric
Rogers - NOAA Federal ***@***.***>

On Mon, Jun 13, 2022 at 1:05 PM Jun Wang ***@***.***> wrote:

[2022-06-13 18:14] junwang-noaa commented on #801
@JianpingHuang-NOAA Yes, you can try to see if it speed up your run.

[2022-06-13 18:14] junwang-noaa commented on #801
@bensonr Would you please sync your fv3atm branch https://github.com/bensonr/fv3atm/tree/emc_io_fixes and create a PR at fv3atm repo? If possible, please also create a ufs-weather-model PR. Please let me know if you want me to create the ufs-weather-model PR. Thanks.

[2022-06-13 19:02] junwang-noaa commented on #1268
The code is merged. The issue will be closed.

[2022-06-13 19:02] #1268 closed

[2022-06-13 19:15] bensonr commented on #801
@junwang-noaa - you may recall there was an update needed to properly ignore the checksum.  I believe you want to you fork/branch from @BinLiu-NOAA.

[2022-06-13 19:15] EricRogers-NOAA opened #1270 "Default chunksizes for continuous fields are too small in RRFS restart files"
The RRFS North American domain (npx, npy=3951, 2701) is so large that model restart files must be written in netcdf4 format (i.e., netcdf_default_format = "netcdf4"). The default chunksizes in the fv_core, fv_restart files are these values, for example:

float sphum(Time, zaxis_1, yaxis_1, xaxis_1) ;
            sphum:checksum = " 93FD4CEFDD0C45B" ;
            sphum:_Storage = "chunked" ;

[2022-06-13 19:15] EricRogers-NOAA commented on #801
@junwang-noaa I created a new issue : [https://github.com/ufs-community/ufs-weather-model/issues/1270](url)

[2022-06-13 19:22] DeniseWorthen opened #1271 "Alllow CICE6 dynamics on the C-grid"
## Description

Currently CICE6 dynamics are on the B-grid (cell corners). This is inconsistent with MOM6, which carries ocean velocities on the C-grid (N and E edges). This creates issues at isolated ocean points (along coastlines) or channels which are only 1-grid point wide. In these cases, there are no non-zero values with which to advect the ice on the B-grid.

## Solution

Allow CICE6 dynami

[2022-06-13 20:32] junwang-noaa commented on #801
@bensonr The updates from @BinLiu-NOAA is in driver/fvGFS/atmosphere.F90, I added the following changes based on your dycore branch:

https://github.com/bensonr/GFDL_atmos_cubed_sphere/tree/emc_io_fixes

[code]

Would you please add those changes to your dycore branch emc_io_fixes? Thank you!

[2022-06-13 20:33] junwang-noaa commented on #801
@EricRogers-NOAA Thanks for creating the issue. Let's see if Ed can help take a look.

[2022-06-13 21:35] ChunxiZhang-NOAA commented on #1259
@junwang-noaa @jkbk2004 I compiled the latest ufs-weather-model with the updated GOCART hash 72ddb16 and Jong's updated modules. When ran the ORT test,  I got the following error message:
  8: pe=00008 FAIL at line=05229    MAPL_HistoryGridComp.F90                 <Field CAEXTTAUCA.bc not found>
  8: pe=00008 FAIL at line=05229    MAPL_HistoryGridComp.F90                 <Field CAEXTTAUCA.oc not f

[2022-06-13 21:51] jkbk2004 commented on #1259
@junwang-noaa @ChunxiZhang-NOAA MAPL_HistoryGridComp.F90 <Field CAEXTTAUCA.bc not found> issue with diag/history field table ?

[2022-06-14 12:43] tclune commented on #1259
@weiyuan-jiang      I suspect pulling in the latest GOCART will require updating the HISTORY.rc file for changes in the short-names for some fields?       But the first step should be to find out what is happening at line 5229 to be sure.

[2022-06-14 13:02] ChunxiZhang-NOAA commented on #1259
@weiyuan-jiang My source code directory is located at: /work/noaa/hwrf/save/czhang/grt_rad/ufs-weather-model.test

[2022-06-14 13:22] weiyuan-jiang commented on #1259
The latest GOCART has changed some fields' names. Please refer to this PR  https://github.com/GEOS-ESM/GEOSgcm_App/pull/317

Please compare the names that have been changed

[2022-06-14 13:33] tclune commented on #1259
Note:  the older names were considered to be "bugs" that were introduced when re-designing GOCART for the 2.0 release.   Technically the change referenced above is not backwards-compatible, but the fact that it is fixing a bug is used as an excuse to avoid a trivial change driving a major (semver) release.

[2022-06-14 13:35] junwang-noaa commented on #1259
@weiyuan-jiang Thanks for the information. It seems that we need to update AERO_HISTORY.rc file, would you please take a look at:
```/work/noaa/stmp/czhang/stmp/czhang/FV3_OPNREQ_TEST/opnReqTest_144770/atmaero_control_p8_std_base/AERO_HISTORY.rc```
and let us know what needs to be updated? Thanks

[2022-06-14 13:37] junwang-noaa commented on #1259
@[tclune](https://github.com/tclune) Thanks for the information.

[2022-06-14 13:51] binli2337 commented on #1250
@junwang-noaa I can create a new directory "/scratch1/NCEPDEV/nems/emc.nemspara/RT/NEMSfv3gfs/input-data-20220414/GOCART/p8c_2012_2013_5d" and copy the 5-day emission data (8 cases) to this directory.

[2022-06-14 13:58] junwang-noaa commented on #1250
@binli2337 Thanks

[2022-06-14 14:17] weiyuan-jiang commented on #1259
@junwang-noaa , I cannot access that file. Basically, the field name changes are from this file  GOCART/ESMF/GOCART2G_GridComp/CA2G_GridComp/CA2G_StateSpecs.rc  and the way how the new MAPL interprets the names.

[2022-06-14 14:19] bbakernoaa commented on #1259
@junwang-noaa and @ChunxiZhang-NOAA

I think that we only need to modify the EXTTAU for OC and BC under the inst_aod field for this test.

I made a copy of the file in tests/parm/gocart/AERO_HISTORY.rc here: /work/noaa/stmp/bbaker/AERO_HISTORY.rc.IN

Before:

[code]

After:

[code]

[2022-06-14 14:27] ChunxiZhang-NOAA commented on #1259
@bbakernoaa Thanks. I am testing it with your new file. I will let you know the results.

[2022-06-14 14:43] ChunxiZhang-NOAA commented on #1259
@bbakernoaa still failed with different error message. The run directory: /work/noaa/stmp/czhang/stmp/czhang/FV3_OPNREQ_TEST/opnReqTest_128460/atmaero_control_p8_std_base

[2022-06-14 14:45] weiyuan-jiang commented on #1259
If you change the permission of that directory, I could take a look. @ChunxiZhang-NOAA

[2022-06-14 15:01] ChunxiZhang-NOAA commented on #1259
@weiyuan-jiang I opened the access permission.

[2022-06-14 18:00] weiyuan-jiang commented on #1259
If it is not convenient to print out the field_name right above line 730 of MAPL_CapGridComp.F90, you can try to remove the column "AOD_xx". Here is GEOSgcm's example. ( Maybe you already have those aliases ? )
                           'DUEXTTAU'       , 'DU'       ,
                            'SSEXTTAU'       , 'SS'       ,
                            'CA.bcEXTTAU'  , 'CA.bc'    , 'BCEXTTAU' ,

[2022-06-15 13:56] junwang-noaa commented on #801
@bensonr I pulled your fv3atm changes in a branch checksum_io and synced with the latest fv3atm update.  Would you please create a PR to the GFDL dycore dev/emc branch? I will create corresponding PRs on fv3atm and ufs-weather-model after that. My understanding is that we will have one dycore dev/emc PR(https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/pull/194) before this one, so we need you

[2022-06-15 14:08] bensonr commented on #801
@junwang-noaa - [FV3 PR #197](https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/pull/197) was created yesterday and you were assigned as a reviewer.

[2022-06-15 14:33] junwang-noaa opened #1274 "Updating the lheatstrg namelist variable for RT tests using NoahMP"
## Description
Physics group found that the lheatstrg namelist variable is set to .true. when NoahMP is used, this will double count the canopy heat storage effect which is taken care of in NOAH-MP. This variable needs to be set to .false in ufs-weather-model RT tests when NoahMP is used. Currently all the P8 tests (coupled and standalone) have lheatstrg=.true.

### To Reproduce:
What compilers/ma

[2022-06-15 14:34] junwang-noaa commented on #1274
@barlage @HelinWei-NOAA @yangfanglin @ChunxiZhang-NOAA  FYI.

[2022-06-15 15:14] junwang-noaa commented on #801
@bensonr Thanks, Rusty. The fv3 [PR#556](https://github.com/NOAA-EMC/fv3atm/pull/556) and ufs-weather-model [PR#1275](https://github.com/ufs-community/ufs-weather-model/pull/1275) were created.

[2022-06-15 15:16] daniel-hildebrandt opened #1276 "EPIC request to delete the release/public-v3 & release-public-v3-SRW branches"
## Description
These were created on the original timeline for the proposed SRW release, however, it was later discussed to not include certain commits / features in the public-v3 branch. EPIC then wanted to create a new branch which was intended to be the new release branch, but unexpected issues arose during testing, not previously caught.
EPIC will create a PR to pull from the current epic bran

[2022-06-15 15:20] ChunxiZhang-NOAA commented on #1259
@weiyuan-jiang I removed the column "AOD_xx" and still got errors. Please see the err file from /work/noaa/stmp/czhang/stmp/czhang/FV3_OPNREQ_TEST/opnReqTest_296844/atmaero_control_p8_std_base

[2022-06-15 16:17] weiyuan-jiang commented on #1259
This error seems to happen in the initialize_extdata call.  Let me see if I can find out which field_name has been changed

[2022-06-15 18:44] ChunxiZhang-NOAA commented on #1259
@weiyuan-jiang Ok, thanks. Please let me know if you found anything.

[2022-06-15 21:19] DeniseWorthen opened #1277 "control_p8 test fails after ~ 7.25days"
## Description

To test the C-grid impact for CICE6, I attempted to run the S2S app out for 10+days. The model failed at about 7days even with the current develop branch (no C-grid changes).

I then tried the control_p8 test and it also failed---in this case, it fails after hour 174. The message in the err file is:
[code]

I compiled control_p8 in debug mode and repeated the test. In that test, I

[2022-06-15 21:29] yangfanglin commented on #1277
@DeniseWorthen I assume the runs you made are a C96 and fully coupled.

I had run many p8 atmos-only forecasts for 10-days at both C384 and C768 resolutions. They worked fine.  Anyhow, @RuiyuSun @AnningCheng-NOAA  Could you please put other tasks aside and  help check and debug ?  If needed, please run extra experiments, coupled and uncoupled, to confirm ?  Thanks.

[2022-06-15 21:33] DeniseWorthen commented on #1277
@yangfanglin The failure was first noted in coupled, but then I switched to standalone to verify the failure was solely in the ATM. So the case noted above is for the standalone control P8 configuration at C96.

[2022-06-15 21:39] DeniseWorthen opened #1278 "Allow wave model to run on different grid than ocean and ice"
## Description

The wave model in the S2SW global application is currently limited to running on the same tripole grid as the ocean and ice. The mapping between ocean/ice/wave is a copy (w/ redist). The mapping between ATM-WAV is consf_nstod.

For additional flexibilty, the wave model should be able to run on a different grid than ocean and ice (these two components always run on the same grid).

[2022-06-16 02:11] AnningCheng-NOAA commented on #1277
Fanglin and Denise:

I cloned the trunk and make a run for p8_control. The regression tests are
successful:
/scratch1/NCEPDEV/climate/Anning.Cheng/ufs-weather-model/tests
rt.sh -k -l rt.conf1 >& o1

Am I missing something?

Anning

On Wed, Jun 15, 2022 at 5:33 PM Denise Worthen ***@***.***>
wrote:

[2022-06-16 02:47] yangfanglin commented on #1277
@AnningCheng-NOAA did you change the forecast length to 10 days ?

[2022-06-16 12:43] DeniseWorthen commented on #1277
@AnningCheng-NOAA I copied your run directory, increased the wall clock time, and made these changes to model_configure:

[code]

The model fails at after fh=174, with
[code]

My run directory is ``/scratch1/NCEPDEV/stmp2/Denise.Worthen/rt_71238/control_p8``

[2022-06-16 13:06] SMoorthi-emc commented on #1277
Hi Denise,
   It is likely that the model blew up.
Your output has
"71: Warn_K= 127 (i,j)=   66   86 (lon,lat)=236.370  51.157 TA_dyn =
658.79047
 71:      K= 126    446.27753"

I also note that your run has "dt_atmos=720" but "fv_sg_adj=450".  In my
humble opinion, "fv_sg_adj" should never be less than dt_atmos.
Nevertheless, that may not eliminate the instability problem.  Maybe you
have to use

[2022-06-16 13:12] DeniseWorthen commented on #1277
Yes, thanks Morthi. I had see the warn messages start appearing in the log.

This is the standard, out-of-the box control_p8 so you're suggesting that we're setting it up incorrectly. We should check what our coupled models are using then.

EDIT: It looks like we are using fv_sg_adj=450 regardless of ATM resolution in the coupled RTs.

[2022-06-16 13:25] RuiyuSun commented on #1277
The current dt_inner is 360 s in the Thomspon MP. Can we try smaller dt_inners, like dt_inner = 180 s, or 90 s, to see the impacts?

[2022-06-16 13:45] AnningCheng-NOAA commented on #1277
I have performed 4 exps at /scratch1/NCEPDEV/stmp2/Anning.Cheng
control_p8: Same settings as Denise
p8_sg_adj: same as control_p8 except dt_atmos=600 and  fv_sg_adj=600
p8_inn180: same as control_p8 except dt_inner=180
p8_inn90: same as control_p8 except dt_inner=90

Let us see how it is going.

On Thu, Jun 16, 2022 at 9:25 AM RuiyuSun ***@***.***> wrote:

[2022-06-16 14:24] AnningCheng-NOAA commented on #1277
HI, all
The runs have completed. All  crashed with T out of range, not related to
dt_inner and loosely related to fv_sg_adj
control_p8: Same settings as Denise: crashed at 7.25 days.
p8_sg_adj: same as control_p8 except dt_atmos=600 and  fv_sg_adj=600:
crashed at 7.5 days
p8_inn180: same as control_p8 except dt_inner=180: crashed at 7.125 days
p8_inn90: same as control_p8 except dt_inner=90: crash

[2022-06-16 14:43] yangfanglin commented on #1277
I thought p8_control is using Thompson MP with semi-Lag sedimentation; therefore, neither fv_sg_adj nor inner loop are active.

[2022-06-16 14:45] AnningCheng-NOAA commented on #1277
Fanglin, I will turn semi-Lag off to see how it goes.

On Thu, Jun 16, 2022 at 10:43 AM Fanglin Yang ***@***.***>
wrote:

[2022-06-16 14:46] yangfanglin commented on #1277
Correction: fv_sg_adj is active for all cases (timescale for removing 2delta-z noise)

[2022-06-16 14:47] RuiyuSun commented on #1277
In the current p8_control configuration, dt_inner is set to half of the physics time step.  Semi-Lagrangian is also on.

[2022-06-16 14:51] yangfanglin commented on #1277
@RuiyuSun  If semi-Lag is on, is dt_inner still active ?  I thought semi-lag and st_inner are mutually exclusive.

[2022-06-16 14:53] AnningCheng-NOAA commented on #1277
I think dt_inner is still active for hydrometer other than rain.

On Thu, Jun 16, 2022 at 10:51 AM Fanglin Yang ***@***.***>
wrote:

[2022-06-16 14:55] RuiyuSun commented on #1277
In the code they can co-exist. We need to make them mutually exclusive in the scripts.

I compared the input.nml from the current workflow and ufs_model rt test and noticed the following difference.
<   cdmbgwd      = 0.14,1.8,1.0,1.0
---

[2022-06-16 14:58] RuiyuSun commented on #1277
I submitted a job with dt_inner off.

[2022-06-16 15:07] junwang-noaa commented on #1277
In the UFS WM  RT test, we are using these cdmbgwd settings:
[code]
So the control_p8 is using CDMBWD_c96='0.14,1.8,1.0,1.0'.  It looks to me the one in workflow is for CDMBWD_c768

[2022-06-16 15:17] RuiyuSun commented on #1277
Jun, I see. Thanks for pointing this out.

[2022-06-16 17:15] AnningCheng-NOAA commented on #1277
By turning off semi_langrange, dt_inner=180 crashed at day 7 and
dt_inner=90 crashed at day 6.75.

On Thu, Jun 16, 2022 at 11:18 AM RuiyuSun ***@***.***> wrote:

[2022-06-16 17:23] yangfanglin commented on #1277
@AnningCheng-NOAA   Can you try dt_amos=450,  with Semi-Lagrangian,   and dt_inner=dt_amos ?   In the "old" workflow the defualt DELTIM was set to 450s for both C96 and C192.  No attempted had been made to tune dycore and physics parameters for running the model at C96 resolution with a large timestep.

[2022-06-16 17:30] SMoorthi-emc commented on #1277
One could also try GFDL MP with a larger time step to see if the issue is
microphysics.

On Thu, Jun 16, 2022 at 1:24 PM Fanglin Yang ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)68

[2022-06-16 17:43] RuiyuSun commented on #1277
The run crashed at 'n_atmsteps =              901', roughly 7.5 days.

[2022-06-16 17:44] RuiyuSun commented on #1277
This is with the inner loop turned off.

[2022-06-16 18:36] AnningCheng-NOAA commented on #1277
Fanglin:
With your suggestions, the model can run 9.25 days without T range warning
(/scratch1/NCEPDEV/stmp2/Anning.Cheng/dt_450_semi).

On Thu, Jun 16, 2022 at 1:24 PM Fanglin Yang ***@***.***>
wrote:

[2022-06-16 18:38] yangfanglin commented on #1277
@AnningCheng-NOAA  Can you next try with GFDL MP, and dt_atmos=720s ?

[2022-06-16 19:52] RuiyuSun commented on #1277
I have a run submitted with GFDLMP and dt_atmos=720s.  /scratch1/NCEPDEV/stmp2/Ruiyu.Sun/FV3_RT/rt_76089/control_p8_gfdlmp

source code is at /scratch1/NCEPDEV/stmp2/Ruiyu.Sun/C96_10days/ufs-weather-model

[2022-06-16 20:13] RuiyuSun commented on #1277
The run failed at  'n_atmsteps =              821' (roughly 6.8 days). There are a lot of TA_dyn warnings and the error message is
_68: [h24c21:249945:0:249945] Caught signal 11 (Segmentation fault: address not mapped to object at address 0x2b076ae920b8)_ .  So if GFDL MP experiment was set up correctly the crash may not caused by the MP.

[2022-06-16 21:12] yangfanglin commented on #1277
@RuiyuSun This is interesting.  Can you rerun this case (with GFDL MP) but set n_sponge=126 ?

[2022-06-16 21:16] weiyuan-jiang commented on #1259
In the CAP.rc, you need to change the 4 field names too.  @ChunxiZhang-NOAA
CAP_EXPORTS:
   ......
   CA.bcphobic,CA.bc     bc1
   CA.bcphilic,CA.bc     bc2
   CA.ocphobic,CA.oc     oc1
   CA.ocphilic,CA.oc     oc2
   ......
::

[2022-06-16 21:18] AnningCheng-NOAA commented on #1277
Fanglin and Ruiyu:

I made a run with GFDL MP. The run is successful
at /scratch1/NCEPDEV/stmp2/Anning.Cheng/FV3_RT/rt_137841/control_p8.
In my setting, the only difference is using GFDL MP instead of Thompson.
So Thompson MP is likely the cause.

Anning

On Thu, Jun 16, 2022 at 5:12 PM Fanglin Yang ***@***.***>
wrote:

[2022-06-16 21:28] AnningCheng-NOAA commented on #1277
Ruiyu,
I am checking what causes the difference between our runs. I have only
changed two files for my run: 1) tests/tests/control_p8
2)suite_FV3_GFS_v17_p8.xml.

How many files have you modified?

On Thu, Jun 16, 2022 at 5:18 PM Anning Cheng - NOAA Affiliate <
***@***.***> wrote:

[2022-06-16 21:31] jkbk2004 commented on #1276
#1280 merged in

[2022-06-16 21:31] #1276 closed

[2022-06-16 21:33] jkbk2004 commented on #1261
#1280 merged in

[2022-06-16 21:33] yangfanglin commented on #1277
@AnningCheng-NOAA In your input.nml you have
do_sat_adj = .false.
 lgfdlmprad   = .false.

You need to set them to true for GFDL-MP

[2022-06-16 21:34] #1236 closed

[2022-06-16 21:40] RuiyuSun commented on #1277
@yangfanglin   started  at the same location. /scratch1/NCEPDEV/stmp2/Ruiyu.Sun/FV3_RT/rt_76089/control_p8_gfdlmp

[2022-06-16 21:51] RuiyuSun commented on #1277
@AnningCheng-NOAA Fanglin is right.

[2022-06-16 22:15] ChunxiZhang-NOAA commented on #1259
@weiyuan-jiang I finished the run successfully with your modifications. Thanks!

[2022-06-17 01:52] RuiyuSun commented on #1277
With n_sponge=126, It crashed at n_atmsteps =              859 (roughly 7.15 days), longer than when n_sponge=42. There are still a lot of TA_dyn  and TA warnings.

[2022-06-17 04:05] yangfanglin commented on #1277
@DeniseWorthen based on the investigation we made so far reducing timestep to 450s is probably the most sensible approach to take.

[2022-06-17 13:11] ChunxiZhang-NOAA commented on #1259
@weiyuan-jiang The debug test failed. Please see: /work/noaa/stmp/czhang/stmp/czhang/FV3_OPNREQ_TEST/opnReqTest_233154/atmaero_control_p8_dbg_base

[2022-06-17 13:21] weiyuan-jiang commented on #1259
my run in debugging mode of ufs seems working,   /home/wjiang/work/cpld_debug_p8   Are you talking about the MAPL debugging mode?

[2022-06-17 13:38] AnningCheng-NOAA commented on #1277
@Fanglin Yang - NOAA Federal ***@***.***> that run did not
complete either /scratch1/NCEPDEV/stmp2/Anning.Cheng/dt_450_semi/err

On Fri, Jun 17, 2022 at 12:05 AM Fanglin Yang ***@***.***>
wrote:

[2022-06-17 14:00] ChunxiZhang-NOAA commented on #1259
@weiyuan-jiang Not MAPL debugging. Could you test debug mode for atmaero_control_p8?

[2022-06-17 14:12] weiyuan-jiang commented on #1259
I have no problem running ufs in debugging mode with MAPL also in debugging mode ( job_card_2022_debug  in /home/wjiang/work/cpld_debug_p8 ). I can try your case but please give me instruction on how to build and run atmaero_control_p8.

[2022-06-17 14:16] ChunxiZhang-NOAA commented on #1259
@weiyuan-jiang Sure. Please go to ufs-weather-model/tests directory, and run the following command line:
./opnReqTest -n atmaero_control_p8 -c dbg > ort.log 2>&1&

[2022-06-17 14:31] yangfanglin commented on #1277
@AnningCheng-NOAA Can you be more specific about which run with what configuration worked or not worked ?

[2022-06-17 14:37] AnningCheng-NOAA commented on #1277
@Fanglin Yang - NOAA Federal ***@***.***> The one  same as
control_p8  with dt_amos=450,  Semi-Lagrangian, and dt_inner=dt_amos does
not work out.

On Fri, Jun 17, 2022 at 10:32 AM Fanglin Yang ***@***.***>
wrote:

[2022-06-17 14:52] yangfanglin commented on #1277
@AnningCheng-NOAA  But you wrote earlier, I quote here, "With your suggestions, the model can run 9.25 days without T range warning (/scratch1/NCEPDEV/stmp2/Anning.Cheng/dt_450_semi)."

[2022-06-17 14:53] SamuelTrahanNOAA commented on #953
@climbfuji Your bugfix has been merged. Can you confirm the issue is resolved, and close it if it is?

[2022-06-17 15:02] AnningCheng-NOAA commented on #1277
@Fanglin Yang - NOAA Federal ***@***.***> There is no T range
warning, but the model crashed at 9.25 days with numerical instability. It
looks like a bug. Sorry I have not made it clear in my previous email.

: FATAL from PE    55: NaN in input field of mpp_reproducing_sum(_2d), this
indicates numerical instability
 55:
  9: fv3.exe            0000000001D46365  atmosphere_mod_mp         691
 atmos

[2022-06-17 15:03] weiyuan-jiang commented on #1259
That is not working to me.  I built ufs with the way Jong taught me and used my own MAPL.   CMAKE_FLAGS="-DAPP=S2SA -DDEBUG=ON -DCCPP_SUITES=FV3_GFS_v17_coupled_p8 -DMPI=ON -DCMAKE_BUILD_TYPE=Debug -DMOM6SOLO=ON" ? What is your cmake_flags ? I can build another one and copied your run directory.

[2022-06-17 15:18] #649 closed

[2022-06-17 15:18] #953 closed

[2022-06-17 15:18] #1249 closed

[2022-06-17 15:27] RuiyuSun commented on #1277
@AnningCheng-NOAA @yangfanglin dt_amos=450,  Semi-Lagrangian, and dt_inner=dt_amos configuration extended forecast length and nearly completed the 10day forecast. This is a good sign. Is it possible to use even smaller dt_atmos?

[2022-06-17 15:31] AnningCheng-NOAA commented on #1277
I am trying dt_atmos=400 now. @Ruiyu Sun - NOAA Affiliate
***@***.***>  I have done a little debugging, something to do with
the remapping and omp in the dycore.

On Fri, Jun 17, 2022 at 11:28 AM RuiyuSun ***@***.***> wrote:

[2022-06-17 15:33] yangfanglin commented on #1277
@AnningCheng-NOAA @RuiyuSun  Please test with GFDL-MP and dt_atmos=450s as well.  It is troubling the model still eventually crashed  with dt_atmos=450s.  We need to dig deeper into it to find the cause.   Could you please check the namelist settings of this C96 RT test against C384/C768 settings to see if they all make sense ?

[2022-06-17 15:36] RuiyuSun commented on #1277
@AnningCheng-NOAA @yangfanglin Your job was killed due to the time limit, not instability. Please see the below error message I copied from your err file (the very last part, err file contains all the errors from all your runs).  Please ask for longer wall time to complete the run.

 **_3949   0: slurmstepd: error: *** STEP 32868137.0 ON h5c01 CANCELLED AT 2022-06-16T18:24:03 DUE TO TIME LIMIT ***

[2022-06-17 15:40] ChunxiZhang-NOAA commented on #1259
@weiyuan-jiang My CMAKE_FLAGS="-DAPP=ATMAERO -DCCPP_SUITES=FV3_GFS_v17_p8 -D32BIT=ON -DDEBUG=ON"

[2022-06-17 15:40] AnningCheng-NOAA commented on #1277
@Ruiyu Sun - NOAA Affiliate ***@***.***> The err file is
at /scratch1/NCEPDEV/stmp2/Anning.Cheng/dt_450_semi/err.  I cannot find the
information there.

On Fri, Jun 17, 2022 at 11:36 AM RuiyuSun ***@***.***> wrote:

[2022-06-17 15:46] RuiyuSun commented on #1277
@AnningCheng-NOAA  at line 3949 in err at /scratch1/NCEPDEV/stmp2/Anning.Cheng/dt_450_semi/err

[2022-06-17 15:47] ChunxiZhang-NOAA commented on #1259
@weiyuan-jiang could you help double check if the files under /work/noaa/hwrf/save/czhang/grt_rad/ufs-weather-model.test/tests/parm/gocart are all correct. The run stopped here:
 0: PASS: fcstRUN phase 1, n_atmsteps =                0 time is        32.645766
 0: UFS Aerosols: Advancing from 2021-03-22T06:00:00 to 2021-03-22T06:12:00

[2022-06-17 15:50] ChunxiZhang-NOAA commented on #1259
@weiyuan-jiang Feel like the source of issue is from MAPL. Here is the error info:
139: [Orion-21-15:318151:0:318151] Caught signal 8 (Floating point exception: floating-point invalid operation)
113: [Orion-21-15:318125:0:318125] Caught signal 8 (Floating point exception: floating-point invalid operation)
120: ==== backtrace (tid: 318132) ====
120:  0 0x00000000018c0764 nlohmann::operator<()  /wor

[2022-06-17 15:51] AnningCheng-NOAA commented on #1277
@Ruiyu Sun - NOAA Affiliate ***@***.***> Good catch! The message
hides deep in the file, not the last few  lines. I have submitted a job
asking for 60 minutes of time and let us see how it goes. I have also
tested GFDL at the same time.

On Fri, Jun 17, 2022 at 11:46 AM RuiyuSun ***@***.***> wrote:

[2022-06-17 15:55] RuiyuSun commented on #1277
@AnningCheng-NOAA I also have a GFDLMP job  in the queue and at /scratch1/NCEPDEV/stmp2/Ruiyu.Sun/FV3_RT/rt_76089/control_p8_gfdlmp_dt_atmos450. :)

[2022-06-17 15:57] uturuncoglu opened #1281 "Issue with building UFS on Cheyenne"
## Description
Building UFS model on Cheyenne is failing with error and seems seems could not load the right netcdf module.

### To Reproduce:
What compilers/machines are you seeing this with?
Give explicit steps to reproduce the behavior.
1. login to Cheyenne
2. check out UFS develop
3. try to run of of the data atmosphere case, `./rt.sh -k -n datm_cdeps_control_cfsr` (not sure others are also fa

[2022-06-17 16:04] jedwards4b commented on #1281
FindNetCDF.cmake is provided by PIO in ParallelIO/cmake/FindNetCDF.cmake
it is not part of the netcdf module.

[2022-06-17 16:08] weiyuan-jiang commented on #1259
It seems you have changed all the field names. Do you change the file name AERO_HISTORY.rc somewhere in the test? In CAP.rc, there is an entry HIST_CF:    AERO_HISTORY.rc  which tells the program to look for AERO_HISTORY.rc

[2022-06-17 16:12] uturuncoglu commented on #1281
@jedwards4b BTW, this is also failing without updating the CDEPS. So, out-of-box UFS has the issue.

[2022-06-17 16:22] ChunxiZhang-NOAA commented on #1259
@weiyuan-jiang the AERO_HISTORY.rc.IN will be copied to AERO_HISTORY.rc  in the run directory. Please ls -l *.rc in this directory /work/noaa/stmp/czhang/stmp/czhang/FV3_OPNREQ_TEST/opnReqTest_233154/atmaero_control_p8_dbg_base
Currently I only modify two files in /work/noaa/hwrf/save/czhang/grt_rad/ufs-weather-model/tests/parm/gocart directory, e.g.,
AERO_HISTORY.rc.IN and CAP.rc.  All modificati

[2022-06-17 17:11] AnningCheng-NOAA commented on #1277
my run from control_p8 except using GFDL MP
and dt_atmos=450s  successfully  completed 10 day tests:
/scratch1/NCEPDEV/stmp2/Anning.Cheng/FV3_RT/rt_32067/control_p8

[2022-06-17 17:36] AnningCheng-NOAA commented on #1277
my run from control_p8 except using
dt_inner=dt_atmos=450s  and sedi_semi=T  successfully  completed 10 day
tests:
/scratch1/NCEPDEV/stmp2/Anning.Cheng/dt_450_semi
It is an issue of time step.

[2022-06-17 17:43] DeniseWorthen commented on #1277
I appreciate all the effort so far. But is is reasonable to expect that the C96 requires a shorter timestep than the C192 (600s)? I remember a few months back when some really short timesteps were required for the C96 and it turned out to be an error in a specific parameterization in the PBL (if I remember correctly).

[2022-06-17 17:55] DeniseWorthen commented on #1281
@uturuncoglu I been running RTs on Cheyenne.intel in the last few days w/o any issue.

[2022-06-17 17:55] AnningCheng-NOAA commented on #1277
@DeniseWorthen, Time may be needed to tune C96 to increase the time step. I believe some parameters are not scale aware.

[2022-06-17 18:01] yangfanglin commented on #1277
@DeniseWorthen  Have any one run C196 (600s) for 10 days ?   @AnningCheng-NOAA could you please give it a try ?

[2022-06-17 18:02] DeniseWorthen commented on #1277
Good point @yangfanglin ! The RT for C192 coupled is 30hours.

[2022-06-17 18:25] AnningCheng-NOAA commented on #1277
A ten days coupled C192_p8 run is submitted at /scratch1/NCEPDEV/stmp2/Anning.Cheng/FV3_RT/rt_177920

[2022-06-17 18:29] DeniseWorthen commented on #1281
@uturuncoglu Update---I just tried to use compile.sh (outside of rt.sh) and got a different error

/glade/work/worthen/ufs_waveRH/tests/build_fv3/CMakeFiles/CMakeOutput.log

EDIT---I found my (stupid) error. It now seems to be building OK.

[2022-06-17 18:43] SMoorthi-emc commented on #1277
I made two, atm only, 20 day runs at C96 on wcoss2.
(1) with GFDL MP and deltim=450s
(2) with MG3 and SHOC with deltim=600s.
Both runs finished 20 days.
The GFDL MP was unstable with 600s.
Moorthi

On Fri, Jun 17, 2022 at 2:25 PM AnningCheng-NOAA ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Cente

[2022-06-17 18:49] AnningCheng-NOAA commented on #1277
Great to know. @SMoorthi-emc! I am confident in the stability of  MG3 and SHOC

[2022-06-17 18:56] weiyuan-jiang commented on #1259
In general, If _FillValue is defined then it should be scalar and of the same type as the variable. I can confirm that MAPL (or ESMF ) has a problem reading the Fill_value with NaNf or Nan.  You can have a bandaid fix by changing line of 1093 in MAPL/griddedio/GriddedIO.F90

fill_value = MAPL_UNDEF
!call ESMF_AttributeGet(field,name=fill_value_label,value=fill_value,_RC)

At the same time, we will

[2022-06-17 19:07] bbakernoaa commented on #1259
We can also fill this with an appropriate value. It doesn’t have to include NaNf. Didnt know about this issue.

[2022-06-17 19:50] uturuncoglu commented on #1281
@DeniseWorthen strange! let me try again with fresh copy.

[2022-06-17 20:30] uturuncoglu commented on #1281
@DeniseWorthen I am not sure what was the issue but now it is working also for me. Sorry for false alert! I am closing this issue. Thanks for your help. I have another issue but that could be the CDEPS PR that I am testing with UFS.

[2022-06-17 20:30] #1281 closed

[2022-06-17 21:22] ChunxiZhang-NOAA commented on #1259
@weiyuan-jiang Thank you!
@jkbk2004 Could modify MAPL source code as Weiyuan&Barry suggested and reinstall MAPL, thanks.

[2022-06-17 21:42] jkbk2004 commented on #1259
@ChunxiZhang-NOAA I will try to tweak 1093 in MAPL/griddedio/GriddedIO.F90 and reinstall. If it's done over weekend, I will leave a note here.

[2022-06-17 21:51] ChunxiZhang-NOAA commented on #1259
@jkbk2004 Ok. Have a great weekend.

[2022-06-18 01:21] SMoorthi-emc commented on #1277
I made another run with the Thompson scheme with deltim=600s and
dt_inner=150s.  The run finished 20 days.
I can't see the results as grads still does not work on Dogwood.
Moorthi

On Fri, Jun 17, 2022 at 2:49 PM AnningCheng-NOAA ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmen

[2022-06-18 18:06] weiyuan-jiang commented on #1259
Don't waste your time on tweaking line 1093. The better way ( or  the right way) of  change in MAPL  is on the way https://github.com/GEOS-ESM/MAPL/pull/1576

[2022-06-18 18:32] jkbk2004 commented on #1259
Sure!

[2022-06-20 01:09] SMoorthi-emc commented on #1277
I am able to make a 20 day run with GFDL MP  with DELTIM=600s
(the original failure was related to initial condition)
Moorthi

On Fri, Jun 17, 2022 at 9:21 PM Shrinivas Moorthi - NOAA Federal <
***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Resea

[2022-06-20 11:22] binli2337 commented on #1036
@jiandewang The following 4 tests have been done using the updated MOM6 code with mixed mode FMS on Gaea. The MOM6 is from https://github.com/jiandewang/MOM6/tree/test/NCAR-20220603. Three tests can reproduce the baseline.

1. datm_cdeps_control_cfsr (PASS)
2. datm_cdeps_debug_cfsr (PASS)
3. cpld_debug_p8 (PASS)
4. cpld_control_p8 (Results are different from the baseline.)

[2022-06-20 12:26] jiandewang commented on #1036
@binli2337 this is what I expected. MOM6 code you used is from latest NCAR-candidate (https://github.com/mom-ocean/MOM6/pull/1571) which contains one wave-related bug fixing and that will change answer for S2SW jobs. Thanks for the testing.

[2022-06-21 13:50] AnningCheng-NOAA commented on #1277
coupled C192P8 control run crashed just after 30 days at /scratch1/NCEPDEV/stmp2/Anning.Cheng/FV3_RT/rt_177920/cpld_control_c192_p8
Good news is that there is T range warning.  bad news is that  the errors come from all the physics processes
15: fv3.exe            000000000365E3F6  samfshalcnv_mp_sa         291  samfshalcnv.f
17: fv3.exe            0000000003774224  ugwp_driver_v0_mp        1355

[2022-06-21 14:34] bbakernoaa commented on #1259
@ChunxiZhang-NOAA In the meantime you could try to test this fengsha input file.  It doesn't have any `NaNf` fill values.

You just need to modify the `parm/gocart/AERO_ExtData.rc` like so:

### BEFORE
[code]

### AFTER
[code]

[2022-06-21 14:58] ChunxiZhang-NOAA commented on #1259
@bbakernoaa  No files found in /work2/noaa/global/wkolczyn/noscrub/global-workflow/gocart_emissions/

[2022-06-21 15:02] bbakernoaa commented on #1259
@ChunxiZhang-NOAA Whoops

[code]

[2022-06-21 15:41] ChunxiZhang-NOAA commented on #1259
@bbakernoaa The debug test was successful when using your new data!

[2022-06-21 15:43] bbakernoaa commented on #1259
@ChunxiZhang-NOAA Thats great!  I can make updated versions of these for the RTs.  It would require a file change in the RT files but the data would be the same.  Just updated `_FillValue`s in the files.

[2022-06-21 18:53] ChunxiZhang-NOAA commented on #1259
@bbakernoaa Shall we wait for the MAPL updates?  If the updated MAPL can solve the issue, we probably don't need to modify RTs.  If MAPL can't be updated in time, your updated data will be used?

[2022-06-21 19:01] bbakernoaa commented on #1259
@ChunxiZhang-NOAA I don't see the need to wait for the MAPL update if we have something going.  I say that we update the files what we have now.  Put it through the PR and update MAPL once it is ready.  We may end up waiting a long time for the MAPL update vs having the files ready now.

This still needs the updated MAPL that was installed on ORION already though. It is needed to coincide with the

[2022-06-21 19:05] pjpegion opened #1283 "write_dopost not writing out ice mask properly"
## Description
I am looking at the variable landsfc in the GFSFLX.GrbF<fhr> files, and I expect it to have values of 0 over open water, 1 over land, and 2 over ice. But what I see is only values of 2 near the ice-margin.
  I re-ran the same case turning off write_dopost, and when  I get the netcdf output, the field looks like what I expect.

### To Reproduce:
What compilers/machines are you seeing

[2022-06-21 19:26] ChunxiZhang-NOAA commented on #1259
@bbakernoaa  Sounds good. We don't wait for the MAPL updates then. Besides those three files, e.g., AERO_ExtData.rc, AERO_HISTORY.rc.IN and CAP.rc, any other files need to be modified for RTs?
@jkbk2004 Do you know who will install mapl2.21.3/gftl-shared1.5.0 on Jet/Hera/WCOSS/?

[2022-06-21 20:11] jkbk2004 commented on #1259
@ChunxiZhang-NOAA should Kyle and Hang. I think we need to create a hpc-stack issue for this. I will do this evening. in meeting now.

[2022-06-21 21:04] ChunxiZhang-NOAA commented on #1259
@jkbk2004  Ok, thanks for helping to create an issue.

[2022-06-21 22:45] DusanJovic-NOAA commented on #1283
landsfc variable (discipline=2, category=0, parameter=0) in grib files is land/sea mask. (sea=0, land=1), no other value should be specified. If I'm interpreting grib documentation correctly:

https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_table4-2-2-0.shtml

those values of 2 near the ice/open water boundary are incorrect (should be 0), in my opinion.

[2022-06-22 12:25] JessicaMeixner-NOAA commented on #1283
@pjpegion this seems similar to a previous upp issue here: https://github.com/NOAA-EMC/UPP/issues/405

[2022-06-22 13:40] #1278 closed

[2022-06-22 14:22] DusanJovic-NOAA commented on #1283
@pjpegion I repeated the same test as you did and found that in addition to adding `params_grib2_tbl_new`, `postxconfig-NT_FH00.txt` and `postxconfig-NT.txt` files to the run directory you also need file named `itag`, which defines, among other things, `modelname` which is used in UPP to properly set the vales of land/sea mask, as described in the above UPP issue.

If `itag` file is not present in

[2022-06-22 14:32] pjpegion commented on #1283
@DusanJovic-NOAA thanks. Adding the itag now create a land/sea mask that makes sense.  But since ice is not included in this mask, it does not make sense to me to have it in the output since it does not vary with time.

[2022-06-22 14:42] DusanJovic-NOAA commented on #1283
That's a different issue. As far as I understand, the land/sea mask variable LAND (as defined by the GRIB standard) is always static. There are other variables, like ICEC (Ice cover) (https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_table4-2-10-2.shtml) that can be used to describe changing ice vs. non-ice points.

[2022-06-22 14:45] pjpegion commented on #1283
Indeed,  I'm going to close this issue since the itag resolved it.

[2022-06-22 14:45] #1283 closed

[2022-06-22 15:37] binli2337 opened #1284 "Update CDEPS componet to include the latest changes from ESCOMP/CDEPS"
## Description
Update CDEPS component to include the latest changes from ESCOMP/CDEPS.

## Solution
1. Update CDEPS component.
2. Update parameters "taxmode01" and "stream_vectors01" in datm streams files.
3. Revised GEFS forcing files will be used. The reference time in the revised GEFS forcing files is changed from 0001-01-01 00:00:00 to 1970-01-01 00:00:00.0.

## Related issue and pull request:

[2022-06-22 17:59] pjpegion commented on #1277
I'm not surprised the model is crashing.  I have been looking at vertical profiles of temperature, and on occasion, I see unphysical profiles at C96,C192, and C384, but less frequent at C384.  I first noticed the weird profiles while running C96 with P8a, but changing to P8c did not make much of a difference.
I ran 3 regression tests cpld_bmark_p8 (C384), cpld_control_c192_p8 (C192), and cpld_cont

[2022-06-22 18:16] yangfanglin commented on #1277
@pjpegion are these plots made with data on the native vertical coordinate ?  They look like the typical zig-zag problem found in some models in which the fields on integer layers are not probably computed using fields on half-integer layers.  It is hard to say what the causes are in these RT tests, but should the model be run using hydrostatic instead of non-hydrostatic dycore at such coarse C96

[2022-06-22 18:20] pjpegion commented on #1277
This is on model levels.  We probably should not be running non-hydrostic at the low resolutions, but that is probably a different issue.

[2022-06-24 02:14] jkbk2004 commented on #1259
@weiyuan-jiang I realized the MAPL PR was merged. Is the patched MAPL-2.21.3 version released quickly?

[2022-06-24 11:54] SamuelTrahanNOAA opened #1288 "32-bit physics"
## Description
The FV3 and CCPP should be able to run with 32-bit physics, which is expected to speed up computation. Other models, such as the HRRR, RAP, and HWRF have used 32 bit reals for some of their physics for years. Many models before them have done the same.

## Solution
Merge https://github.com/ufs-community/ufs-weather-model/pull/1215

## Alternatives

Switch to the Neptune model, which

[2022-06-24 12:02] SamuelTrahanNOAA opened #1289 "MOM6 and FV3 have conflicting precision requirements when FV3 is built with 32-bit physics"
## Description

When FV3 is built with 32-bit physics, MOM6 refuses to build because it expects stochastic physics to use 64-bit reals. Possible solutions are:

1. Change the MOM6 to use a type provided by stochastic physics
2. Change the stochastic physics to have a kind_ocn used for ocean-related routines. Internally in stochastic physics, everything will be 32 or 64 bits, depending on the stoch

[2022-06-24 12:04] SamuelTrahanNOAA opened #1290 "RAP&HRRR tests are not 12 hours"
## Description
A previous PR was intended to reduce RAP and HRRR regression test forecast lengths to 12 hours, but it did not. This is easy to fix, and a PR will appear shortly.

### To Reproduce:
1. Run the tests.
2. Witness 24 hour forecast lengths

[2022-06-24 18:43] #1252 closed

[2022-06-24 21:48] yangfanglin commented on #1274
@DeniseWorthen @junwang-noaa @ChunxiZhang-NOAA Can this PR be combined with another existing PR ?   The changes are rather simple.  (@JessicaMeixner-NOAA ).

I have created a new branch https://github.com/yangfanglin/ufs-weather-model/tree/no_chsp out of the authoritative repo as of 5pm on 6/24/2022, in which I made the following changes to simplify the settings.  Now lheatstrg is set T or F depen

[2022-06-25 23:59] jkbk2004 commented on #1259
@ChunxiZhang-NOAA mapl/2.22.0-esmf-8.3.0b09 is installed on orion: module use /work/noaa/epic-ps/tools/intel/2022.1.2/modulefiles/stack/, Take a look at the modulefiles /work/noaa/epic-ps/jongkim/4Chunxi While you confirm with test, we can follow up with nceplibs team on contrib directory as well across machines. I am going to install it on Cheyenne now.

[2022-06-26 16:17] yangfanglin commented on #1274
Executed "rt.sh -e -c -k -l rt.conf" on WCOSS.  104 out of total 105 RT tests passed.  The one failed is cpld_debug_p8, with the error message " Assertion failed in file ../../src/mpid/ch3/channels/nemesis/netmod/dapl/dapl_send_ud.c at line 2143: vc_reserve_area->RNDV_SEND_STATUS == RNDV_SEND_WAITING_FIN_REPLY".  Rerunning "rt.sh -c -k -n cpld_debug_p8" succeeded.

[2022-06-26 17:08] ChunxiZhang-NOAA commented on #1259
@jkbk2004  I got the following errors when compiling:
-- Found g2tmpl: /work/noaa/epic-ps/tools/intel/2022.1.2/intel-2022.1.2/g2tmpl/1.10.0/lib/libg2tmpl.a (found version "1.10.0")
Force 32-bit build for GOCART
CMake Error at GOCART/CMakeLists.txt:68 (find_package):
  By not providing "FindMAPL.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided

[2022-06-26 17:11] ChunxiZhang-NOAA commented on #1274
@yangfanglin I can add these changes into PR#1192.

[2022-06-26 19:26] jkbk2004 commented on #1259
@ChunxiZhang-NOAA I was able to build and run develop branch atmaero_control_p8 with mapl-2.22.0. Can you take a look at /work/noaa/epic-ps/jongkim/UFS-RT-tests/rt-dev ? Its not related to your compile errors but I used -DUSE_EXTDATA2G=OFF to build the mapl. I am not sure if you need that the gocart build for your PR.

[2022-06-26 22:34] ChunxiZhang-NOAA commented on #1259
@jkbk2004 Your GOCART is old. Please check out 72ddb16 to see if you can compile, thanks.

[2022-06-26 23:19] jkbk2004 commented on #1259
@ChunxiZhang-NOAA It seems builds ok with  72ddb16. Check /work/noaa/epic-ps/jongkim/rt-dev/stmp/jongkim/FV3_RT/rt_372026/compile_001

[2022-06-27 00:52] ChunxiZhang-NOAA commented on #1259
@jkbk2004 I have no idea why I can't compile successfully. My problem is: Could not find a package configuration file provided by "MAPL" with any of
  the following names:

    MAPLConfig.cmake
    mapl-config.cmake

[2022-06-27 00:58] jkbk2004 commented on #1259
@ChunxiZhang-NOAA can you point me to the path of your working directory on orion?

[2022-06-27 12:21] #1241 closed

[2022-06-27 12:41] ChunxiZhang-NOAA commented on #1259
@jkbk2004 The directory is: /work/noaa/hwrf/save/czhang/grt_rad/ufs-weather-model.test

[2022-06-27 15:38] jkbk2004 commented on #1259
@ChunxiZhang-NOAA can you check /work/noaa/epic-ps/jongkim/UFS-RT-tests/rt-1192-1259 and /work/noaa/epic-ps/jongkim/rt-1192-1259/stmp/jongkim/FV3_RT/rt_53577/compile_001 ? it builds ok with your 1192 branch and I replace with gocart 72dd.

[2022-06-27 15:40] DusanJovic-NOAA opened #1295 "Remove WCOSS (Dell and Cray) support from regression tests"
WCOSS (dell and Cray) will be decommissioned by the end of this month. We stopped running regression tests on these two machines.
All WCOSS specific code in regression test scripts and configuration files should be removed.

[2022-06-27 15:54] JessicaMeixner-NOAA commented on #1277
We do appear to have some instabilities at C384 as well.  I tested this weekend running longer simulations going back to using the regular lat/lon 30m wave grid, for the 20120101 IC, at day 12 we start running into Range_check warnings and on day 15 the model crashes.
log files can be found on hera here: /scratch1/NCEPDEV/climate/Jessica.Meixner/try050/tp8c2012010100/COMROOT/tp8c2012010100/logs/20

[2022-06-27 16:41] yangfanglin commented on #1277
@JessicaMeixner-NOAA We have run a lot of C382L127 atmos-only experiments with p8c configuration without any issues.  We need to test coupled and uncoupled with the IC you used.

[2022-06-27 17:43] ChunxiZhang-NOAA commented on #1259
@jkbk2004 I didn't see the differences between your code and mine. I cloned my branch, updated the GOCARD hash, then copied your modulefiles. I still got the same error messages. I suspect if I need to set some environmental variables for MAPL, or the installed MAPL module need to make some adjustments.

Found Python: /apps/intel-2022.1.2/intel-2022.1.2/intelpython/latest/bin/python3.9
Force 64 bi

[2022-06-27 18:05] JessicaMeixner-NOAA commented on #1277
@yangfanglin just submitted the atm-only for that IC date.  Several other runs gave me range warnings but did not crash.  I did have issues with certain resource allocations on other IC dates but they seemed to be memory related as changing the resources got past early errors.

[2022-06-27 18:53] jkbk2004 commented on #1259
@ChunxiZhang-NOAA I think permission issue. see if you can load modules ok. module use /work/noaa/epic-ps/tools/intel/2022.1.2/modulefiles/stack/
module load hpc/1.2.0
module load hpc-intel/2022.1.2
module load hpc-impi/2022.1.2
2:36
module load mapl/2.22.0-esmf-8.3.0b09 and module avail and module list

[2022-06-27 19:49] ChunxiZhang-NOAA commented on #1259
@jkbk2004 It worked after I loaded esmf/8.3.0b09 before mapl/2.22.0-esmf-8.3.0b09.

[2022-06-28 12:57] JessicaMeixner-NOAA commented on #1277
@yangfanglin The atm-only with the same IC  also fails with a numerical instability.  The log can be found at: /scratch1/NCEPDEV/climate/Jessica.Meixner/try050/atmonly/COMROOT/atmonly/logs/2012010100/gfsfcst.log.0

[2022-06-28 14:04] DeniseWorthen opened #1296 "Use rectilinear 30m grid for bmark p8 test"
## Description
The 1/4 deg tripole grid is too slow for P8 to run w/in the 8-hour time frame; the corresponding regression test needs to be switched to the 1/2 deg rectilinear grid that will be used in the P8 runs.

## Solution

Update the RT scripts to use a mesh and wave domain different than the ocean and ice.

[2022-06-28 14:21] yangfanglin commented on #1277
@RuiyuSun @AnningCheng-NOAA need your help to check and investigate why this case if failing even in atmos-only mode. Thanks

[2022-06-28 14:40] LydiaStefanova-NOAA commented on #1277
What I see from the logs is that the warnings that end up in crashes are at the top of the atm (L=127/126). In the coupled runs, there are also some warnings from the lowest level (L=1) but these don't appear to necessarily lead to crashes (i.e., L=1 warnings are present in several of the coupled runs that complete successfuly). It's interesting that in the crashing case, both the coupled and unco

[2022-06-28 15:24] DeniseWorthen commented on #1296
Duplicate issue to #1297. Closing.

[2022-06-28 15:24] #1296 closed

[2022-06-28 20:52] AnningCheng-NOAA commented on #1277
Jessica:
The workflow cannot get the ICs:
/scratch1/NCEPDEV/stmp2/Anning.Cheng/ROTDIRS/atmonly/logs/2012010100/gfsgetic.log

+ htar -tvf
/NCEPPROD/hpssprod/runhistory/rh2012/201201/20120101/com_gfs_prod_gfs.20120101_00.gfs_nca.tar
[connecting to hpsscore1.fairmont.rdhpcs.noaa.gov/1217]

On Tue, Jun 28, 2022 at 8:57 AM Jessica Meixner ***@***.***>
wrote:

[2022-06-28 21:07] JessicaMeixner-NOAA commented on #1277
@AnningCheng-NOAA you have to copy/link the ICs yourself to use the benchmark ICs instead of using the gfsgetic job, so:

[code]

[2022-06-28 21:09] JessicaMeixner-NOAA commented on #1277
After linking the ICs, the forecast job has the correct dependency and will skip the getic job automatically with the workflow.

[2022-06-28 21:11] AnningCheng-NOAA commented on #1277
Jessica, where should I put those two lines?

On Tue, Jun 28, 2022 at 5:09 PM Jessica Meixner ***@***.***>
wrote:

[2022-06-28 21:12] AnningCheng-NOAA commented on #1277
Jessica, where should I put those two lines? I have only copied your exp
dir and used your workflow directly.

On Tue, Jun 28, 2022 at 5:09 PM Jessica Meixner ***@***.***>
wrote:

[2022-06-28 21:14] JessicaMeixner-NOAA commented on #1277
@AnningCheng-NOAA you need to run those two lines from the command line filling in the  $COMROT and $PSLOT to match how you set up your experiment.  I typically run these right after running  ./setup_workflow_fcstonly.py and before I run the first rocotorun or set up my cronjob when setting up the new experiment.

[2022-06-28 21:20] RuiyuSun commented on #1277
@AnningCheng-NOAA I just copied the ICs to my own ROTDIR. A Soft link will work too.

[2022-06-28 21:32] #1255 closed

[2022-06-29 00:49] AnningCheng-NOAA commented on #1277
@Jessica Meixner - NOAA Federal ***@***.***> @Fanglin Yang -
NOAA Federal ***@***.***> @Ruiyu Sun - NOAA Affiliate
***@***.***> , I had a successful run. The only thing I modified is
    export dt_inner=$((DELTIM))
exp dir: /scratch1/NCEPDEV/climate/Anning.Cheng/para_gfs/atmonly
rotdir: /scratch1/NCEPDEV/stmp2/Anning.Cheng/ROTDIRS/atmonly

On Tue, Jun 28, 2022 at 5:21 PM RuiyuSun ***@***.***> wrot

[2022-06-29 01:52] RuiyuSun commented on #1277
@AnningCheng-NOAA that is good to know. My run also completed with dt_inner = 75s.

[2022-06-29 01:55] JessicaMeixner-NOAA commented on #1277
@AnningCheng-NOAA @RuiyuSun what should dt_inner be for C384?

[2022-06-29 01:59] AnningCheng-NOAA commented on #1277
I 'd suggest  dt_inner=$(DELTIM) when sedi_semi=.true.

On Tue, Jun 28, 2022 at 9:55 PM Jessica Meixner ***@***.***>
wrote:

[2022-06-29 02:15] RuiyuSun commented on #1277
@JessicaMeixner-NOAA:  @AnningCheng-NOAA is right.

Semi-Lagrangian sedimentation and innerloop are two different methods to improve the stability of the Thompson MP in the GFS. It is recommended they are used mutually exclusively for now. This can be done at the script level by adding the following lines in the config.fcst in the Thomspon MP block (elif [ $imp_physics -eq 8 ]; then # Thompson).

[2022-06-29 12:25] JessicaMeixner-NOAA commented on #1277
In the ufs-weather-model dt_inner for cpld_bmark_p8 is:
dt_inner     = 150

(which is taken from the code here: https://github.com/ufs-community/ufs-weather-model/blob/develop/tests/default_vars.sh#L391-L395 )

This is consistently used in both the ufs-waether-model regression tests and in the global-workflow.  If these are incorrect values, please make pull requests to both ufs-weather-model and

[2022-06-29 12:50] yangfanglin commented on #1274
Add condition if sedi_semi=T then dt_inner=dt_atmos in

modified:   tests/cpld_bmark_p8
    modified:   tests/cpld_bmark_p8_35d
    modified:   tests/cpld_control_c192_p8
    modified:   tests/cpld_restart_bmark_p8
    modified:   tests/cpld_restart_c192_p8

RT tests for these cases on WCOSS are successful.  changes are committed to https://github.com/yangfanglin/ufs-weather-model/tree/no_chsp

 (

[2022-06-29 13:38] #1295 closed

[2022-06-29 15:25] DeniseWorthen commented on #1274
If the P8 configuration is ``sedi_semi=T``, then the ``dt_inner`` for any P8 test will need to be "hard-coded" to be the dt_atmos. The P8 configurations are static configurations as far as the RTs are concerned.

[2022-06-29 15:37] yangfanglin commented on #1274
@DeniseWorthen Please see the changes I made in https://github.com/yangfanglin/ufs-weather-model/tree/no_chsp.  dt_inner settings in the few p8 tests are now conditional dependent on sedi_semi

[2022-06-29 15:40] JessicaMeixner-NOAA commented on #1274
@yangfanglin should DT_INNER be changed fro p8 based standalone tests too?

[2022-06-29 15:47] yangfanglin commented on #1274
@JessicaMeixner-NOAA Yes.   I first tried to change default_vars.sh for all conditions/cases but found the settings are convoluted.  I will make another attempt to update default_vars.sh.

[2022-06-29 15:53] DeniseWorthen commented on #1274
@yangfanglin The setting should not be conditional since the P8 configuration assumes semi_sedi is True. Also, the same setting will need to be added to all the P8 restart tests.

[2022-06-29 16:00] yangfanglin commented on #1274
semi_sedi is true in default_vars.sh.  Then  dt_inner is set based on sedi_semi in, for instance,  tests/cpld_bmark_p8, as

export DT_INNER=${DT_INNER_c384}
if [[ $SEDI_SEMI = .true. ]]; then
 export DT_INNER=$DT_ATMOS
fi

[2022-06-29 18:20] jiandewang opened #1301 "update MOM6 to its main branch 20220629 commit"
MOM6 main branch is updated on 20220629 (NCAR 20220603 candidate), need to make corresponding updating in UFS. Note a new BL is needed for this updating as a wave related bug is fixed (see detail at https://github.com/mom-ocean/MOM6/pull/1571)

[2022-06-29 19:20] DeniseWorthen commented on #1277
All--I ran the control_p8 test again with the only change being to set ``dt_inner=dt_atmos = 720`` (sedi_semi=true). It still failed, after fh=180 (previously it was after fh174). The log shows
[code]

[2022-06-30 02:39] junwang-noaa commented on #1289
@SamuelTrahanNOAA MOM6 has to run in 64 bit. So when you build fv3 physics, does the stochastic physics need to build with 32bit? Is that the issue in MOM6?

[2022-06-30 02:49] junwang-noaa commented on #1277
@yangfanglin @RuiyuSun @AnningCheng-NOAA From the two issues #1277 & #1274, if I understand correctly, the model will fail with sedi_semi=true and dt_inner=dt_atmos (in C96mx100 or C384mx025 resolution). E.g. the cpld benchmark p8 test is currently running with sedi_semi=true, dt_inner=150, dt_atmos=300, and some prototype cases failed with this setting. Are we going to change dt_inner=dt_atmos=30

[2022-06-30 02:53] junwang-noaa commented on #1270
@edwardhartnett Would you please take a look at the NetCDF4 issue here? We hope to understand how the chunksizes (1, 6, 300, 439) for data array sphum with dimension (1, 65, 2700, 3950) are decided in NetCDF when they are not specified in the netcdf calls. Thank you very much!

[2022-06-30 03:07] yangfanglin commented on #1277
@junwang-noaa  For the failed C96 benchmark test Denise reported,  we think the timestep (700s) is too large no matter what microphysics options are used.  We recommended using a 450s timestep for C96 benchmark tests, and setting sedi_semi=T and dt_inner=dt_atmos merely for consistency.

For the prototypes (C384L127), the failed case worked by setting sedi_semi=T and dt_inner=dt_atmos.  Although M

[2022-06-30 07:30] edwardhartnett commented on #1270
NetCDF chooses chunksizes as best it can, but is not always going to make a good choice.

Fortunately, the netCDF default choice can easily be overwritten. If using the F90 API, set the optional parameter chunksizes to the sizes that you want. That is the answer to your performance problems.

[2022-06-30 11:30] JessicaMeixner-NOAA commented on #1277
The updated dt_inner=dt_atmos setting allowed the 20120101 case (C384 benchmark case from workflow) to finish 35 days, however the the 20150701 case still has a numerical instability (see log: /scratch1/NCEPDEV/climate/Jessica.Meixner/try050/tfix2015070100/COMROOT/tfix2015070100/logs/2015070100/gfsfcst.log).

[2022-06-30 11:51] RuiyuSun commented on #1277
@JessicaMeixner-NOAA This is a coupled case, right?

[2022-06-30 11:53] AnningCheng-NOAA commented on #1277
Jessica:

Can atmonly run pass 35 days run? It looks like a coupled run.

On Thu, Jun 30, 2022 at 7:31 AM Jessica Meixner ***@***.***>
wrote:

[2022-06-30 11:55] JessicaMeixner-NOAA commented on #1277
@RuiyuSun @AnningCheng-NOAA the goal for the prototype/benchmark runs is to be coupled.  Your results say that the uncoupled 20120101 IC date will pass in the uncoupled mode.  I have only run the coupled model for the 20150701 case, however I suspect that the atm-only will fail as well.

[2022-06-30 12:02] binli2337 commented on #1203
The FV3 ICs for P8c have been copied to  /scratch1/NCEPDEV/nems/emc.nemspara/RT/NEMSfv3gfs/BM_IC-20220207/YYYYMMDD00/p8c for the 8 cases. Please see issue #1250 .

[2022-06-30 12:20] JessicaMeixner-NOAA commented on #1203
So it looks like FV3BMIC needs to be updated to p8c so that we are actually using these ICs.

[2022-06-30 12:34] junwang-noaa commented on #1277
@yangfanglin Thanks for the explanation. May I ask what are the recommended time steps for C192mx050 and C384mx025? Currently we have 600s for C192mx050 and 300s for C384mx025.

[2022-06-30 12:57] yangfanglin commented on #1277
@junwang-noaa I'd recommend using 450s for C192 and 300s for C384

[2022-06-30 15:17] SamuelTrahanNOAA commented on #1289
The way I set it up, the stochastic physics uses the kind_phys from fv3, except for calculations that must be double precision. That's because I didn't realize the ocean called stochastic_physics directly. The types should probably be rearranged like this:

1. kind_real (or similar) inside stochastic_physics for most calculations
2. kind_atmos for the atmosphere front-ends
3. kind_ocean for the oc

[2022-06-30 15:18] JessicaMeixner-NOAA commented on #1277
The atm-only did pass for C384mx025 for 20150701: /scratch1/NCEPDEV/climate/Jessica.Meixner/try050/atmonly02/COMROOT/atmonly02/logs/2015070100/gfsfcst.log

[2022-06-30 15:19] SamuelTrahanNOAA commented on #1289
To clarify, stochastic_physics uses the same C preprocessor flag as FV3 (`#ifdef CCPP_32BIT`) to decide on single vs. double precision, regardless of what MOM6 wants.

[2022-06-30 15:29] binli2337 commented on #1203
@junwang-noaa @DeniseWorthen The wave ICs have been copied to /scratch1/NCEPDEV/nems/emc.nemspara/RT/NEMSfv3gfs/BM_IC-20220207/YYYYMMDD00/wav_p8c/mx025.

[2022-06-30 15:32] AnningCheng-NOAA commented on #1277
@Jessica Meixner - NOAA Federal ***@***.***> good to know.
How do you get the ICs for this case?

On Thu, Jun 30, 2022 at 11:19 AM Jessica Meixner ***@***.***>
wrote:

[2022-06-30 15:36] RuiyuSun commented on #1277
Geat! This means we don't have to make runs by using a short time step with this case.

[2022-06-30 15:38] JessicaMeixner-NOAA commented on #1277
@RuiyuSun while the atm-only succeeds, the coupled model still fails due to an atmospheric model instability for this initial condition.

[2022-06-30 17:25] JessicaMeixner-NOAA commented on #1277
@AnningCheng-NOAA the benchamrk ICs for the atmosphere are generated by taking GEFSrr ICs replacing land fields with fields from a land-spin up run and adding variables for GOCART.