[2021-12-10 18:26] climbfuji opened #952 "Update global regression tests for RAP (formerly GSL) physics"
## Description

The GSL regression tests still use the old C96L64 input data from GFS v15. The tests must be updated to use the new C96L127 GFS v16 input data. Also, the tests should all be renamed to remove the institution (GSD, GSL) from the name and base it on an application/model (RAP in this case).

This will be done together with an update to several of the RAP physics from the NOAA-GSL gsl/

[2021-12-10 22:21] MatthewMasarik-NOAA commented on #229
From testing last week we concluded that we aren't able to add WW3 into debug mode prior to the CMAKE build system.  The determining factor was we could not consistently pass RTs when we alternated debug mode (ON/OFF) for runs successively or concurrently, though each of the runs were consistently successful when run as a one-off in a fresh repository.  For those interested in doing one-off debug

[2021-12-11 01:47] MatthewMasarik-NOAA commented on #229
One correction to the code above, the `optl` for 'debugging options' needs to be retained.
[code]

[2021-12-12 21:08] climbfuji opened #953 "Complete feature tests for RAP physics"
## Description

PR https://github.com/ufs-community/ufs-weather-model/pull/937 adds several regression tests based on the RAP physics, including feature tests (restart, decomp, 2threads, ...). The following test fails with the RAP suite + GFS SFCDIFF:
[code]
The following tests fail with the RAP suite (default MYNN SFC):
[code]
It seems like that the decomp issue is unrelated to the surface layer

[2021-12-13 14:19] #952 closed

[2021-12-13 14:27] climbfuji commented on #553
@dustinswales has this issue been fixed?

[2021-12-13 16:33] dustinswales commented on #553
@climbfuji
Resolved. Closing

[2021-12-13 16:33] #553 closed

[2021-12-13 19:16] pjpegion opened #955 "Model crashes in debug model with do_ca=True, warm_start=True, but without CA restarts"
## Description
In debug mode, the model crashes, and in production mode, the model runs, but gives unphysical answers when warm starting the model and Cellular Automata active, but not not suppling the model CA restarts.

### To Reproduce:
What compilers/machines are you seeing this with?
Give explicit steps to reproduce the behavior.
1. Run a warm start case with DO_CA=True in debug mode without

[2021-12-14 14:04] #945 closed

[2021-12-14 14:08] climbfuji commented on #955
Closed via https://github.com/ufs-community/ufs-weather-model/pull/943

[2021-12-14 14:08] #955 closed

[2021-12-14 18:13] binli2337 opened #956 "Update regression test scripts for weekly tests"
## Description
The current regression test scripts are designed to either create a new baseline or compare output files with those from previous baseline automatically after the models are completed.

For the weekly tests, we only want to know if the models are completed successfully. To do so, we need to update several scripts.

## Solution
The following scripts will be updated:
rt.sh
run_test.sh

[2021-12-14 20:55] DeniseWorthen opened #958 "fv3_esg_HAFS_v0_hwrf_thompson_debug fails when compiling with -init=snan,arrays on Cheyenne.intel"
## Description

In PR #935, the compile flag ``-init=snan,arrays`` was added for Intel debug. On Cheyenne, the
``fv3_esg_HAFS_v0_hwrf_thompson_debug`` test failed with

```MPT: shepherd terminated: r2i3n34.ib0.cheyenne.ucar.edu - job aborting```

which usually indicates an issue w/ memory.

### To Reproduce:

Run ``fv3_esg_HAFS_v0_hwrf_thompson_debug`` test on Cheyenne.intel. The job fails as desc

[2021-12-14 22:24] climbfuji commented on #958
We should consider removing the `fv3_*_HAFS_v0_hwrf_thompson*` tests entirely (including test setup files and input data), they are superseded by the new `*hafs*` (lowercase) tests.

[2021-12-14 22:33] DeniseWorthen commented on #958
So that looks like these 4 tests both Intel and GNU:

[code]

[2021-12-14 22:39] BinLiu-NOAA commented on #958
@climbfuji, Agreed! We can add a hafs_regional_atm_hwrf_thompson test (or something similar) in the HAFS RT section, and retire these following four RTs:
fv3_HAFS_v0_hwrf_thompson
fv3_esg_HAFS_v0_hwrf_thompson
fv3_HAFS_v0_hwrf_thompson_debug
fv3_esg_HAFS_v0_hwrf_thompson_debug

[2021-12-14 22:39] climbfuji commented on #958
Yes, I think these can go. Note that this will mean that some "flavors" of the PBL scheme (triggered by the HWRF_PBL switch) will no longger be tested.

[2021-12-15 00:59] junwang-noaa commented on #958
@BinLiu-NOAA Can we remove those 4 tests and you can create a hafs_regional_atm_hwrf_thompson test  in HAFS RT section later? Thanks.

[2021-12-15 01:14] BinLiu-NOAA commented on #958
@junwang-noaa, That sounds good to me. I can work with @ChunxiZhang-NOAA to add a hafs_regional_atm_hwrf_thompson test in the HAFS RT section later. Thanks!

[2021-12-15 13:41] #580 closed

[2021-12-15 19:01] pjpegion opened #960 "Need flexible output times for ocean model"
## Description
When starting the coupled model from the end of the IAU window (FHR03), the ocean daily output becomes 03Z to O3Z averages.
This also messes up the writing of the 6-hourly data since instead of creating 00Z,6Z,12Z, and 18Z files, it creates 03Z, 09Z,15Z,21Z files.

## Solution
I would like to see a flag that we can pass to the ocean model to accumulate averages, write out files base

[2021-12-15 19:29] jiandewang commented on #960
@pjpegion "the ocean daily output becomes 03Z to O3Z averages." is there a typo here ? do you mean it becomes 03-09Z average ?
Early version of FMS only has the capability of output file names with time stamp as the middle of the integration (and this is what we are using in diag_table). But in FMS2 it can do for the beginning, middle and end of time integration.

[2021-12-15 19:40] pjpegion commented on #960
@jiandewang, not a typo.  In a cold start the daily average is from 0Z to 0Z the next day.  In a warm start at 3Z,  the daily average is 03Z to 03Z the next day.

This is the time bounds from the ocn_daily_2016_01_04.nc file from a warm start (which starts at 3Z):
time_bnds =  0.125, 1.125 ; days since 2016-01-04 00:00:00

and cold start:

time_bnds =  0, 1; days since 2016-01-04 00:00:00

I under

[2021-12-15 19:40] jiandewang commented on #960
for example, if IC is 2016100300Z, and we run model for 6 hr, in diag_table

"ocn%4yr%2mo%2dy%2hr",      6,  "hours", 1, "hours", "time", 6, "hours", "1901 1 1 0 0 0", 0, "", "begin"

The last column can be "begin", "middle", or "end".  The output files will then be named, for example, as

for "begin"    ocn_2016_10_03_00.nc  for time bound [0,6]
for "middle"  ocn_2016_10_03_03.nc  for time bound

[2021-12-15 19:44] pjpegion commented on #960
but does that change the beginning of the averaging window?

[2021-12-15 19:46] jiandewang commented on #960
@pjpegion
so you have a warm start at 03Z, then run 24hr, but you only want to average from 03Z-00Z(next day), is my understanding right ?

[2021-12-15 19:51] pjpegion commented on #960
Sort of, I wan't the 1st day to be an average of 03Z to 00Z since that is all we have, and then the 2nd day's value would be 0Z-0Z average, and so forth.

[2021-12-15 20:03] jiandewang commented on #960
I am afraid FMS doesn't have this kind of capability but we can seek help or propose a feature request from FMS group.

[2021-12-15 20:09] jiandewang commented on #960
I asked a similar "monthly" averaged question on FMS, just forwarded you the email from FMS group

[2021-12-15 21:21] JeffBeck-NOAA opened #961 "Model run-time failure in the SRW App (and maybe others) when using GFS v15 external model data"
## Description
When using GFS- or RRFS-based SDFs, the SRW App will fail with a segmentation fault during model integration if using external model data from GFS v15.  External model data from GFS v16 will run fine, indicating a specific physics parameterization may need a model field that is available in GFS v16, but maybe not in GFS v15 data.

### To Reproduce:
1. Build the SRW App (maybe MRW Ap

[2021-12-16 15:10] #930 closed

[2021-12-16 15:17] MinsukJi-NOAA commented on #919
#928 merged via #931

[2021-12-16 15:17] #919 closed

[2021-12-16 15:19] MinsukJi-NOAA commented on #899
ORT changes for `cpld_bmark_p7` has been merged via #931

[2021-12-16 15:19] #899 closed

[2021-12-16 15:39] #938 closed

[2021-12-16 16:57] MinsukJi-NOAA commented on #754
Closing. It will be reopened if necessary.

[2021-12-16 16:57] #754 closed

[2021-12-16 16:58] MinsukJi-NOAA commented on #645
Closing this issue as UFS CI will be taken up by the EPIC team in the future.

[2021-12-16 16:59] #645 closed

[2021-12-20 14:25] WenMeng-NOAA opened #966 "Output foundation temperature and bug fix land-sea mask from global inline post"
## Description
Output foundation temperature and bug fix on land-sea mask in global inline post.

## Solution

- Update FV3 component with latest UPP release.
- Update global inline post read interface.
- Update UPP control files for global inline post.

## Alternatives
If applicable, add a description of any alternative solutions or features you've considered.

## Related to
Directly reference an

[2021-12-22 04:06] jiandewang opened #973 "update MOM6 to its main branch 20211220 commit"
MOM6 main branch has been updated on 20211220 which contains stochastic physics code further modification (see detail at https://github.com/mom-ocean/MOM6/pull/1538).
Need to make corresponding updating in EMC MOM6 (MOM6 issue at https://github.com/NOAA-EMC/MOM6/issues/80) and UFS repository.

[2021-12-22 16:59] binli2337 commented on #949
The following two 5-day runs have been performed to validate GSFv16 data mode in CDEPS:
1) Using MOM6+CICE6+CFSR(1760x880)
2) Using MOM6+CICE6+CFSR(3072x1536)

The CFSR(1760x880) forcing is the original CFSR forcing. The CFSR(3072x1536) forcing files are obtained by interpolating the original CFSR data to the GFSv16 grid using ESMF regridding tools. The horizontal grid used in MOM6/CICE6 is one de

[2021-12-22 20:51] climbfuji commented on #705
@MinsukJi-NOAA Is this working now?

[2021-12-22 20:54] climbfuji opened #975 "control_wam test crashes in DEBUG mode"
## Description
The deep-atmosphere/multi-gases/WAM regression test doesn't run in debug mode. There are out of bounds warnings amongst others.

Need to fix the vertical dimensions of several variables in the code and in the CCPP metadata, and add a `control_wam_debug` test.

Fixed by #947.

[2021-12-22 21:10] MinsukJi-NOAA commented on #705
@benjamin-cash could you confirm if you are using 2 threads on Expanse now?

[2021-12-23 16:27] binli2337 commented on #956
The rt_weekly.conf will be updated to include cpd_bmark_p7_35d tests.  For the 35-day tests, the length of forecast for each test will be reduced to one day.

[2021-12-24 23:34] JeffBeck-NOAA opened #978 "Add support for Stochastically Perturbed Parameterizations (SPP) in the FV3"
## Description
Add the necessary code in ufs-weather-model, fv3atm, ccpp-physics, and stochastic_physics to run the FV3 with Stochastically Perturbed Parameterizations (SPP).  The associated code uses the stochastic_physics pattern generator (same as for SKEB, SHUM, and SPPT) to create a random pattern based on scales, magnitudes, etc., from the FV3 input.nml namelist and perturbs RAP/HRRR-based p

[2021-12-25 01:07] SamuelTrahanNOAA opened #979 "Jet rt.sh is hard-coded to ACCNR=h-nems"
## Description
Jet rt.sh is hard-coded to ACCNR=h-nems

### To Reproduce:
Set `export ACCNR=hfv3gfs` (or anything other than h-nems). Notice the script still uses h-nems.

[2021-12-25 01:18] SamuelTrahanNOAA opened #980 "rt.sh Rocoto support is broken"
## Description
The bugs:
1. The "jet" platforms aren't detected since the code looks for "jet" instead of "jet.*"
2. The WW3 dependencies are broken
3. The job deleted the "out" and "err" files.

### To Reproduce:
Try to run the regression test system using Rocoto on Jet.

[2021-12-28 18:37] #948 closed

[2021-12-29 19:47] #949 closed

[2021-12-29 19:47] #956 closed

[2021-12-29 22:55] SamuelTrahanNOAA opened #985 "Radar-derived microphysics temperature tendencies (as in operational HRRR)"
## Description

The RRFS has been testing radar-derived temperature tendencies replacing the microphysics temperature tendencies for the first X minutes of the forecast. This is a recreation of a capability of the operational HRRR, and is intended to improve the clouds in the first few hours of the forecast. Several RRFS branches already have this functionality and the results are mostly improved.

[2021-12-29 23:44] climbfuji commented on #958
The `fv3_*_HAFS_*` tests were removed in a recent PR (#963).

[2021-12-29 23:44] #958 closed

[2021-12-29 23:53] climbfuji commented on #922
Closed by https://github.com/ufs-community/ufs-weather-model/pull/923

[2021-12-29 23:53] #922 closed

[2021-12-29 23:56] climbfuji commented on #799
@junwang-noaa I think this issue can be closed, since we now have a role account on orion.

[2021-12-30 01:57] junwang-noaa commented on #799
Close issue

[2021-12-30 01:57] #799 closed

[2021-12-30 01:58] junwang-noaa commented on #768
@BinLiu-NOAA Can we close this issue?

[2021-12-30 14:05] #975 closed

[2022-01-03 15:12] #966 closed

[2022-01-03 15:43] DeniseWorthen commented on #940
A strategy is needed for naming the SDFs that are used for the Prototype configuration. The relevant current SDFs in ``FV3/ccpp/suites`` are:

P7 SDFs:
[code]

The initial P8 SDFs could be named:
[code]

These P8 SDFs would initially be simple copies of the SDFs currently being used (e.g. nsstNoahmpUGWPv1) except for the ``suite_name`` in the xml file. The P8 SDFs would then be updated as required

[2022-01-03 16:30] dustinswales commented on #940
@DeniseWorthen @junwang-noaa
The existing P8 RRTMGP can be removed. This is a relic from the last PR. Recall we were going to name the new GP p7 SDFs as p8, but backed off of this.

I don't have a strong opinion on what the SDFs should be named, but a few comments/questions.

If I recall correctly, there are mini-p8 prototypes with different "new" physics turned on (e.g. one with Thompson MP and a

[2022-01-03 16:41] yangfanglin commented on #940
I'd suggest to use FV3_GFS_v16_coupled_p8a, FV3_GFS_v16_p8a, then updated to 8b, 8c etc along with the testing of each mimi prototype, and eventually to FV3_GFS_v16_coupled_p8 FV3_GFS_v16_p8 with the final P8 configuration.    At that time, SDF files for mini prototypes can be removed.  For schemes that are still in development and have not been included in mini prototypes, developers should take

[2022-01-03 16:49] DeniseWorthen commented on #940
Thanks @dustinswales . For your existing p7_rrtmgp tests, do you want to keep those up-to-date with whatever the current P8 configuration is? Or do you want to maintain them at P7?

[2022-01-03 17:13] dustinswales commented on #940
@DeniseWorthen
My preference would be to freeze the p7 RRTMGP tests as they are and build onto the baseline P8 (P8a) prototype.

RRTMGP is to be included as mimi P8 at some point, so as long as the coupled/un-coupled P8a's begin with the P7+RRTMGP SDFs there shouldn't be anything to maintain on the GP side.
This is somewhat complicated by the need to add the coupling between two potential mimi P8'

[2022-01-03 17:20] yangfanglin commented on #940
@dustinswales  I'd prefer not to include RRTMGP in p8a before it can be claimed to be ready to be included in any of the upcoming mini prototypes.   Thompson MP will likely be included in p8b.  As you know more development is needed to run RRTMGP along with Thompson MP.  There are also other scientific and computational questions related to RRTMGP that need to be addressed (as discussed offline in

[2022-01-03 17:31] DeniseWorthen commented on #940
@yangfanglin My concern with what you suggest is that we don't have the resources to maintain multiple possible P8 configurations in the RTs. That would require carrying a p8X(X=a,b,c etc) test suite for both coupled and standalone in the RTs.

From my perspective, while multiple mini-Ps may be required or performed, the RTs need to update only once a feature is known to be included in the P8 feat

[2022-01-03 17:41] yangfanglin commented on #940
@DeniseWorthen Understood.   I'd suggest still keeping the SDF files used for all mini prototypes for a while, and only run RT for the latest mini prototype.  If this still does not work, it is fine to maintain only one SDF file and keep updating it.

[2022-01-03 17:43] dustinswales commented on #940
@yangfanglin
Sorry, I'm not included in any of the emails regarding the mini prototype's for P8. Last I heard GP was to be included.

I'm a bit confused on why I would keep a parallel GP development branch up-to-date with the P8 development? My preference would be to wait until you are ready for GP, then I can update the code base.

[2022-01-03 17:54] yangfanglin commented on #940
@dustinswales let's take the discussion of GP issues offline.  For the code managers, my recommendation is to move forward without carrying RRTMGP.  The physics team will announce when it is ready to be used for P8.

[2022-01-03 17:57] DeniseWorthen commented on #940
Sounds good. I will

1) delete the existing, un-used ``suite_FV3_GFS_v16_p8_rrtmgp.xml``
2) create new p8 standalone and coupled P8 suites which are copies of nsstNoahmpUGWPv1. The initial RT commit for P8 will be to turn on CICE albedos, which requires no change to SDF.
3) not update the p7_rrtmgp tests. They will continue to use the existing P7 configuration.

[2022-01-03 19:59] junwang-noaa commented on #973
Code is committed.

[2022-01-03 19:59] #973 closed

[2022-01-03 20:03] junwang-noaa commented on #940
@yangfanglin Do you have a physics namelist with P8 physics schemes available?

[2022-01-03 20:07] yangfanglin commented on #940
@junwang-noaa please see https://docs.google.com/spreadsheets/d/1NmfS-2q6xrQNxG8uatfNNqu0Z1WjLE0xLT59BRCrXSw/edit#gid=0 for the physics updates planned for P8.  Column D provides the readiness status of each update.

[2022-01-04 03:32] ChunxiZhang-NOAA opened #987 "Add a new regression test for HAFS with the legacy of the HWRF suite"
## Description
Since the HWRF physics suite was removed from the standard regression tests, we'd like to keep testing and potentially use one or two physics schemes from the legacy of the HWRF physics suite for the development of the future HAFS physics suite.

## Solution
We constructed a new HAFS physics suite by replacing the GFS surface layer scheme with the GFDL surface layer scheme (a legacy

[2022-01-04 16:34] jswhit opened #989 "4DIAU bug when iau_filter_increments=T"
## Description
The 4DIAU produces incorrect results when when the parameter iau_filter_increments=T and more than one increment file is specified.  The time bounds for the IAU interval are computed incorrectly, leading to incorrect filter weights that were applied outside the designated time range.   The 4DIAU with constant weights, and 3DIAU (with a single increment file specified) were not affec

[2022-01-04 16:36] jswhit commented on #989
FIx in https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/pull/167

also see
https://github.com/ufs-community/ufs-weather-model/pull/990
https://github.com/NOAA-EMC/fv3atm/pull/458

[2022-01-04 17:05] yangfanglin commented on #989
Jeff,  does this bug exist in current operation ?

[2022-01-04 17:23] jswhit commented on #989
@yangfanglin yes the bug exists, but it is not activated with the current operational settings (since iau_filter_increments=F in operations)

[2022-01-04 18:49] DavidHuber-NOAA opened #991 "Broken template regression testing job card for S4"
## Description
The template job card for S4, [fv3_slurm.IN_s4](https://github.com/ufs-community/ufs-weather-model/blob/58ab0e27f582d695636a3c730adf8f21a1293c3b/tests/fv3_conf/fv3_slurm.IN_s4#L17), has spaces in the assignment `MACHINE_ID = s4`, which is invalid syntax.  This causes `rt.sh` to fail when attempting to run any test as the machine cannot be determined.

[2022-01-04 19:28] DeniseWorthen opened #993 "hafs_regional_atm_ocn_wav seems to have incorrect global wind fields at startup"
## Description

In this test, the ATM and WAV domains do not completely overlap. Wind fields from a file are used to fill values in the areas of WAV domain which are outside of the ATM domain. In addition, at startup, the import fields from ATM are zero everywhere so that the values from the files are needed everywhere at the first model Advance.

Running this test from the develop branch and addi

[2022-01-04 19:33] JessicaMeixner-NOAA commented on #993
I think the values of the wind should only be non-zero if you have a restart file (for mediator or WW3), but maybe @uturuncoglu or @BinLiu-NOAA remembers better than I do.

[2022-01-04 20:05] uturuncoglu commented on #993
@JessicaMeixner-NOAA @DeniseWorthen As a part of the HAFS project we never tested restart capability. That was out of our scope in that time. So, there might me still issue over there.

[2022-01-04 20:18] DeniseWorthen commented on #993
Thanks @uturuncoglu. This is not a restart test; this is simply running the RT from the develop branch where we have non-overlapping domains for the ATM and WAV. The values from the file are used to fill the part of the WAV domain which lies outside of the ATM domain.

I thought I understood how the filling of the values from the file is supposed to work. The 10m winds in the import state are init

[2022-01-04 21:43] junwang-noaa opened #994 "autort script deleted code directory when committing log file failed"
## Description
Currently the code directory will be removed when autort finishes running RT but fails to commit the RT log file to user's ufs-weather-model branch. A fix is needed to keep the code directory so that the RT log file can be sent to the developers and let them commit the log file to their ufs-weather-model branch. This only happened to certain developers with branches that can't be co

[2022-01-05 02:58] junwang-noaa opened #997 "commit RT log file to user's branch using autort"
## Description
It is found that sometimes the autort can't commit the RT log files to user's branch. It was suggested that using "ssh://git@github.com " instead of "https://github.com" to clone user's branch may help resolve the issue.  An update is needed in autort to implement this approach with github API.

## Additional context
When an update is ready, a ufs-weather-model PR will be created.

[2022-01-05 03:13] junwang-noaa opened #998 "add documentation for UFS driver files"
## Description
Doxygen documentation needs to be added to UFS driver source code

## Solution
Add doxygen documentation for EARTH_GRID_COMP.F90 and UFS.F90

## Related to
Directly reference any issues or PRs in this or other repositories that this is related to, and describe how they are related.
A ufs-weather-model PR will be created.

[2022-01-05 05:26] uturuncoglu commented on #993
@DeniseWorthen you mean it is zero over the active coupling region or everywhere. If it is zero over active coupling region only then the cap needs to handle it specially for the initial time step. As I know the current implementation only blends data (zero or not) and does not account it is first advance or not.

[2022-01-05 13:44] DeniseWorthen commented on #993
@uturuncoglu It appears to be zero over the active coupling region. I'm not sure I understand your comment about masking doesn't account for being first advance or not? (https://github.com/NOAA-EMC/WW3/blob/46b3896ecac921f24335c8f1ef81daaaf4287b1b/model/src/wmesmfmd.F90#L2530).

I found this issue when comparing what I had implemented for HAFS in the new cap, because I had put in what I think is t

[2022-01-05 13:46] JessicaMeixner-NOAA commented on #993
The wmesmf cap has a special switch WRST which takes values from the WW3 restart file -- if you are using that switch and have no restart file, the first time step will be zero.  We do not use restart files in the regression tests, but in other runs we do.

[2022-01-05 14:22] DeniseWorthen commented on #993
At the time of export from the second model advance (t=12, the upper plot), the WAV model should have valid non-zero fields from the ATM in the active coupling region because the ATM has actually run at that point. The issue I believe lies in how and when the import mask is given valid values.

It seems clear to me that the import mask in the old cap is not correct until the third model advance. A

[2022-01-05 19:36] junwang-noaa opened #999 "disk quota issue when running regression test on dell"
## Description
Some users and code managers got disk quota issue when running the full regression test on dell. The total disk space required to run full set of regression test is 1.5T. Several tests failed with error "cat: write error: Disk quota exceeded". This happened in both baseline creation and the regular regression runs.

### To Reproduce:
What compilers/machines are you seeing this with?

[2022-01-05 20:37] lisa-bengtsson commented on #940
@yangfanglin just to follow up on our offline discussion in this thread; there seem to be a challenge in that we have to make a scientific decision wether RRTMGP should be included in P8, but it cannot be included if it is not a feature that is turned on in the P8 control test.  Since we seem to have reached consensus on inclusion of Thompson MP, perhaps a way forward is to first include Thompson

[2022-01-05 20:45] yangfanglin commented on #940
@lisa-bengtsson I believe  the code managers (Denise etc) plan to do exactly what you described here.  After the P8B configuration is announced they will add Thompson MP to P8 ORT test cases.   It is then up to the developers to add other features on top of the P8B version.

[2022-01-05 20:48] yangfanglin commented on #940
@RuiyuSun Ruiyu, please work with @DeniseWorthen and @junwang-noaa to add Thompson MP to the P8 ORT tests.  I believe all "Plan-A" updates related to Thompson MP we discussed have been committed to the develop branch.

[2022-01-05 20:58] lisa-bengtsson commented on #940
@RuiyuSun @yangfanglin in the "Plan-A" configuration, were there updates to the Xu-Randall cloud fraction code?

[2022-01-05 21:05] yangfanglin commented on #940
@lisa-bengtsson yes.

[2022-01-05 21:19] lisa-bengtsson commented on #940
@yangfanglin is it only this alpha parameter: https://github.com/NCAR/ccpp-physics/blob/a5dcdceda45f95d1e74880f67a0929e9d2464068/physics/GFS_rrtmgp_thompsonmp_pre.F90#L225

[2022-01-05 21:23] yangfanglin commented on #940
@lisa-bengtsson I think the answer is yes based on Ruiyu's presentation he gave before the new year. @RuiyuSun Ruiyu please confirm, and share the ppt with Lisa

[2022-01-05 22:01] lisa-bengtsson commented on #940
@yangfanglin I spoke with @dustinswales just now and we agreed that once the tests for P8B are generated (including Thompson MP), Dustin will create a PR updating the ORT tests to turn on the RRTMGP feature. In this PR he will also update the alpha parameter in the Xu-Randall scheme on the RRTMGP side. After this we can discuss how to approach the Sundqvist cloud fraction to be seen by RRTMGP if t

[2022-01-05 22:07] RuiyuSun commented on #940
Lisa,

It is shown 'changes in cloud cover' section in slide #4 of this file.
<https://docs.google.com/presentation/d/1SXsYIyVTHws4YaqzGpUFvfbEb7Uh01Ju/edit#slide=id.p4>

Ruiyu

On Wed, Jan 5, 2022 at 4:24 PM Fanglin Yang ***@***.***>
wrote:

--

Ruiyu Sun, PhD

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2097

College Park, MD 20740

***@***.*** ***@***.***>

301-683-3787

[2022-01-05 22:10] lisa-bengtsson commented on #940
Thank you @RuiyuSun, when Thompson MP is turned on @dustinswales has to make the same updates in the Xu-Randall code on the RRTMGP side (to reflect the code change when RRTMGP is turned on), so perhaps you could share with us the PR that has these changes? Thanks.

[2022-01-05 22:20] RuiyuSun commented on #940
Lisa,

This is the PR <https://github.com/NCAR/ccpp-physics/pull/789>.

Ruiyu

On Wed, Jan 5, 2022 at 5:10 PM lisa-bengtsson ***@***.***>
wrote:

--

Ruiyu Sun, PhD

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2097

College Park, MD 20740

***@***.*** ***@***.***>

301-683-3787

[2022-01-05 22:33] dustinswales commented on #940
@lisa-bengtsson Looks like there are only a few minor changes to make on the GP side.
Thanks @RuiyuSun

[2022-01-06 19:24] BenjaminBlake-NOAA opened #1001 "Unrealistic flux values observed in regional runs"
## Description
Large unrealistic values of qflx and hflx are observed with a recent version of ufs-weather-model code (#3d995d7 committed on 12/27) in our regional 3-km runs.  There are numerous warning messages in the stderr files.  In a previous version of model code (#805421d committed on 11/18), which we are currently using for our real-time regional runs, we do not see any of these warning me

[2022-01-06 20:45] binli2337 opened #1002 "Remove NEMS_datm related code from ufs-weather-model"
## Description

The NEMS_datm component has been removed from the ufs-weather-model, but code related to NEMS_datm still exists in CMakeLists.txt, cmake/configure_apps.cmake, and driver/EARTH_GRID_COMP.F90. These three files need to be updated.

## Solution
Revise CMakeLists.txt, cmake/configure_apps.cmake and driver/EARTH_GRID_COMP.F90 to remove NEMS_datm related code.

[2022-01-07 03:50] junwang-noaa commented on #980
Code updates were merged in PR#981.

[2022-01-07 03:50] #980 closed

[2022-01-07 14:11] binli2337 opened #1003 "Remove run directories that are no longer needed by other tests during the regression tests"
## Description

During regression tests, many run directories are created and those run directories are removed only after all the tests are completed. To reduce disk space used during the tests, the "run_test.sh" script needs to be updated to remove run directories that are no longer needed by other tests during the regression tests.

## Solution
Revise run_test.sh.

[2022-01-09 17:12] climbfuji opened #1006 "Simplify effective radii computation for Thompson MP in GFS_rrtmg_pre.F90"
## Description

The organically grown code in `GFS_rrtmg_pre.F90` creates several unnecessary local arrays for computing the effective radii for Thompson MP in a very confusing way. This should be simplified to improve the readability of the code and reduce the computational/storage overhead.

[2022-01-09 17:14] climbfuji opened #1007 "Add regression tests using new prognostic cloud scheme for Thompson MP"
## Description

A new prognostic cloud scheme was added for Thompson MP (`progcld_thompson`) that can be used instead of `progcld6` (GFS 16) or `progclduni` (RAP). Regression tests should be added that exercise this new scheme for both physics suites. The switch is made by setting `icloud==3` in `input.nml`.

[2022-01-10 22:09] EricRogers-NOAA commented on #1001
These error messages are not observed the LAM DA run over the CONUS, so to trigger this diagnostic print the larger RRFS North American domain must be tested.

[2022-01-11 15:50] #985 closed

[2022-01-14 11:00] #940 closed

[2022-01-14 15:45] junwang-noaa commented on #827
@aerorahul @danholdaway Dusan added a capability for ufs-weather-model to output one netcdf file with 6 tiles. Please let us know if you want to try some sample files.

[2022-01-14 15:46] aerorahul commented on #827
Adding @CoryMartin-NOAA as he will likely try using these.

[2022-01-14 15:50] CoryMartin-NOAA commented on #827
As the variable and dimension names, etc. are different between UFS and GEOS, this will require code changes in FV3-JEDI before being able to properly test. But thank you, @DusanJovic-NOAA , for adding these, they will be very useful going forward and likely what we will want to use in future GDAS implementations.

[2022-01-14 15:53] aerorahul commented on #827
@C

If the naming of variables and dimensions are the only thing that are different, we should be able to refactor existing code to handle that distinction rather than writing new, largely similar code.

Something we should work with @danholdaway

[2022-01-14 15:57] CoryMartin-NOAA commented on #827
@aerorahul agreed, I have already talked to @danholdaway briefly about this and we think we can refactor the GEOS I/O in FV3-JEDI to be more generic to handle UFS and GEOS netCDF history files. There can be options for 'history' and 'FMS RESTART' instead of 'GEOS' and 'GFS' as it currently is. I will take the lead on this refactoring post-AMS annual meeting.

[2022-01-14 15:58] junwang-noaa commented on #827
@aerorahul @CoryMartin-NOAA The output variable names are controlled by diag_table, you can change the output name (the third column) to set the same name as GEOS. We will need to check the impact of dimension names though.

[2022-01-14 16:54] jswhit2 commented on #827
Are we talking about the 'cubed_sphere_grid' option for 'output_grid' in model_configure?  If that's going to be used by JEDI we should probably add a 'netcdf_parallel'  option, and compression.  We may also need to add the option for the model to read native grid increments (instead of just gaussian grid).

EDIT:  regarding parallel write, I see from the comments in module_wrt_grid_comp.F90 that

[2022-01-14 17:03] aerorahul commented on #827
@jswhit2
This is for the `cubed_sphere_grid` option for `output_grid` in `model_configure`.
The idea is to then read the "native grid" history instead of FV3 restarts in FV3-JEDI.
Along the same lines, the idea is to leverage as much as possible existing code in FV3-JEDI that reads "native grid" history  from GEOS output. The exceptions noted are the naming of variables, metadata etc, but the hope

[2022-01-14 17:10] DusanJovic-NOAA commented on #827
Yes. For example this 'model_configure' options:
[code]
will create sequence of `atmf???.nc` and `sfcf???.nc` files each containing all 6 tiles, using parallel netcdf and compression.

[2022-01-14 17:15] junwang-noaa commented on #827
@aerorahul The variable names are not an issue as they are controlled by the run time output configuration file diag_table.

@DusanJovic-NOAA Do you have any sample file from the model_configuration above?

[2022-01-14 17:18] CoryMartin-NOAA commented on #827
@junwang-noaa presumably offline post/bufr soundings, etc. expect these current variable names, so I think we still would want JEDI to be consistent with the rest of UFS and not change variable names in the `diag_table` to match GEOS. There are other things like the time variable/units that differ between UFS and GEOS that will require FV3-JEDI changes.

[2022-01-14 17:21] DusanJovic-NOAA commented on #827
See:
/scratch2/NCEPDEV/fv3-cam/Dusan.Jovic/cubed_sphere_grid_single_netcdf
and:
/scratch2/NCEPDEV/fv3-cam/Dusan.Jovic/cubed_sphere_grid_single_netcdf/compressed

These files correspond with:
/scratch1/NCEPDEV/nems/emc.nemspara/RT/NEMSfv3gfs/develop-20220112/INTEL/control_CubedSphereGrid_debug

[2022-01-14 17:29] danholdaway commented on #827
FV3-JEDI IO code makes no reference to specific field names so there wouldn't be any benefit to picking something different from what is already used for GFS. We can make the dimension names configurable instead of hardcoded to what GEOS uses. @CoryMartin-NOAA when you're ready to start refactoring the fv3-jedi code lets have a quick chat as there are some things about that code that are a little

[2022-01-14 17:34] yangfanglin commented on #827
Corry made a good point.  We have products used by forecasters and the
community. Changing variable/product names is a laboring process.

On Fri, Jan 14, 2022 at 12:19 PM Cory Martin ***@***.***>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/NCEP Environmental Modeling Center*

*https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/
<http

[2022-01-14 17:45] jswhit2 commented on #827
Looping @pjpegion into this discussion, since he wrote the increment reading/interpolation code for FV3

[2022-01-14 17:46] junwang-noaa commented on #827
Maybe I misunderstood the questions. I am suggesting name changes in diag_table for a quick test code to confirm the new file working in fv3_JEDI, it's just for this PR.

[2022-01-14 17:48] CoryMartin-NOAA commented on #827
@junwang-noaa got it, yeah that won't really work because as @danholdaway said the variables themselves aren't so much the problem, it's the dimension names and the time variable/attributes (I believe).

[2022-01-14 17:54] DusanJovic-NOAA commented on #827
Expecting that UFS and GEOS create history output files with identical metadata is probably unrealistic, hence JEDI will need to be able to handle them differently, at least at some level.

[2022-01-14 17:54] junwang-noaa commented on #827
@CoryMartin-NOAA If more work needs to be done in JEDI side, we will plan to get this PR committed. We can make further change in the model side if it is required when JEDI is testing those files.

[2022-01-14 17:55] CoryMartin-NOAA commented on #827
@junwang-noaa that works for me. I'll be sure to let you all know if I run into any issues and if anything needs modified. A quick spot check suggests this file format looks the same as what we now use for GSI, just an extra dimension for tiles (and a different grid of course).

[2022-01-15 04:42] junwang-noaa commented on #1001
@yangfanglin @grantfirl Do you know who is the mynn sfc layer developer and if he/she can take a look at these unreasonable latent and sensible heat fluxes on a land point?

[2022-01-15 04:46] climbfuji commented on #1001
@joeolson42 (Joe Olson, GSL). These values are the default/huge values if variables are not initialized properly. The first question will be is whether this is with the latest code base or not. I see 12/6 as a date in the description, but it should be retested after my recent commit that fixed the MYNN SFCLAY restart issues.

Also, @joeolson42 might have some changes in the pipeline, but I'll leav

[2022-01-16 17:15] joeolson42 commented on #1001
I have seen some of these large values (also over unrealistically large z0 = 2.653), but got rid of them with some changes I recently made in the MYNN PBL scheme (moving the drag term back into the b-vector of the tridiagonal solver). In some global experiments, run with Noah LSM, we had some instabilities that were always traced back to grid points with those large z0s. I'm sure there some tuning

[2022-01-19 19:29] #900 closed

[2022-01-19 19:29] #987 closed

[2022-01-19 19:29] #991 closed

[2022-01-20 03:08] climbfuji opened #1014 "Bug in rt.sh jet section when ACCNR is not set"
## Description
A recent PR (https://github.com/ufs-community/ufs-weather-model/pull/981) updated the jet section in `rt.sh` to allow setting `ACCNR` instead of using the hardcoded `h-nems`. A fallback/default value `h-nems` was intended in this part:
[code]
The problem is that bash gets confused by the `-` in the `h-nems` default value, which results in
[code]
and causes `rt.sh` abort with
[code]

[2022-01-20 03:26] junwang-noaa commented on #1014
I got the error too, so I was setting the ACCNR to "h-nems". I think the ACCNR was set to nems by default.sh. Maybe we need to add a line in jet section in rt.sh to reset ACCNR to "h-nems" if it's "nems".

[2022-01-20 03:34] climbfuji commented on #1014
Your explanation makes a lot more sense than my assumption that the syntax could be messed up by a dash in the default value. I don't think there should be an entry in `default_vars.sh` at all, since the ACCNR depends on the HPC.

[2022-01-20 14:29] BenjaminBlake-NOAA commented on #1001
@climbfuji  I ran a quick test using #d956727 (your commit on 1/6 which fixed MYNN SFCLAY restart issues) and I'm still seeing the "capture bad input in mynn sfc layer" warnings.  @joeolson42  I can run a test with your changes, where is your PR located?  Thanks!

[2022-01-20 14:36] #1006 closed

[2022-01-20 15:06] climbfuji commented on #1007
Closed via https://github.com/ufs-community/ufs-weather-model/pull/1000.

[2022-01-20 15:06] #1007 closed

[2022-01-20 15:42] SamuelTrahanNOAA commented on #1014
If the ACCNR default should depend on the platform, then default_vars.sh should not set it. A special case of overriding nems with h-nems (even when it is set manually to nems by the user) seem sloppy.

Also, ACCR is the wrong variable, you should set ACCNR=h-nems in your script before running rt.sh. If you set ACCR, then the error is yours. Was that a typo in your title? Or an actual error in you

[2022-01-20 15:44] climbfuji commented on #1014
Typo in the tile, fixed it.

[2022-01-20 16:52] SamuelTrahanNOAA commented on #1014
I will test a fix for this (move the default to rt.sh) and issue a PR tomorrow-ish. It'll have to be tested on all platforms, in both baseline generation and regression test mode. That means we should merge it with a PR that changes the results.

[2022-01-20 16:55] joeolson42 commented on #1001
My current PR is here:
https://github.com/NOAA-GSL/ccpp-physics/pull/120

On Thu, Jan 20, 2022 at 7:30 AM BenjaminBlake-NOAA ***@***.***>
wrote:

--
Joseph Olson
Model Physics Branch Chief
Environmental Prediction Advancement Division
NOAA-Global Systems Laboratory
Boulder, Colorado

[2022-01-20 16:58] climbfuji commented on #1014
Thanks a lot for doing this, Sam! Yes, agreed, should be part of a baseline-changing PR. And needs to be tested manually as well, because auto-rt is always setting `ACCNR` (that's why the error didn't show up).

[2022-01-20 17:11] junwang-noaa commented on #1014
Thanks, Sam. According to current commit queue, it will be with PR#982 planned on 1/25.

[2022-01-20 17:15] SamuelTrahanNOAA commented on #1014
Barring extraordinary events, that should be doable.

[2022-01-20 21:40] SamuelTrahanNOAA opened #1015 "Many platforms override ACCNR with a hard-coded value"
The giant "if/elif/fi" block in rt.sh overrides the ACCNR to a hard-coded value, overriding the value the user sets before running rt.sh.  This is in part necessary due to detect_machine.sh setting the default to nems, which is usually wrong.  An earlier bug fix did not completely correct the problem. (See also #979, #1014, and #981.)

The detect_machine.sh is run before the rt.sh per-platform def

[2022-01-20 23:22] SamuelTrahanNOAA commented on #1014
The fix is in #1016 but I only did minimal testing to avoid wasting resources. I tested enough to ensure ACCNR was passed correctly. Please give me another PR to merge into #1016 as soon as possible so I can do full testing.

There may be an unwanted side-effect: If someone was setting ACCNR *incorrectly* before running rt.sh, that incorrect value will now be passed through to the batch system. Ma

[2022-01-21 14:37] #1002 closed

[2022-01-21 14:37] #1003 closed

[2022-01-23 23:18] rsdunlapiv opened #1017 "EARTH_GRID_COMP should be named UFSDriver"
## Description
In ESMF, "gridded components" or "gridcomps" are plain ESMF components (no NUOPC).  The UFS Driver is a NUOPC Driver, and so the term "EARTH_GRID_COMP" is not as precise as it could be, and does not communicate that the top-level component has NUOPC interfaces.

This goes along with recent efforts to remove the NEMS repository and clean up the fv3 cap.

Some possibilities for this n

[2022-01-24 00:09] rsdunlapiv commented on #1017
relates to #998

[2022-01-24 14:15] BrianCurtis-NOAA commented on #994
I've addressed this in the autort-bl branch of my ufs-weather-model fork. It's been tested and went live last week. Does this code need to get into develop branch before closing this @junwang-noaa ?

[2022-01-24 14:17] BrianCurtis-NOAA commented on #997
I've updated AutoRT to use SSH for git clones and pushes and pulls. There were no issues with RT jobs, but BL jobs seemed to have issues, but it's unknown if it was related to these code changes or not. I will wait for a few more BL change PRs to go through the commit queue before closing this.

[2022-01-24 15:29] BrianCurtis-NOAA commented on #997
The issue was specific to Orion and the code is no longer necessary, so I've removed it. All BL tasks should run (minus machine issues) OK. Once I see a BL PR completed without AutoRT issues I will close this issue.

[2022-01-24 15:38] MinsukJi-NOAA commented on #997
For the latest trial of auto BL creation on #1009, the auto process stopped after generating BL but before copying them onto the baseline location. However, the created BL's were not deleted, allowing me to copy them manually.

[2022-01-24 16:41] SamuelTrahanNOAA commented on #1014
@climbfuji When PR #1009 was merged, it should have fixed your problem. Can you confirm and close the ticket?

[2022-01-24 16:41] SamuelTrahanNOAA commented on #1015
Corrected by #1009

[2022-01-24 16:41] #1015 closed

[2022-01-24 16:50] SamuelTrahanNOAA commented on #999
What happens if you use the -d option to rt.sh? It appears run_test.sh will delete the run directory for each test that is not needed if you use `rt.sh -d`.

[2022-01-24 16:53] SamuelTrahanNOAA commented on #997
It was my account that consistently broke AutoRT due to this problem (probably) and I suggested the `ssh:git@github.com`. That's because the github documentation claims Enterprised-Managed Accounts with mandatory two-factor authentication can only be written by ssh, not https. Next time you merge one of my PRs, we should know if it fixes the problem.

[2022-01-24 16:55] SamuelTrahanNOAA commented on #997
@grantfirl If you can have me do the ufs-weather-model PR for an answer-changing ccpp/physics PR, I can test this fix.

[2022-01-24 21:06] Beliavsky opened #1021 "add topics"
I suggest adding the topics `nwp`, `numerical-weather-prediction`, `weather` in the About section.

I have added your repo to the Climate and Weather section of a [list of Fortran codes](https://github.com/Beliavsky/Fortran-code-on-GitHub) that I maintain.

[2022-01-24 21:15] junwang-noaa commented on #1021
@Beliavsky It's great  to hear that you added the repo to your list. For your suggestion, can you clarify which "About section" you are referring to? Thanks

[2022-01-25 00:25] Beliavsky commented on #1021
See for example the topics `meteorology` `nwp` `numerical-weather-prediction` in the About section at https://github.com/ECCC-ASTD-MRD/librmn .
How to add topics is described at https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/classifying-your-repository-with-topics .

[2022-01-25 15:19] #827 closed

[2022-01-25 16:56] junwang-noaa opened #1023 "Add 2d decomposition on the write grid comp"
## Description
UPP is updating their code to allow 2D decomposition in the input data domain. To enable the capability on the inline post, the 2D decomposition will be enabled on write grid component so that the output data arrived on write grid component will also be on the post 2D decomposition domain. Currently the data on write grid component is on 1D decomposition domain (belted domain) to  a

[2022-01-27 14:09] #824 closed

[2022-01-27 18:25] BenjaminBlake-NOAA commented on #1001
@joeolson42  I ran a quick test using Dom's commit on 1/6 with the updates included in your PR, but I'm still seeing those "capture bad input in mynn sfc layer" warnings for the large flux values.  Do you think they can be safely ignored?  Our output seems to look ok.

[2022-01-27 18:30] aliabdolali opened #1027 "update WW3 to its develop branch 20220123"
WW3 develop branch has been updated on 20220123 which allows mask variables to be retrieved for esmf (see detail at [#588](https://github.com/NOAA-EMC/WW3/pull/588)
Need to make the corresponding updating in EMC/WW3/dev-ufs-weather-model and UFS repository.

[2022-01-27 23:50] joeolson42 commented on #1001
I see these very large values often, no matter which sfc layer scheme I use. They probably aren't ruining forecasts because they are just a few points and they don't seem to persist in time. So, they probably can be ignored or at least downplayed until a more thorough investigation can be conducted. I originally thought you were experiencing crashes, but if that's not the case, then we should just

[2022-01-28 12:24] BenjaminBlake-NOAA commented on #1001
Sounds good to us!  Thanks for confirming.

[2022-01-28 13:08] #1027 closed

[2022-01-28 15:32] climbfuji commented on #898
Update @DusanJovic-NOAA. As the text above says, I could not reproduce the problem with Intel oneAPI 2021.4.0 (using the classic compilers `icc`, `ifort`, ...) on Endeavor. To check if this is machine specific, I installed Intel oneAPI 2021.5.0 (latest release at that time) on Hera, built hpc-stack with it, and tried to compile the model. The compile job
[code]
succeeded, but the PROD version (`-D

[2022-01-28 17:55] DusanJovic-NOAA opened #1029 "HAFS app can not be build using GNU compiler, syntax error in HYCOM"
## Description
HAFS app can not be build using GNU compiler, syntax error in HYCOM:

[code]

### To Reproduce:
What compilers/machines are you seeing this with? GNU compiler on Hera.
Give explicit steps to reproduce the behavior.
1. load ufs_hera.gnu module
2. try to build any HAFS app configuration
3. then, oops, look at the bug

[2022-01-28 18:46] MicroTed opened #1030 "Jet/Hera: internal compiler error w/ atmosphere.F90"
## Description

I was trying to compile the current develop branch of ufs on jet, and it gets to 97% done and has an internal compiler error (same on hera). I'm using the ufs_jet.intel (ufs_hera.intel) module. (Nice that the hera module also sets up miniconda -- that would be good to have in the jet module, too.) [Same result for DEBUG=ON and ufs_jet.intel_debug]  And I have

CCPP_SUITES=FV3_GFS_v

[2022-01-28 19:10] climbfuji commented on #1030
@MicroTed Can you please paste the *exact* compile command you are using?

[2022-01-28 19:34] MicroTed commented on #1030
I pasted output from 'make VERBOSE=1' and the compile command starts on the second line with

/apps/intel/compilers_and_libraries_2018.5.274/linux/mpi/intel64/bin/mpiifort -DENABLE_QUAD_PRECISION [etc]

It is entirely possible there is something odd in my setup that is causing an issue, but I've compiled ufs a number of times without issue. I do a 'module purge' before loading the ufs_jet.intel mo

[2022-01-28 19:36] junwang-noaa opened #1031 "unify the filled_value in atmosphere history fiels"
## Description
Current UFS output uses different missing values (FillValue) in atmosphere 3D field files and the surface files. In the project of unifying the post interfaces for all the applications, we need to first update those files to use a unified missing value in all the history files for all the applications.

## Solution
Use a unified missing value so that POST processing can use the sing

[2022-01-28 19:36] climbfuji commented on #1030
I meant the command you type for compiling the code, sorry for the confusion. For example:
[code]

[2022-01-28 20:01] MicroTed commented on #1030
Oh, sorry! For this test I just set the environment/modules and run:

module purge
module use modulefiles/
module load ufs_jet.intel
module load miniconda3
setenv CCPP_SUITES FV3_GFS_v15p2
setenv CMAKE_FLAGS -DAPP=ATM
./build.sh >& out &

[2022-01-28 20:15] climbfuji commented on #1030
Alright, you are hitting an known problem here. Because of the way your flags are set, the choice for the CCPP suite doesn't make it into the cmake build command and as a result:
[code]
See the issue here: https://github.com/ufs-community/ufs-weather-model/issues/898. What you want to do is:
[code]
because then you get:
[code]

[2022-01-28 20:19] MicroTed commented on #1030
Ha, I knew it had to be my fault. Thanks so much for the help!

[2022-01-28 20:20] climbfuji commented on #1030
No problem. But if there is something wrong in the documentation, then it should be fixed.

[2022-01-28 20:39] junwang-noaa commented on #1030
@climbfuji Thanks for answering the question. I saw the build.sh section in  the wiki documentation was updated. I updated the last section of feeding build options to compile.sh.

https://github.com/ufs-community/ufs-weather-model/wiki/Building-model

@MicroTed Please let us know if the issue is resolved.

[2022-01-28 20:41] MicroTed commented on #1030
Ah, so it is then building for *all* suites, which also explains why it takes so long to finish. I just got it successfully compiled on jet with a correct setting for the suite. For previous compiles, I had edited build.sh to set up the suites, but this time was trying to run it "as intended." (Which I didn't quite manage, haha)

@climbfuji : In other news, I got gcc-10 and hpc-stack working on my

[2022-01-28 22:08] #1030 closed

[2022-01-31 14:35] BrianCurtis-NOAA commented on #994
The deletion of directories is moved into rt_auto.py and has been working as expected for a week now. Nothing has been getting deleted before a PR is finished. Closing.

[2022-01-31 14:35] #994 closed

[2022-02-02 14:58] DeniseWorthen commented on #993
For completeness, these are the exported Sw_z0 fields at the first and second ModelAdvance when the run sequence is fixed as in PR #1034

![wavImp_Sw_z0_2019-08-29-00360](https://user-images.githubusercontent.com/40498404/152178408-f5e24c76-cf24-4aac-9cec-4957c6d97fe7.jpg)
![wavImp_Sw_z0_2019-08-29-00720](https://user-images.githubusercontent.com/40498404/152178427-77cbb6a0-7e9e-431f-87ee-c6571e95

[2022-02-02 15:45] #1023 closed

[2022-02-03 15:08] MinsukJi-NOAA opened #1036 "UFS weather model with mixed mode FMS library"
## Description
This issue is created to keep track of issues, test statuses, etc. and everyone involved up to date as the mixed mode FMS library is getting ready to be released.

## Solution
Relevant branches, PR's, issues, and test statuses will be listed here.

## Alternatives
Communicate via email.

## Related to
FMS
https://github.com/NOAA-GFDL/FMS/pull/857

MOM6
https://github.com/NOAA-EMC/MO

[2022-02-03 15:35] MinsukJi-NOAA commented on #1036
Mixed mode FMS library was built with Intel and GNU

For a specific platform, compiler, debug combination, please uncomment one of the `setenv` lines in `modulefiles/ufs_common` and `modulefiles/ufs_common_debug`:

`ufs_common`
[code]

`ufs_common_debug`
[code]

[2022-02-03 15:50] MinsukJi-NOAA commented on #1036
All regression tests on Hera and WCOSS Dell for `S2SW`, `S2S`, `NG-GODAS` applications passed, including GNU compiler and debug cases.

[2022-02-03 18:19] junwang-noaa commented on #1014
The autoRT runs fine on jet now. I will close the issue.

[2022-02-03 18:19] #1014 closed

[2022-02-03 18:21] junwang-noaa commented on #993
@DeniseWorthen So the problem is fixed, can you close the issue?

[2022-02-03 19:39] DeniseWorthen commented on #993
No, the issue won't be fixed until I bring in the new cap for HAFS.

[2022-02-04 14:21] MinsukJi-NOAA commented on #1036
Preliminary tests by @SMoorthi-emc for a 10 day run of C1152L127 coupled model resulted in approximately 30% time savings.

[2022-02-07 14:49] junwang-noaa commented on #1021
@Beliavsky The topics were added.  Please let me know if you have any comments/suggestions. Thanks.

[2022-02-07 15:30] Beliavsky commented on #1021
Very good, thanks.

[2022-02-07 15:30] #1021 closed

[2022-02-07 18:13] MatthewPyle-NOAA opened #1038 "Regional run transient noise when fresh lateral boundary information is read"
## Description
Using the relatively new pressure tendency diagnostic, we’ve seen a [slight, transient increase in domain-averaged surface pressure tendency at the frequency of lateral boundary updates in limited-area runs](https://www.emc.ncep.noaa.gov/users/emc.campara/rrfs/cyc/ptend/images/ptend_lam_tm00.png).

### To Reproduce:
What compilers/machines are you seeing this with?  Has been seen wi

[2022-02-07 22:15] junwang-noaa commented on #97
@JeffBeck-NOAA Since the dycore PR#96 fixed the issue for now. Can we close this issue and open and a new one when the modifications to UFS_UTILS are ready? Thanks.

[2022-02-08 00:06] JeffBeck-NOAA commented on #97
@junwang-noaa, Yes!  Thanks.  Here is the [related issue](https://github.com/ufs-community/UFS_UTILS/issues/539) in UFS_UTILS.  Closing this one.

[2022-02-08 00:06] #97 closed

[2022-02-09 16:09] JessicaMeixner-NOAA opened #1042 "Update to use p8b settings in regression tests"
## Description
Update p8 (coupled and standalone atm) regression tests to use p8b settings. Including a test for aerosols.  The benchmark tests will point to the p8b ICs (which are the same as p8a/p7.2).

## Solution
Update the regtests

## Alternatives
None

## Related to
https://github.com/NOAA-EMC/fv3atm/issues/478

[2022-02-09 17:08] junwang-noaa commented on #1042
@JessicaMeixner-NOAA would you please list your ufs-weather-model branch? Also my understanding is the the current benchmark test is running with P8a configuration and benchmark ICs. If there are any input file updates for this p8b RT update, would you please list the file location and we can add the data to RT location. Thanks

[2022-02-09 20:31] DeniseWorthen commented on #1029
On Cheyenne, HYCOM can be built with the following changes. However the build then fails in WW3, with the "type mismatch" error on an MPI_SEND. When WW3 can be built with CMake, we can add the same "fallow-argument-mismatch" for GNU>10 which should allow the HAFS apps to be built w/ GNU.

[code]

[code]

[2022-02-10 13:49] JessicaMeixner-NOAA commented on #1042
The ufs-weahter-model branch can be found here: https://github.com/JessicaMeixner-NOAA/ufs-weather-model/tree/feature/p8b It was updated with the most recent ufs-weather-model branch as of yesterday early afternoon and tested with a created baseline.  The following is the status as of this morning.

Note, the input is set-up for hera only right now (although if you commented out the line for the n

[2022-02-10 14:41] AnningCheng-NOAA commented on #1042
Jessica, I have had a similar error message for Thompson microphysics
before, which was resolved by setting the default rain water and ice water
to zero in the field table.

On Thu, Feb 10, 2022 at 8:49 AM Jessica Meixner ***@***.***>
wrote:

[2022-02-10 15:06] RuiyuSun commented on #1042
Jessica,

Could you point us to your rundir of the control_p8 (standalone atm, C96
with p8b settings) and field_table used for the FV3?

Thanks,
Ruiyu

On Thu, Feb 10, 2022 at 9:41 AM AnningCheng-NOAA ***@***.***>
wrote:

--

Ruiyu Sun, PhD

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2097

College Park, MD 20740

***@***.*** ***@***.***>

301-683-3787

[2022-02-10 15:33] junwang-noaa commented on #1036
@binli2337 Would you please check why datm_cdeps_debug_cfsr test does not reproduce the baseline? Thanks.

@junwang-noaa @jiandewang When the mixed-mode FMS is compiled without the "-march=core-avx2" option, the baseline results can be reproduced on Hera.

[2022-02-10 17:01] JessicaMeixner-NOAA commented on #1042
@AnningCheng-NOAA @RuiyuSun  A run directory can be found here: /scratch1/NCEPDEV/stmp2/Jessica.Meixner/FV3_RT/rt_18422/control_p8  (note this might get deleted as I make space for new runs, but you can always run the branch to get a new run directory).

The field table for [control_p8](https://github.com/JessicaMeixner-NOAA/ufs-weather-model/blob/feature/p8b/tests/tests/control_p8#L159) (and the

[2022-02-10 17:40] RuiyuSun commented on #1042
@JessicaMeixner-NOAA What is the smaller dt_inner that you tried? Could you use dt_inner = 60s or 120s?

[2022-02-10 17:56] AnningCheng-NOAA commented on #1042
Jessica,

It is not the issue of the field_table. I made the changes on the
field-table, but got the same error message.

I have also tried dt_inner=60s and 120s, which does not work either.
Ruiyu, Please take a look at
/scratch1/NCEPDEV/global/Anning.Cheng/tmp/test.

Anning

On Thu, Feb 10, 2022 at 12:40 PM RuiyuSun ***@***.***> wrote:

[2022-02-10 18:02] JessicaMeixner-NOAA commented on #1042
@RuiyuSun  I had only tried 120 before best I can remember. Maybe 75?
@AnningCheng-NOAA thanks for confirming the field table is not an issue.

Let me know if there's another test I can try from my side.  It's odd because the same ICs and everything work when coupled and also works in debug for the standalone test.

The coupled debug test also now runs but required extending the wall clock time.

[2022-02-10 18:53] yangfanglin commented on #1042
@JessicaMeixner-NOAA
Please set  cdmbgwd="0.14,1.8,1.0,1.0"  for C96

[2022-02-10 20:57] JessicaMeixner-NOAA commented on #1042
The standalone runs are now running with the updated cdmbgwd for C96 setting!

Also, the cpld debug reproduces its own baseline.

[2022-02-11 14:00] arunchawla-NOAA commented on #1042
@yangfanglin is there some documentation on how these numbers are determined for cdmbgwd ?

[2022-02-11 15:50] yangfanglin commented on #1042
@arunchawla-NOAA They are defined  in config.fv3 of the workflow.

[2022-02-11 15:51] yangfanglin commented on #1042
For p8b, please see the numbers for different resolution given in /gpfs/dell6/emc/modeling/noscrub/Fanglin.Yang/para_gfs/gfsv17p8b/config.fv3

[2022-02-12 00:03] pjpegion opened #1046 "IAU in MOM6 is broken"
## Description
When I turn on the IAU in the ocean ( but setting ODA_INCUPD = True and other associated namelist varibles)

I get:

FATAL from PE   XXX: Attempted to register oda_incupd_ncount but the restart registry is locked.

## Additional context
Since the regression test for the ocean IAU was with the nems mediator, it was removed several months ago, and this change of behavior was not caugh

[2022-02-14 01:29] rmontuoro opened #1047 "Enable Thompson microphysics when coupling with UFS-Aerosols"
## Description
Due to legacy settings implemented for GEFS-Aerosols, the Thompson microphysics scheme cannot be selected when the UFS weather model is run with prognostic aerosols (UFS-Aerosols).

## Solution
The Thompson MP scheme should be enabled when coupling with UFS-Aerosols, making sure that both microphysics and aerosol tracers are properly processed and diffused by PBL schemes.

[2022-02-14 01:38] rmontuoro opened #1048 "Update GOCART to version 2.0.2"
## Description
The GOCART submodule needs to be updated to point to a more recent GOCART version (2.0.2). This change also requires updating GOCART's resource files (`*.rc`) used in regression tests.

This update is required for prototype 8 experiments.

[2022-02-14 03:43] yangfanglin commented on #1047
@rmontuoro UFS prototype p8b is not using the aerosol aware version of Thompson MP.  Only rain_nc and ice_nc are added as two extra tracers for transport. Are you planning to activate the aerosol-aware version of Thompson MP and use GOCART aerosols to determine water and ice friendly aerosol number concentrations used by Thompson MP ?

[2022-02-14 03:47] yangfanglin commented on #1048
@rmontuoro  Is there a document describing the updates included in GOCART version (2.0.2) ?

[2022-02-14 04:59] rmontuoro commented on #1048
@yangfanglin - A summary of the updates introduced between release 2.0.0-rc.1 (the GOCART version currently in the UFS weather model) and 2.0.2 is available here: https://github.com/GEOS-ESM/GOCART/blob/develop/CHANGELOG.md.

[2022-02-14 05:10] rmontuoro commented on #1047
@yangfanglin - This PR is only meant to enable Thompson MP when UFS-Aerosols is coupled for future prototype development. Connecting prognostic aerosols with the aerosol-aware Thompson MP has not been planned for prototype 8.

[2022-02-14 15:26] junwang-noaa commented on #555
This issue is going to be resolved in PR #1044.

Please create an new issue for moving nest capability.

[2022-02-14 16:20] jiandewang opened #1051 "CHL_FILE has been setup twice in MOM_input_05"
## Description
in MOM_input_05_template the following is duplicated:
https://github.com/ufs-community/ufs-weather-model/blob/develop/tests/parm/MOM_input_template_050#L825-L833
https://github.com/ufs-community/ufs-weather-model/blob/develop/tests/parm/MOM_input_template_050#L726-L732

solution: remove the 1st section in the above

### To Reproduce:
What compilers/machines are you seeing this with?

[2022-02-15 18:38] binli2337 commented on #1036
The mixed_mode FMS has been built on Gaea and tests show that the following 4 regression tests can reproduce the baseline using the mixed_mode FMS:
1) datm_cdeps_control_cfsr
2) datm_cdeps_debug_cfsr
3) cpld_control_p8
4) cpld_debug_p8

The ufs-weather-model code used: https://github.com/binli2337/ufs-weather-model/tree/feature/mixed_mode
The test log file is https://github.com/binli2337/ufs-weath

[2022-02-16 17:12] CoryMartin-NOAA opened #1052 "Write out valid time as a string in history files"
## Description
Currently, UFS write-grid component writes out valid time like so:
[code]
This requires routines to compute the valid time using the value of time(t) and the unit string. These are in `w3emc` but is not a trivial thing to do without external libraries.

It would be nice to have something akin to the following added:
[code]
So that one can easily grab: `2022-02-16T17:11:00Z`
This wil

[2022-02-16 19:57] BinLiu-NOAA opened #1053 "Expand write grid component to output moving nested domain properly"
## Description
With the effort to resolve issue #555 through PR #1044, now the write grid component within ufs-weather-model/FV3atm can properly output both parent and static nested domains/grids. However, when outputting a moving nest domain/grid, the output fields are on the wrong locations, due to the fact the forecast grid component's compute domain moves during the model integration (e.g., fo

[2022-02-16 20:00] BinLiu-NOAA commented on #555
@junwang-noaa, I have just created a new issue #1053 for moving nest write grid component support. Thanks!

[2022-02-17 14:16] DusanJovic-NOAA commented on #1052
See these example files:

/scratch2/NCEPDEV/fv3-cam/Dusan.Jovic/ufs/valid_time/control_CubedSphereGrid/atmf000.nc
/scratch2/NCEPDEV/fv3-cam/Dusan.Jovic/ufs/valid_time/control_CubedSphereGrid/atmf006.nc
/scratch2/NCEPDEV/fv3-cam/Dusan.Jovic/ufs/valid_time/control_CubedSphereGrid/atmf012.nc
/scratch2/NCEPDEV/fv3-cam/Dusan.Jovic/ufs/valid_time/control_CubedSphereGrid/atmf024.nc
/scratch2/NCEPDEV/fv3-

[2022-02-17 14:30] CoryMartin-NOAA commented on #1052
@DusanJovic-NOAA thank you so much for a quick implementation, this is exactly what I was looking for!

Now I can remove a lot of julian day computations and just read the valid time string directly, this is perfect!

[2022-02-17 14:53] DusanJovic-NOAA commented on #1052
@CoryMartin-NOAA @aerorahul The unit attribute is not strictly correct, I think we should just use 'description' attribute for this variable. Also the name itself (valid_time) is a bit misleading. Variable 'time' is also valid time, it's just represented as number instead as text. so how about this:

[code]

[2022-02-17 14:54] CoryMartin-NOAA commented on #1052
@DusanJovic-NOAA those changes work for me, you are right, both variables should give you the same time, it's just different formats/representations.

[2022-02-17 15:22] DusanJovic-NOAA commented on #1052
I updated the sample files (above) to use `time_iso` variable name. Please take a look.

[2022-02-17 16:32] DusanJovic-NOAA commented on #1052
I'm looking at the values of `time` and `time_iso` in the first (f000) history file, for example:
[code]
As you can see there's a slight difference, because this is not actually 00hr output but `dt_atmos` seconds after the initial time, which in this case is 720s or 12min. 720s when represented in decimal hours is 0.2hr, but 0.2 is not exactly representable as floating point number, it is actually

[2022-02-17 17:19] RatkoVasic-NOAA opened #1054 "Regional hi-res, small domain new regression test"
## Description
Regional group asked to test 3km resolution regional application.

## Solution
Since full domain would take a lot of time and CPU resources, we came up with very small domain (350x200 points) with 6 hours run in ~4.5 minutes real time.

[2022-02-17 18:17] junwang-noaa commented on #1054
@RatkoVasic-NOAA You can also set up a full domain 3km parallel test and run it in our weekly test, which is running on weekends. Please see https://github.com/ufs-community/ufs-weather-model/blob/develop/tests/rt_weekly.conf.

[2022-02-17 18:42] RatkoVasic-NOAA commented on #1054
Great, we'll put large domain in weekly tests, and small domain in regular tests.

[2022-02-17 18:58] CoryMartin-NOAA commented on #1052
Another question is:
`float soill4(time, tile, grid_yt, grid_xt) ;`
There are soill1-soill4 variables. There are several others (soilt, soilw, etc.) Should they stay like this? or should it be an additional dimension? (the latter is what GEOS does)

[2022-02-17 19:13] DusanJovic-NOAA commented on #1052
I have no idea why these soil fields are written like they are now. @junwang-noaa

[2022-02-17 20:05] climbfuji commented on #1052
I don't know either, my guess would be that there were limitations in the past with hon many vertical dimensions could be in the file. It's a bad design, because for outputting RUC LSM data, you need 9 separate soilt, soilw, soilm variables (and there is extra code in `FV3GFS_io.F90` to handle that).

[2022-02-17 20:54] junwang-noaa commented on #1052
@CoryMartin-NOAA Soil layers are the vertical dimension for those fields. I don't remember if fv3 has that axis information.  We need to check if we need to add the soil layer dimension, then these fields can have a vertical dimension, rather than a 2D dimension

[2022-02-17 20:58] CoryMartin-NOAA commented on #1052
Thanks @junwang-noaa , if we could write these variables with a vertical dimension that would be great. That is what GEOS does and it would greatly simplify the I/O in FV3-JEDI.

[2022-02-17 21:02] DusanJovic-NOAA commented on #1052
@junwang-noaa Wouldn't that break downstream programs (upp)?

[2022-02-17 21:11] aerorahul commented on #1052
Isn't this for tiled cubed sphere output?  Does UPP read tiled output already?

[2022-02-17 21:15] DusanJovic-NOAA commented on #1052
UPP does not read cubed sphere outputs, yet, but the same write routine, the same write FieldBundle, the same Fields in that bundle, the same attributes and dimensions of each field are used for all other output grid types/formats.

[2022-02-17 21:16] DusanJovic-NOAA commented on #1052
BTW, I suggest we open separate issue, this issue is for adding 'valid time' variable.

[2022-02-17 21:23] CoryMartin-NOAA commented on #1052
@DusanJovic-NOAA I will open a new issue related to the `sfc` fields.

[2022-02-17 21:28] CoryMartin-NOAA opened #1055 "Add vertical dimension to certain surface fields"
## Description
This discussion started in https://github.com/ufs-community/ufs-weather-model/issues/1052 but continuing it here.

Many of the fields in the `sfcfNNN.nc` files look like so:
[code]
Which is 4 layers of soil temperature.

I think it would make more sense for these fields to be instead like so:
[code]
or something like that.

This would greatly simplify I/O routines as it would be a f

[2022-02-19 05:54] uturuncoglu opened #1057 "Issue with running single restart test"
## Description
A single RT can be run using `./rt.sh -n [test name]` command but when same command is used for the restart tests, it does not run the dependency test (the control). This causes failure in the regression test since the restart files are not available. As a workaround, i am creating a custom rt.conf file that includes only subset of the RTs such as cpld_control_c96_p8 and cpld_restar

[2022-02-20 04:27] jiandewang opened #1059 "update MOM6 to its main branch 20220217 commit"
MOM6 main branch was updated on 20220217 (see detail at  https://github.com/mom-ocean/MOM6/pull/1556#issuecomment-1043449272), need to make corresponding updating in ufs-weather-model
Note these parameters default values have been changed:

- INTERNAL_WAVE_SPEED_BETTER_EST (now .true.)
- EPBL_MLD_BISECTION (now .false.)
- BBL_USE_EOS (now set to the value of USE_EOS)

in MOM_input, we will set INT

[2022-02-22 13:01] DeniseWorthen commented on #1059
@jiandewang I thought our general policy was to keep our MOM_input defaults consistent with the default values from GFDL.

[2022-02-22 15:31] jiandewang commented on #1059
@DeniseWorthen you are right on the general policy. In fact those two parameters are set explicitly for 025 and 05 resolution in MOM6-examples now. See
https://github.com/NOAA-GFDL/MOM6-examples/blob/dev/gfdl/ice_ocean_SIS2/OM4_025/MOM_input#L389
https://github.com/NOAA-GFDL/MOM6-examples/blob/dev/gfdl/ice_ocean_SIS2/OM4_025/MOM_input#L711

But for 1x1 EPBL_MLD_BISECTION is not set explicitly in M

[2022-02-22 16:06] #1048 closed

[2022-02-22 16:26] DeniseWorthen commented on #1059
@jiandewang I think I'm confused how you're describing the change. In the MOM_input templates, each of these three is being set to the Default setting.

[2022-02-22 16:42] jiandewang commented on #1059
@DeniseWorthen let's say INTERNAL_WAVE_SPEED_BETTER_EST, the default is F in current dev/emc code, but in became T in the updated code. In current UFS MOM_template we didn't have this setting which means we are using default F. But in the updating we add it explicitly in MOM_template as F so that we can keep answer. So I am not setting it as default in this PR.

[2022-02-22 16:55] jiandewang commented on #1059
@DeniseWorthen I know your concern now, it is the documentation in MOM_template that I forgot to modify, will make that change shortly.

[2022-02-22 18:50] jiandewang commented on #1059
@DeniseWorthen I just updated MOM_template and ran all S2S and CDEPS on HERA, got all PASS

[2022-02-23 13:58] DeniseWorthen commented on #1059
So we're now setting these parameters as non-default values, solely to maintain our current baselines, correct? Should we plan on changing them to the actual defaults in a future commit which changes baselines?

[2022-02-23 14:51] jiandewang commented on #1059
@DeniseWorthen we will keep these parameters in MOM_template (MOM6-examples also did in this way)

[2022-02-24 16:04] junwang-noaa opened #1062 "Mixed mode FMS for coupled runs"

[2022-02-24 16:05] junwang-noaa opened #1063 "S2SW reproducibility"

[2022-02-24 16:34] junwang-noaa commented on #555
The PR #1044 was merged, the issue is closed.

[2022-02-24 16:34] #555 closed

[2022-02-24 16:45] #1057 closed

[2022-02-24 16:45] #1059 closed

[2022-02-24 16:45] #1051 closed

[2022-02-25 01:49] rmontuoro opened #1064 "Restart files are generated incorrectly when using multiple FV3ATM run phases"
## Description

When running the atmospheric model using multiple NUOPC run phases restart files are not written at the expected times.

## Additional context
- See: https://github.com/NOAA-EMC/fv3atm/issues/488

[2022-02-25 12:29] binli2337 commented on #901
The "datm_cdeps_3072x1536_cfsr" test has been added to the ufs-weather-model.

[2022-02-25 12:29] #901 closed

[2022-02-25 16:59] DeniseWorthen commented on #1029
A more elegant solution is provided via email from @climbfuji , posing the question to Intel regarding GNU compile failure with a line such as ``attrList=(/"fhzero", "ncld", "nsoil", "imp_physics", "dtp"/), rc=rc)``

[code]

[2022-02-25 19:04] BrianCurtis-NOAA opened #1066 "ecflow fails on Autort BL tasks on Jet"
## Description
* ecflow fails on Autort BL tasks on Jet

### To Reproduce:
1) Use AutoRT on Jet with Baseline task

## Additional context
The Jet sysadmins wish us to use their ecflow node (tfe1) without running tasks from tfe1. In order to accomplish this, there needs to be changes to rt.sh and rt_utils.sh.

[2022-02-25 20:19] #1038 closed

[2022-02-25 20:48] zhanglikate opened #1068 "Chemical model can not work properly after merging into the updates on July 1"
## Description
The chemical model of FV3-Chem and CCPP-Chem is able to run properly in the version of  " https://github.com/NOAA-GSL/ufs-weather-model/tree/gsl/develop-chem" at HERA"/scratch2/BMC/gsd-fv3-dev/lzhang/ufs-weather-model "

However, when we merged the FV3GFS updates with the version including the commits in "https://github.com/NOAA-EMC/fv3atm/commit/ad7bddc3fbe0b25914fb28439337603ca5d0

[2022-02-25 23:32] theurich commented on #1053
Tiny issue in the description, there is a typo in ESMF that should be corrected. I don't think I am able to edit the description.

[2022-02-25 23:39] theurich commented on #1053
@BinLiu-NOAA - how can I access the updated grid coordinates for moving nests from the module_fcst_grid_comp.F90 level? I tried `Atmos%lon(:,:), Atmos%lat(:,:), Atmos%lon_bnd(:,:), and Atmos%lat_bnd(:,:),` but these do not seem to be changing throughout the run. This is for a domain that has` Atmos%is_moving_nest==.true.`, so it should be moving (and I do see the data shifting). Are the update coo

[2022-02-26 00:00] theurich commented on #1053
@BinLiu-NOAA - I think I figured it out. Under `subroutine update_atmos_model_state()` I added calls into `atmosphere_grid_bdry() `and `atmosphere_grid_ctr()`. I see that those routines are needed to update the coord arrays in the Atmos structure.
I now see the expected moving nest in the output now! I will do a bit of code clean-up and then push this to a branch and let you know.  I will also poi

[2022-02-26 00:17] BinLiu-NOAA commented on #1053
@theurich, Good catch! Fixed!

[2022-02-26 00:21] BinLiu-NOAA commented on #1053
@theurich, Great that you figured it out. And Thanks for the updates as well! And feel free to let us know once you have an version of ESMF and code branch for us to test. Have a nice weekend!

[2022-02-26 02:04] theurich commented on #1053
@BinLiu-NOAA - I just pushed the initial moving nest output changes to https://github.com/hafs-community/fv3atm/tree/feature/hafs_nest_cpl_moving. Running this currently requires use of ESMF installation under `/scratch1/NCEPDEV/nems/Gerhard.Theurich/Moving-Nests-HAFS-1/esmf/lib/libO/Linux.intel.64.intelmpi.default` on Hera.

[2022-02-27 04:19] arunchawla-NOAA commented on #1068
Kate is this an issue with the gsl fork ? If yes then I am not sure the code managers here can solve that  problem

[2022-02-28 04:34] zhanglikate commented on #1068
@arunchawla-NOAA , Arun, this is not only an issue with the GSL. Both the GEFS-Aerosols (in operation now) and FV3GFS-CCPP-Chem (the same as GEFS-Aerosols, but use CCPP as the coupler instead of NUOPC) would be impacted. Because they are using the same chemical model and sharing the same parts in the FV3GFS. So they can not update to the current FV3GFS version since the commits in https://github.c

[2022-02-28 10:57] binli2337 opened #1069 "Add a CDEPS test using GFSv16 input data"
## Description
A new CDEPS test will be added to use GFSv16 input data.

## Solution
1. A CDEPS test using GFSv16 input data will be added to the regression test suite.
2. The mushy-layer thermodynamic option will be used in CICE.
3. New GFSv16 input data will be added to the input-data-20211210/DATM_CDPES/GFS directory.

[2022-02-28 14:53] JessicaMeixner-NOAA commented on #1042
The remaining issues have been resolved and a PR will be raised after moving the <cpl?_aero tests to the <cpl> tests.  In the meantime, the input updates that are required are on hera here:
/scratch1/NCEPDEV/nems/emc.nemspara/RT/NEMSfv3gfs/BM_IC-20220207
/scratch1/NCEPDEV/nems/emc.nemspara/RT/NEMSfv3gfs/input-data-20211210/GOCART/p8
it would be great to get help to transfer that data to the other

[2022-02-28 15:43] junwang-noaa commented on #1042
@jkbk2004 Would you please sync the new data sets to Cheyenne? I am sync-ing them to other platforms. Thanks

[2022-02-28 16:13] arunchawla-NOAA commented on #1068
But GEFS-Aerosol for the next stage will go from the top of ufs-weather-model. I do not understand what the FV3GFS-CCPP-Chem model is ? Is this built on the GSL fork ? This PR went in in July 2021. That was a while ago. Why was this not tested till now? It is not practical to have parallel long term development on institutional forks and expect the auth repo to test for those capabilities

[2022-02-28 17:38] zhanglikate commented on #1068
Yes. GEFS-Aerosols would be replaced by UFS-Aerosols in the future as planned, but the chemical model of these two model are not the same, so they may not sharing the same part in FV3GFS. And UFS-Aerosols is still under developing, not ready to run real-time now. FV3GFS-CCPP-Chem is the CCPP version of GEFS-Aerosols, however it includes the aerosol feedback, but GEFS-Aerosols does not.  It provide

[2022-02-28 17:50] binli2337 commented on #1036
Results on Hera using gnu compiler:
Test "cpld_control_c96_p8" passed RT test.
Test "cpld_debug_p8" failed to run due to segmentation fault.

[2022-02-28 18:02] arunchawla-NOAA commented on #1068
If fv3gfs-ccpp-chem is a critical development component then why is it not in the authoritative ufs repositories ? otherwise this problem will keep on occurring

[2022-02-28 18:13] zhanglikate commented on #1068
The FV3GFS was working well with GEFS-Aerosols before the commits, so by default I think it is in the authoritative ufs repositories. After the commits, some parts related to UFS-Aerosols may replace the previous  GEFS-Aerosols part, since these two chemical components are not the same. But will need help to see what exactly happen.

Yes. I agree with you. I am not the CCPP code manager, but I kno

[2022-02-28 20:28] junwang-noaa commented on #1042
@JessicaMeixner-NOAA The input data you listed are now available on Orion, jet, gaea and dell. It will be populated to surge when it's available.

[2022-02-28 21:08] jkbk2004 commented on #1042
@junwang-noaa @JessicaMeixner-NOAA let me try to synch from her to cheyenne. Hopefully, this time it will go thru ok with epic account. I will keep you posted.

[2022-03-01 02:23] jkbk2004 commented on #1042
@junwang-noaa @JessicaMeixner-NOAA completed synch-ing to cheyenne.

[2022-03-01 19:59] kgerheiser opened #1072 "Compile jobs running out of memory on WCOSS-Dell"
## Description
While integrating the WW3 CMake build into the UFS, @JessicaMeixner-NOAA had an error on WCOSS-Dell because of using too much memory while compiling.

And i think it's related to the issue in https://github.com/ufs-community/ufs-weather-model/pull/1032#issuecomment-1055742294

@junwang-noaa noted the debug build worked. I think that's because the optimizations the compiler takes use

[2022-03-02 16:01] kgerheiser opened #1074 "Integrate WW3 CMake build"
## Description

A CMake build was recently added to WW3 and this build should be integrated in the UFS. This will significantly simplify the build because it will integrate directly into UFS with `add_subdirectory`.

This block of code:

https://github.com/ufs-community/ufs-weather-model/blob/34a5895b847f276335bd40f03321011d05d1b328/CMakeLists.txt#L157-L179

becomes:

[code]

And linking the libra

[2022-03-02 16:27] DeniseWorthen commented on #1074
@kgerheiser There will be an alternate nuopc cap which runs on a mesh added to the WW3 dev/ufs-weather-model branch. I am building with an alternate switch file, source file list and a different ``FRONT_WW3`` definition in the CMakeLists.txt.

The mesh cap will be used w/in UWM for the S2SW and HAFSW apps. The ATMW application will continue to use the current build configuration (switch, file list

[2022-03-02 16:31] kgerheiser commented on #1074
Setting a different switch file based on some other option is pretty simple, and would be something like

[code]

Different source files will have to be handled on the WW3 side through a new CMake option or something.

[2022-03-02 16:44] DeniseWorthen commented on #1074
At the app level, would I define a second ``WW3`` option here,

[code]

and here

[code]
Will I need a dependency other than ``ww3_nems`` here?

Then  in ``cmake/configure_apps.cmake``, I'd define the alternate ``WW3``.

[code]

[2022-03-02 16:52] junwang-noaa commented on #1074
@kgerheiser I am curious, I assume there is no change on FV3 side with the ww3 cmake, why is there an issue compiling the code on dell? Is the ww3 cmake build taking more memory? The current ufs-weather-model develop branch can be built with ww3.

[2022-03-02 16:55] kgerheiser commented on #1074
*  I assume there is no change on FV3 side with the ww3 cmake

No change there, only the build system changes

* Why is there an issue compiling the code on dell?

The build runs out of memory on WOCSS-Dell. For whatever reason the build must take more memory to compile than the current build.

[2022-03-02 17:45] SamuelTrahanNOAA opened #1075 "control_flake and rap_control_flake do not run the flake model due to lack of lake input data"
## Description

The control_flake and rap_control_flake tests purport to test the flake model, but they don't actually run it. The input data lacks lakefrac, so the flake model never runs. In a way, that's good, since the input also lacks lakedepth, and hence the results would be gibberish. This different than issue #936 which points out that the control_flake regression test also disables the fla

[2022-03-02 17:46] SamuelTrahanNOAA commented on #936
This is still a problem with the current version of ufs-weather-model. However, there is another problem: the mandatory lake input data is missing in both control_flake and rap_control_flake as described in #1075

[2022-03-03 19:38] ClaraDraper-NOAA opened #1076 "Update land perturbation scheme to work with Noah-MP"
## Description
The current land perturbation scheme (lndp=2) needs to be updated to the Noah-MP land model for use in GFSv17.

## Solution
Update the routine applying land perturbations to also work with Noah-MP.
At the same time, revise the namelist options for applying land perturbations to the regional system (HRRR), since these are currently confusing and sometimes use the land model as a prox

[2022-03-03 21:26] JesseMeng-NOAA opened #1078 "ufs-weather-model/fv3atm/upp 2D decomposed inline post"
## Description

The community upp is currently decomposed on latitudes (y-direction) only. As the ufs-weather-model is making 2D decomposition in both latitudes and longitudes (Y and X), one of the upp refactoring tasks is to support ufs-weather-model inline post 2D decomposition functionality.

## Solution

A ufs-weather-model feature post_2d_decomp is created for this test with inline post turne

[2022-03-03 22:40] MinsukJi-NOAA commented on #1036
Hera gnu debug test passed:
https://github.com/MinsukJi-NOAA/ufs-weather-model/blob/fms_mixedmode_20220302/tests/RegressionTests_hera.gnu.log
Note that FMS is compiled without core-avx2 for gnu debug.

[2022-03-04 17:04] grantfirl opened #1079 "Add NSSL microphysics to the CCPP"
## Description
The NSSL MP scheme should be added to the authoritative CCPP repo because "the NSSL scheme is used in NSSL's daily FV3 convection-allowing forecasts, and the scheme itself is aimed at this scale (dx <= 4km). Testing is underway also with a preliminary Warn-on-Forecast FV3 ensemble", according to @MicroTed. The SRW App in particular needs this.

## Solution

- Add NSSL code to ccpp-p

[2022-03-04 17:16] junwang-noaa commented on #989
The code was committed. The issue will be closed.

[2022-03-04 17:16] #989 closed

[2022-03-04 18:42] #1079 closed

[2022-03-04 18:49] arunchawla-NOAA commented on #289
@junwang-noaa and @DeniseWorthen

do we have low resolution runs now ? Can this issue be considered closed ?

[2022-03-04 18:50] arunchawla-NOAA commented on #263
@junwang-noaa is there work going on for this issue ? Can we consider this closed ?

[2022-03-04 18:56] arunchawla-NOAA commented on #416
@uturuncoglu @aerorahul

can this issue be closed ? the PR linked to this issue is closed

[2022-03-04 19:00] uturuncoglu commented on #416
@arunchawla-NOAA I think the build system is more flexible now and allows defining different applications easily. So, I think we could close this issue.

[2022-03-04 19:32] arunchawla-NOAA commented on #656
@uturuncoglu does this still remain an issue ? should this be changed to discussion ? or be closed ?

[2022-03-04 19:46] arunchawla-NOAA commented on #330
Is this still an issue that needs work @climbfuji @aerorahul @junwang-noaa ? Should this be moved to a discussion if we still do not have a path forward ?

[2022-03-04 19:50] uturuncoglu commented on #656
@arunchawla-NOAA I think that this is still issue and need to be addressed in the future to have more clean and flexible RT system. I think it requires more broad discussion about the RT system. So, it might be good idea to change it to discussion.

[2022-03-04 19:50] climbfuji commented on #330
Yes, it is still an issue in my opinion.

[2022-03-04 19:59] junwang-noaa commented on #263
Yes, I think we can close the issue.

On Fri, Mar 4, 2022 at 1:50 PM arun chawla ***@***.***> wrote:

[2022-03-04 20:01] junwang-noaa commented on #289
We have low resolution C48 for atmosphere only in ufs-weather-model, but
not for the coupled system.  @DeniseWorthen
<https://github.com/DeniseWorthen> do we have 4 degree mom6 running now?

On Fri, Mar 4, 2022 at 1:49 PM arun chawla ***@***.***> wrote:

[2022-03-04 20:04] aerorahul commented on #263
@junwang-noaa
Do we have instructions to refer to where one can find the test data and run a test?

[2022-03-04 20:09] junwang-noaa commented on #1064
The issue is specified in fv3atm issue #488, the issue is closed.

[2022-03-04 20:09] #1064 closed

[2022-03-04 20:15] junwang-noaa commented on #263
@climbfuji Do you have any documentation on how to access data on s3?

[2022-03-04 20:19] junwang-noaa commented on #1074
@kgerheiser @JessicaMeixner-NOAA Would you please try with the latest develop branch to see if you still have issue compiling the code on dell? After we added the compile option change to O0 for GFS_typedefs.F90, the compile issue was resolved for PR#1032. Thanks.

[2022-03-04 20:25] junwang-noaa commented on #1001
@BenjaminBlake-NOAA Can we close this issue? Thanks

[2022-03-04 20:26] junwang-noaa commented on #999
Yes, This is to reduce the disk space usage as we got the disk quota issue.

[2022-03-04 20:26] arunchawla-NOAA commented on #656
@uturuncoglu there is a discussion topic on this

https://github.com/ufs-community/ufs-weather-model/discussions/666

but not much there. I am closing this issue here, but you may want to bring some points from here to there

[2022-03-04 20:26] #656 closed

[2022-03-04 20:28] junwang-noaa commented on #997
@BrianCurtis-NOAA Is the issue resolved?

[2022-03-04 20:28] climbfuji commented on #263
No. This has not been maintained for a while now, because it never got used despite me keeping the data in sync.

[2022-03-04 20:29] arunchawla-NOAA commented on #855
Since there is a PR for p8b that is creating a fully coupled regression test including aerosol and there is an issue open for that I am closing this issue

[2022-03-04 20:29] #855 closed

[2022-03-04 20:32] arunchawla-NOAA commented on #618
@binli2337 and @junwang-noaa how is this different from issue 1036 ?

[2022-03-04 20:53] junwang-noaa commented on #618
I think we can use issue #1036 to track current issues.

On Fri, Mar 4, 2022 at 3:33 PM arun chawla ***@***.***> wrote:

[2022-03-04 20:53] BrianCurtis-NOAA commented on #997
The goal was to use SSH instead of HTTPS for git clones to fix an permissions issue. The fix was made but in the end there seems to be no way to guarantee a safe push to a users branch without having collaborator permissions in their fork.

The issue is and isn't resolved. But for the purposes of why this issue was created I feel we can close it since I don't think it's an issue with AutoRT or UFS

[2022-03-04 20:55] climbfuji opened #1080 "ufs-weather-model upp error when using llvm-clang on macOS"
## Description
Provide a clear and concise description of what the bug is.
Also give a description of what behavior you expected to happen.

### To Reproduce:
1. Use llvm-clang on macOS instead of native apple-clang (this uses llvm-ranlib)
2. Compile ufs-weather-model
[code]

## Additional context
This is a known bug in UPP for which I have submitted a bugfix PR a few weeks ago:
https://github.com

[2022-03-04 21:03] binli2337 commented on #696
This issue has been replaced by issue #1069

[2022-03-04 21:03] #696 closed

[2022-03-04 21:07] JessicaMeixner-NOAA commented on #1074
I'm running on wcoss-dell now to see if this and updates from @kgerheiser helped.

[2022-03-04 21:44] #997 closed

[2022-03-04 22:17] #416 closed

[2022-03-04 22:24] arunchawla-NOAA commented on #618
so can we close this?

[2022-03-04 22:30] arunchawla-NOAA commented on #687
@junwang-noaa @climbfuji @yangfanglin @SMoorthi-emc I am changing this issue to a discussion as no solution has been agreed to here. Once a path forward is decided we can create an issue

[2022-03-04 22:34] arunchawla-NOAA commented on #445
@DeniseWorthen is this work that still needs to be done ?

[2022-03-04 22:40] arunchawla-NOAA commented on #806
@DusanJovic-NOAA are we still keeping this issue open ? The model is running as part of GFS. There may be small updates but the majority of the work is done right ?

[2022-03-04 22:49] arunchawla-NOAA commented on #229
@MatthewMasarik-NOAA @JessicaMeixner-NOAA @junwang-noaa is this still an issue with cmake build for ww3? if yes then we need to add the dependency of the cake build for ww3 under ufs ?

[2022-03-05 00:13] junwang-noaa opened #1082 "ecflow fails on Autort BL tasks on Jet"

[2022-03-05 00:14] junwang-noaa opened #1083 "Write out valid time as a string in history files"

[2022-03-05 00:16] #1082 closed

[2022-03-05 00:16] #1083 closed

[2022-03-05 00:24] #618 closed

[2022-03-05 00:27] junwang-noaa commented on #978
The code changes were committed, The issue is closed.

[2022-03-05 00:27] #978 closed

[2022-03-05 00:32] junwang-noaa commented on #571
@DeniseWorthen Do we still need  this?

[2022-03-05 00:34] junwang-noaa commented on #566
@DeniseWorthen Do we still have issue on gaea?

[2022-03-05 00:38] junwang-noaa commented on #408
The issue is fixed.

[2022-03-05 00:38] #408 closed

[2022-03-05 01:52] JessicaMeixner-NOAA commented on #229
This is dependent on CMAKE and hopefully can be resolved soon.

[2022-03-05 11:19] DeniseWorthen commented on #566
@junwang-noaa We turned off tiled output for this test on all platforms so it is not known whether the issue has been resolved. I suspect it is still an issue since the underlying problem was most likely due to the version of PIO we are using. I believe updating PIO is an active issue w/ the ESMF developers. Perhaps @rsdunlapiv could give an update.

[2022-03-05 11:26] DeniseWorthen commented on #445
Yes and no. I have a pending PR #909 that will close the j=1 open boundary in MOM6/CICE6. It is waiting for quite some time for the a new input-data directory to be created associated w/ the P8c.

To some extent that update may also depend on the new WW3 cap being implemented for S2SW and HAFSW since new mod_def files will need to be created for the WW3 model and new IC WW3 ICs for the bmark test

[2022-03-05 11:47] DeniseWorthen commented on #571
For the mediator, ice and ocean we compare only the restart files. We do not compare any history files. For those components, we are already in the situation that any PR may unknowingly change history files.

The initial impetus for creating the issue is that the mx025 MOM6 restart files are quite large and take a long time to write. The size impacts the baseline directory size we maintain. The ti

[2022-03-05 11:50] DeniseWorthen commented on #289
I have not be able to run the 4deg MOM6 configuration. It is not initializing the T,S fields correctly and immediately implodes. I have not worked further on the issue since it was viewed as a waste of time by the coupled group.

[2022-03-05 13:00] arunchawla-NOAA commented on #445
ok thanks. Since the broader issue requires CICE6 development I am going to move this to the icebox for now

[2022-03-05 13:04] DeniseWorthen commented on #445
I agree.

[2022-03-05 13:33] DeniseWorthen commented on #320
@arunchawla-NOAA @junwang-noaa Of the outstanding issues for UFS, I still believe addressing this one would be very productive.

Currently we are manually having to set values across multiple platforms and multiple tests. Each of these represent a potential failure point. I'm also not sure how or whether this might intersect w/ the implementation of ESMF threading?

[2022-03-05 13:39] DeniseWorthen commented on #879
This change will change baselines and I believe also needs a change to the oRT setup. It was initially included in a PR some time ago but then removed because at the time we wanted to keep the baselines the same.

[2022-03-05 23:19] rsdunlapiv commented on #566
The 8.3 release of ESMF should have an updated PIO (to version 2.5.6).  We should re-test at that point to see if the issue is resolved.

[2022-03-07 04:12] jiandewang commented on #1036
@MinsukJi-NOAA @binli2337 : sorry for my late reply as I was out of town last week. I just noticed that Niki made minor further code change in MOM_diag_manager_infra.F90 so I updated my MOM6 branch. Note in this updating infra/FMS2 code also has been updated, thus we need to test that too in UFS.

[2022-03-07 13:40] DusanJovic-NOAA commented on #806
This issue is mentioned in https://github.com/NOAA-EMC/global-workflow/issues/398 which is still open.

[2022-03-07 15:22] kgerheiser commented on #1072
The fix in #1032 has resolved this

[2022-03-07 15:24] kgerheiser commented on #1074
The compile issue has been fixed

[2022-03-07 15:29] junwang-noaa opened #1085 "HAFS nested tests failed on several platforms"
## Description
The RT test hafs_regional_telescopic_2nests_atm failed a couple times on Orion when new baseline is created. The baseline was created successfully. But the RT test against the baseline failed with error:

 Comparing atmf006.nc .........OK
 Comparing sfcf006.nc .........OK
 Comparing atm.nest02.f006.nc ............ALT CHECK......ERROR

It turned out that the compare_ncfile.py failed

[2022-03-07 15:31] junwang-noaa commented on #1085
@jkbk2004 Would you please take a look of this issue on orion? Thanks

[2022-03-07 15:40] DusanJovic-NOAA commented on #838
@gsketefian Please take a look at changes in this branch https://github.com/DusanJovic-NOAA/fv3atm/tree/lambert_sh

[2022-03-07 15:45] jkbk2004 commented on #1085
@junwang-noaa I will look into that on orion.

[2022-03-07 17:19] gsketefian commented on #838
@DusanJovic-NOAA I left a couple of comments and a question in that branch.

Also, just wondering if you've run any tests yet on regional grids.  I was starting work to create a PR for this as well since there's an SRW release coming up soon, but I ran into issues running the `rt.sh` tests and was trying to debug those.  I'm happy to have you take over from here.

[2022-03-07 18:45] DusanJovic-NOAA commented on #838
I ran full rt.sh on Hera, all tests pass except 4 tests that create history outputs on Lambert grid, but the differences are expected ( roundoff errors ). I also ran one regional run with the domain over southern hemisphere, see this run directory:
/scratch2/NCEPDEV/fv3-cam/Dusan.Jovic/sufs/simple-ufs/run/model_run

[2022-03-07 18:47] DusanJovic-NOAA commented on #838
I fixed to formula used to compute `rho`.

[2022-03-07 18:49] junwang-noaa opened #1086 "Fix the compile issues on dell"
## Description
In PR#1032, there is a discussion to fix the compile job failure issue on dell. One solution is to split the large size files into smaller size files to reduce the memory requirement. One example is FV3/ccpp/data/GFS_typedefs.F90, which is about 8500 lines. The current solution is to use -O0 to compile this file. But since the file size may continue increasing, we need to split this

[2022-03-07 19:54] gsketefian commented on #838
@DusanJovic-NOAA Ok, thanks.  When you think the code is finalized, please let me know. I'd like to run with your branch the 6 cases in the SRW App that I tried when I first created this issue.

[2022-03-07 21:02] DusanJovic-NOAA commented on #838
I think you can run the SRW tests.

[2022-03-07 22:21] jkbk2004 commented on #1085
@junwang-noaa it seems ./rt.sh -c -e went thru ok on orion: /work/noaa/epic-ps/jongkim/rt-blcheck/stmp/jongkim/FV3_RT/REGRESSION_TEST_INTEL

[2022-03-08 02:01] junwang-noaa commented on #1085
@jkbk2004 Yes, the baseline creation is OK. Can you test if "./rt.sh -m -e"  can also run successfully? Thanks

[2022-03-08 13:58] arunchawla-NOAA commented on #324
I have not seen any discussion on this topic. Is this still an issue that needs to be addressed ? Are there plans to tackle this at this time or should this be moved to the icebox for later considerations?

[2022-03-08 14:02] arunchawla-NOAA commented on #239
@junwang-noaa @climbfuji and @grantfirl should this issue still be open ? are there physics packages in ccpp that are not restart reproducible ?

[2022-03-08 14:18] arunchawla-NOAA commented on #1017
@rsdunlapiv is this really a bug ? or a discussion ?

[2022-03-08 14:22] arunchawla-NOAA commented on #550
@climbfuji @aliabdolali @JessicaMeixner-NOAA is this still an issue ? Does the ww3 cmake build help here ? The issue on ww3 side has been closed

[2022-03-08 14:26] climbfuji commented on #324
icebox I guess. It's still the same, nobody has made efforts to consolidate the versions and find a good way to use them across repositories.

[2022-03-08 14:27] JessicaMeixner-NOAA commented on #550
Should have a PR to ufs-weather-model by the end of today with a fix for this as CMAKE does resolve this issue.

[2022-03-08 14:28] climbfuji commented on #239
Very likely there are, since it's not tested by default for every new physics package or option being added. There is the opnReqTest that is supposed to be used each time, but for many legacy packages this hasn't been run.

[2022-03-08 15:23] pjpegion commented on #324
I have plans to remove the one in stochastic physics later this year.

[2022-03-08 19:02] JessicaMeixner-NOAA commented on #289
Is there a branch @jiandewang and I should use to run a few more tests?  We've talked with @guillaumevernieres and Travis offline and they pointed us to a set-up which on second read of this whole chain is perhaps the same starting point but there were a few differences between what I saw and an older run directory @jiandewang pointed me to.  It might be worth looking to see if a few of those sett

[2022-03-08 19:19] jiandewang commented on #289
@JessicaMeixner-NOAA I think @DeniseWorthen may have a new workdir than the one I pointed to you which is half year ago stuff

[2022-03-08 19:35] DeniseWorthen commented on #289
I don't know what directory you may be looking at. The last time I worked on this was Aug 2021. The initial config was obtained from the soca 72x35x25 files.

[2022-03-08 19:38] jiandewang commented on #289
this is what I got from you
/scratch1/NCEPDEV/stmp2/Denise.Worthen/FV3_RT/rt_17269/cpld_control_c48_p7

[2022-03-08 19:43] DeniseWorthen commented on #289
Thanks @jiandewang, that appears to be about the last time I worked on the issue.

[2022-03-08 20:13] arunchawla-NOAA opened #1088 "Updating physics for P8"

[2022-03-08 21:51] MinsukJi-NOAA commented on #1036
As discussed with @jiandewang , two changes were made:
1. Use Jiande's latest commit to his MOM6 branch: https://github.com/jiandewang/MOM6/commit/486a4ee19b1779c79264e8b81266d533b3672e5c
2. Use FMS2 instead of FMS1 in mom6_files.cmake

All Intel and GNU tests (including debug) passed on Hera.

[2022-03-08 22:16] jiandewang commented on #1036
@MinsukJi-NOAA can you also try GAEA and wcoss intel ?

[2022-03-09 03:05] junwang-noaa opened #1091 "Regression Test development for Q3FY2022"
This EPIC is to track the RT test development and issues resolved in Q2-3FY2022

[2022-03-09 03:11] junwang-noaa opened #1092 "RRFS development Q2-3FY2022"
The EPIC is for the RRFS development work that needs to be committed to ufs-weather-model repository by June 2022.

[2022-03-09 03:36] junwang-noaa commented on #847
@MinsukJi-NOAA Now we have control_p7 was updated to control_p8 test, can you test if this is still an issue?

[2022-03-09 13:49] BenjaminBlake-NOAA commented on #1001
@junwang-noaa  Yes, I can close the issue now.  Thanks for checking!

[2022-03-09 13:49] #1001 closed

[2022-03-09 16:35] MinsukJi-NOAA commented on #847
Control_p8 test reproduces with INPES=8 & JNPES=3; closing this issue.

[2022-03-09 16:35] #847 closed

[2022-03-09 16:49] MinsukJi-NOAA commented on #1036
All (coupled and cdeps) RT's passed on wcoss intel.
All RT's passed on Gaea as reported by @binli2337

[2022-03-09 17:21] dustinswales opened #1093 "RRTMGP in Prototype 8"
## Description
Changes to RRTMGP enabled ccpp-physics for prototype 8.

## Related to
- https://github.com/ufs-community/ufs-weather-model/pull/1090
- https://github.com/NOAA-EMC/fv3atm/pull/498
- https://github.com/NCAR/ccpp-physics/pull/871

[2022-03-09 17:43] HelinWei-NOAA opened #1094 "land surface upgrades for prototype P8"
To address some biases found in PT7

- consistent surface coupling with GFS surface layer scheme
- add stability subroutine call to inside NoahMP
- add thermal roughness length options
- changes to snow parameters for thermal conductivity and compaction
- modification to soil thermal conductivity
- diagnostics

[2022-03-09 21:10] junwang-noaa opened #1096 "UFS-CMAQ application Q3FY2022"
This EPIC includes developments to set up UFS AQM application in ufs-weather-model repository.

It includes :
1) Add CMAQ as an submodule in ufs-weather-model and build UFS-CMAQ application using cmake
2) Set up UFS-CMAQ regression test
3) Add CMAQ configuration documentation

[2022-03-09 21:38] junwang-noaa opened #1097 "Set up build system for UFS-AQM application"
## Description
The UFS-AQM application will be set up by adding the CMAQ as a submodule, the UFS-AQM/CMAQ will be built with cmake.

## Solution
Starting from Raffaele's branches:
ufs-weather-model branch:
https://github.com/rmontuoro/ufs-weather-model/tree/feature/aqm
FV3 branch:
https://github.com/rmontuoro/fv3atm/feature/aqm
AQM branch:
https://github.com/NOAA-EMC/AQM

## Related to
Directly re

[2022-03-09 21:41] junwang-noaa opened #1098 "Add UFS-AQM documentation"
## Description
UFS-AQM documentation will be added to ufs-weather-model documentation page with develop branch

## Solution
Start from Raffaele's presentation:
https://docs.google.com/presentation/d/1Vmov-AazHwfwCYJYCkCoFUbOk6N5IptBidZQ5QsqfHU
The documentation will be added to:
https://ufs-weather-model.readthedocs.io/en/latest/

## Related to
Directly reference any issues or PRs in this or other

[2022-03-09 21:43] junwang-noaa opened #1099 "Add UFS-AQM regression test"
## Description
A UFS-AQM regression test will be set up and added to ufs-weather-model regression test suite. It will work on the ufs-weather-model supported platforms.

## Solution
Once the UFS-AQM build system is set up, a UFS-AQM regression test will be set up and run in the ufs-weather-model regression test suite.

## Related to
Directly reference any issues or PRs in this or other repositorie

[2022-03-09 22:51] arunchawla-NOAA commented on #649
@RatkoVasic-NOAA is this still an issue with the UFS weather model in regional configurations ?

[2022-03-09 22:54] arunchawla-NOAA commented on #705
@benjamin-cash can you confirm if this is working for you ? In the meanwhile we will move this to the icebox

[2022-03-09 23:04] arunchawla-NOAA commented on #764
@junwang-noaa @DeniseWorthen @JessicaMeixner-NOAA @jiandewang is there an update on this ? Is there development happening on this at the GFDL end ?

[2022-03-09 23:07] arunchawla-NOAA commented on #788
@edwardhartnett is the ufs-weather-model build still failing for you ? Or can this issue be closed ?

[2022-03-09 23:19] arunchawla-NOAA commented on #936
@HelinWei-NOAA @barlage any insights here ? What should we do ?

[2022-03-09 23:30] arunchawla-NOAA commented on #961
Is this still a problem ?

[2022-03-09 23:33] arunchawla-NOAA commented on #1046
@pjpegion has an issue been opened in the MOM6 repository ?

[2022-03-09 23:36] arunchawla-NOAA commented on #239
@climbfuji @yangfanglin @ChunxiZhang-NOAA should legacy SDFs be removed from the UFS host model side ? We should only be keeping the SDFs that we are regularly testing in the regression test suite.

[2022-03-09 23:37] arunchawla-NOAA commented on #953
there were a number of PRs merged related to this issue. @climbfuji is this still a problem ?

[2022-03-09 23:39] arunchawla-NOAA commented on #856
@pjpegion what is the status of this ?

[2022-03-09 23:40] jiandewang commented on #764
Marshall is aware of this and it's on his to do list. In the discussion #799 it can be seen clearly that the minor memory leak is directly related to the using FMS module to write model output which Marshall believes it's the main cause.

[2022-03-09 23:41] arunchawla-NOAA commented on #936
is this different from issue #1075 ?

[2022-03-09 23:42] arunchawla-NOAA commented on #469
@junwang-noaa is this still an issue ?

[2022-03-09 23:45] BinLiu-NOAA opened #1100 "HAFS related moving-nesting capability"
## Description
Provide a clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Develop the moving-nesting capability needed by the UFS hurricane application (HAFS). And the storm-following moving-nesting (including ocean coupling for the moving nesting configuration) capability is one of the crucial development needed for high-resolution hurricane research and

[2022-03-09 23:46] JeffBeck-NOAA commented on #961
@arunchawla-NOAA, this may no longer be a date-dependent issue, but we continue to have problems with a number of the 25-km WE2E tests from the SRW App (grids, IC/LBC configurations, and SDF) that are failing:

grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_2017_gfdlmp - FAILED
grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_2017_gfdlmp_regional - FAILED
grid_RRFS_CONUS_25km_ics_GSMGF

[2022-03-10 00:18] arunchawla-NOAA commented on #677
@rmontuoro and @junwang-noaa is this still an issue for gocart build ?

[2022-03-10 00:23] arunchawla-NOAA commented on #566
moving to icebox till the 8.3 release of esmf is available for further testing

[2022-03-10 00:38] climbfuji commented on #953
@arunchawla-NOAA Yes, there is still a problem with b4b reproducibility when changing the MPI decomposition.

[2022-03-10 00:39] climbfuji commented on #239
@arunchawla-NOAA I declared defeat over that question a while ago.

[2022-03-10 00:40] rmontuoro commented on #677
@arunchawla-NOAA - I believe all issues mentioned here have been addressed:
- The GNU 9.2.0 build issue was addressed in PR #591 by commit 7d59f31c65fd830544ad619d9df0625fea8b7d5c
- Python/panda is no longer required. Current dependencies are: https://github.com/ufs-community/ufs-weather-model/blob/38aa6340894bd6320fde87ffe1dcee3c0d393c08/modulefiles/ufs_common#L21-L23
- UFS-Aerosols runs on level

[2022-03-10 00:43] RatkoVasic-NOAA commented on #649
This issue is conditionally solved.
We can reproduce results if we compile model in REPRO mode (-O0 optimization). Unfortunately, if we use operational model, which is compiled with more aggressive optimization, then we are not able to do that.
This issue was recently brought up by HAFS group as well.

[2022-03-10 00:51] gsketefian commented on #961
I'll just add that these tests were previously working fine, so it's probably a namelist issue due to updates in the weather model or a software version issue.  Lack of consistent testing in the SRW App resulted in these failures creeping in between the last update of the `ufs-weather-model` hash (maybe in December?) and now. @mkavulich and the rest of the DTC team have a repo management plan that

[2022-03-10 01:23] climbfuji commented on #649
REPRO mode is `-O2` like PROD, but without AVX2, and with `-fp-model strict` instead of `-fp-model source`. DEBUG mode is `-O0`.

[2022-03-10 01:25] RatkoVasic-NOAA commented on #649
Dom, thanks for clarification!

[2022-03-10 01:26] arunchawla-NOAA commented on #649
I believe GFDL guarantees different layout reproducibility only in repro mode. I will confirm

[2022-03-10 03:07] junwang-noaa commented on #677
That is correct. We can close this issue when PR#1071 is committed.

On Wed, Mar 9, 2022 at 7:40 PM Raffaele Montuoro ***@***.***>
wrote:

[2022-03-10 10:57] BinLiu-NOAA commented on #649
Hi @RatkoVasic-NOAA, @arunchawla-NOAA, @climbfuji,

Recently @JunghoonShin-NOAA from the HAFS side did some tests for the regional configuration with different PE layouts. And in his latest tests, even with the REPRO mode, he was not able to get bitwise reproducible results. I believe JungHoon's test was using the [suite_FV3_HAFS_v0_gfdlmp_tedmf.xml](https://github.com/NOAA-EMC/fv3atm/blob/47d391c

[2022-03-10 13:38] benjamin-cash commented on #705
@arunchawla-NOAA - Unfortunately I can't, my account on Expanse has expired. :(

[2022-03-10 14:00] arunchawla-NOAA commented on #705
ok we will close this ticket for now

[2022-03-10 14:18] #788 closed

[2022-03-10 14:29] binli2337 opened #1101 "Set up weekly tests on Jet to run three coupled p8 tests"
## Description
Three coupled p8 tests will be set up to run weekly on Jet.

## Solution
The rt_weekly.conf file will be revised to add the following three coupled p8 tests:
1. cpld_control_c192_p8
2. cpd_control_c384_p8
3. cpld_bmark_p8

A cron job will be set up to run weekly on Jet.

[2022-03-10 14:31] barlage commented on #936
@YihuaWu-NOAA we need to address these two flake related github issues.

Or in general, we need to review the testing related to flake, purge what isn't necessary and confirm that those tests that are necessary are working correctly.

[2022-03-10 14:37] YihuaWu-NOAA commented on #936
No, Control_flake run does not use the flake model.

*Yihua----------------------------------------------------Yihua Wu, Ph D*I.M.
Systems Group
NOAA/NWS/NCEP/EMC
5830 University Research Court, Room: 2031
College Park, Maryland 20740, USA
Phone: (301)-683-3691
Fax:       (301)-683-3703

On Thu, Mar 10, 2022 at 9:31 AM Michael Barlage ***@***.***>
wrote:

[2022-03-10 14:43] junwang-noaa commented on #999
@binli2337 I think the issue is fixed. Can we close the issue? Thanks

[2022-03-10 14:43] barlage commented on #936
@YihuaWu-NOAA please provide more information. why is control_flake there? can it be removed?

[2022-03-10 15:14] JacobCarley-NOAA commented on #801
@junwang-noaa @arunchawla-NOAA
Do we have any updates on this? When testing the model on Cray TO4 (Luna/Surge) the model takes over 3000s to initialize.

[2022-03-10 15:19] #677 closed

[2022-03-10 15:19] #1042 closed

[2022-03-10 15:30] DeniseWorthen opened #1102 "Update WW3 to use new mesh based cap for S2SW and HAFSW"
## Description

The global coupled model is not restart reproducible when waves are included. It also cannot be run in debug mode. Both are operational requirements.

## Solution

Implement a new mesh-based NUOPC cap for the S2SW and HAFSW applications which is restart reproducible and which can be run in debug mode. The new mesh-based cap allows the WW3 component the ability to run as ``shel`` or

[2022-03-10 15:39] binli2337 commented on #999
@junwang-noaa Yes, the issue has been fixed. Please close issue. Thanks.

[2022-03-10 16:00] YihuaWu-NOAA commented on #936
The default lkm value is 0.  This means that even though the flake physics
is in the suite, it is not used.
Yes, it can be removed.

*Yihua----------------------------------------------------Yihua Wu, Ph D*I.M.
Systems Group
NOAA/NWS/NCEP/EMC
5830 University Research Court, Room: 2031
College Park, Maryland 20740, USA
Phone: (301)-683-3691
Fax:       (301)-683-3703

On Thu, Mar 10, 2022 at 9:43 AM

[2022-03-10 16:00] RatkoVasic-NOAA commented on #649
@BinLiu-NOAA I haven't tested lately. I'm going to do it.

[2022-03-10 16:17] #999 closed

[2022-03-10 16:46] arunchawla-NOAA commented on #936
@YihuaWu-NOAA will you be creating a PR to remove this ?

[2022-03-10 21:11] MinsukJi-NOAA opened #1103 "Decomposition test failure"
## Description
`cpld_decomp_p8` fails with a different domain decomposition

### To Reproduce:
What compilers/machines are you seeing this with? Intel/Hera
Give explicit steps to reproduce the behavior.
1. Check out the latest ufs weather model (`9b6b740`)
2. `cd ufs-weather-model/tests; ./rt.sh -n cpld_decomp_p8`. This test will PASS
3. Modify `ufs-weather-model/tests/tests/cpld_decomp_p8`:
[code

[2022-03-10 21:18] junwang-noaa commented on #1103
@MinsukJi-NOAA Is this issue showing up in previous revisions?

[2022-03-10 21:21] MinsukJi-NOAA commented on #1103
The previous version `38aa634` does not have this issue.

[2022-03-10 22:09] junwang-noaa commented on #1103
Since the physics suite is changed and there is no dycore update in 9b6b740, it might be related to physics.

@yangfanglin @JessicaMeixner-NOAA @DeniseWorthen FYI.

[2022-03-10 22:12] jkbk2004 commented on #1085
@junwang-noaa I used debug que to test out. It seems like it runs ok: /work/noaa/epic-ps/jongkim/rt-blcheck/stmp/jongkim/FV3_RT/rt_53203/hafs_regional_telescopic_2nests_atm
Test 001 hafs_regional_telescopic_2nests_atm PASS Tries: 2

[2022-03-11 03:30] yangfanglin commented on #1103
Is there any uncoupled atmos decomposition test ? Is it working ?

[2022-03-11 13:04] JessicaMeixner-NOAA commented on #1103
Yes, there is an uncoupled decomposition test.  I'm running it with he 8,3 combination now.

[2022-03-11 13:37] JessicaMeixner-NOAA commented on #1103
The standalone atm decomposition test w/the 8,3 combination passed.

[2022-03-11 13:47] JessicaMeixner-NOAA commented on #1103
So 3,8 is the what the baseline is created with.  4,6 also gives the same answer, but 8,3 does not.   It's my understanding that the only guarantee is for repro mode, so are we compiling in repro mode?   I don't see any instructions on that here: https://github.com/ufs-community/ufs-weather-model/wiki/Building-model

I believe @DeniseWorthen's usual suggestion for debugging something is to write o

[2022-03-11 14:19] MinsukJi-NOAA commented on #1103
@JessicaMeixner-NOAA I believe repro mode compilation can be done with `-DREPRO=ON`

[2022-03-11 14:20] DeniseWorthen commented on #1103
UFS discussion [934](https://github.com/ufs-community/ufs-weather-model/discussions/934) contains the instructions for writing the mediator history files. In this case, you could add the following to nems.configure:

[code]

This will write the ATM mediator history as a single file containing all 6 tiles on every pass through the coupling loop. ICE and OCN will get their own history files.

[2022-03-11 14:22] JessicaMeixner-NOAA commented on #1103
Thanks @MinsukJi-NOAA and @DeniseWorthen

[2022-03-11 14:22] junwang-noaa commented on #1103
@JessicaMeixner-NOAA To clarify, 1) the cpld_control_p8 and cpld_decomp_p8 RT have decomposition 4x6 and 3x8, 2)ORT test runs cpld_control_p8 with 8x3, both run in PROD mode for some time. It was working in previous PRs, the 8x3 setting stopped working since PR#1071.

[2022-03-11 14:27] DeniseWorthen commented on #1103
@JessicaMeixner-NOAA If you can point me to a run directory containing cpld_control_p8, I can look start with the mediator history files.

[2022-03-11 14:53] JessicaMeixner-NOAA commented on #1103
I just started a run with the extra outputs, they will be here: /scratch1/NCEPDEV/stmp2/Jessica.Meixner/FV3_RT/rt_13823

[2022-03-11 16:19] DeniseWorthen commented on #1103
I copied your run director and made a sandbox. I used it to create 3 run directories

/scratch1/NCEPDEV/stmp2/Denise.Worthen/decomp96/decomp38
/scratch1/NCEPDEV/stmp2/Denise.Worthen/decomp96/decomp83
/scratch1/NCEPDEV/stmp2/Denise.Worthen/decomp96/decomp46

where each varies only in the input.nml layout variable. I set fhmax=2 in model configure.

The decomp38 and decomp46 directories are b4b afte

[2022-03-11 17:18] junwang-noaa opened #1105 "Using FMS 2021.04 in ufs-weather-model"
## Description
FMS 2022.01 is coming soon. It contains the updates including an option to ignore checksums. Ufs-weather-model will be updated to use FMS 2022.01.

20220321 Update: GFDL found  potential performance regression for GFDL models with FMS 2022.01. We will update FMS to 2021.04 in ufs-weather-model.

## Solution
When FMS 2022.01 is released, the fms lib will be added on all the ufs-weath

[2022-03-11 18:37] ligiabernardet opened #1106 "Naming of physics suites is a hodgepodge"
I'd like to propose the implementation of a [new naming convention for the suites](https://github.com/NCAR/ccpp-physics/wiki/Draft:-Naming-convention-for-CCPP-suites). We have previously received feedback that the suite names are a hodgepodge and need to be standardized. This new naming convention was discussed this week internally at DTC multi-institutional CCPP Code Management group meeting (wit

[2022-03-11 19:25] junwang-noaa opened #1107 "Update ESMF lib in ufs-weather-model for HAFS application"
## Description
The development work for HAFS moving nest outputs requires a newer version of ESMF library. Once the development finishes, there will be a new ESMF library available and it needs to be committed to ufs-weather-model before the HAFS moving nest output commit.

## Solution
Install the new ESMF 8.3 (version number not decided yet) lib on tier-1 platforms when it's available. Test it an

[2022-03-11 19:41] AvichalMehra-NOAA commented on #1106
@ligiabernardet will HAFS physics options be considered only in context of future plans for a UFS HAFS release?

[2022-03-11 19:46] JessicaMeixner-NOAA commented on #1103
Repro mode did not help: /scratch1/NCEPDEV/stmp2/Jessica.Meixner/FV3_RT/rt_10951 (comparing the output between the two directories, there are many diffs starting at fhr001).

[2022-03-11 20:13] junwang-noaa opened #1108 "P8c ICs"
## Description
This issue is to track the P8c ICs that will be used by the ufs-weather-model RT. It includes:
1. Ocean mask data
2. Oro data
3. Fixed files
4. ATM ICs created from the oro data/Fixed files with resolution: C48, C96. C192, C384, C768 and C1152
- The ATM ICs include aerosol ICs created from MERRA2 Reanalysis data
6. WW3 tripolar grid
7. WW3 ICs
8. Aerosol ICs

[2022-03-11 20:18] junwang-noaa commented on #1108
@DeniseWorthen @shansun6 @bingfu-NOAA @HelinWei-NOAA @aliabdolali If you have the data ready, would you please list the location in the issue? Thanks.

@yangfanglin @AvichalMehra-NOAA  @arunchawla-NOAA FYI.

[2022-03-11 20:20] junwang-noaa commented on #1108
Here is the location of oro data from @shansun6:

/scratch1/BMC/gsd-fv3-dev/fv3data/lake_p8_modis/

[2022-03-11 20:22] HelinWei-NOAA commented on #1108
The new surface fixed fields using Shan's new oro data:
/scratch1/NCEPDEV/global/Helin.Wei/sfc_fixed_mar2022

[2022-03-11 20:29] ligiabernardet commented on #1106
@AvichalMehra-NOAA Thank you for your question. Your question made me realize that I need to provide more information.

In order to have the suites/names proposed for the upcoming releases, the following actions will be needed:

- **dev_GFSv17_alpha** (developmental suite planned for GFS v17, first instantiation - alpha; uncoupled version): A new suite needs to be added (corresponds to p8c)
- **de

[2022-03-11 20:56] junwang-noaa opened #1109 "HAFS moving nest development"
The EPIC includes issues/PRs for the HAFS moving nest capability in UFS.

[2022-03-11 22:10] DeniseWorthen commented on #1108
I've used the following staged input directory to test the j=1 feature:

INPUTDATA_ROOT="/scratch1/NCEPDEV/stmp4/Denise.Worthen/input-data-20211130

The following files from that directory will need to be used in the new input-data directory:

1) MOM6_FIX/100: ufs.topo_edits_011818.nc
2) CICE_FIX/100: mesh.mx100.nc, grid_cice_NEMS_mx100.nc, kmtu_cice_NEMS_mx100.nc
3) CICE_IC/100: cice_model_1.00.c

[2022-03-13 04:51] bingfu-NOAA commented on #1108
@junwang-noaa  Can you confirm the case for regression test is still 20210322 06Z ?

[2022-03-14 01:59] junwang-noaa commented on #1108
@bingfu-NOAA The non-benchmark regression tests are using 20210222 06Z, cpld_bmark_p8 is using 2013040100. The RT weekly test cpld_bmark_p8_35d runs with [the 8 ICs ](https://github.com/ufs-community/ufs-weather-model/blob/develop/tests/rt_weekly.conf#L11)including the 4 seasons in 2012 and 2013.

[2022-03-14 02:31] junwang-noaa commented on #1052
Yes, the upp interface needs to be changed if we make the soil_layer dimension change.

[2022-03-14 12:18] junwang-noaa commented on #690
@MinsukJi-NOAA Is this still the plan to use s3 for CI testing?

[2022-03-14 13:56] MinsukJi-NOAA commented on #690
@junwang-noaa There is no immediate plan for this. I think this issue can be closed for now -- maybe a new issue can be opened in the future as part of EPIC?

[2022-03-14 13:58] junwang-noaa commented on #690
Thanks, I will close the issue. I agree EPIC may open an issue for further updates on CI test.

[2022-03-14 13:58] #690 closed

[2022-03-14 14:10] junwang-noaa opened #1111 "Using ESMF managed threading in UFS"
This EPIC is to track the development of using the ESMF managed threading in UFS.

1) Update to ESMF 8.2.0 release.
2) Adding the code updates to enable testing the ESMF managed threading in UFS.
3) Update the intel/impi to Intel 2021 to resolve the mpi_alltoall scaling issue.
4) Enable the ESMF managed threading in UFS, add regression tests to use the capability

Documentation from Gerhard is ava

[2022-03-14 14:48] junwang-noaa opened #1112 "Write grid component development Q3FY2022"
The EPIC includes the development work on write grid component during Q3FY2022.

1. Moving nest output for HAFS application.
2. Model history file update for UFS-JEDI.
3. Lambert conformal history files for regional application.
4. Inline post develop for static multiple output grids

Additional tasks finished in Q3FY2022:
5. Add valid time and "_Encoding" attribute in model history files.
6. Docu

[2022-03-14 15:05] junwang-noaa commented on #469
@yangfanglin I think this issue was brought by dynamics group. I want to check, do we still need this change?

[2022-03-14 15:07] junwang-noaa commented on #1085
@jkbk2994 Can you try the full RT to see if this is still an issue? Thanks

[2022-03-14 16:40] junwang-noaa opened #1113 "Update intel/impi compiler to 2022"
## Description
Intel compiler versions 2019 and 2018 will not be supported on hera/orion. The ufs-weather-model will be updated to use new intel 2022 version.

## Solution
Add a clear and concise description of what you want to happen.

## Related to
Directly reference any issues or PRs in this or other repositories that this is related to, and describe how they are related. Example:
- https://git

[2022-03-14 17:30] junwang-noaa commented on #1107
ESMF 8.3.0bs09 needs to be installed on ufs-weather-model supported platforms. The library is not expected to change results.

[2022-03-14 17:33] junwang-noaa commented on #1107
Create an issue hpc-stack.

[2022-03-14 17:47] yangfanglin commented on #469
Jun,   I recall we had a lengthy discussion on this topic, and I cannot
recall all the details now.  I will check my notes.  My impression is that
we decided not to make the conversion (still using the ratio relative to
total moisture air).

  @Catherine Thomas - NOAA Federal ***@***.***>  Cathy, this
was also discussed when GSI was updated for GFS.v15 and/or v16.  Do you
recall what was the final

[2022-03-14 18:13] jkbk2004 commented on #1085
@junwang-noaa Full RT tests are also successful: /work/noaa/epic-ps/jongkim/UFS-RT-tests/rt-blcheck/tests. We can close the PR. If we see the issue later, we can re-open then.

[2022-03-14 19:27] yangfanglin commented on #469
Pasted below is Cathy's reply

From what I recall, we found that the GSI is not entirely consistent with its treatment of tracers and mixing ratio, though mostly assumed moist air mass.  This was not clear to me if this was intentional or from code not updated with more recent hydrometeor inclusion.  However, the move to JEDI made the point rather moot (for global at least) and warranted us to jus

[2022-03-14 20:21] #1069 closed

[2022-03-15 02:44] jiandewang commented on #1036
based on today's MOM6 meeting discussion, we will do in this order:
(1) Niki creates a PR to dev/emc
(2) EMC fully test it and commit to dev/emc
(3) EMC creates PR to push back to MOM6 main branch

[2022-03-15 03:39] yangfanglin commented on #469
@junwang-noaa Jun, see below for our email exchanges on this topic back in March 2021:

Fanglin,

Yes, there are conversion between dynamics and physics.

conversion after dynamics:
         IPD_Data(nb)%Statein%qgrs(ix,k,1:nq_adv) =  _DBL_(_RL_(Atm(mygrid)%q(i,j,k1,1:nq_adv))) &
                                                          * IPD_Data(nb)%Statein%prsl(ix,k)
...
! Remove the contributi

[2022-03-15 04:00] yangfanglin commented on #469
Found a lengthy discussions on this topic happened in March 2021.

----------------------
Fanglin to Daryl, Cathy, Russ, George, and Jun

We are still having conversations with GFDL to clarify how the mixing ratios including cloud species and pressures are defined in the forecast model and forecast output, and the input and output from analyses.   The following items have been confirmed.

1)  all

[2022-03-15 04:09] yangfanglin commented on #469
Another summary found in my emails

03/12/2021

The ECM DA team has confirmed that
1) for both GFS.v15 and v16, pressures (Psfc and delp)  and tracer mixing ratios inside the GSI are total-mass based, and therefore consistent with the fv3 dycore,
2) Pressures and tracer mixing ratios written in the full analysis fields and analysis increments in both GFS.v15 and v16 are total mass based.

Note tha

[2022-03-15 04:15] tinglei commented on #469
Hi Fanglin,
I guess you have @ me by mistake as I am totally unfamiliar with this field.
I have no idea about what you have said :(
Please check if you have brought the right guy into the discussion.

Tinglei

[2022-03-15 04:22] yangfanglin commented on #469
@tinglei  Sorry for the mix-up.  Github did the trick.  I will remove all reference to you in this thread.

[2022-03-15 05:15] rmontuoro opened #1114 "Tracers improperly diffused in PBL if Thompson MP and prognostic aerosols are enabled"
## Description
Tracers are improperly diffused in the PBL when both Thompson MP and prognostic aerosols are enabled in the atmospheric model. This is caused by a bug in CCPP-physics. See issue [#880](https://github.com/NCAR/ccpp-physics/issues/880) for details.

This bug affects prototype 8b.

[2022-03-15 13:55] bingfu-NOAA commented on #1108
@junwang-noaa The oro data are being updated with a fix, I will create the ICs after the updated oro data and sfc fix files are available.

[2022-03-15 16:13] MinsukJi-NOAA opened #1115 "Segfaults when running cpld aerosol model with GNU 9 and 10"
## Description
Currently, CI includes tests for `cpld_control_c96_p8` and its debug run.
Due to changes introduced in #1071, the `cpld_control_c96_p8` test with GNU results in segfaults originating from `ufs-weather-model/GOCART/ESMF/UFS/Aerosol_Cap.F90:321` for runs both in a Docker container and on Hera.

## Solution
Switch `cpld_control_c96_p8` with `cpld_control_c96_noaero_p8` in CI. Also make

[2022-03-16 12:06] BenjaminBlake-NOAA opened #1116 "Transition ufs-weather-model to WCOSS2"
The ufs-weather-model code will need to be moved to WCOSS2 in order for real-time experimental RRFS runs to continue.  WCOSS1 is scheduled to go offline on July 15th.

[2022-03-16 13:11] junwang-noaa commented on #1115
@MinsukJi-NOAA May I ask what is the error message when running cpld_control_c96_p8 with GNU compiler?

The line 321 in ufs-weather-model/GOCART/ESMF/UFS/Aerosol_Cap.F90

 is % wrap % maplCap = MAPL_Cap("MAPL Driver", aerosol_routine_SS, cap_options=maplCapOptions, _RC)

@rmontuoro FYI.

[2022-03-16 13:12] junwang-noaa commented on #1113
@jkbk2004 Please add the test results in this issue. Thanks

[2022-03-16 13:58] #550 closed

[2022-03-16 13:58] #1074 closed

[2022-03-16 17:00] ligiabernardet commented on #1106
We have received feedback from @arunchawla-NOAA and the team working on the UFS SRW App release (planned for May 2022) that it is not feasible to implement the changes in suite names in time for that release. While we would like to go forward with these changes in suite names, we will likely postpone them.

[2022-03-16 19:07] rmontuoro commented on #1115
@MinsukJi-NOAA, @junwang-noaa:

I have built the current revision (e028578f) of the ufs-weather-model on Hera using `ufs_hera.gnu` and run the `cpld_control_p8` case. The model crashed, too, with the following stack trace:
[code]

This points to an issue with the Thompson MP scheme and/or its input files.

[2022-03-16 19:21] climbfuji commented on #1115
Does the file exist in the input directory? `qr_acr_qgV2.dat` - there are a few more of them that need to be copied.

[2022-03-16 19:29] rmontuoro opened #1117 "Add UFS-Aerosols to S2S and S2SW build apps"
## Description
Add UFS-Aerosols to the list of UFS components built using either `S2S` or `S2SW`.

[2022-03-17 02:39] jkbk2004 commented on #1113
Butterfly test and intel-2022.1.2 results are compared on Orion for various model fields against control case. mean and stdv are comparable. cpld_control_p8 case was used to compare SST and ice fields as well. Statistical impact from intel-2022.1.2 is compared with butterfly test case. The experimental results are identical for the choice of Intel-2021 and intel-2022: hera help desk confirms only

[2022-03-17 13:11] #1052 closed

[2022-03-17 16:28] MinsukJi-NOAA commented on #1115
@rmontuoro When I try running `cpld_control_p8`, I get similar error messages as you do, but we do not currently run the coupled model with the wave component using GNU (Not sure why the error messages are coming from ccpp and not ww3, though). So, this is a different issue.

The error messages I posted earlier are from running `cpld_control_c96_p8`, which does not have the wave component, and I a

[2022-03-17 16:59] pjpegion commented on #1103
I did some runs saving every time-step and different configurations.
Decomposition 4x6 and 6x4 both pass the regression test, only when switching to 3x8 is when it fails.  The different in meteorology 1st appears in precipitation 30 minutes into the run on tile 1, but I see differences in the 1st time-step in
several tracers related to aerosols (hydrophobic black carbon mixing ratio, so2 mixing ra

[2022-03-17 17:13] pjpegion commented on #1103
I also changed cplchm=F and turned off the aerosols by changing the nems.configure and field_table, and 4x6 and 3x8 give same results with the original RT executable.

[2022-03-17 17:26] yangfanglin commented on #1103
Phil, Thanks. This is interesting.  I believe Jessica was also testing the coupled without gocart aerosols.
Even though there is no feedbacks between gocart aerosols and the met, the met tracers might have been affected.

Are Raffaele's tracer fix (related to Thompson MP)  included in these tests ?

[2022-03-17 17:27] bbakernoaa commented on #1108
@junwang-noaa This list should also include the aerosol initial conditions which are created using the MERRA2 Reanalysis data

[2022-03-17 17:58] junwang-noaa commented on #1108
@bbakernoaa Good point, I added an item under 4) as I think the ATM ICs contains the aerosol fields, please let me know if you'd like to change it. Thanks

[2022-03-17 18:02] pjpegion commented on #1103
@yangfanglin I don't know. @rmontuoro?

[2022-03-17 18:06] yangfanglin commented on #1103
I am making a test now on WCOSS. I checked out the latest ufs-weatehr-model and pointed to https://github.com/rmontuoro/fv3atm/tree/bugfix/thompson-tracer-index to the fv3atm.   I am only testing the cpld_decomp_p8 in the rt.sh.  Is this sufficient  ?  Anyhow, I will report back when the test is done.

[2022-03-17 18:51] yangfanglin commented on #1103
My RT returns "+ echo REGRESSION TEST WAS SUCCESSFUL".  Does this mean the decomposition bug is also fixed with Raffaele's tracer bug fix ?   Should I change the layout manually to test different configurations ?

[2022-03-17 18:53] pjpegion commented on #1103
@yangfanglin follow the steps at the top of this thread to try a different processor layout

[2022-03-17 18:58] yangfanglin commented on #1103
@pjpegion Got it.  Running step 3 now.

[2022-03-17 19:00] JessicaMeixner-NOAA commented on #1103
@yangfanglin I have run with @rmontuoro PR changes and it solves some of the decomp issues, but there's still something going on as the results do not completely reproduce.  In trying to figure out what is going on, I'm going to try to attempt to run this test w/aerosols but with the older physics options to see if it's again something pointing to an interaction of physics/aerosols that is not oth

[2022-03-17 19:08] bingfu-NOAA commented on #1108
@bbakernoaa @junwang-noaa Anyone can help me on how to create atm IC with aerosol initial conditions?

[2022-03-17 19:39] yangfanglin commented on #1103
@JessicaMeixner-NOAA Was your coupled model test without gocart aerosol successful ?

[2022-03-17 19:42] JessicaMeixner-NOAA commented on #1103
I haven't tried with the very top of develop, but with the 9b6b740 commit, I get consistent results with @pjpegion that it worked.   Trying to figure out why since the updated code @rmontuoro seems to resolve some of these issues with leaving aerosols on.

[2022-03-17 20:34] BinLiu-NOAA commented on #1107
@junwang-noaa, @DusanJovic-NOAA, and @theurich, Just a quick follow-up. I conducted the ufs-weather-model standard regression tests (rt.conf) with the latest develop branch (as of 03/16/2022) by using the [esmf/v8.3.0b09](https://github.com/esmf-org/esmf/releases/tag/v8.3.0b09) version on Hera. And I got all the regression tests passed successfully. So, unless @theurich tell us to use a newer vers

[2022-03-17 20:43] theurich commented on #1107
@BinLiu-NOAA ,@junwang-noaa, @DusanJovic-NOAA, esmf/v8.3.0b09 is still the last tag. It should continue to be used. Thanks!

[2022-03-17 20:56] yangfanglin commented on #1103
My test with 8x3 decomposition did not reproduce using the latest ufs-weather-model develop branch and Raffaele's fv3-atm.

[2022-03-17 21:24] pjpegion opened #1121 "inline post quietly failing"
## Description
I am attempting to run a 35-day 1-degree coupled model forecast with hourly output for the atmosphere using write_dopost=.true.
After about forecast hour 276 the model stops writing the grib files, but continues to run, writing the ocean output (daily) and ice output (6-hourly) and ends without an error.
  I have a run ongoing right now which is 18-days into the forecast, and have t

[2022-03-17 21:30] junwang-noaa commented on #1121
@pjpegion Which platform is this test running on? Can you bring your run directory to hera if it is not the platform? Also please let us know your run output file, we can take a look. Thanks

[2022-03-17 21:38] pjpegion commented on #1121
@junwang-noaa I'm running on hera.  Here is more information:
 I am running with the global workflow, so it creates a list for output_fh, which is 0 thourhg 840 in my case.  But the model thinks:
 af nems config,quilting= T  calendar=julian iau_offset=           0  noutput_fh =         277

and noutput_fh comes from.
fv3_cap.F90:    noutput_fh = ESMF_ConfigGetLen(config=CF, label ='output_fh:',rc=

[2022-03-17 21:51] pjpegion commented on #1121
Seems better,  when the model writes output_fh,  it is giving the full list of output times.

[2022-03-17 23:12] junwang-noaa commented on #1121
I don't see any issue with the inline post output, the run goes up to 690hr. I saw the output files.
-rw-r--r-- 1 Philip.Pegion gsienkf 2783973 Mar 17 23:11 /scratch2/BMC/gsienkf/Philip.Pegion/UFS-coupled/comrot//P8_C96_mem001_stoch5_a/gfs.20120101/00/atmos//gfs.t00z.master.grb2f690

[2022-03-17 23:17] junwang-noaa commented on #1121
I think this might be a workflow issue. In your case, you can set:

output_fh: 1 -1
for hourly output or
output_fh: 3 -1
for3 hourly output
Rather than list all the output fhours. If you have:
output_fh: 677
it means to output the history file at fh=677.

Please see output_fh in the documentation at:
https://ufs-weather-model.readthedocs.io/en/latest/InputsOutputs.html#model-configure-file

Thanks

[2022-03-18 02:27] junwang-noaa opened #1122 "coupled prototype P7B"
This EPIC includes issues related to P7B

[2022-03-18 02:27] #1122 closed

[2022-03-18 02:28] junwang-noaa opened #1123 "Coupled prototype P8B"
The EPIC contains issues related to P7B

[2022-03-18 13:07] #1054 closed

[2022-03-18 14:12] pjpegion commented on #1121
@junwang-noaa You are seeing the re-run with output_fh: 1 -1, which works.
I think there should be some documentation mentioning that there is a limit to the length of the output_fh list.

[2022-03-18 15:09] junwang-noaa opened #1124 "prototype P8C"
The EPIC includes all the issues for the coupled prototype P8c.

[2022-03-18 18:21] junwang-noaa commented on #1121
@pjpegion Thanks. I will have the information added in the documentation.

@rsdunlapiv @theurich I want to confirm that for the array variable in ESMF config with 841 elelments such as:

output_fh: 0 1 2 4 ... 838 839 840

the ESMF subroutine call ESMF_ConfigGetLen only returns 277.

    noutput_fh = ESMF_ConfigGetLen(config=CF, label ='output_fh:',rc=rc)

I can't find ESMF documentation on this s

[2022-03-18 19:31] junwang-noaa commented on #942
@DusanJovic-NOAA I think this is because the UFS is using GFS physics, in which the physics schemes such as radiation and land surface schemes are using Julian date. Unless we can use the 'Gregorian' date there, we have to use 'Julian' date for consistency.

[2022-03-18 19:51] aerorahul opened #1125 "Replace w3nco with w3emc/2.9.1"
## Description
`w3nco` has been merged with `w3emc` and the latter is preferred going forward.
`w3emc/2.9.1+` contains identical code as `w3nco` with the exception of `gblevents`.
This project does not depend on `gblevents`.

## Solution
Replace dependency of `w3nco` with `w3emc` in the modulefile as well as in the build system.

## Alternatives
None.

[2022-03-18 19:54] junwang-noaa commented on #1125
@aerorahul Do you know if the w3emc/2.9.1 is available on the ufs-weather-model supported platforms? Do we need to submit a ticket to the hpc-stack repo to get it installed? Thanks

[2022-03-18 19:57] aerorahul commented on #1125
@junwang-noaa
No I don't know for sure, but I would imagine it to be there, and if not easy to do.
@kgerheiser @Hang-Lei-NOAA

[2022-03-18 19:58] kgerheiser commented on #1125
Looking at the status of that now

[2022-03-18 20:26] #838 closed

[2022-03-18 20:47] DusanJovic-NOAA commented on #942
Julian day and Julian calendar are different things. If physics schemes are using Julian calendar (which I doubt) they are incorrect and should be using Gregorian calendar.

[2022-03-18 20:53] DusanJovic-NOAA commented on #942
I think we should remove:
`calendar:                'julian'`
from all model_configure files a just set 'gregorian' as a default.

[2022-03-18 20:53] climbfuji commented on #942
We don’t use Julian calendar, that would be a mess. @dusanjovic-noaa is right, we (Noah MP amongst others) use Julian day, which corresponds to counting the number of days since the beginning of the year.

[2022-03-18 21:05] junwang-noaa commented on #942
Thanks for the clarification. Do we want to get the physics developers to
clear this up before we remove the "Julian" as the calendar option?

On Fri, Mar 18, 2022 at 4:53 PM Dom Heinzeller ***@***.***>
wrote:

[2022-03-18 21:09] climbfuji commented on #942
I don’t understand, what do you want to clear up? Julian days can be used independently of the calendar, and there is no need to remove them.

[2022-03-18 21:33] rsdunlapiv commented on #1121
@junwang-noaa @pjpegion as @danrosen25 reported, the actual line limit is 1024 characters.  We are going to update the docs to correctly state this.

In this case, I wonder if it is maintainable to have such a long list of integers in a config file.  Would a syntax like:

[0:840:3]

be possible?  In this case it means every 3 hours between 0 and 840.  Nice compact syntax.

[2022-03-18 22:04] yangfanglin commented on #942
Julian days are used in astronomical / radiation calculations in the current physics.

[2022-03-19 00:36] SMoorthi-emc commented on #1121
It was working before for any forecast length if FHOUT is fixed (e.g. 3)
Note that if you want to make a muli-year run, number of hours will be
large.
Why are we reinventing?
Moorthi

On Fri, Mar 18, 2022 at 5:33 PM Rocky Dunlap ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environment

[2022-03-19 03:13] junwang-noaa commented on #1121
@SMoorthi-emc the fhout is still working. This is for random time outputs.

@rsdunlapiv @danrosen25 We do have frequency options, so the long forecast length is not an issue as Phil has tried. The problem here is how many elements  the configuration array can take.
I did a test with output_fh shown in Phil's model_configure, With:
output_fh: 0 1 2 4 5 6 7 8 ... 838 839 840 (all the elements are li

[2022-03-19 22:50] WenMeng-NOAA opened #1126 "Update upp submodule for fixing UPHL issue found in 3-km RRFS North American grid"
## Description
There is is an issue found from inline post for UPHL 2-5km issue in 3-km RRFS North American grid.

## Solution
Update upp submodule with the latest UPP release upp_v10.0.12.

## Alternatives
None.

## Related to
Directly reference any issues or PRs in this or other repositories that this is related to, and describe how they are related. Example:
- [FV3 Issue #504](https://github.co

[2022-03-20 03:10] jiandewang opened #1128 "update MOM6 to its main branch 20220317 commit"
MOM6 main branch was updated on 20220317, see detail at https://github.com/mom-ocean/MOM6/pull/1559. Need to update dev/emc correspondingly.

[2022-03-20 04:04] yangfanglin commented on #1103
Please see https://docs.google.com/document/d/11vo2-DyrR2LWbQoqprlVoTxhSEnpvblWPw30WqOl6uA/edit for a track of changes made to fv3-atm and ccpp repos after March 4 and before March 10 when Minsuk first reported the decomposition failure.   Can we reverse the " fix 2phases intermediate restart" update and see if the decomposition RT works ?

[2022-03-21 12:23] DeniseWorthen opened #1133 "CMake build for WW3 fails when compiling S2SW with -DDEGUG=ON"
## Description
Compiling UWM app S2SW in debug mode fails with a conflict between compile flag -DDEBUG=ON used at the app level and an internal WW3 variable named DEBUG

### To Reproduce:
Check out current develop branch. Compile S2SW in debug mode:

[code]

The compile log shows a compile failure

[code]

The source code shows that the "1" is a replacement for the WW3 variable ``DEBUG``

[code]

[2022-03-21 12:37] JessicaMeixner-NOAA commented on #1103
@yangfanglin I will try that and report back.

[2022-03-21 13:14] BinLiu-NOAA commented on #1105
@junwang-noaa, since fms/2022.01 is still not released yet, maybe we can just switch to use fms/2021.04 at this moment, which is sufficient for the moving-nesting capability. BTW, the fms/2021.04 version has already been installed under hpc-stack on all ufs-weather-model supported platforms. See https://github.com/NOAA-EMC/hpc-stack/issues/395.

[2022-03-21 13:37] junwang-noaa commented on #1105
@BinLiu-NOAA updated. @DusanJovic-NOAA would you please test FMS 2021.04 in ufs-weather-model? Thanks

[2022-03-21 13:49] JessicaMeixner-NOAA commented on #1103
I tried the top of develop, but reverted FV3/module_fcst_grid_comp.F90 back to the code without the  " fix 2phases intermediate restart" update  and the issue remains.
Code: /scratch2/NCEPDEV/climate/Jessica.Meixner/p8b/ufs-revertrestart
regtest output:/scratch1/NCEPDEV/stmp2/Jessica.Meixner/FV3_RT/rt_23026

[2022-03-21 14:02] junwang-noaa commented on #1103
@JessicaMeixner-NOAA Thanks for running the test and confirming the results. The updates of "fix 2phases intermediate restart" is to fix when to write out restart files, it's expected not to change the forecast results but it will allow restart files to be written out at correct forecast time.

[2022-03-21 14:05] JessicaMeixner-NOAA commented on #1103
I did not think it would change results either, but always good to confirm.   I'm out of ideas of things to try at the moment.

[2022-03-21 14:55] kgerheiser commented on #1133
So, UFS adds `add_definitions(-DDEBUG)` here https://github.com/ufs-community/ufs-weather-model/blob/af1e0267e1a6932a7ee2aed9bab9f6028a4aa67c/cmake/GNU.cmake#L12

Just need a way to undo that in the WW3 layer. Or change the variable name.

[2022-03-21 15:01] DeniseWorthen commented on #1133
I did make a fix which changed the variable name. That worked, but I wasn't sure if that was the easiest route.

[2022-03-21 15:12] kgerheiser commented on #1133
There's the CMake function `remove_definitions(-DDEBUG)`, which could be added into the top-most if statement in WW3 that checks if it's building as a subdirectory of UFS.

[2022-03-21 15:18] DeniseWorthen commented on #1115
I ran the following on Cheyenne.gnu:
[code]

Both failed with the error:

[code]

[2022-03-21 15:52] JessicaMeixner-NOAA commented on #1133
@kgerheiser I'm going to take over the testing for Matt on this.  I might have just missed something in the chain, but if we add the remove_definitions(-DDEBUG) would we then need to add something else at the UFS level so that WW3 does in fact use debug flags if UFS is saying to use debug flags?

[2022-03-21 15:59] danrosen25 commented on #1121
Hi @junwang-noaa
I looked in the directory /scratch1/NCEPDEV/stmp2/Jun.Wang/FV3_RT/rt_244896/control_testoutputfh

The output_fh line is 2527+ characters but the limit is 1024 characters. Please try a shorter list.

I'll look into returning an error if a line in a resource file is longer than 1024 characters.

[2022-03-21 16:01] kgerheiser commented on #1133
I don't think any other changes are necessary.

If you add `remove_definitions` here:
https://github.com/NOAA-EMC/WW3/blob/3f2730426fc28a5246ae48280cfe98a25873180c/CMakeLists.txt#L15-L20

WW3 will still pick up `CMAKE_BULD_TYPE`, and it has its own debug flags which will be applied:

https://github.com/NOAA-EMC/WW3/blob/3f2730426fc28a5246ae48280cfe98a25873180c/model/src/CMakeLists.txt#L47

But you

[2022-03-21 16:20] JessicaMeixner-NOAA commented on #1103
I made a few tests with different physics options as of late last week:

With the PR 1118 fix, work dir and output (on orion):
/work/noaa/marine/jmeixner/p8b/ufs-bugfix/
work/noaa/stmp/jmeixner/stmp/jmeixner/FV3_RT/rt_161096

Here's the develop branch output:
/work/noaa/marine/jmeixner/p8b/ufs-weather-model
/work/noaa/stmp/jmeixner/stmp/jmeixner/FV3_RT/rt_163701

There are "p7" directories and "p8

[2022-03-21 16:55] DeniseWorthen commented on #1133
I think we want a way to retain the UWM debug flags (for example ``-init=snan,arrays``) when WW3 is compiled as part of UWM.

I don't understand CMake enough to really follow the logic you're suggesting above.

[2022-03-21 16:55] yangfanglin commented on #1103
@ChunxiZhang-NOAA @JongilHan66
Could you please help by doing the following ?
1) repeat the four steps described at the top of the gitgub issue using the latest ufs-weather-model repo
2) modify the model source code to apply PBL mixing and convective transport only to the physics tracers (excluding gocart aerosol tracers).  then repeat the four steps.

[2022-03-21 17:03] JessicaMeixner-NOAA commented on #1133
What would the right combination of the two be where WW3 has the model specific compile flags it needs (eg "-assume byterecl") while being responsive to the over-all coupled model build/flag decisions?

[2022-03-21 17:04] kgerheiser commented on #1133
@DeniseWorthen

It should be fine to keep the UFS debug flags as well. They'll be appended in addition to the native WW3 debug flags.

When you set the debug build, it sets `CMAKE_BUILD_TYPE=Debug` https://github.com/ufs-community/ufs-weather-model/blob/af1e0267e1a6932a7ee2aed9bab9f6028a4aa67c/CMakeLists.txt#L97

which tells CMake to build with debug flags and uses the flags provided in the variab

[2022-03-21 17:08] ChunxiZhang-NOAA commented on #1103
@yangfanglin Ok, I will do the tests ASAP.

[2022-03-21 17:09] kgerheiser commented on #1133
@JessicaMeixner-NOAA WW3 uses `-assume byterecl` internally irrespective of what UFS provides (because `CMAKE_Fortran_FLAGS`/`CMAKE_C_FLAGS` are cleared). Are there other flags that UFS should pickup from UFS?

You can leave it as it currently is (and undo the `-DDEBUG` defintion), and let UFS provide some extra debug flags. WW3 will pick those up automatically from `CMAKE_Fortran/C_FLAGS_DEBUG`.

[2022-03-21 17:27] JessicaMeixner-NOAA commented on #1133
@kgerheiser that would be fine.  I misunderstood a comment to be replacing instead of adding to.  Adding to is great.  The -assume byterecl is the most key//unique WW3 flag and would be my biggest cause of concern.

[2022-03-21 18:54] kgerheiser commented on #1133
I created a PR to @DeniseWorthen's mesh cap branch. https://github.com/DeniseWorthen/WW3/pull/3

[2022-03-21 19:19] DeniseWorthen commented on #1133
Thanks for the quick fix. This seems to have worked; these are the arguments used to compile the source code ``w3wavemd.F90`` for example:

[code]

[2022-03-21 19:27] kgerheiser commented on #1133
Yeah, some duplicated flags, but that doesn't matter.

[2022-03-22 09:50] DeniseWorthen opened #1134 "DT_INNER is set incorrectly in cpld_control_c192_p8/cpld_restart_192_p8 tests"
## Description

The DT_INNER value is set to the c384 value in both cpld c192 tests

https://github.com/ufs-community/ufs-weather-model/blob/af1e0267e1a6932a7ee2aed9bab9f6028a4aa67c/tests/tests/cpld_control_c192_p8#L128

https://github.com/ufs-community/ufs-weather-model/blob/af1e0267e1a6932a7ee2aed9bab9f6028a4aa67c/tests/tests/cpld_restart_c192_p8#L132

[2022-03-22 15:32] #1114 closed

[2022-03-22 15:55] #1117 closed

[2022-03-22 16:41] SMoorthi-emc commented on #1103
I made 3 runs from my branch of UFS, with 4x6, 3x8 and 8x3 combinations.
the first two produced identical "atmf" and "sfcf" files at 24 hours.
8x3 combination produced identical "sfcf" files, but produced differences in "atmf" files, apparently in chemistry variables only.
For example,
"nccmp -dgqSfs atmf024.tile1.nc /gpfs/dell2/ptmp/Shrinivas.Moorthi/FV3_RT/rt_15731/cpld_decomp_p8/atmf024.tile1.n

[2022-03-22 21:00] rmontuoro commented on #1103
It turns out this issue is caused by the CMake-generated compiler flags:
[code]
The culprits are likely to be options `-no-prec-div` and `-no-prec-sqrt`.

Results obtained building UFS-Aerosols (`1ff6389`) with either one of the Fortran compiler settings below are reproducible across all tested decompositions (8x3, 3x8, 4x6) for the fully coupled regression tests:
- `-g -traceback -fp-model source

[2022-03-22 22:13] JunghoonShin-NOAA commented on #649
Hello all,
I am working in HAFS team with [Bin](https://github.com/BinLiu-NOAA) and would like to provide some updates about reproducibility tests with different PE layouts. Between Feb and March, I conducted the reproducibility tests (on Orion) with different PE layouts, and I tested a) global nesting, b) regional nesting, and c) regional standalone domain configurations.

As Bin mentioned about

[2022-03-22 22:18] RatkoVasic-NOAA commented on #649
Thanks @JunghoonShin-NOAA for your input. I'm currently testing reproducibility on hi resolution small domain, regional standalone. Soon, I'll share my results as well.

[2022-03-22 23:06] arunchawla-NOAA commented on #1103
Does anyone have an idea why the -no-pre-div and -no-prec-sqrt are causing this problem ?

[2022-03-22 23:08] arunchawla-NOAA commented on #649
Thanks guys. I am also flagging @junwang-noaa @rmontuoro and @JessicaMeixner-NOAA . They have been looking at this in the global coupled case as well and seem to have nailed compiler settings. Please see this issue https://github.com/ufs-community/ufs-weather-model/issues/1103 all the way to the end

[2022-03-22 23:13] climbfuji commented on #1103
These flags came from the old NEMSfv3gfs and were meant to speed up the code when using double precision (they are not used when the dycore is built with 32bit, see https://github.com/ufs-community/ufs-weather-model/blob/1bd68cab708af76e4f9479ab6300990861aa24a2/cmake/Intel.cmake#L24). As the name says, they reduce the precision for divisions and square roots. @DusanJovic-NOAA and I had thought abo

[2022-03-22 23:23] SMoorthi-emc commented on #1103
Just to be clear, my runs were made with 32 bit dynamics!
Moorthi

[2022-03-23 00:13] junwang-noaa commented on #1105
@kgerheiser @Hang-Lei-NOAA I want to confirm with you, the fms 2021.04 was installed with avx, right?

[2022-03-23 00:30] junwang-noaa commented on #1103
@rmontuoro I am a little confused. So we have the following compile options in REPRO mode in ufs-weather-model,

``` -g -traceback -fpp -fno-alias -auto -safe-cray-ptr -ftz -assume byterecl -nowarn -sox -align array64byte -qno-opt-dynamic-align -O2 -debug minimal -fp-model consistent -qoverride-limits```

My understanding is that the GOCART will take those compile options if the model is built in

[2022-03-23 01:03] junwang-noaa commented on #942
@climbfuji Sorry, what I mean is to remove the following line as Dusan suggested:

```calendar: 'julian'```

[2022-03-23 01:12] junwang-noaa commented on #1121
@danrosen25 Shorter list is working. Please see /scratch1/NCEPDEV/stmp2/Jun.Wang/FV3_RT/rt_244896/control_testoutputfh2. Please let me know if you have the fix ready.

[2022-03-23 01:51] arunchawla-NOAA commented on #1103
ignoring the -fPIC and the -qopt flags the difference between the REPRO mode flags and the flags specified by Raffaele is -fp-model consistent vs -fp-model source.

Doing a google search on that option states that it determines the semantics of floating point calculations. More details here

https://www.intel.com/content/www/us/en/develop/documentation/cpp-compiler-developer-guide-and-reference/to

[2022-03-23 01:56] Hang-Lei-NOAA commented on #1105
yes

[2022-03-23 02:25] climbfuji commented on #942
I think that can be done anytime, the physics don’t care.

[2022-03-23 11:01] SMoorthi-emc commented on #1103
Sorry, My runs were with 64 bit dynamics although my branch uses mixed mode FMS as the runs were made with regression test.  Please ignore my last comment.

[2022-03-23 12:07] DusanJovic-NOAA commented on #942
Are we ever going to use calendar that is not Gregorian? If not, then I suggest that we remove the code that reads this option from configure file. Also all history files have two attributes specifying calendar:
[code]
which is redundant. One is enough. We can leave `calendar` and remove `calendar_type`, or simply remove both.

[2022-03-23 12:24] DusanJovic-NOAA commented on #1103
Someone should look at wall clock time of the full production resolution configuration using the default options (PROD) and REPRO options. If the difference is on the order of few percent I suggest we simply remove those 'prod' options and always use REPRO, making them default and remove that option. After all in production we also need full bit-by-bit reproducible restart runs, different decompos

[2022-03-23 13:07] arunchawla-NOAA commented on #1103
can we confirm that ORT is getting passed using the flags of the REPRO mode ? or confirm what the flags should be for REPRO mode to get bit reproducibility.

[2022-03-23 13:10] JessicaMeixner-NOAA commented on #1103
Should the (8,3) decomposition test also be added as a normal regression test?

[2022-03-23 13:16] arunchawla-NOAA commented on #1103
if it is there on the ORT test can we just run that ?

[2022-03-23 13:17] arunchawla-NOAA commented on #1103
@JessicaMeixner-NOAA is the ORT passing using the flags Raffaele mentioned ?

[2022-03-23 13:26] JessicaMeixner-NOAA commented on #1103
I have not run the ORT yet, but will try to do that now. I personally find it easier to create new regression tests over running the ORT.

[2022-03-23 13:49] arunchawla-NOAA commented on #1103
The ORT is a requirement to PRs so I would like confirmation that this works.

[2022-03-23 13:51] JessicaMeixner-NOAA commented on #1103
It's running now I will post as soon as I have the answer to your question.  I'm using the compiler flags @rmontuoro gave me, I'm not sure if that's will be the final decision for the flags or not. I will run the ORT and regression tests again once I know what the final flags are.

[2022-03-23 14:05] JessicaMeixner-NOAA commented on #1103
The ORT failed:

[code]
will look after the meeting as to why.

[2022-03-23 14:34] JessicaMeixner-NOAA commented on #1103
Okay so this failed because we shouldn't be trying to compile the coupled model with -D32BIT=ON (yet).

I'll resubmit specifying which tests and report back how the tests go.

[2022-03-23 14:50] JessicaMeixner-NOAA commented on #1103
Next error:

[code]
Debug build fails because of waves I'm assuming.  I thought we could at least build though, so I'll look into debugging that issue, in the meantime:

Running now with the following options:
`./opnReqTest -n cpld_control_p8 -c thr,mpi,dcp,rst
`

Please let me know if I should be testing/compiling with different compiler flags or using different options in the ORT test.

[2022-03-23 14:58] arunchawla-NOAA commented on #1103
Can we run the opnreqtest with the flags that @rmontuoro identified ?

[2022-03-23 15:14] DeniseWorthen commented on #1103
I think your debug failure for S2SWA requires the fix that Kyle provided [here](https://github.com/DeniseWorthen/WW3/pull/3/files).

[2022-03-23 15:22] JessicaMeixner-NOAA commented on #1103
Thanks @DeniseWorthen I agree.
@arunchawla-NOAA I am running with the flags that @rmontuoro identified. It's unclear to me if everyone agrees that's the best/final option.

Next ORT failure:

[code]

Where can I find when test and what options are expected to work for the ORT tests? I don't see anything here: https://ufs-weather-model.readthedocs.io/en/latest/BuildingAndRunning.html#using-the-oper

[2022-03-23 15:26] arunchawla-NOAA commented on #1103
For now I would like to know if these flags do work. We have reached out to GDIT about appropriate flags. @MinsukJi-NOAA can you address the questions that @JessicaMeixner-NOAA has raised ?

[2022-03-23 15:30] JessicaMeixner-NOAA commented on #1103
@arunchawla-NOAA in terms of knowing if the flags worked, I did the following:
I created an extra "cpld_decomp_p8_2" test which uses the 8,3 decomposition.  I created a baseline (for the non-debug S2SAW tests) and then ran the regression tests against that baseline and the tests were successful.   I did not test the debug test, because in previous tests, it gave the same answers whereas the non-de

[2022-03-23 16:19] JessicaMeixner-NOAA commented on #1103
The following test passed:
`./opnReqTest -n cpld_control_c96_p8 -c thr,dcp,rst`
with the following compiler flags
[code]
I'll work on making the debug test pass as well as any other desired combination/test.

[2022-03-23 16:41] arunchawla-NOAA commented on #1103
so if we were to replace fp-model flag with source instead of consistent in repro mode the ORT test would pass ? (instead of having to create these seperate flags just for UFS GOCART

[2022-03-23 16:41] jiandewang commented on #1128
it is combined and done with https://github.com/ufs-community/ufs-weather-model/pull/1136

[2022-03-23 16:56] arunchawla-NOAA commented on #649
Hello there is a discussion happening in #1103 that indicates that replacing -fp-model flag from consistent to source leads to reproducible results. Can you test that for your cases to confirm ? For the failures you are having in repro mode

[2022-03-23 17:57] climbfuji commented on #649
If so, then this doesn't make sense. `-fp-model consistent` is a stricter standard, forcing the Intel compiler to produce as much as possible consistent math results. It's one step below `-fp-model strict`. `-fp-model source` is less restrictive (and a bit faster). But anyway, if it works it works, it just doesn't make sense to me.

[2022-03-23 18:01] JessicaMeixner-NOAA commented on #1103
This is the original code I tried: https://github.com/JessicaMeixner-NOAA/ufs-weather-model/tree/bug/decompissue which I have also now confirmed with the fix @DeniseWorthen pointed me to dbg also works.

I'm now trying the suggested update @arunchawla-NOAA is curious about with repro mode and replacing  fp-model flag with source instead of consistent.  The code is here:  https://github.com/Jessica

[2022-03-23 18:02] arunchawla-NOAA commented on #649
I am opening a discussion topic on this

[2022-03-23 18:03] RatkoVasic-NOAA commented on #649
I'm now testing it

[2022-03-23 18:27] JessicaMeixner-NOAA commented on #649
@RatkoVasic-NOAA I found I needed to make this fix to run with repro: https://github.com/JessicaMeixner-NOAA/ufs-weather-model/commit/4912bc3cb7bc27f8410413f1e209f10ee198df4d just in case you run into the same error (still testing to see if that works but should?)

[2022-03-23 18:34] RatkoVasic-NOAA commented on #649
Mine is already:

set(CMAKE_Fortran_FLAGS "${CMAKE_Fortran_FLAGS} -O2 -debug minimal -fp-model consistent -qoverride-limits")

just tested with

set(CMAKE_Fortran_FLAGS "${CMAKE_Fortran_FLAGS} -O2 -debug minimal -fp-model source -qoverride-limits")

and same thing - model not reproduce with different layout.

[2022-03-23 18:50] RatkoVasic-NOAA commented on #649
Please see the table:
https://docs.google.com/spreadsheets/d/1RUK063Ml3ES2-wXhk-WymJpf4K1soLmOSpmf7NvTjr8/edit?usp=sharing

Included 25 runs.
Variable:
1) dyn-only, dyn+physics
2) PROD vs. REPRO (+ one change in REPRO compilation)
3) different blocksize (15, 16, 32)
4) different MPI layouts (11x10, 10x11, 5x22)

[2022-03-23 19:20] kgerheiser commented on #649
I would try with `-fp-model consistent -fp-model precise`. `precise` is implied when using `source`.

[2022-03-23 19:22] arunchawla-NOAA commented on #649
what is the physics package here Ratko ?

[2022-03-23 20:16] RatkoVasic-NOAA commented on #649
FV3_GFS_v15_thompson_mynn_lam3km (and FV3_GFS_v15_thompson_mynn)

[2022-03-23 20:42] JessicaMeixner-NOAA commented on #1103
Here's my output of the ORT with turning on repro mode:

[code]

So the debug test failed, but perhaps I should be building with both -DREPRO=ON and -DDEBUG=ON, but it looks to me like all the other tests passed although the log file didn't get created.

[2022-03-23 23:43] rmontuoro commented on #1103
I was able to successfully run the operational requirement test for `cpld_control_c96_p8` on Hera following the steps below:
1. Checkout ufs-weather-model rev. 1bd68cab
2. Add @kgerheiser's [fix](https://github.com/DeniseWorthen/WW3/pull/3/files) to `WW3/CMakeLists.txt`
3. Append `-DREPRO=ON` to all options in the ORT script:
[code]
4. Run:
[code]
The original `REPRO` flags were used in this test.

[2022-03-24 02:06] junwang-noaa commented on #649
@RatkoVasic-NOAA can you run the dycore+physics test with DEBUG mode to see if there is any issue with the physics package?

[2022-03-24 02:43] junwang-noaa commented on #1103
@rmontuoro Thanks for confirming the ORT does work with REPRO mode. Can you build GOCART only with REPRO compile option and the rest of model in PROD mode to see if it still passes?

[2022-03-24 05:23] RatkoVasic-NOAA commented on #649
@junwang-noaa I tested DEBUG mode. I got same results as before, different layout did not reproduce:
https://docs.google.com/spreadsheets/d/1RUK063Ml3ES2-wXhk-WymJpf4K1soLmOSpmf7NvTjr8/edit?usp=sharing

[2022-03-24 05:32] RatkoVasic-NOAA commented on #649
![image](https://user-images.githubusercontent.com/37597874/159848943-ffa11d7e-48a8-4d50-8a57-528b303d27e1.png)

This is surface temperature difference (*1000) in 00hours. It is possible something in initialization is wrong.
I'll get back to test different physics package (and lower resolution).

[2022-03-24 11:55] junwang-noaa commented on #649
@RatkoVasic-NOAA This does look to me there is some issue with the code. It needs some debug, maybe pick a point and see how the tmpsfc value becomes different with the decompositions.

[2022-03-24 11:57] DeniseWorthen opened #1139 "S2SW noaero test fails in Debug mode for GNU"
## Description

The existing cpld_debug_noaero_p8 test is used to test S2S on GNU. Adding Waves to this test fails with an error in CCPP/physics:

[code]

Note this same error was found when compiling the branch containing the new WW3 cap, which can be run in debug mode. I think it most likely is an input file error.

### To Reproduce:
On hera

1) check out the develop branch
2) in rt_gnu.conf, ad

[2022-03-24 15:29] #1101 closed

[2022-03-24 15:29] #1126 closed

[2022-03-24 15:41] RatkoVasic-NOAA commented on #649
Also tried other physics package, replaced FV3_GFS_v15_thompson_mynn_lam3km with FV3_GFS_v15_thompson_mynn.
Still same results:
https://docs.google.com/spreadsheets/d/1RUK063Ml3ES2-wXhk-WymJpf4K1soLmOSpmf7NvTjr8/edit?usp=sharing

[2022-03-24 16:37] BinLiu-NOAA opened #1140 "Remove the regional_hafs regression test"
## Description
Remove the regional_hafs regression test, since the HAFS related RTs are under the "HAFS tests" section.

## Solution
Remove the regional_hafs regression test, and modify an existing HAFS RT to test the write_dopost capability for HAFS.

## Related to
Directly reference any issues or PRs in this or other repositories that this is related to, and describe how they are related. Exampl

[2022-03-24 18:08] RatkoVasic-NOAA commented on #649
Follow-up:
I tested **low resolution** cases and it passed **all tests with REPRO** and with PROD it failed on one case of different blocksize. Low resolution test didn't catch the problem!?

Rows 38-47:
https://docs.google.com/spreadsheets/d/1RUK063Ml3ES2-wXhk-WymJpf4K1soLmOSpmf7NvTjr8/edit?usp=sharing

[2022-03-24 20:12] JessicaMeixner-NOAA commented on #1103
By removing -no-prec-div and -no-prec-sqrt in the prod option for non 32 bit, (see: https://github.com/JessicaMeixner-NOAA/ufs-weather-model/tree/bug/twoflags) the ORT test:
`./opnReqTest -n cpld_control_c96_p8 -c thr,dcp,rst,dbg,fhz
`passes.   If this does not affect timing, would this be an acceptable solution which would not require REPRO mode for any or all of the components?   I saw in other

[2022-03-24 20:20] arunchawla-NOAA commented on #1103
I would think this would be a better solution than having conditional builds with different flags for different components. @junwang-noaa and @DusanJovic-NOAA what is the best way to assess the impact of this change on the timing of the runs. Since this change keeps the AVX options for GOCART which seems to be critical for speed based on what @climbfuji has stated, this should work right ?

[2022-03-24 21:13] junwang-noaa commented on #1103
I'd suggest running RT and maybe one 35 day benchmark test to confirm the timing is not impacted much.

[2022-03-25 00:31] rmontuoro commented on #1103
Preliminary tests performed on Hera using `cpld_bmark_p8` returned the following timings based on 3 identical runs per case:

| Case | Run # | Total wall time |
| :----- | :----: | --------------: |
| current flags | 01 | 1044.692037 |
| current flags  | 02 | 1049.168395 |
| current flags | 03 | 1034.183660 |
| | **Average** | **1042.68** |
| | **Std. Dev.** | **7.69** |
| remove -no-prec flags |

[2022-03-25 13:23] JessicaMeixner-NOAA commented on #1103
Okay, so I some how majorly goofed.  So many apologies for this, but I misread or read what I wanted to see, but the removing just the two-flags at the top level does in fact not work for the decomposition tests.   I kept re-running tests last night because they all of a sudden were not working and I kept thinking I had done something wrong, but then this morning I rechecked in the original log fi

[2022-03-25 15:30] JessicaMeixner-NOAA commented on #1133
The fix from Kyle for this is in:
ufsbranch: https://github.com/JessicaMeixner-NOAA/ufs-weather-model/tree/bug/debugww3fix
ww3branch: https://github.com/JessicaMeixner-NOAA/WW3/commits/merge-dev-to-ufs-20220324

There is no expectation that any answers will change.  I will start running regression tests on all machines I have access to (hera, orion, gaea, WCOSS-DELL, WCOSS-cray) and run the follow

[2022-03-25 18:50] rmontuoro commented on #1103
Below are results from my latest ORT on Hera:
- `ufs-weather-model` revision a46c7edc
- `WW3/CMakeLists.txt` [fix](https://github.com/DeniseWorthen/WW3/pull/3/files) included
- Fortran compiler flags changed as:
[code]

|  Test | Case | Result |
| :---- | :---- | :----- |
|  dbg_base  |  cpld_control_c96_p8  |  PASS  |
|  dcp       |  cpld_control_c96_p8  |  PASS  |
|  fhz       |  cpld_control_c9

[2022-03-26 01:59] #1105 closed

[2022-03-27 16:44] DeniseWorthen commented on #1139
The same failure is seen when compiling using intel.

It appears to be a unit number conflict when the wave model is also present. Changing the unit number in ``physics/module_mp_thompson.F90`` from 63 to 113  resolves the seg fault.

[2022-03-28 11:29] binli2337 opened #1144 "Update CDEPS component and reduce wall clock time used for the cpld_control_c192_p8 test on Jet"
## Description
The develop branch of NOAA-EMC/CDEPS will be updated to include the latest changes from ESCOMP/CDEPS. The ufs-weather-model will be updated at the same time. The wall clock time used for the cpld_control_c192_p8 test cannot be completed within 30 minutes on Jet. The default_vars.sh will be updated so that the cpld_control_c192_p8 test can be finished within 30 minutes on Jet.

## So

[2022-03-28 12:44] DeniseWorthen commented on #1139
I can reproduce this error using the new wave cap and the gnu debug on hera. The error is identical as w/ the develop branch.

I copied my run directory from the gnu debug_noaero test and built the S2SW app in debug mode w/ intel and no aerosols.
[code]

 I copied the executable and modules.fv3 and was able to run the noaero test with intel.debug. Run directory

[code]

[2022-03-28 14:48] junwang-noaa commented on #1121
@pjpegion The ufs-weather-model documentation was updated.

[2022-03-28 14:57] junwang-noaa commented on #920
@JessicaMeixner-NOAA Is this issue resolved?

[2022-03-28 14:59] JessicaMeixner-NOAA commented on #920
It seems so, but we've still not been able to run p8b to confirm definitively.  It's unclear why this is now seems to be working, so it's possible problems still exist and might cause additional failures in the future.

[2022-03-29 01:24] bingfu-NOAA commented on #1108
@junwang-noaa Just FYI the oro data I used is from Shan with the fix of alignment issue.
oro data location on Hera: /scratch1/BMC/gsd-fv3-dev/fv3data/lake_p8_water_fraction2020/
Helin's sfc fix files are located here on Hera: /scratch1/NCEPDEV/global/Helin.Wei/sfc_fixed_mar2022

[2022-03-30 02:46] jiandewang opened #1148 "update MOM6 20220329"
Marshall and Niki have created a PR to dev/emc with code updating in infra/FMS1 and infra/FMS2, this is aimed for UFS FMS mixed mode. See detail at https://github.com/NOAA-EMC/MOM6/pull/88

[2022-03-30 17:48] bbakernoaa commented on #1108
@junwang-noaa

I've made a copy of the ICs as I didn't want to overwrite the original ones created by @bingfu-NOAA. They can be found here  on HERA

`/scratch2/NCEPDEV/stmp3/Barry.Baker/C384_025/MERRA2_UFS_ICS/20*`

[2022-03-30 17:59] junwang-noaa commented on #1108
@bbakernoaa Thanks.
@bingfu-NOAA  May I ask if you have the RT 2021032206 ICs with different resolutions ready? Thanks

[2022-03-30 18:02] bingfu-NOAA commented on #1108
@junwang-noaa @bbakernoaa Yes, it is ready.
 on Hera: /scratch2/NCEPDEV/stmp3/Bing.Fu/o/p8crts/com/gens/dev/merge

[2022-03-30 18:05] junwang-noaa commented on #1108
@bingfu-NOAA Thank you!
@bbakernoaa Would you please let me know if you can add aerosol fields to the ICs under /scratch2/NCEPDEV/stmp3/Bing.Fu/o/p8crts/com/gens/dev/merge? Thanks

[2022-03-30 18:06] bbakernoaa commented on #1108
@junwang-noaa I can yes.  It shouldn't be a problem.

[2022-03-31 01:44] junwang-noaa commented on #1113
The butterfly test and intel-2022.1.2 are compared on hera. The results are shown [here](https://docs.google.com/presentation/d/1hWrAlm86wqQEA8i1wxAB6KhBgjjdiC2skrIOZG65Tkw/edit#slide=id.g11d7081b01f_0_12).
The results show the differences between Intel 2022.1 and control are compatible with the differences between butterfly test and control.
Along with the results from @jkbk2004, we will start to

[2022-03-31 14:43] #1107 closed

[2022-03-31 14:43] #1066 closed

[2022-03-31 18:23] junwang-noaa opened #1150 "Update FMS to 2022.01 release for UFS-AQM application"
## Description
FMS 2022.01 was released on 3/25/2022, it is required by UFS-AQM application, We will update ufs-weather-model to use this version.

## Solution
The FMS 2022.01 will be installed and tested on ufs-weather-model supported platforms.

## Alternatives
If applicable, add a description of any alternative solutions or features you've considered.

## Related to
Directly reference any issue

[2022-03-31 18:24] junwang-noaa commented on #1150
An issue ([#421](https://github.com/NOAA-EMC/hpc-stack/issues/421)) was created at hpc-stack repo.

[2022-03-31 18:42] MinsukJi-NOAA commented on #1036
Latest test results are reported [here](https://github.com/ufs-community/ufs-weather-model/pull/1149#issuecomment-1084963635)

[2022-04-01 17:03] jiandewang commented on #1148
the commit to UFS will be combined with https://github.com/ufs-community/ufs-weather-model/pull/1137

[2022-04-04 14:07] junwang-noaa commented on #1053
With the code changes, there is issue with GOCART as all the GOCART tests failed. Here is some conversation with ESMF group:

From Jun:
<I am looking at the MAPL error in HAFS PR [#1104](https://github.com/ufs-community/ufs-weather-model/pull/1104), it seems like we defined the forecast grid differently in fv3atm. The error message in the PR message shows:

105: pe=00105 FAIL at line=02371 Base_Ba

[2022-04-04 16:00] junwang-noaa commented on #1053
@danrosen25 @theurich I am able to get same error code on fv3atm side when I made the same calls after the field creation. Following changes are added inside subroutine SetServicesNest after line 256:

https://github.com/hafs-community/fv3atm/blob/feature/hafs_nest_cpl/module_fcst_grid_comp.F90#L256

!jwtest:
    call ESMF_GridGetCoord(grid,localDE=0,coordDim=1,staggerloc=ESMF_STAGGERLOC_CORNER, &

[2022-04-04 16:47] junwang-noaa commented on #1053
With the current ufs-weather-model develop branch, the same code is added after the global forecast grid:

https://github.com/NOAA-EMC/fv3atm/blob/develop/module_fcst_grid_comp.F90#L709

!jwtest:
   if (n==1 .and. top_parent_is_global) then
    call ESMF_GridGetCoord(fcstGrid(1),localDE=0,coordDim=1,staggerloc=ESMF_STAGGERLOC_CORNER, &
         farrayPtr=corner, rc=rc)
    print *,'in fcst grid co

[2022-04-04 17:27] danrosen25 commented on #1053
@junwang-noaa @theurich
Is there a change to the ESMF version being used?

[2022-04-04 17:36] junwang-noaa commented on #1053
@danrosen25 We are using the latest ESMF 830bs09. The same version works with the current develop  branch including the GOCART tests. The differences are on the fv3 forecast grid, where the grid is defined directly with dycore array using ESMF_array in hafs branch, while the develop branch gets the dimensions from the grid and set up the coords with the values of dycore arrays using those dimensio

[2022-04-04 17:52] junwang-noaa commented on #1053
@danrosen25 @theurich After changing the forecast grid definition using the ESMF coord dimensions, the fv3-gocart test is working. I will run the hafs tests to see if there is any impact. I am curious what is the reason that we use the ESMF array set up from dycore array, instead of getting coord dimension from the ESMF grid.
[code]

[2022-04-04 18:56] junwang-noaa commented on #1053
@BinLiu-NOAA I ran all the coupled tests, one of gobal atmonly, one of the regional test and all the HAFS tests, these tests finished successfully. Would you please add the changes above to module_fcst_grid_comp.F90 in your hafs branch and rerun the full RT to see if there is any issue. You may also run some hafs moving nest cases to confirm it works as before. Thanks

[2022-04-04 19:35] #1097 closed

[2022-04-04 20:01] uturuncoglu opened #1153 "Bringing exchange grid capability to UFS"
## Description
The exchange grid capability will enable atmosphere-ocean flux computation on the highest resolution grid to improve the fluxes computed atmosphere-ocean interface.

## Solution
Enable capability to calculate atmosphere-ocean fluxes external to the FV3. The recent version of CMEPS mediator is capable to calculate the atmosphere-ocean fluxes on _agrid_ (atmosphere model grid), _ogrid

[2022-04-04 20:45] BinLiu-NOAA commented on #1053
@junwang-noaa, this is great news! And thanks for looking into this and providing a fix/workaround for this! If you would like to, you can commit your fix back to the [feature/hafs_nest_cpl branch](https://github.com/hafs-community/fv3atm/tree/feature/hafs_nest_cpl), for which you should already have the correct permission. I will then sync it up and conduct a full regression test on Hera and make

[2022-04-04 21:11] junwang-noaa commented on #1108
@bbakernoaa May I ask if you have the RT aerosol ICs ready? Thank you!

[2022-04-04 21:37] bbakernoaa commented on #1108
@junwang-noaa you should be able to get them here: /scratch2/NCEPDEV/stmp3/Barry.Baker/C384_025/MERRA2_UFS_ICS/C*

The C1152 is finishing up now but should be done within the hour.

[2022-04-04 22:30] lisa-bengtsson opened #1155 "Add documentation about cellular automata in stochastic_physics and ccpp/physics submodules for public release"
## Description
Asked to provide documentation regarding CA for MRW public release

## Solution
Providing documentation using doxygen in stochastic_physics and ccpp/physics submodules

[2022-04-05 01:19] BinLiu-NOAA commented on #1053
@junwang-noaa, I have committed your fix into the feature/hafs_nest_cpl branch for PR #1104 and also synced it with the latest develop branch. After that, I conducted the standard regression tests with hera.intel, and all the RTs run through. Beside, it confirmed that this PR only changes the baseline results for the related HAFS RTs, and does not change results for other RTs.

[2022-04-05 14:30] BinLiu-NOAA commented on #1053
@junwang-noaa, I checked the moving-nest output netcdf files a little more carefully. And it looks like your above fix can run through, however the output grid lat/lon are not updated. And this is because in your fix, the disgrid lon/lat array were not created/pointed to Atmos%lon/lat structure. For example,
https://github.com/hafs-community/fv3atm/blob/feature/hafs_nest_cpl/module_fcst_grid_comp.

[2022-04-05 14:50] BinLiu-NOAA commented on #1053
@junwang-noaa, With that, I made the following changes on top of your fix:
[code]
and am giving it a try now. Will keep you posted on how it goes. In the meantime, appreciate it if you have any comments/suggestions. Thanks!

[2022-04-05 15:01] junwang-noaa commented on #1053
@BinLiu-NOAA Thanks for the testing. I think another way is that we move the code updates within the global if statement and get the original code to nest grid if statement as the global domain coordinates will not change.

[2022-04-05 15:10] BinLiu-NOAA commented on #1053
Thanks, @junwang-noaa! This sounds better, and I am testing this as you suggested.

[2022-04-05 16:58] BinLiu-NOAA commented on #1053
@junwang-noaa, the above method (moving your code change into the global if condition section while using the distgrid method in the else (nested/regional) section) worked properly for the moving-nesting output grid with updated output grid lat/lon. I am conducting the full regression tests now to make sure and confirm it will still work for all other RTs (including the GOCART coupling ones). Will

[2022-04-05 17:38] DusanJovic-NOAA commented on #1053
I do not like the fact that we use two different methods of setting the grid coordinates for different domains (global vs. non-global). It's inconsistent and confusing and complicates the code. Are the grid coordinate array bounds incorrect only for the global domain when distgrid is used?

[2022-04-05 18:58] junwang-noaa commented on #1053
@DusanJovic-NOAA I completely agree. I am puzzled how the HAFS code of defining an ESMF array with different coordinate dimensions can map to the internal ESMF grid coordinates. Also it looks to me that the previous way (the code I updated) only sets up the ESMF grid coordinates once, while using ESMF array to set up the coordinates, the coordinates will change when the internal array (atmos%lon(l

[2022-04-05 19:07] BinLiu-NOAA commented on #1053
Just a quick follow-up, the full RTs passed on wcoss_dell and it confirmed only changes results for HAFS related RTs and does not changes other RT's baseline results.

[2022-04-05 19:38] BinLiu-NOAA commented on #1053
@junwang-noaa and @DusanJovic-NOAA, it looks to me that the reason it did not work properly for the moving-nesting output is that inside the wrtgridcomp, it queries the moving nest domain coordinates from distgrid instead of from grid, for example the code sections after this line:
https://github.com/hafs-community/fv3atm/blob/feature/hafs_nest_cpl/io/module_wrt_grid_comp.F90#L1818

So, with this,

[2022-04-05 19:49] DusanJovic-NOAA commented on #1053
@BinLiu-NOAA I'm not sure I understand what you are proposing. Distgrid does not hold coordinates (lat/lon values). Grid holds coordinates.
I also do not see where this is done, _"it queries the moving nest domain coordinates from distgrid instead of from grid"_. Where exactly it queries coordinates from distgrid? I see it gets the coordinates from the grid. distgrid and grid are two completely di

[2022-04-05 19:55] DusanJovic-NOAA commented on #1053
One of the tests that failed (cpld_debug_p8) is C96 running on 3x8 layout, which means each task will have 32x12 grid points, ie. 32x12 center coordinates and 33x13 corner coordinates. Which is consistent with the results from "the HAFS branch" see this comment (https://github.com/ufs-community/ufs-weather-model/issues/1053#issuecomment-1087783479)

[2022-04-05 20:12] BinLiu-NOAA commented on #1053
@DusanJovic-NOAA, I was referring to this code section ([lines 1833 to 1842](https://github.com/hafs-community/fv3atm/blob/feature/hafs_nest_cpl/io/module_wrt_grid_comp.F90#L1833)), which tries to query the distgrid's coordinate indices, which will then be used to determine the moving nest grid center.

Regarding Gerhard's distgrid method to attach Atmos%lon/lat[_bnd] to fcstGrid vs Jun's method t

[2022-04-05 20:29] junwang-noaa commented on #1053
@BinLiu-NOAA I do not see anything to do with the write grid comp. The write grid comp only gets whatever forecast grids that the forecast grid comp defines and uses the index from the coordinates, it does not define the grid. From what I see, there is inconsistency with the ESMF grid corner coordinate definitions:

1) In module_fcst_grid_comp.F90 in the current develop branch, we have:
[code]
the

[2022-04-05 20:32] DusanJovic-NOAA commented on #1053
Sorry, I still do not understand your point about the code in the write grid component and distgrid's coordinate. distgrid has nothing to do with the coordinates i.e, latitude and longitude values. That block of code is looking at which task (PE) is holding the center index and then looks at that index in coordinate arrays, and those arrays are extracted from the grid, not distgrid.

_Jun's method

[2022-04-05 20:39] junwang-noaa commented on #1053
Yes. We need ESMF group @theurich or @danrosen25 to help us understand how the atmos%lat_bnd and atmos%lonbnd are mapped to ESMF internal grid corner coordinates. Also since the interface was working with GOCART/MAPL ( I assume other GOCART host models have same ESMF grid coordinates as we have in the current fv3atm develop branch), I would suggest to check if the method 2) can be updated to match

[2022-04-05 20:48] BinLiu-NOAA commented on #1053
@DusanJovic-NOAA, never mind. I was just trying to understand the difference(s) between the distgrid method vs Jun's method  to attach the Atmos%lon/lat[_bnd]. My understanding is that with the distgrid method, the array is created on the distgrid and with a pointer (farray) pointing to Atmos%lon (e.g., [lines 256 to 259](https://github.com/hafs-community/fv3atm/blob/feature/hafs_nest_cpl/module_f

[2022-04-05 23:00] DusanJovic-NOAA commented on #1053
Here's what I thing the issue is. Shape of Atmos%lon and Atmos%lat is (32,12) while shape of Atmos%lon_bnd and Atmos%lat_bnd is (33,13) on **all** PEs. So, on each PE corner arrays in Atmos type have one more element is each direction compared to center arrays. This does not correspond with distgrid for corner locations, for example, this is the size (computed as  maxIndexPDe - minIndexPDe + 1) fo

[2022-04-06 01:16] junwang-noaa commented on #1053
Yes, exactly. As you see the Ptr gets its dimensions from:

call ESMF_GridGetCoord(fcstGrid(1),localDE=0,coordDim=1,staggerloc=ESMF_STAGGERLOC_CORNER, &
farrayPtr=corner, rc=rc)

so above ESMF call seems giving different dimensions from the corner distgrid dimensions.

[2022-04-06 12:19] JessicaMeixner-NOAA commented on #960
An issue in MOM6 was created: https://github.com/mom-ocean/MOM6/issues/1564

[2022-04-06 12:35] BinLiu-NOAA commented on #1053
@junwang-noaa and @DusanJovic-NOAA,
My understanding might be wrong here. I thought the ESMF_STAGGERLOC_CORNER stagger should actually have one extra row/column on the last PE row/column (if defined in such a way). For example, what Dusan listed above looks reasonable to me.
center distgrid:
32,12 32,12 32,12
32,12 32,12 32,12
32,12 32,12 32,12
32,12 32,12 32,12
32,12 32,12 32,12
32,12 32,12 32,12

[2022-04-06 12:56] JessicaMeixner-NOAA commented on #920
P8b was run successfully with FSICS/L=0, so I'm closing this issue.  The cause of the original problem is still unknown.

[2022-04-06 12:56] #920 closed

[2022-04-06 14:36] pjpegion commented on #1046
This issue is closed with https://github.com/ufs-community/ufs-weather-model/pull/1135

[2022-04-06 14:36] #1046 closed

[2022-04-06 14:42] DusanJovic-NOAA commented on #1053
[@junwang-noaa](https://github.com/junwang-noaa) please take a look at the changes in this branch https://github.com/DusanJovic-NOAA/fv3atm/commits/feature/hafs_nest_cpl this commit [DusanJovic-NOAA/fv3atm@a2010f8](https://github.com/DusanJovic-NOAA/fv3atm/commit/a2010f8ce2659b8302b42289ee4fc85e24a86938)

@BinLiu-NOAA can you take the above branch and run full test. Thanks.

[2022-04-06 15:40] junwang-noaa commented on #1053
@DusanJovic-NOAA Yes, the code changes look good to me.

[2022-04-06 15:58] BinLiu-NOAA commented on #1053
Thanks, @DusanJovic-NOAA! Sure, I am starting running the full regression tests with your branch now.

[2022-04-06 17:29] BinLiu-NOAA commented on #1053
Just a quick follow-up, the full regression tests finished on Hera with hera.intel. And here is the RT run dir:
/scratch1/NCEPDEV/stmp2/Bin.Liu/FV3_RT/rt_25258/
Again, it does not change baseline results except for the related HAFS RTs. And the moving-nesting output seems to work fine as well. Thanks!

[2022-04-06 19:58] junwang-noaa commented on #1053
@BinLiu-NOAA Where is your baseline? Can you check the results from moving nest output?

[2022-04-06 20:17] BinLiu-NOAA commented on #1053
@junwang-noaa, I was using the existing develop branch baseline BL_20220401. Just to try to confirm this PR does not change the  baseline results for all other RTs (except for the HAFS related regression tests). For HAFS moving-nesting output, I manually/visually checked the output netcdf files, and they look reasonable, with the output grid lat/lon updated properly (following the moving nest doma

[2022-04-07 12:12] junwang-noaa commented on #1053
@BinLiu-NOAA Thanks for confirming the HAFS tests work properly, let's get your PR back to the commit queue.

[2022-04-07 13:30] BinLiu-NOAA commented on #1053
Thanks, @junwang-noaa! @DusanJovic-NOAA, if it works for you, I will merge your https://github.com/DusanJovic-NOAA/fv3atm/tree/feature/hafs_nest_cpl branch back into https://github.com/hafs-community/fv3atm/tree/feature/hafs_nest_cpl branch, and then go ahead sync with the latest develop branches to get the PR #1104 up to date. Thanks!

[2022-04-07 21:11] junwang-noaa opened #1161 "Updating options for ufs-weather-model compile settings"
## Description
In the current ufs-weather-model, three options/modes are available for the compile settings: PROD, REPRO and DEBUG. The PROD and DEBUG are currently tested in the ufs-weather-model RT. There are some [discussions](https://github.com/ufs-community/ufs-weather-model/discussions/1138) on the reproducibility of PROD and REPROD modes and updating the compile options to support UFS with

[2022-04-07 21:55] tsupinie opened #1162 "Minimum version requirement for ESMF"
## Description
In the configure step, there is no version requirement for ESMF. However, the model requires the latest version of ESMF (v8.2.0). This causes an error when compiling because the model uses a feature only available in ESMF v8.2.0.

### To Reproduce:
I'm using Intel compilers on Frontera, but it should be platform- and compiler-independent.

1. Attempt to compile with ESMF v8.1.0 or l

[2022-04-08 14:39] MinsukJi-NOAA opened #1163 "A hafs regression test hangs on wcoss dell"
## Description
hafs_regional_atm_thompson_gfdlsf regression test on wcoss dell hangs.
During the run, all history files are written, suggesting the run phase successfully finishes.
However, the test never gets out of the batch job, eventually times out, and fails.
Could there be an issue with the finalization phase of the test?

### To Reproduce:
Try either
./rt.sh -n hafs_regional_atm_thompson_gf

[2022-04-08 14:51] BinLiu-NOAA commented on #1163
@MinsukJi-NOAA, Thanks for reporting this potential issue! A quick question, is this behavior (forecast hanging at the end of the forecast) always happening (reproducible), or just occasionally? Thanks!

[2022-04-08 14:54] MinsukJi-NOAA commented on #1163
@BinLiu-NOAA it occurs intermittently. e.g. The error occurred on 3 runs yesterday. Today's 2 runs all passed.

[2022-04-08 16:06] ChunxiZhang-NOAA commented on #1163
I tested one run today and it passed too.

[2022-04-08 16:25] ChunxiZhang-NOAA commented on #1108
@shansun6 @bingfu-NOAA @HelinWei-NOAA. Are the ocean (water?) mask data consistent with the other fixed data? For example, if the grid is water in soil data, is it also water in the mask data?

[2022-04-08 17:06] yangfanglin commented on #1108
@ChunxiZhang-NOAA Please see https://docs.google.com/document/d/1dPirkrZfvqlVi4GgdVRYVvdjd8BeVPlRg6irI9hH_c0/edit for the procedures for making UFS global model boundary conditions and ICs. Hope it helps.   @shansun6 @bingfu-NOAA @HelinWei-NOAA @barlage  Please update this document if the information is out of date

[2022-04-08 17:12] yangfanglin commented on #1108
@bbakernoaa Barry, it would be great if you can add the steps to this [document ](https://docs.google.com/document/d/1dPirkrZfvqlVi4GgdVRYVvdjd8BeVPlRg6irI9hH_c0/edit )taken to create add aerosol ICs.

[2022-04-08 17:13] bbakernoaa commented on #1108
Will do @yangfanglin

[2022-04-08 17:29] ChunxiZhang-NOAA commented on #1108
@yangfanglin  Thank you.

[2022-04-11 10:32] BinLiu-NOAA opened #1165 "Add moving-nesting build and namelist related documentation"
## Description
Provide a clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The FV3ATM moving-nesting capability is being merged through PR #1104. There are new build, input namelist, model configure options for the moving nest capability, which need to be updated in the ufs-weather-model [documentation](https://ufs-weather-model.readthedocs.io/en/latest/) c

[2022-04-11 13:42] DusanJovic-NOAA commented on #1100
Merged in https://github.com/ufs-community/ufs-weather-model/commit/c2e6b223232a7e304f37059ad63f5c36b7b4317e

[2022-04-11 13:43] DusanJovic-NOAA commented on #1053
Merged in https://github.com/ufs-community/ufs-weather-model/commit/c2e6b223232a7e304f37059ad63f5c36b7b4317e

[2022-04-11 13:43] #1053 closed

[2022-04-11 13:44] DusanJovic-NOAA commented on #1140
Merged in https://github.com/ufs-community/ufs-weather-model/commit/c2e6b223232a7e304f37059ad63f5c36b7b4317e

[2022-04-11 13:44] #1140 closed

[2022-04-11 16:14] binli2337 opened #1166 "Create a script to run regression tests on wcoss2 automatically"
## Description
Right now, we cannot use auto_rt label to run regression tests on wcoss. A script will be developed to run regression tests on wcoss using a single line command.

## Solution
The script will be located at the following locations:
dell_p3: /gpfs/dell2/emc/modeling/noscrub/emc.nemspara/rt_auto
cray:     /gpfs/hps3/emc/nems/noscrub/emc.nemspara/rt_auto

The command is
./rt_auto.sh [url

[2022-04-11 16:28] junwang-noaa commented on #1088
All the P8 physics updates were committed.

[2022-04-11 16:48] junwang-noaa commented on #1123
Code changes for P8b are now in the model repository.

[2022-04-11 16:48] #1123 closed

[2022-04-11 17:39] junwang-noaa commented on #1108
We will stage 1-4 and 8 in ufs-weather-model RT input data location for PR#909. When ww3 data is ready, it will be staged for upcoming ww3 cap PR.

[2022-04-11 19:08] DeniseWorthen commented on #1108
To summarize, the following locations will be used to update the input-data used for the RTS.

- [x] Close j=1 on MOM6 1deg: /scratch1/NCEPDEV/stmp4/Denise.Worthen/input-data-20211130
MOM6_FIX/100: ufs.topo_edits_011818.nc
CICE_FIX/100: mesh.mx100.nc, grid_cice_NEMS_mx100.nc, kmtu_cice_NEMS_mx100.nc
CICE_IC/100: cice_model_1.00.cpc.res_2011100100.nc, cice_model_1.00.cpc.res_20210322.nc

- [x] Fix

[2022-04-11 20:05] JessicaMeixner-NOAA commented on #1108
For the prototype IC dates, we have ICs with aerosols and land-spin-up on hera here: /scratch2/NCEPDEV/climate/climpara/S2S/IC/GEFS-NoahMP-aerosols-p8c

[2022-04-11 20:06] JessicaMeixner-NOAA commented on #960
@jiandewang suspects this is a current limitation with FMS.  @junwang-noaa if this is a feature we need in FMS, what would the next steps be?

[2022-04-11 20:15] junwang-noaa commented on #960
@JessicaMeixner-NOAA @jiandewang Please create an issue at GFDL FMS repo: https://github.com/NOAA-GFDL/FMS.

[2022-04-11 20:25] DeniseWorthen commented on #1108
@JessicaMeixner-NOAA These will need to be updated in a new ``gfs_p8c/`` directory under each IC date in the current ``BM_IC-20220207`` directories, correct?

[2022-04-11 20:27] jiandewang commented on #960
@junwang-noaa just created an issue, see https://github.com/NOAA-GFDL/FMS/issues/956

[2022-04-11 20:33] JessicaMeixner-NOAA commented on #1108
@DeniseWorthen correct.  Just wanted to make sure you saw those ICs with the land-spin up as the ones from @bbakernoaa for the same dates do not include the updated src files (the gfs files are the same ones from Barry)

[2022-04-11 20:44] DeniseWorthen commented on #1115
To summarize, there appears to be two separate issues. On hera.gnu, I ran the following tests using develop

[code]

The cpld_debug_noaero_p8 test completed. The cpld_debug_p8 test failed at ``GOCART/ESMF/UFS/Aerosol_Cap.F90:321``, as noted above.

Using the new wave cap (which can be compiled and run in debug mode), I ran the following using 4d3650d3

[code]

Both tests failed with
[code]

The fi

[2022-04-11 20:46] DeniseWorthen commented on #1108
@JessicaMeixner-NOAA Could you say that again? I'm not sure I understand.