[2022-06-30 23:34] junwang-noaa opened #1304 "Add ESMF managed threading tests"
## Description
This is the last task for the ESMF managed threading project listed in EPIC #1111. The ESMF managed threading will be enabled in UFS, and regression tests will be added to use the capability.

## Solution
Code changes will be added to enable this capability.

## Alternatives
If applicable, add a description of any alternative solutions or features you've considered.

## Related to
D

[2022-07-01 03:36] yangfanglin commented on #1277
an new issue has been created https://github.com/NOAA-EMC/global-workflow/issues/884 to corerct dt_inner and lheatstrg for p8c.  PR is https://github.com/NOAA-EMC/global-workflow/pull/883

[2022-07-01 13:45] AnningCheng-NOAA commented on #1277
@Jessica Meixner - NOAA Federal ***@***.***> my coupled run
with dt_atmos=250 failed very early (before the first time step)
at /scratch1/NCEPDEV/stmp2/Anning.Cheng/ROTDIRS/tfix2015070100/logs/2015070100.
From the PET files, it is something to do with NUOPC. Could you take a
quick look at what is wrong?  I use the exact workflow (copied) and exp dir
as yours except changing dt_atmos.

On Thu, Jun

[2022-07-01 13:52] JessicaMeixner-NOAA commented on #1277
@AnningCheng-NOAA in /scratch1/NCEPDEV/climate/Anning.Cheng/RUNDIRS/tfix2015070100/2015070100/gfs/fcst.212579/PET0000.ESMF_LogFile
see the error:

[code]

[2022-07-01 13:56] SMoorthi-emc commented on #1277
Anning,
   You can't use a timestep of 250.
Note that 3600/250=14.4  (this is not allowed).
For the coupled model the ocean time step needs to be integer multiple of
atmos time step.
Moorthi

On Fri, Jul 1, 2022 at 9:45 AM AnningCheng-NOAA ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for

[2022-07-01 14:10] JessicaMeixner-NOAA commented on #1277
@AnningCheng-NOAA following on @SMoorthi-emc comment, the current slow-loop is 1800, so that looks like 225s is the next time step option without changing other time-steps.

[2022-07-01 14:12] AnningCheng-NOAA commented on #1277
@Jessica Meixner - NOAA Federal ***@***.***> @Shrinivas
Moorthi - NOAA Federal ***@***.***> Good catch! Thank you
very much, I will use 240 to try.

On Fri, Jul 1, 2022 at 9:56 AM SMoorthi-emc ***@***.***>
wrote:

[2022-07-01 14:13] AnningCheng-NOAA commented on #1277
Sure, @Jessica Meixner - NOAA Federal ***@***.***>  I will
use 225s.

On Fri, Jul 1, 2022 at 10:11 AM Anning Cheng - NOAA Affiliate <
***@***.***> wrote:

[2022-07-01 15:10] junwang-noaa commented on #1078
The code was merged in PR#1211. The issue will be closed.

[2022-07-01 15:12] junwang-noaa commented on #1112
For Item 4, the HAFS application is running with offline post at this time. The inline post development for multiple output grids will be moved to Q4FY2022.

[2022-07-01 15:17] junwang-noaa commented on #801
The PR#1275 was committed. An issue #1270 was created about the default chunksize issue in NetCDF4 files in the RRFS application for further discussion.

This issue will be closed.

[2022-07-01 15:17] #801 closed

[2022-07-01 15:21] junwang-noaa opened #1306 "Enable inline post on multiple atm output grids in HAFS application"
## Description
Code changes are required to enable the inline post on the multiple atm output grids in HAFS' nesting runs.

## Solution
Update the inline post code on the write grid component, changes may be required on UPP code too.

## Alternatives
If applicable, add a description of any alternative solutions or features you've considered.

## Related to
Directly reference any issues or PRs in t

[2022-07-01 16:22] jswhit commented on #1270
you can set the parameters ichunk2d, jchunk2d, ichunk3d, jchunk3d, kchunk3d in model_configure to control the chunksizes used in the history files produced by the write component.

If all the values are -1 then the netcdf-c library chooses the chunksizes.

If all the values are zero then the chunksizes are set to the grid decomposition in the write component (which depends on the number of write_t

[2022-07-01 16:24] jswhit commented on #1270
Oops - I see you are talking about restarts here and not history files.  Since restart files are written by FMS, not the write component, the chunk values in model_configure don't apply.

I see @TingLei-NOAA asked the FMS devs how to change the default chunksize (https://github.com/NOAA-GFDL/FMS/discussions/892).  The answer was there is currently no mechanism to do so.

[2022-07-01 16:32] jswhit commented on #1270
The write grid component can output the tiles in history files, and I think the plan is for JEDI to use these instead of the history files (@CoryMartin-NOAA can correct me if I'm wrong about this).  One option would be to have RRFS/GSI  switch to using the tiled history files to get faster IO throughput (by having control of the chunksizes without having to rewrite the files with nccopy).

[2022-07-01 17:01] junwang-noaa commented on #1270
@jswhit Post can't process native grid at this time. Also if model is called within JEDI in the 4D VAR case, the model fields can be passed out on native grid to DA. For offline cases, we can consider having two output grids(native grid for JEDI and other regular grid for inline post), which needs some additional work.

@edwardhartnett For this issue, fms io actually does not set chunksizes in the

[2022-07-01 17:10] jswhit commented on #1270
@junwang-noaa Vars that use compression or checksums or unlimited dims can't be contiguous. I think that's why chunking is on by default

[2022-07-01 17:47] junwang-noaa commented on #1270
@jswhit Thanks for the information. My understanding is that the restart files are not compressed. Also according to @bensonr's comments in issue #801: "Don't be confused by the presence of a checksum attribute as that is created and written by FMS and not related to the fletcher32 argument to nf90_def_var." So I think the reason is that time dimension is "UNLIMITTED", I did see it in the 64Bit re

[2022-07-01 17:57] jswhit commented on #1270
global model restart files do have an unlimited time dimension

[2022-07-01 17:59] jswhit commented on #1270
you can turn on compression for restart files using

[code]

[2022-07-01 18:12] EricRogers-NOAA commented on #1270
@junwang-noaa the LAMDAX restart files do have UNLIMITED for the time dimension:

netcdf fv_tracer.res.tile1 {
dimensions:
        xaxis_1 = 3950 ;
        yaxis_1 = 2700 ;
        zaxis_1 = 65 ;
        Time = UNLIMITED ; // (1 currently)

[2022-07-01 18:27] junwang-noaa commented on #1270
@jswhit I can't find any places where the deflate_level is used in the netcdf calls in fms. @bensonr are the restart files written with compression? Thanks

[2022-07-01 18:39] jswhit commented on #1270
it's optional - default is no compression.

[2022-07-01 19:02] yangfanglin commented on #1270
I recall we did test compression for writing out GFS.v16 restart files by FMS . Using the following reduce the size of restart file by 50%

&mpp_io_nml
  shuffle=1,
  deflate_level=5,
/

However, what we are using now in GFS.v16 is
compression for RESTART files written by FMS
export shuffle=1
export deflate_level=1

I cannot find out why we did not use deflate_level=5.   Jeff, are restart files st

[2022-07-01 19:17] jswhit commented on #1270
there is very little difference in file size with deflate_level=1 and 5 for the restarts, but the IO is much faster with deflate_level=1

[2022-07-01 20:43] edwardhartnett commented on #1270
Can you post the ncdump -h -s of one of the data files?

Compression should be set to 1. Larger values are much slower but don't really compress better.

[2022-07-01 23:25] EricRogers-NOAA commented on #1270
@edwardhartnett I'd have to run a new RRFS test with the latest code to get the chunksizes for all the restart file records, but here is one variable from one of the RRFS restart files (npx, npy=3951, 2701)

float sphum(Time, zaxis_1, yaxis_1, xaxis_1) ;
sphum:checksum = " 93FD4CEFDD0C45B" ;
sphum:_Storage = "chunked" ;
sphum:_ChunkSizes = 1, 6, 300, 439 ;
sphum:_Endianness = "little" ;

This is n

[2022-07-01 23:35] edwardhartnett commented on #1270
OK, that seems like a bug in nccopy. I have added it to the netCDF issues list: https://github.com/Unidata/netcdf-c/issues/2442

 @bensonr if you remind me where the netCDF code is in FMS I will take a look.

[2022-07-05 18:14] junwang-noaa opened #1308 "production/GFS.v16: remove -a in module path"
## Description
Kate reported a MODULEPATH conflict when building the GFSv16 FV3 branch on Hera in global workflow because a different version of hpc-stack was loaded. The solution is to set the module path to the specific path shown in the model module file and not to append the model module path to the end of MODULEPATH.

### To Reproduce:
What compilers/machines are you seeing this with?
Give ex

[2022-07-05 18:19] SamuelTrahanNOAA opened #1309 "Regression tests falsely marked as failed when prior failed attempt finishes after next successful attempt starts"
## Description

Sometimes the regression test system will falsely mark a test as failed if it was resubmitted. This is due to a race condition described below. The easiest solution is for the jobs to delete their `fail_(number)` files at the end of the job, not just the beginning.

### How the System is Designed

The regression test system makes `fail_*` files to indicate a regression test failed.

[2022-07-05 19:25] junwang-noaa commented on #1106
@ligiabernardet The SRW release is out, do you want to leave this issue open or close this issue and open a new one when someone is working on it? Thanks.

[2022-07-05 19:31] junwang-noaa commented on #1168
The suite file was added to UFS SRW release release/public-v3. Will move the issue to Q4FY2022 RT development to resolve the restart issue.

[2022-07-05 19:34] SamuelTrahanNOAA commented on #1309
Seeking comment from @DusanJovic-NOAA, @junwang-noaa, @BrianCurtis-NOAA, and @jkbk2004 on this bug before I fix it.

[2022-07-05 19:40] junwang-noaa opened #1310 "Regression test development for Q4FY2022"
This EPIC includes UFS WM regression test development for all the applications.

[2022-07-05 19:46] DusanJovic-NOAA commented on #1309
Suggested solution look reasonable to me. I wonder if there is a simple way to avoid race condition you described.

[2022-07-05 19:46] SamuelTrahanNOAA commented on #1309
The fix seems to be copying this code in `run_test.sh`:

[code]

To just before the timestamp:

[code]

Inside an if block:

[code]

I could also put it in a function, and call the function from both places. That would be cleaner but equivalent.

[2022-07-05 19:51] SamuelTrahanNOAA commented on #1309
That would be highly system-dependent since the job cleanup depends on the chosen batch system and is usually configurable in any batch system.

I do see two other options, but neither are clean nor reliable:

1. Use a lock directory to guard the flag files, but that risks freezing the second job if something prevents the first job from deleting the lock directory.

2. Trust the metascheduler (ecF

[2022-07-05 19:58] DusanJovic-NOAA commented on #1309
Ok. Then I suggest to fix this issue as you suggested. Always delete any existing fail_*** file at the beginning of the run script and at the end if test is successful.

[2022-07-05 20:49] BrianCurtis-NOAA commented on #1309
Thought: @DusanJovic-NOAA would it be simpler to add a random number, say: `RANNUM=$RANDOM` and use that in the fail_test file name?

[2022-07-05 20:50] SamuelTrahanNOAA commented on #1309
Using a random number won't help because you'll still have the old failure files sitting around. Actually, that'll give you a false failure every time a job is resubmitted.

[2022-07-05 20:55] junwang-noaa commented on #1179
SRW release tag https://github.com/ufs-community/ufs-weather-model/releases/tag/ufs-srw-v2.0.0 is out. The EPIC will be closed.

[2022-07-05 21:02] junwang-noaa commented on #1191
The PR#1192 with fixed for this issue was merged this morning. the issue will be closed.

[2022-07-05 21:02] #1191 closed

[2022-07-05 21:08] BrianCurtis-NOAA commented on #1309
Yes, true. rt.sh uses fail_test so we don't want to change multiple files if we can do it in one. I agree this approach is sufficient.

[2022-07-05 22:05] SamuelTrahanNOAA commented on #1309
My proposed bug fix is in #1312.

[2022-07-06 11:46] binli2337 commented on #1036
The FMS 2022.03-alpha1 tag has been tested on Gaea with the full set of UFS regression tests.

The FMS 2022.03-alpha1 tag is located at https://github.com/NOAA-GFDL/FMS/releases/tag/2022.03-alpha1.
The FV3ATM branch is located at https://github.com/binli2337/fv3atm/tree/update_0629_mixedmode.
The ufs-weather-model branch is at https://github.com/binli2337/ufs-weather-model/tree/update_0629_mixedmo

[2022-07-06 13:16] DeniseWorthen opened #1314 "aerosols breaks diagnose_cplFields for FV3"
## Description
The setting of ``dbug_flag`` in nems.configure for the coupled model triggers the reporting of the min, max and sum of each connected import or export field for FV3. When the app is S2SWA, this produces an error in the PET logs connected to FV3.

### To Reproduce:
Run both ``cpld_control_p8`` (app=S2SWA) and ``cpld_control_noaero_p8`` (app=S2SW) but change the ``default_vars`` value

[2022-07-06 14:06] junwang-noaa opened #1315 "Write grid component development Q4FY2022"
The EPIC includes write grid component development in Q4FY2022.

[2022-07-06 14:08] junwang-noaa commented on #1163
UFS stopped running RT on wcoss2 platforms. The issue will be closed.

[2022-07-06 14:26] junwang-noaa opened #1316 "Prototype P8.1"
This EPIC includes issues/PRs for prototype P8.1.

[2022-07-06 14:27] junwang-noaa commented on #1245
Three issues were resolved. The EPIC will be closed.

[2022-07-06 14:27] #1245 closed

[2022-07-06 14:28] DeniseWorthen commented on #1314
This appears to be caused by the dimcount=4 for aerosol fields. Additional code needs to be added to account for the possibility of dimcount=4 in the ptr retrieval.

[2022-07-06 14:44] DeniseWorthen commented on #1250
@bbakernoaa Do you know the location of the emission data that the Prototypes are using? We should be able to use those in the RT 5-day test and not carry our own copy in the RT input data directories.

[2022-07-06 14:49] bbakernoaa commented on #1250
@DeniseWorthen

You can find all the emissions on the various platforms here:

[code]

These are copies of research development that I have separately.

[2022-07-06 15:07] junwang-noaa commented on #1308
The PR was merged. The issue will be closed.

[2022-07-06 15:07] #1308 closed

[2022-07-06 15:13] junwang-noaa commented on #942
The PR was committed, the issue will be closed.

[2022-07-06 15:13] junwang-noaa commented on #942
The PR was committed, the issue will be closed.

[2022-07-06 15:23] DusanJovic-NOAA commented on #942
This was not resolved in #1265

https://github.com/ufs-community/ufs-weather-model/pull/1265#issuecomment-1161973755

[2022-07-06 15:34] junwang-noaa commented on #942
Thanks, we may need to update the code to write out consistent calendar type in the restart files.

[2022-07-06 15:37] DusanJovic-NOAA commented on #942
Consistent calendar type will be written out in the restart files. But because the restart files (coupler.res) in the baselines have 'incorrect' calendar type we need updated input data.

[2022-07-06 17:09] junwang-noaa commented on #942
I see, maybe we need to update the input data directory then.

[2022-07-06 18:45] bensonr commented on #1270
There's a lot of confusion above between mpp_io/fms_io and the updated/rewritten fms2_io layer.  It's even more chaotic adding in what code you are using from within the UFS repository timeline.  Commits in late August 2021 updated FV3 and the physics IO layer (FV3GFS_io.F90) to remove the older mpp_io/fms_io interfaces and use the updated IO layer for native-grid restarts and a small number of na

[2022-07-06 23:12] ligiabernardet commented on #1106
We will start a new issue once we are ready to work on this.

[2022-07-06 23:12] #1106 closed

[2022-07-07 11:55] binli2337 commented on #1036
In the previous tests using FMS2022.03-alpha1 tag, FMS1 in MOM6-interface/mom6_files.cmake is used.

The following four tests have also been run using FMS2 in MOM6-interface/mom6_files.cmake and the current UFS baseline can be reproduced.

datm_cdeps_control_cfsr
datm_cdeps_debug_cfsr
cpld_control_p8
cpld_debug_p8

[2022-07-07 13:31] edwardhartnett commented on #1270
I can answer some of your questions about netCDF-4 default chunksizes.

When I wrote netCDF-4, I came up with a very primitive algorithm to come up with default chunksizes. The biggest gotcha is that the default chunksize for an unlimited dimension is 1. This is a terrible chunksize, unless you have only one record. But it's impossible to choose a larger chunksize for an unlimited dimension, becau

[2022-07-07 14:01] junwang-noaa commented on #1036
@binli2337 May I ask what is "FMS1"? Do you mean fms_io?

[2022-07-07 14:43] jiandewang commented on #1036
in current MOM6 code, there are infra/FMS1 and infra/FMS2 code, both works. This is why whenever there is any new updating, I ask Bin test both. Eventually infra/FMS1 will fade away and we will switch to infra/FMS2 code.

[2022-07-07 15:06] #1309 closed

[2022-07-07 16:16] DeniseWorthen commented on #1250
@bbakernoaa Thanks. I attempted to point to the glopara location for the 5-d RT but I think the rc files in the current ``GOCART/p8c_2012_2013_5d`` directory in the RT input are organized differently. Do you know where I could located the correct rc files? I want to be able to just ``ln -s`` to the glopara directory for the 5-d test.

[2022-07-07 17:23] junwang-noaa commented on #1270
@JianpingHuang-NOAA FYI.

[2022-07-07 17:58] binli2337 commented on #1036
@junwang-noaa MOM6/config_src/infra/FMS1 uses fms_io and MOM6/config_src/infra/FMS2 uses fms2_io.

[2022-07-08 14:28] junwang-noaa commented on #1036
@jiandewang Thanks for the explanation.

@binli2337 Can you confirm all the coupled tests that use MOM6 with fms2_io run with the FMS2022.03-alpha1 tag? Thanks

[2022-07-08 14:33] DavidHuber-NOAA opened #1318 "Update regression testing support for S4"
## Description
The location of the RT baselines and inputs has changed to a role-account owned directory.  Additionally, the defaults for the cpld_bmark_p8 test are too large to run on S4.

## Solution
rt.sh should be updated to point to the new location of RT on S4 and the default settings for the cpld_bmark_p8 test should be modified when running on S4 in default_vars.sh.

## Alternatives
If cpl

[2022-07-08 14:53] jiandewang commented on #1036
@binli2337 can you make sure that datm_cdeps_iau_gefs and datm_cdeps_stochy_gefs jobs are fine ? these two jobs have extra fixed files to be read in and I had trouble in one of previous MOM6 code updating due to netcdf header format incompatible with fms2_io (the trouble have been fixed and current dev/emc and MOM main code are safe to use fms2_io). Just want to make sure no issue will be brought

[2022-07-08 15:49] junwang-noaa commented on #1314
@DeniseWorthen The aerosol tracer fields have 4 dimensions, are some code changes needed in GOART side or the NUOPC side?

[2022-07-08 16:16] DeniseWorthen commented on #1314
I think there just needs to be an option to have more than three dimension when retrieving a pointer inside of ``state_diagnose``. Right now, the code is written so that if dimcount is not 2, it is assumed to be 3. So we need to allow a dimcount of 2,3 or 4. We could also just exit the itemCount loop if dim > 3.

[2022-07-11 14:25] junwang-noaa opened #1320 "Add inline post in the cpld_bmark_p8 related tests"
## Description
In the global workflow, the coupled benchmark is running with inline post while the cpld_bmark_p8 related tests have inline post turned off. The inline post needs to be turned on in the benchmark test to maintain the consistency between workflow and coupled RT tests.

## Solution
Add inline post in the cpld_bmark_p8 test.

## Related to
Directly reference any issues or PRs in this o

[2022-07-11 15:06] junwang-noaa commented on #1125
I tested the w3emc/2.9.2 with the latest UPP and code changes in the cmake in fv3/ccpp. The standalone control test produces identical results as baseline. Code changes are required in ww3 to use w3emc in the coupled tests in UFS.

[2022-07-11 15:07] junwang-noaa commented on #1125
Change this tasks to EPIC regression test Q4fy2022.

[2022-07-11 15:12] junwang-noaa commented on #1165
@BinLiu-NOAA May I ask if your group can provide documentation on the moving test configuration? Thanks

[2022-07-11 15:14] junwang-noaa commented on #1177
@hae-cheol.kim@noaa.gov @binli2337 Is this issue resolved?

[2022-07-11 15:18] aerorahul commented on #1125
@junwang-noaa @WenMeng-NOAA @DusanJovic-NOAA
Also note that nemsio/2.5.2 has a dependency on w3nco.  If we use a higher release of nemsio, w3nco can completely be eliminated from the dependency list.
Just a note for future.

[2022-07-11 15:42] WenMeng-NOAA commented on #1125
@aerorahul and @Hang-Lei-NOAA The UPP already upgraded nemsio/2.5.4 on hera and orion. Will you send the request to GDIT for installing nemsio/2.5.4 on WCOSS2?

[2022-07-11 15:56] junwang-noaa commented on #1121
@danrosen25  I will close the issue. At this time, ufs-weather-model documentation was updated. We will open a new one when the updates from ESMF is available.

[2022-07-11 15:56] #1121 closed

[2022-07-11 16:10] #1112 closed

[2022-07-11 16:19] danrosen25 commented on #1121
@junwang-noaa
Thanks, the ESMF_ConfigLoadFile line limit check is in my backlog.

[2022-07-11 16:48] DusanJovic-NOAA commented on #1125
ufs-weather-model does not depend on nemsio.

[2022-07-11 18:20] binli2337 opened #1321 "Add a CDEPS test that uses C-grid for CICE6 dynamics"
## Description
In the current CDEPS tests, the B-grid is used for CICE6 dynamics. Recent development in CICE6 adds the option to use C-grid for CICE6 dynamics. A new CDEPS test will be added to UFS to use C-grid for CICE6.

## Solution
Add a CDEPS test using C-grid for CICE6.

[2022-07-11 18:48] junwang-noaa opened #1322 "Write grid component development Q4FY2022"
The EPIC includes following development work:

1) Inline post develop for static multiple output grids
2) UPP update/bug fixes
3) unify the filled values in atmosphere history files

[2022-07-11 18:53] junwang-noaa opened #1323 "compiler/library updates Q4FY2022"
This EPIC includes compiler and library updates.

1) FMS 2022.03 with mixed mode capability
2) FMS 2022.05 transition to fms2_io
3) ESMF 8.3.0 release.
4) MAPL/Yafyaml updates
5) w3nco 2.4.1 -> w3emc 2.9.2

[2022-07-11 19:01] junwang-noaa opened #1324 "NG-GODAS development Q4FY2022"
This EPIC includes:

1) Update some CDEPS tests to use C-grid in CICE6 dynamics.
2) CDEPS code updates

[2022-07-11 19:20] junwang-noaa commented on #1262
@DavidHuber-NOAA I am not sure what is the difference between kjet and xjet, have you run any tests on xjet before with the executable compiled on kjet?

[2022-07-11 19:22] junwang-noaa commented on #1260
@EricRogers-NOAA may I ask if the issue is resolved?

[2022-07-11 19:23] EricRogers-NOAA commented on #1260
It is resolved and it can be closed. Thanks.

[2022-07-11 19:32] binli2337 opened #1325 "Update UFS weekly tests"
## Description
The rt_weekly.conf file needs to be updated due to recent changes in some scripts used in the UFS regression test system.

## Solution

1)  The cpld_control_c384_p8 test has been removed from the ufs-weather-model/tests/tests directory, but this test is still included in rt_weekly.conf. This test should be removed from rt_weekly.conf.
2) In the previous cpld_bmark_p8_35d tests, the

[2022-07-11 19:32] junwang-noaa commented on #1264
There are some problems to use the ESMF 8.3.0 release. The related issues are:

Issues in fill Value/missing value:  https://github.com/NOAA-EMC/fv3atm/issues/129

Install ESMF 830 library: https://github.com/NOAA-EMC/hpc-stack/issues/464

[2022-07-11 19:36] DavidHuber-NOAA commented on #1262
@junwang-noaa xjet's CPU architecture is Haswell, while kjet's is Skylake.  The CPUs support different instruction sets (e.g. AVX-2 on xjet and AVX-512 on kjet).  Thus, when CICE is compiled on kjet with -xHOST, it will compile with newer instructions than xjet can perform.

I have run tests on xjet before (not RTs, just forecasts), but in ATM-only and ATMW modes.  These ran successfully.

If extr

[2022-07-11 19:40] junwang-noaa commented on #1259
@ChunxiZhang-NOAA Can you confirm the atmaero_control_p8 passed ORT with the MAPL library update? If yes, you can close the issue. Thanks

[2022-07-11 19:55] ChunxiZhang-NOAA commented on #1259
@junwang-noaa I confirmed that atmaero_control_p8 passed ORT with the MAPL lib update.

[2022-07-11 19:55] #1259 closed

[2022-07-11 20:05] #1260 closed

[2022-07-12 14:43] aerorahul opened #1326 "Update modulefiles to Lua"
## Description
The ufs-weather-model modulefiles need to be updated to Lua format.
The ufs-weather-model got a pass for transition to WCOSS2 for the GFS.

## Solution
Replace all modulefiles with Lua modules (For Orion, Hera and WCOSS systems) with the ability to pass versions of the dependencies from the environment.  See UPP for examples https://github.com/NOAA-EMC/UPP/tree/develop/modulefiles

[2022-07-12 15:19] BrianCurtis-NOAA commented on #1326
Are there any issues with Gaea that you're aware of? I notice UPP doesn't have a modulefile for it.

[2022-07-12 15:20] aerorahul commented on #1326
No idea.

[2022-07-12 15:27] climbfuji commented on #1326
I think gaea should stick with tcl env modules.

In spack-stack, we are going away from the hacky solution that I put in place for nceplibs/nceplibs-external and hpc-stack that requires running the `init_lmod.sh` script (which takes notes of all currently loaded modules, purges the environment, activates lua, loads them again - this works for many users, but not for all, since the order to reload

[2022-07-12 16:28] ShunLiu-NOAA opened #1329 "regional FV3 slow on WCOSS2"
## Description
We are trying to set up RRFS on WCOSS2. However, regional FV3 warmstart is very slow on WCOSS2. The read I/O takes about 3000s to read in restart file.

### To Reproduce:
What compilers/machines are you seeing this with?
WCOSS2

Give explicit steps to reproduce the behavior.
1. cp /lfs/h2/emc/da/noscrub/Shun.Liu/test/canned_rrfs_warmstart to your directory
2.  modify line 89 in sub.

[2022-07-13 13:40] #936 closed

[2022-07-13 13:47] junwang-noaa commented on #1223
The code was merged. Close issue.

[2022-07-13 13:47] #1223 closed

[2022-07-13 13:48] #898 closed

[2022-07-13 13:50] junwang-noaa commented on #1166
@binli2337 can you provide some updates on this issue?

[2022-07-13 13:54] junwang-noaa commented on #1139
@DeniseWorthen Is this issue resolved?

[2022-07-13 13:59] junwang-noaa commented on #1222
The issue was fixed in PR#1257. The issue will be closed.

[2022-07-13 14:05] SamuelTrahanNOAA commented on #1222
@junwang-noaa This was NOT fixed in #1257. Please re-open this issue so I don't have to make a new one.

[2022-07-13 14:06] #1178 closed

[2022-07-13 14:11] junwang-noaa commented on #1222
Sorry, I see the PR #1257 fixed the reproducibility for hrrr_control, not  rrfs_smoke_conus13km_hrrr_warm.

[2022-07-13 14:13] SamuelTrahanNOAA commented on #1222
Actually, the hrrr_control variants already worked, they just weren't enabled. The reproducibility fix in that PR was for the rap_decomp.

[2022-07-13 14:22] DeniseWorthen commented on #1139
I will test this and let you know. If it works, I'll create a PR which replaces the S2SW with S2SWA debug test for GNU.

[2022-07-13 16:32] junwang-noaa opened #1331 "RRFS Q4FY2022"
The EPIC includes issues related to RRFS in Q4FY2022

[2022-07-13 16:35] pjpegion opened #1332 "ocean SPPT can cause the ocean model to crash"
## Description
I am running with ensemble initial conditions, and I have one member that has large perturbations in it. These perturbations cause large physics tendencies, which are interacting with SPPT to produce a temperature in the ocean that is too cold, and the model fails when this blob of cold water reaches the surface.

### To Reproduce:
I have a specific case with my own initial conditio

[2022-07-13 18:47] JessicaMeixner-NOAA opened #1334 "Orion Performance Issues"
## Description
When running the prototypes, we see huge variability in runtime performance on hera. This has been seen with and without aerosols and has been an issue since at least December 2021 if not before.   The most recent runs were 35 day runs with p8c-ish like settings in which some runs took 1.4x as long as the faster runs which had similar runtimes to what is seen on hera.  The same vari

[2022-07-13 18:58] junwang-noaa commented on #1334
@JessicaMeixner-NOAA  A quick check, "we see huge variability in runtime performance on **hera**", Do you mean "Orion" or hera also has this issue?

[2022-07-13 18:59] JessicaMeixner-NOAA commented on #1334
@junwang-noaa yes, thank you! I have updated the text.

[2022-07-13 20:03] SamuelTrahanNOAA opened #1335 "All Jet tets fail due to missing baseline."
## Description
The 20220707 baseline is missing on Jet, so all regression tests fail.

[code]

### To Reproduce:
Give explicit steps to reproduce the behavior.
1. Run the Jet Intel regression tests
2. Read the logs
3. Behold: "MISSING baseline" errors everywhere!

[2022-07-13 21:54] DeniseWorthen commented on #1139
I was able to run both cpld_control_p8 and cpld_debug_p8 on Cheyenne.gnu. I'll confirm those also work on hera.gnu and then create a PR.

[2022-07-13 22:46] #1335 closed

[2022-07-14 13:10] binli2337 commented on #1177
@Hae-CheolKim-NOAA Should we close this issue?

[2022-07-14 13:48] Hae-CheolKim commented on #1177
Yes, please. Thanks.

[2022-07-14 15:26] junwang-noaa commented on #1250
@bbakernoaa @lipan-NOAA Would you please let us know where are the aerosol rc files used in the prototype P8 runs? Thanks

[2022-07-14 15:28] bbakernoaa commented on #1250
@junwang-noaa I have a PR open to global-workflow now to update the rc files for the p8 runs

The PR is here: https://github.com/NOAA-EMC/global-workflow/pull/888

The rc files that you are looking for can be found here: https://github.com/bbakernoaa/global-workflow/tree/feature/mapl_2-22-0/parm/chem

[2022-07-14 15:32] bbakernoaa commented on #1250
@DeniseWorthen can you explain a little more where this directory is...... I'm not sure where this exists

[2022-07-14 15:52] DeniseWorthen commented on #1250
@bbakernoaa The idea was that instead of the RT carrying a duplicate copy of the GOCART files required for doing the 5-day weekly tests, we could just point to the same files that the workflow was using. But when I tried that, it seemed the rc files were assuming a different directory structure for where the files were located. I think that is the basis of @junwang-noaa question about the location

[2022-07-15 14:23] BinLiu-NOAA commented on #1165
@junwang-noaa, let me reach out to our HRD collaborators (@wramstrom, @Xuejin-Zhang, etal) to coordinate and add some documentation related to moving-nesting. Thanks!

[2022-07-15 14:26] #1098 closed

[2022-07-15 14:26] #1099 closed

[2022-07-15 14:34] junwang-noaa commented on #1258
@BrianCurtis-NOAA I think this issue is not resolved yet. We still need to discuss how to manage the templates with different components in the coupled configurations.

[2022-07-15 14:39] BrianCurtis-NOAA commented on #1258
I brought over info from WenMeng's PR, maybe I confused this as a part of this. Opening again. Thanks!

[2022-07-15 18:17] BrianCurtis-NOAA opened #1337 "Test name in tests/tests should be the same name that outputs in baseline directories"
## Description
The test name in tests/tests should be the same names that appear in baseline directories on our supported machines.

baseline directories that do not match the name of their tests/tests name (I will add to this if needed):
fv3_regional_3km
fv3_regional_control
fv3_regional_debug
fv3_regional_netcdf_parallel
fv3_regional_noquilt

[2022-07-18 18:23] LinZhu-NOAA opened #1339 "outputting ULWRFtoa for HAFS"
## Description
Adding instantaneous ULWRFtoa for HAFS

[2022-07-18 20:42] climbfuji opened #1340 "ESMF still not working with clang compiler on macOS"
## Description

When using Apple's or LLVM's clang/clang++ compilers on macOS, the ufs-weather-model immediately crashes at startup. I've reported this previously, it started around version 8 of ESMF. It didn't make it up high enough in the priority list (yet), but I believe this needs to be fixed, because software stacks like spack-stack are better supported with clang+gfortran on macOS than with

[2022-07-19 13:41] wramstrom commented on #1165
Bin,

I will work on some documentation here.  I plan to focus on an overview of
the moving nest functionality, and how to configure it in the namelist.

Perhaps you can help with some description of the workflow configuration
for moving nest, especially the generation of the high-resolution static
data.

Bill

On Fri, Jul 15, 2022 at 10:23 AM Bin Liu ***@***.***> wrote:

[2022-07-19 14:14] pjpegion commented on #1289
@SamuelTrahanNOAA I will look into making the changes that are consistent with option (2)

[2022-07-19 17:34] #1288 closed

[2022-07-20 19:34] #1271 closed

[2022-07-21 19:28] #1301 closed

[2022-07-21 20:19] uturuncoglu opened #1344 "Accessing UFS input data through web"
I just wonder if the UFS C96 input data (already staged in the supported platforms) accessible through the web (ftp, http or ant cloud side). Here is the list of files that I need to access,

[code]

[2022-07-21 20:21] jkbk2004 commented on #1344
@uturuncoglu epic maintains the input files on s3 bucket. I will follow up with more information.

[2022-07-21 20:21] uturuncoglu commented on #1344
I have just found this https://aws.amazon.com/marketplace/pp/prodview-az2fsalpokx7k#resources

and get list of the fils with following command,

aws s3 ls --no-sign-request s3://noaa-ufs-regtests-pds/

i am not sure it is up-to-date with the files found in the platforms. Any idea?

[2022-07-21 20:24] jkbk2004 commented on #1344
Yes, can you check? https://noaa-ufs-regtests-pds.s3.amazonaws.com/index.html

[2022-07-21 20:25] jkbk2004 commented on #1344
This should be up-to-date.

[2022-07-21 20:26] uturuncoglu commented on #1344
@jkbk2004 That is perfect! I'll try to get the required data and test it under my case. Thanks for your help.

[2022-07-23 14:20] LinZhu-NOAA commented on #1339
This issue should be for EMC-UPP, no ufs-weather-model.

[2022-07-23 14:21] #1339 closed

[2022-07-25 14:26] junwang-noaa commented on #1339
@LinZhu-NOAA If the field reads in a model output field, it's good to have corresponding changes in the inline post interface. Otherwise inline and offline post will diverge. FYI.

[2022-07-25 14:32] LinZhu-NOAA commented on #1339
@junwang-noaa There are some codes changes associated with output correct instantaneous ULWFtoa to model history files. Chunxi Zhang will create another issue for these changes for ufs-weather-models.

[2022-07-25 15:04] junwang-noaa commented on #1339
@LinZhu-NOAA Thanks for the information. @ChunxiZhang-NOAA @WenMeng-NOAA Just let you know when the instantaneous ULWFtoa is added to model history files, inline post interface needs to be updated to output this product in the post files.

[2022-07-25 16:59] WenMeng-NOAA commented on #1339
@junwang-noaa I will update the in-line post interface for this HAFS request and another RRFS request later. My PR could be combined with @ChunxiZhang-NOAA 's PR for the changes in the model. The changes in the UPP off-line post interface were already committed in the UPP develop branch.

[2022-07-25 17:39] BrianCurtis-NOAA commented on #1314
@DeniseWorthen I've fixed this and I've tested this myself, seems to be OK. Since this won't change anything in UFSWM unless that debug setting is set, could you test my changes yourself: https://github.com/BrianCurtis-NOAA/ufs-weather-model/tree/bugfix/4d_state_diagnose

[2022-07-25 18:28] uturuncoglu commented on #1344
@jkbk2004 I could able to download the data from S3 without any issue but it turns out that the vegetation category data are inconsistent with the land mask found in the orography data. There are vegetation types that are -2147483647 for land points so that's what is causing the simulation to fail. Is it possible to fix the orography file on S3 bucket? BTW, here is the final list of files that I a

[2022-07-25 18:51] jkbk2004 commented on #1344
@uturuncoglu let me check if we need to sync the bucket again. It could be a pr or two missed on the bucket.

[2022-07-25 19:55] jkbk2004 commented on #1344
@uturuncoglu we just synced input-data-20220414. can you check again?

[2022-07-25 20:02] BrianCurtis-NOAA commented on #324
The one for UPP looks like it was switched to use the Fortran RANDOM_NUMBER generator. Does FMS/Stochastic Phys/CCPP need a Mersenne twister or will the RANDOM_NUMBER do OK? I ask because I think it good to track these changes in upstream tickets and link here, but I wanted to know if there was a need or if the RANDOM_NUMBER generator in Fortran would suffice.

[2022-07-25 20:05] climbfuji commented on #324
It's up to the scientists to weight in here. Some parts of the model, e.g. radiation, depend heavily on the random number generator, and you can't just swap them because they have characteristics that can really influence the model.

[2022-07-25 20:07] uturuncoglu commented on #1344
@jkbk2004 sure. let me try. thanks again for your help. do I need to wait until s3 bucket updated?

[2022-07-25 20:10] jkbk2004 commented on #1344
@uturuncoglu the bucket must be up-to-date now.

[2022-07-25 20:12] BrianCurtis-NOAA commented on #324
Yes, I think they use different distribution types? If the scientists in each component can weigh in we can get the proper tickets created there, agreed. Thanks!

[2022-07-25 20:15] DeniseWorthen commented on #1314
@BrianCurtis-NOAA Yes, this seems to be working correctly now. It will have no impact since it was a non-fatal error even when the debugging flag was turned on. It's an easy one to combine w/ another non-baseline change PR. Thanks!

[2022-07-25 20:18] uturuncoglu commented on #1344
@jkbk2004 Thanks for your help. I did not try to run the model but the checksums of new files are same with the old ones downloaded from the S3. Do we know which files are changed in the S3 bucket?

[2022-07-25 23:51] SMoorthi-emc commented on #324
Please do not remove mersenne twister from the model.  We have been
using this in GFS  over more than a decade.
Note that UPP is not prognostic i.e. it does not interact with forecast.
Moorthi

On Mon, Jul 25, 2022 at 4:13 PM Brian Curtis ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for E

[2022-07-26 14:41] pjpegion commented on #324
I am ok with removing mersenne twister from the stochastic physics repo, but it will take a bit of coding and testing to switch to a different random number generator.  The CA part of the code is no longer using mersenne twister, I just have not had the time to update the spectral pattern generator.

[2022-07-26 14:57] #1284 closed

[2022-07-26 15:19] #289 closed

[2022-07-26 15:20] DeniseWorthen commented on #289
A coupled C48-5deg ocean/ice test has been added via PR #1287

[2022-07-26 15:48] BrianCurtis-NOAA opened #1348 "Update PIO to version 2.5.7 on WCOSS2"
## Description
WCOSS2 is currently using pio 2.5.2 but 2.5.3 is required for UFSWM.

Once 2.5.3 is installed we need to bump the version in modulefiles/ufs_wcoss2.intel and modulefiles/ufs_wcoss2.intel_debug

[2022-07-26 18:21] junwang-noaa commented on #1348
@Hang-Lei-NOAA Just want to confirm, the PIO is approved on wcoss2 and GRIT will install 2.5.3 or do we still need to make request to install pio/2.5.3 on wcoss2?

[2022-07-26 19:18] BrianCurtis-NOAA commented on #1348
@junwang-noaa I talked with Hang earlier and he said he completed the code delivery to NCO this morning for 2.5.3.

[2022-07-27 15:10] binli2337 commented on #1036
To test the updated MOM6 code (https://github.com/jiandewang/MOM6/tree/test/GFDL_candidate-20220721),
the following 8 tests have been run using mixed-mode FMS tag 2022.03-alpha1.

a) Using FMS1 in MOM6-interface/mom6_files.cmake
datm_cdeps_control_cfsr
datm_cdeps_debug_cfsr
cpld_control_p8
cpld_debug_p8

b) Using FMS2 in MOM6-interface/mom6_files.cmake
datm_cdeps_control_cfsr
datm_cdeps_debug_cfsr

[2022-07-27 15:26] JessicaMeixner-NOAA opened #1350 "Updates for P8"
## Description
In response to the mini-P8c runs, we will make the following updates:
* Revert calculation of T2m (@HelinWei-NOAA )
* Set do_gsl_drag_tofd=false as this resolved the stability issues similar to those reported in https://github.com/ufs-community/ufs-weather-model/issues/1277)
* Updates to aerosol configuration (@bbakernoaa)

## Solution
A PR with the above changes.

## Alternatives
N

[2022-07-27 15:36] HelinWei-NOAA commented on #1350
@JessicaMeixner-NOAA You want me to commit the change to your ccpp-physics branch?

[2022-07-27 15:41] DavidHuber-NOAA commented on #1318
Code was committed with PR #1307

[2022-07-27 15:41] #1318 closed

[2022-07-27 15:41] JessicaMeixner-NOAA commented on #1350
That or point me to your CCPP branch and I'll just point to your CCPP branch.  Or do you want it to all be from my branches?  I was hoping you might make the PR to CCPP as you will be able to provide a better description of the changes, but either way works for me.

[2022-07-27 16:19] HelinWei-NOAA commented on #1350
I prefer all from your branches. I have created [this branch](https://github.com/HelinWei-NOAA/ccpp-physics/tree/p8c_2mtq_revert) including our planned change.

[2022-07-27 16:48] climbfuji opened #1351 "Can't build ufs-weather-model without -DINLINE_POST=ON"
## Description

Building on my mac using `build.sh`:
[code]
Fails with missing inline post dependencies:
[code]

If inline post is now mandatory, then that option should be set to `ON` by default in the top-level `CMakeLists.txt`, and the switches in the machine configs should be removed.

### To Reproduce:
See above - macOS using spack-stack with clang-13.1.6, openmpi-4..1.3, ...

## Additional c

[2022-07-27 16:50] gspetro-NOAA opened #1352 "Update & Restyle WM Docs"
## Description
A lot of the WM documentation is outdated (e.g., has links to NCEPLIBS instead of HPC-Stack) and needs to be updated. There are a myriad of small details that need work (detailed in the Solution section below).

## Solution
- Update links (NCEPLIBS --> HPC-Stack, CCPP v5.0.0 --> CCPP v6.0.0)
- Update version numbers mentioned in the docs (e.g., CCPP v5.0.0 --> CCPP v6.0.0)
- Change

[2022-07-27 17:05] DusanJovic-NOAA commented on #1351
I'm working on adding support to inline post to allow it to run on multiple domains (nests). I believe this issue is fixed, see this branch:
https://github.com/DusanJovic-NOAA/fv3atm/tree/mdpost

[2022-07-27 17:06] climbfuji commented on #1351
Sounds good. I'll test it when your PR bubbles up the commit queue.

[2022-07-28 19:07] DeniseWorthen commented on #1332
@pjpegion I believe this was fixed in PR #1302 so I'm closing.

[2022-07-28 19:07] #1332 closed

[2022-07-30 03:50] jiandewang opened #1357 "update MOM6 to its main branch 20220729 updating (GFDL-candidate-20220721)"
MOM6 main branch is updated on 20220729, need to make corresponding updating in UFS.
Detail on MOM6 PR can be found at https://github.com/NOAA-EMC/MOM6/issues/98

[2022-07-30 23:09] WenMeng-NOAA opened #1359 "Update inline post for two requests from RRFS and HAFS"
## Description
There are two requests from RRFS and HAFS developments:

- Output lat/lon of four corner point for RRFS rotated lat/lon grid.
- Read instant model top longwave from model so it can be output in HAFS products.

## Solution
Update in-line post read interface and upp submodule revision with the latest UPP commits at UPP github.

## Alternatives
If applicable, add a description of any a

[2022-08-01 14:17] #1096 closed

[2022-08-01 17:23] DeniseWorthen commented on #1036
@binli2337 create issue hpc-stack for installation of the new FMS on all RDHPCS platforms.

[2022-08-01 17:30] DeniseWorthen commented on #1111
ESMF managed threading does not require updated ESMF; however failing RTs will require the update (v8.4.0b08) to resolve issue of failing to write correct type kind of global attributes.

[2022-08-02 14:42] BrianCurtis-NOAA opened #1363 "Update documentation on readthedocs for ORTs to include information on what ORT's to run for specific types of tests."
The wiki has information on what we currently call ORT's (Operational Requirements Tests), previously called unit tests at https://github.com/ufs-community/ufs-weather-model/wiki/Running-unit-tests-using-utest .

If there's anything new about ORT's that the component devs need to know, it needs to be updated on that wiki. With all of the EPIC work and their current or upcoming methodologies, if th

[2022-08-02 14:49] DeniseWorthen commented on #1363
@BrianCurtis-NOAA I think the UWM user guide is where the most up-to-date information is kept. Perhaps we need to point to the UG on the [wiki](https://ufs-weather-model.readthedocs.io/en/latest/BuildingAndRunning.html#using-the-operational-requirement-test-script).

[2022-08-02 15:01] BrianCurtis-NOAA commented on #1363
Maybe instead of text on the wiki, we could provide a small wiki with links to the appropriate readthedocs section. That way we maintain the readthedocs and we won't need too many changes to the wiki itself.

Maybe we change this issue to address this change in readthedocs and another issue to address not maintaining two pieces of documentation?

[2022-08-02 15:22] DeniseWorthen commented on #1363
The UFS documentation is being re-worked right now by a member of the EPIC team. Having to maintain two locations for documentation inevitably leads to conflicting or non-current information. The first step is Gillian's PR #1354

[2022-08-02 15:23] BrianCurtis-NOAA commented on #1363
Agreed.

[2022-08-02 19:34] junwang-noaa commented on #1329
@ShunLiu-NOAA I believe the slowness is resolved after using the model code with io slowness fix in PR#1294. Can we close this issue? Thanks

[2022-08-02 19:39] ShunLiu-NOAA commented on #1329
Jun,

You can close the issue. Thank you for your help.

Shun

On Tue, Aug 2, 2022 at 3:34 PM Jun Wang ***@***.***> wrote:

[2022-08-02 20:07] junwang-noaa commented on #1329
PS. The initialization time is reduced to 50s with the latest code.

[2022-08-02 20:07] #1329 closed

[2022-08-02 20:12] ShunLiu-NOAA commented on #1329
Thank you for this information. It is clear now that we need to update code
to take the advantage of I/O update.

Shun

On Tue, Aug 2, 2022 at 4:08 PM Jun Wang ***@***.***> wrote:

[2022-08-03 11:38] binli2337 commented on #1036
hpc-stack issue https://github.com/NOAA-EMC/hpc-stack/issues/480

[2022-08-03 11:42] binli2337 commented on #1036
The fms_mixedmode branch of NOAA-EMC/GFDL_atmos_cubed_sphere was tested with FMS 2022.03 in the ufs-weather-model. All tests passed. The current baseline of ufs-weather-model regression tests can be reproduced.

The ufs-weather-model code used: https://github.com/binli2337/ufs-weather-model/tree/fms_mixed_mode.

[2022-08-03 12:39] #1350 closed

[2022-08-04 16:42] #1314 closed

[2022-08-09 15:47] #1304 closed

[2022-08-10 15:20] RatkoVasic-NOAA opened #1365 "Regional FV3 with 3km (LAM configuration) is not reproducing results in restarted runs."
## Description
Bitwise reproducibility is not working for restarted runs in regional case with LAM configuration.

### To Reproduce:
All machines/compilers.
Run model for 24hrs. Write restart files every 3 hrs.
Run restart from 12hr restart file, until 24hrs.
Compare output files. They should be identical.

## Additional context

## Output

**Screenshots**

**output logs**

[code]

[2022-08-10 18:29] aerorahul commented on #1326
Has there been an update to this ticket.
This is now a blocker in enabling workflow on WCOSS2.

[2022-08-10 20:40] BrianCurtis-NOAA commented on #1326
@aerorahul OK, I can get started on this.

[2022-08-11 18:37] #1125 closed

[2022-08-11 18:46] binli2337 commented on #1325
This PR is merged to the develop branch through PR #1349.

[2022-08-11 18:46] #1325 closed

[2022-08-11 18:48] binli2337 commented on #1166
The scripts have been tested and are working on WCOSS2.

[2022-08-11 18:48] #1166 closed

[2022-08-11 18:51] binli2337 commented on #1250
All GOCART input files used by RT have been copied to the input directory on Hera. Please note that the 5-day tests only run on Hera.

[2022-08-11 18:51] #1250 closed

[2022-08-12 18:16] BrianCurtis-NOAA commented on #1326
I get an interesting problem:
[code]

This only happens with the .lua formatted modulefiles. I'm currently looking into it, but wanted to note here in case I can't get back to it until next week.

[2022-08-12 18:17] BrianCurtis-NOAA commented on #1326
my branch: https://github.com/BrianCurtis-NOAA/ufs-weather-model/tree/ufs_lua

[2022-08-12 18:43] BrianCurtis-NOAA commented on #1326
@DusanJovic-NOAA Thanks for the help/fix!

[2022-08-12 21:57] #1357 closed

[2022-08-14 18:38] DeniseWorthen opened #1367 "Scalability of the Coupled Model"
The EPIC includes issues the scalability issues and solutions in the coupled P8 runs. It includes the following tasks:

 1) Create scalability profile for each component used in coupled P8 runs in standalone mode, identify scalability issues.

 2) Identify issues in coupling mode.

 3) Identify scalability issues in high resolution coupled runs (e.g. C768mx025).

[2022-08-14 18:47] #1124 closed

[2022-08-14 18:47] #1316 closed

[2022-08-14 18:59] DeniseWorthen commented on #750
@AnningCheng-NOAA This issue is nearly a year old. Has it been resolved?

[2022-08-14 19:09] DeniseWorthen commented on #1222
Can this issue be closed @junwang-noaa @SamuelTrahanNOAA ?

[2022-08-14 19:19] #1352 closed

[2022-08-14 19:38] DeniseWorthen commented on #1088
Prototype P8 is launched. Clossing.

[2022-08-14 19:38] #1088 closed

[2022-08-14 19:44] DeniseWorthen commented on #1209
Prototype P8 is launched.

[2022-08-14 19:44] #1209 closed

[2022-08-14 20:07] DeniseWorthen commented on #1277
The fix of setting ``do_gsl_drag_tofd     = .false.`` resolves the issue when tested using the ``cpld_control_nowave_noaero_p8`` .

[2022-08-14 20:07] #1277 closed

[2022-08-15 01:04] AnningCheng-NOAA commented on #750
The issue was closed by Jun a few months ago due to staying in the queue
for too long.  I will submit a new PR in a few weeks when I get some time
to work on it.

On Sun, Aug 14, 2022 at 2:59 PM Denise Worthen ***@***.***>
wrote:

[2022-08-15 10:37] SamuelTrahanNOAA commented on #1222
No. This problem is not resolved.

[2022-08-15 11:34] #750 closed

[2022-08-15 17:26] DeniseWorthen commented on #1111
HAFs will plan on making use of the feature in the near future. Dusan's UPP update for moving nests will allow HAFS to run in-line post with ESMF-threading.

Moorthi has also tested c768 on wcoss2 with esmf-threading coupled. Found that more than one thread in MOM6 does not reproduce.  Needs to be tested with in-line post turned on.

Jiande reports that GFDL says that MOM reproduces standalone wit

[2022-08-15 17:28] DeniseWorthen commented on #1180
On hold until EPIC decides how to proceed.

[2022-08-15 17:28] #1180 closed

[2022-08-15 17:44] DeniseWorthen commented on #942
Need update input data which is used for warm start tests (gdas, gdas-wave).

[2022-08-15 17:54] DeniseWorthen commented on #1323
NCEPlibs needs to install these updates and then they need to be included in UFS.

[2022-08-15 17:57] #1177 closed

[2022-08-15 19:19] DeniseWorthen commented on #1225
@tanyasmirnova Do you have any updates on this issue?

[2022-08-15 22:45] WenMeng-NOAA opened #1368 "Update upp lib to 8.2.0 for GFS V16.3 Implementation"
## Description
To support GFS V16.3 implementation, upp lib upgrade is needed.

## Solution
Update upp to 8.2.0 for WCOSS2, Hera and Orion.

## Alternatives
If applicable, add a description of any alternative solutions or features you've considered.

## Related to
Directly reference any issues or PRs in this or other repositories that this is related to, and describe how they are related. Example:

[2022-08-16 15:55] binli2337 commented on #1166
Location of the scripts: /lfs/h2/emc/nems/noscrub/emc.nems/auto_rt/.

[2022-08-16 18:32] hu5970 opened #1370 "crashes in testing develop branch with RRFS cases"
## Description
We are working on building RRFS cases (NA 3km grid and CONUS 3km grid) for testing the ufs-community/ufs-weather-model.  Right now, the RRFS ufs-weather-model is based on ufs-community/ufs-weather-model hash 5c2d1a9 (Tue May 17 12:28:01 2022)

We would like to run the head of the develop branch from the community/ufs-weather-model with RRFS cases but the current head (1f001a1)  cras

[2022-08-16 18:42] BenjaminBlake-NOAA commented on #1370
@hu5970  When running your tests, did you update your fd_nems.yaml file to the latest version?
I looked in this directory on Hera: /scratch1/BMC/wrfruc/mhu/test/fv3lam/2021053103_com_bfecf

Inside the PET.ESMF log files, I see messages like this one: "Invalid argument - mean_sensi_heat_flx_atm_into_ocn is not a StandardName in the NUOPC_FieldDictionary!"  I got similar messages about invalid argum

[2022-08-16 19:38] hu5970 commented on #1370
@BenjaminBlake-NOAA Thanks for pointing this out. I did not update fd_nems.yaml file in my case. After using the fd_nems.yaml from ufs-weather-model/tests/parm. The hash bfecf91b7 now can run through. I will test more recent hashes soon. Thanks.

[2022-08-16 19:49] tanyasmirnova commented on #1225
@SamuelTrahanNOAA Sam, did we fix this inconsistency in the gsl/develop branch?

[2022-08-17 10:52] binli2337 opened #1371 "Update CDEPS component in the ufs-weather-model"
## Description
The NOAA-EMC/CDEPS will be updated to include a few recent changes from ESCOMP/CDEPS. The CDEPS component in the ufs-weather-model will be updated at the same time.

## Solution
Update CDEPS component.

## Related to
Directly reference any issues or PRs in this or other repositories that this is related to, and describe how they are related. Example:
-  needed by https://github.com/

[2022-08-18 17:57] #1359 closed

[2022-08-18 20:55] BrianCurtis-NOAA commented on #1326
I've tested on acorn/wcoss2, hera. I have yet to test my changes Jet, Orion, Cheyenne. I will try getting a PR in tomorrow. https://github.com/BrianCurtis-NOAA/ufs-weather-model/tree/ufs_lua

[2022-08-19 13:54] benjamin-cash opened #1374 "cmake build fails looking for w3nco"
## Description
Build using spack-stack and cmake from develop is reporting errors related to w3nco, despite w3nco being deprecated in favor of w3emc.

### To Reproduce:
I am attempting to build on Frontera using spack-stack. After loading the spack-stack modules, the command:
cmake -DAPP=ATM -DCCPP_SUITES=FV3_GFS_v16 -DINLINE_POST=ON .. 2>&1 | tee log.make

produces the following messages:

CMake

[2022-08-19 14:18] benjamin-cash commented on #1374
Naturally, this was user error. :p Submodules hadn't updated so I still had old files, closing.

[2022-08-19 14:18] #1374 closed

[2022-08-21 03:59] jiandewang opened #1378 "update MOM6 to its main 20220820 updating and switch to use infra/FMS2 code in UFS"
MOM6 main branch is updated on 20220820 (see detail at https://github.com/mom-ocean/MOM6/pull/1582), need to updating dev/emc correspondingly.
Also per discussion with Bin Li, we will switch to use MOM6 infra/FMS2 code
No BL change in this PR

[2022-08-22 21:00] #1371 closed

[2022-08-23 23:49] rmontuoro opened #1382 "Incorrect number of non-advected tracers in regional_atmaq regression test"
## Description
The number of tracers not to be advected (`dnats` variable in FV3 `&fv_core_nml` namelist) in the `regional_atmaq` regression test need to be set to 4.

[2022-08-24 17:58] #1378 closed

[2022-08-25 19:50] BijuThomas-NOAA commented on #768
I see the following error with ufs-weather-model RT (Orion):
This is a regional storm following single nest atm coupled with HyCOM and WW3, compiled the HyCOM with
debug flag (-check all, -g, -traceback).

srun --label -n 300  ./fv3.exe
 _60: [Orion-05-01:323295:0:323295] Caught signal 8 (Floating point exception: floating-point invalid operation)
63:  0 0x000000000825fa0d fv_moving_nest_mod_mp_ca

[2022-08-26 13:53] binli2337 opened #1386 "Existing baseline of ufs-weather-model cannot be reproduced when FMS2022.03 is used"
## Description
FMS2022.03 includes updates for mixed-mode applications. When FMS2022.03 is used in the develop branch of ufs-wearther-model, current baseline of regression tests cannot be reproduced. Before the release of FMS2022.03, FMS2022.03-alpha1 was installed on Gaea for testing and the baseline of ufs-weather-model could be completely reproduced. For details, see https://github.com/ufs-comm

[2022-08-26 15:06] DeniseWorthen commented on #1139
On Hera.GNU,  ``cpld_control_p8`` and ``cpld_debug_p8``  tests now run to completion (but fail because of missing baseline). These two tests can be updated to "S2SWA".

I think we still need the S2S compilation and ``cpld_control_nowave_noaero_p8`` test because it is used in CI.

[2022-08-26 17:10] binli2337 commented on #1386
The following information is provide by Lauren Chilutti:
"In fms 2022.02 we introduced a new cmake flag -DCONSTANTS which by default is set to "GFDL". For the UFS weather model we need to specify -DCONSTANTS=GFS."

For testing, I installed FMS2022.03 library by adding the flag "-DCONSTANTS=GFS" to the existing cmake flags on Gaea. With this FMS2022.03 library, the current baseline of ufs-weather-m

[2022-08-28 13:43] DeniseWorthen opened #1389 "hafs tests incorrectly set coupling fields for waves"
## Description
In PR #1305 the ``INPUT_CURFIELD`` and ``INPUT_ICEFLD`` used for ``ww3_shel.inp`` were set incorrectly for the HAFS tests which use waves. The values were set in ``default_vars`` as

[code]

The value for the hafs-atm-wav test should be ``F F`` for both variables; for the hafs-atm-wav-ocn tests, the value for the Ice should be ``F F``.

### To Reproduce:

Run the ``hafs_regional_atm

[2022-08-29 15:28] DeniseWorthen commented on #1370
@hu5970 Please let us know if this issue is resolved by updating the fd_nems.yaml file. If so, please close the issue. Thanks.

[2022-08-29 15:57] DeniseWorthen commented on #1367
MOM6: @jiandewang
1) Changing IO layout to (4,2) instead of (1,1) in test case resulted in ~4% speedup (history/restart files both).
2) MOM6 can read the additional restart files, but this will require changes to downstream. Combining utility is available for history and restart files. Combining history files would need to be implemented w/ post workflow.
2) Land block elimination has been tested

[2022-08-29 16:29] DeniseWorthen opened #1391 "Ongoing development for AQM component"
## Description

This Epic relates to AQM development and testing in UWM.

[2022-08-29 16:41] DeniseWorthen opened #1392 "Ongoing development for AQM component"
This Epic relates to AQM development and testing in UWM

[2022-08-29 16:44] #1391 closed

[2022-08-29 17:33] DeniseWorthen commented on #1111
Moorthi reports that ESMF threading on WCOSS2 with C3072 fails with large number of nodes while same number of nodes requested with traditional threading works. 605 nodes 128 tasks/node.

[2022-08-29 17:50] DeniseWorthen commented on #1392
Chunxi reports fixes are need to remove assumption of cice coupling when running aqm & chemistry coupled. Assign a value of fluxes over the land.

Agreement between EPA and EMC was to not fork the EPA code. UMW will use EPA authoritative repo.

Development of (app=AQM; the model is called CMAQ). Development of AQM app in UWM is not currently active. Need to get our code in UFS up-to-date with CMAQ

[2022-08-29 17:56] DeniseWorthen commented on #1062
Need a new CMake flag to use -DConstants=GFS (default is GFDL). HPC-stack issue is open. We can put the change on Acorn (NCEP-libs); EPIC will need to take care of RDHPCS machines. Need WCOSS2 updated in the 2month rotation.

[2022-08-29 18:41] jkbk2004 commented on #1062
@junwang-noaa @DeniseWorthen I agree that this is a good timing to make a transition of RDHPCs hpc-stack maintenance to EPIC. I will coordinate on EPIC side.

[2022-08-29 22:58] hu5970 commented on #1370
Yes, this issue was resolved by updating the fd_nems.yaml file. Thanks, Ming

[2022-08-29 22:58] #1370 closed

[2022-08-30 17:06] #1389 closed

[2022-08-30 19:18] jiandewang commented on #1367
testing of land block elimination approach in UFS doesn't work. I suspect in cap its mesh requires all subdomain information. Error information can be found in ocean PET files, for example, in PET503.ESMF_LogFile
_MeshCap::meshcreateredistelems() Internal error_

run directory can be found at /scratch1/NCEPDEV/climate/Jiande.Wang/working/MOM6-scalability/UFS-land-mask/T1

my testing is based on la

[2022-09-01 19:23] #1306 closed

[2022-09-01 22:37] DeniseWorthen commented on #1367
@jiandewang The cice cap has the added capability for land block elimination but the MOM6 cap does not. That will need to be added. How do you set up the mask_table? Can you make one for easy testing w/ the mx100 ocean?

[2022-09-02 01:13] jiandewang commented on #1367
@DeniseWorthen my previous test is based on mx025, I will have a mx100 for you and a README file for set up et. al

[2022-09-02 01:45] yangfanglin commented on #469
@junwang-noaa I'd like to bring this topic back to attention before GFS.v17 and GEFS.v13 are finalized

[2022-09-02 02:18] junwang-noaa commented on #469
@yangfanglin when I think about this, is it make sense we change the pressure to be total mass instead of changing tracers to be mixing ratio against the moist air mass in history file? This way the output tracers are consistent with the input tracers from the ICs or restart files. I think it could avoid confusion if tracers in model input ICs, restart and history files are consistent.

[2022-09-02 11:20] SMoorthi-emc commented on #469
Note that "gas law" is applicable only to gases (not for non gaseous
tracers).

On Thu, Sep 1, 2022 at 10:18 PM Jun Wang ***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e-mai

[2022-09-02 12:41] junwang-noaa commented on #469
@SMoorthi-emc  Thanks for the note. @yangfanglin Do we have a way to identify gas tracers from other tracers?

[2022-09-02 12:51] DeniseWorthen opened #1395 "hafs_regional_atm_wav fails in debug mode"
## Description
Compiling the ``hafs_regional_atm_wav`` test with debug-on results in a seg fault in the cubed-sphere.

### To Reproduce:

On heral.intel, compile and run the test in debug mode.

[code]

## Output

The run fails with

[code]

[2022-09-02 13:29] yangfanglin commented on #469
@junwang-noaa The reasons for using moist air mixing ratio were explained in my comments made above on 03/15/2022 in this thread.  The issue is whether or not to include cloud hydrometers in the definition.  Not all trace gases in the atmosphere are included in our atmosphere model, especially those from gas phase chemistry.  Nevertheless, we can follow the traditional definition to include "dry m

[2022-09-02 13:40] junwang-noaa commented on #469
@yangfanglin So do we only apply dry mass for the ozone mixing ratio? Just let you know that the change will impact AQM app which has chemistry gas tracers and we use the same code to output tracers for both ATM only app (without chemistry) and AQM app (with chemistry).

[2022-09-02 13:53] yangfanglin commented on #469
@junwang-noaa I think in the model we always use a predefined dry air density.  O3 and other gas tracers do not need to be used to explicitly compute dry air mass.  Also note that nitrogen and oxygen account for 99 percent of the gases in dry air, with argon, carbon dioxide, helium, neon, and other gases making up minute portions.

[2022-09-02 16:58] pjpegion opened #1396 "need to rename the organization that stochastic_physics sits under"
## Description
The stochastic physics repo sits under the noaa-psd organization, but we "psd" no longer exists, and we want to update the organization name to be NOAA-PSL.
 When we rename the organization, there will need to be a PR issued to update the submodule pointer, but I am concerned that this will then break old versions, and tags of the ufs-weather-model.
  Does anyone know if this will b

[2022-09-02 17:34] jswhit2 commented on #1396
typo above: will be changing the organization name to NOAA-PSL

The docs [here](https://docs.github.com/es/enterprise-cloud@latest/organizations/managing-organization-settings/renaming-an-organization) suggest that the old URLs that link to projects under the old org name should still work (until someone else claims the old name).  The top-level URL to the old organization (https://github.com/NOAA

[2022-09-02 17:36] pjpegion commented on #1396
I edited my post to fix the typo.

[2022-09-02 18:27] JessicaMeixner-NOAA commented on #1396
@pjpegion The MOM6 repo moved from being under noaa-gfdl to mom-ocean, and that group might have some insight on the process and impacts even though in ufs-weather-model we pointed to a noaa-emc fork of MOM6.

[2022-09-02 18:33] jiandewang commented on #1396
@pjpegion Marshall Ward made MOM6 repo location switch and it had zero impact for downstream fork. I think it took him a while to figure out that seamless method. You may seek suggestions from him.

[2022-09-02 19:00] pjpegion commented on #1396
@jiandewang it looks like NOAA-GFDL still exists and is active, which would be different than in my case, but I will ask him.

[2022-09-02 22:47] gspetro-NOAA opened #1397 "Additional Updates to WM Documentation"
## Description
- Add a Configuration Parameters chapter that will include build configuration values (e.g., valid -DAPP and -DCCPP_SUITES values) and eventually other configuration values as needed.
- Remove duplication of directory diagrams in Code Overview chapter
- Add/update CMAKE_FLAGS info in Build/Run chapter
- Expand/clarify RT info

## Solution
Update the documentation to include these ch

[2022-09-06 18:15] DeniseWorthen commented on #1367
[cice_perf_cesm_craig_2012.pdf](https://github.com/ufs-community/ufs-weather-model/files/9499695/cice_perf_cesm_craig_2012.pdf)

[2022-09-06 19:51] jiandewang commented on #1367
@DeniseWorthen mx1x1 is only using 20PE for ocean, every PE will contain ocean points for whatever X-Y layout I tried. So I have a sample mx05 for you at /scratch1/NCEPDEV/climate/Jiande.Wang/working/MOM6-scalability/mask-PE/05
inside check_mask there is a generate-mask-table.sh which is used to generate PE mask table, you can see the usage in the comment lines there. cpld_control_c192_p8 is the r

[2022-09-07 01:10] jiandewang opened #1400 "update MOM6 to main branch 20220902 commit"
MOM6 main branch was updated on 20220902, need to make corresponding updating in dev/emc and UFS, see detail at https://github.com/NOAA-EMC/MOM6/issues/103. Since there is some changes in how SPPT temperature limiter is being calculated, a new BL is needed for stochastic case

[2022-09-07 18:53] JianpingHuang-NOAA opened #1404 "LBC issue with the UFS-AQM prediction of PM2.5"
## Description
 I am testing the UFS-AQM model for the large domain which covers CONUS, AK and HI (slide 2) with grid-spacing of 13 km and 64 vertical levels.  The simulation started  from 20220901 at 12z with the clean atmospheric chemistry condition. After 6-hr simulation, PM2.5 started to increase from south border (slide 3). 12-hr later, high PM2.5 is clearly seen near south border.  Meanwhile

[2022-09-08 10:10] DeniseWorthen opened #1406 "Unstructured meshes and domain decomposition using WW3 mesh cap"
This Epic includes work to extend the mesh cap to support unstructured meshes, Domain Decomposition and PLDIB library.

[2022-09-08 13:19] DeniseWorthen opened #1408 "Update WW3 meshcap for recent development"
## Description
Update WW3 mesh cap for updates. See applicable PR https://github.com/NOAA-EMC/WW3/pull/780 for details

## Related to

Required for #1407
Required for #1406

[2022-09-09 11:43] jkbk2004 opened #1409 "Reproducibility issue: hafs_regional_specified_moving_1nest_atm on orion and wcoss2 (intel)"
## Description
Baseline of hafs_regional_specified_moving_1nest_atm does not reproduce only on orion and wcoss2. The case was introduced with PR #1362 and the the issue was captured in PR #1399. Baseline is created ok but comparison doesn't pass.

### To Reproduce:
What compilers/machines are you seeing this with?
Give explicit steps to reproduce the behavior.
1. rt.sh -c -e and rt.sh -m -e
2. com

[2022-09-09 11:54] jkbk2004 commented on #1409
[GRIB2-file-from-python.pptx](https://github.com/ufs-community/ufs-weather-model/files/9535139/GRIB2-file-from-python.pptx)

[2022-09-09 13:48] DusanJovic-NOAA commented on #1409
I just ran hafs_regional_specified_moving_1nest_atm in develop branch on Orion, and it reproduced the current baseline:

[code]

[2022-09-09 14:37] BinLiu-NOAA commented on #1395
@DeniseWorthen, first a clarification is that we did not yet turn on building HAFS application executable in debug mode in the develop branch, correct?
@BijuThomas-NOAA, Could you please help to explore and look into this potential issue. Thanks!

[2022-09-09 14:41] DeniseWorthen commented on #1395
@BinLiu-NOAA Yes, we do not run any of the hafs tests in debug mode currently. I know there is an issue w/ HYCOM for example. I was doing some ww3 development work and wanted to run this app in debug mode. The issue appears unrelated to the ww3 side however.

[2022-09-09 15:46] BinLiu-NOAA commented on #1395
@DeniseWorthen, and yes, @BijuThomas-NOAA is working on preparing that HAFS debug RT. And I think he already had a version working, I will let him chime-in for more details.

[2022-09-09 17:10] ytangnoaa commented on #1404
Jianping

Could you identify which aerosol species cause these high values? You mentioned the wind-driven sea salt. Does the 10-m wind over those spots become unusually higher?

Thanks

Youhua

[2022-09-09 17:27] BijuThomas-NOAA commented on #768
@DeniseWorthen and @BinLiu-NOAA, the run was with ATM built with DEBUG=ON. However, the run with a static regional domain coupled with HyCOM succeeded in a 6-hour run. The reported issue is with the moving nest run. Do you want to do a test in which the ATM component is built without DEBUG flags, but HyCOM with DEBUG flags?
Thanks,

[2022-09-09 18:16] #1382 closed

[2022-09-12 14:13] junwang-noaa commented on #1365
@RatkoVasic-NOAA what is the status on this issue? We need the restart reproducibility for RRFSv1 implementation, please let me know if we need help from other groups. Thanks

[2022-09-12 15:44] DeniseWorthen commented on #1348
@BrianCurtis-NOAA Is this an item that depends on the 2-month install cycle on WCOSS2?

[2022-09-12 15:47] DeniseWorthen commented on #1234
What is the status of this issue?

[2022-09-12 15:49] DeniseWorthen commented on #1198
@SMoorthi-emc Has there already been a fix for this issue? Or do we need a PR to fix it?

[2022-09-12 16:06] Hae-CheolKim commented on #1234
Not resolved, yet.

[2022-09-12 16:17] #1321 closed

[2022-09-12 16:17] Hang-Lei-NOAA commented on #1348
The PIO/2.5.3 was delivered to NCO on July/28 before the agreement with
NCO.
The PIO delivered to NCO in this time is PIO/2.5.7.
https://docs.google.com/spreadsheets/d/1iEYR_Z6vomZDKLfYB6bBz4lAHafnU8EpUUsO3zUjs7c/edit#gid=0

On Mon, Sep 12, 2022 at 11:49 AM Denise Worthen ***@***.***>
wrote:

[2022-09-12 16:20] BrianCurtis-NOAA commented on #1348
@Hang-Lei-NOAA , good to know. We should test with it, to see if it changes baselines. Does this version exist on RDHPCS machines (if you're aware of it?)

[2022-09-12 16:25] Hang-Lei-NOAA commented on #1348
Yes, UFS people asked me to install PIO2.5.7 one month ago. Because the
latest ESMF8.4.0 only works with pio/2.5.7 and later.

On Mon, Sep 12, 2022 at 12:22 PM Brian Curtis ***@***.***>
wrote:

[2022-09-12 16:30] BrianCurtis-NOAA commented on #1348
I'm testing 2.5.7 on WCOSS2 right now.

[2022-09-12 16:31] BrianCurtis-NOAA commented on #1348
@jkbk2004 Lets get PIO 2.5.7 tested on an RDHPCS machine so we can get a PR in for PIO 2.5.7.

[2022-09-12 17:14] DeniseWorthen commented on #1392
#1405 is required for code freeze (Oct 1). Fix for Issue #1404 will also be required. Both need to go to top of PR list when ready.

We need to know status of app w/ all oRTs. Restart might not be required if not currently used in opn (current v6), then restart will be required.

[2022-09-12 17:23] BrianCurtis-NOAA commented on #1392
Restarts are required for V7, so will need to pass them as well.

[2022-09-12 17:26] DeniseWorthen commented on #1367
@jiandewang reports not much gain for c384 with land block elimination. Will need someone to add feature to NUOPC cap if required.

Netcdf compression is not supported in current FMS2io code. GFDL says this option can be turned on but may require new release.

Matt will have a PR to remove bottleneck identified via gprof. 3 remaining routines have bulk of impact. First take getting some performanc

[2022-09-12 17:28] DeniseWorthen commented on #1367
Denise can talk to Tony about presenting CICE6 results at Scalability meeting.

[2022-09-12 17:30] BrianCurtis-NOAA commented on #1348
WCOSS2 RT's pass with PIO 2.5.7

[2022-09-12 17:44] DeniseWorthen commented on #1367
Gerhard reminds us that MOM6 output is synchronous (on forecast tasks), so when MOM6 writes, it holds the system up. MOM6 forecast w/in time inner loop takes (already ready when next update is ready).

Suggestion is that the valid metric to use is not the overall run time impact, but how much IO costs you when it happens,  relative to normal cycle (one w/o IO).

[2022-09-12 17:51] DeniseWorthen commented on #1322
Moorthi reports with large number task, (C3072, 614 nodes), write grid component croaks. Moorthi only runs in-line post (not off-line post). Cannot write netcdf history files (needs to turn off history files). Works at lower number of nodes (eg. 169).

Both parallel and not-parallel netCDF fails. Dies as soon as it tries to write a file.

Needs test case for C3072 atm-only for wcoss2. Will need fi

[2022-09-12 17:56] DeniseWorthen commented on #1111
Fails at initiation. Need to bring this up w/ system folks on WCOSS2. Launch MPI job w/ very large number of tasks. Moorthi can create issue for GDIT to look.

[2022-09-12 18:04] DeniseWorthen opened #1413 "reports of very slow startup when using nggodas ICs for MOM6"
## Description
Moorthi reports that when using a MOM6 restart file provided by NGGODAS (c384) the model initialization takes over 30mins.

### To Reproduce:

Try using Moorthi's run directory (added below).

@SMoorthi-emc @jiandewang

[2022-09-12 18:43] Hang-Lei-NOAA commented on #1348
Hi, All

NCO put the pio/2.5.3 on acorn now. Please test it and let me know the
result. Then NCO will move it to dogwoods and cactus.

PIO is now ready for testing on acorn.  To refresh your memory (it has been
a while since we discussed this), it is a little tricky as it is being
built with the newest version of hdf5 (1.12.0 - a version where the known
bug has been fixed) and the newest version o

[2022-09-12 18:46] SMoorthi-emc commented on #1413
A C384 case is running on Cactus right now.
The run directory is
"/lfs/h2/emc/stmp/shrinivas.moorthi/RUNDIRS/C384_phyee/2021060100/gfs/fv3gfs_0"
The log file will be at
"/lfs/h2/emc/ptmp/shrinivas.moorthi/CFV3/C384_phyee/logs/2021060100"
and history and restart files will be at
"/lfs/h2/emc/ptmp/shrinivas.moorthi/CFV3/C384_phyee/gfs.20210601/00"

Currently the job is at approximately 30min "hang"

[2022-09-12 18:57] BrianCurtis-NOAA commented on #1348
WCOSS2 has PIO 2.5.7 here:
[code]
Now we need to wait on RDHPCS machines to install 2.5.7

[2022-09-13 19:27] #1400 closed

[2022-09-13 19:40] BrianCurtis-NOAA opened #1416 "RT Failure using only -n in rt.sh still causes RT to pass."
## Description
Running `rt.sh -n rap_control` with `feature/merra2_thompson in https://github.com/ChunxiZhang-NOAA/ufs-weather-model.git` causes comparisons to fail, but the regression test passes (is successful)

### To Reproduce (hera.intel):
[code]
Log File:
[code]

[2022-09-13 21:33] #1139 closed

[2022-09-14 14:48] jiandewang commented on #1413
@SMoorthi-emc is there a job card in your run directory ?

[2022-09-14 15:21] RatkoVasic-NOAA opened #1417 "Add RRFS-A to weekly tests"
## Description
Since RRFS-A is a candidate for implementation, we need to test high resolution, large domain configuration. We plan on testing it on Hera first.

## Solution
Add new test in rt_weekly.conf

## Alternatives
N/A

## Related to

[2022-09-14 16:49] SMoorthi-emc commented on #1413
No, buy the dayfile, at the end of the run, cats the PBS job script.
For example
"#!/bin/bash
#PBS -N fv3gfs_0
#PBS -N fv3gfs_0
#PBS -j oe
#PBS -j oe
#PBS -e
/lfs/h2/emc/ptmp/shrinivas.moorthi/CFV3/C384_phyee/logs/2021060100/gfsfcst_log_0
#PBS -e
/lfs/h2/emc/ptmp/shrinivas.moorthi/CFV3/C384_phyee/logs/2021060100/gfsfcst_log_0
#PBS -o
/lfs/h2/emc/ptmp/shrinivas.moorthi/CFV3/C384_phyee/logs/20210601

[2022-09-14 17:56] GeorgeGayno-NOAA opened #1419 "Corrupt albedo in restart files"
## Description
The land albedo records (albdirvis_lnd, albdirnir_lnd, albdifvis_lnd and albdifnir_lnd) in the restart files are corrupt.
Tiles 2 and 4 look ok. But tiles 1,3,5,6 are not ok.  For examples, see these files on Hera:
`/scratch1/NCEPDEV/nems/emc.nemspara/RT/NEMSfv3gfs/develop-20220912/INTEL/cpld_bmark_p8/RESTART`

## Output

Here is a tile 1 example. Note parts of Africa look ok, but S

[2022-09-14 18:44] LydiaStefanova-NOAA commented on #1419
@GeorgeGayno-NOAA

Could this be due to the lack of sunlight in these places (so albedo is perhaps considered meaningless at these times)?  If your restarts are for 06:00 GMT in September, the areas with non-valid land albedo are the areas of no sunlight at that time - see these two plots from (coupled) model output for 16 Sep 2012, 6z (top) and 18z (bottom):

![6z](https://user-images.githubuserc

[2022-09-14 19:39] GeorgeGayno-NOAA commented on #1419
That makes sense. Is there any easy way to interpolate the tiles to a regular lat/lon grid? That would verify your hunch.

[2022-09-14 19:49] LydiaStefanova-NOAA commented on #1419
Here is what albdirvis_lnd from your files looks like when plotted to lat/lon, so seems consistent with this hypothesis:

<img width="739" alt="image" src="https://user-images.githubusercontent.com/48454097/190248092-6c8dc2c5-c205-4c9f-8665-200c35a66764.png">

[2022-09-14 19:54] junwang-noaa commented on #1419
@LydiaStefanova-NOAA @GeorgeGayno-NOAA It looks to me the atmosphere alone test (control_p8) does not have this feature, the ALBDIRVIS_LND is continuous in the restart files on all the tiles.

[2022-09-14 19:59] bingfu-NOAA opened #1420 "ATM diag_time is not correct when model restarts from the middle of fhzero."
## Description
When ufs-weather-model restarts from the middle of fhzero (fhzero=6, restarts from f03), the previous diag_time in the code is not correctly set. In this case(fhzero=6, restarts from f03), when model integration reaches f06, the previous bucket empty time should be 6 hours ago, but it shows 3 hours ago.

### To Reproduce:
run p8 restarting from f03.

## Additional context

model int

[2022-09-14 20:04] GeorgeGayno-NOAA commented on #1419
@junwang-noaa I am unclear what the different albedo records contain in coupled mode. I am not sure which one(s) global_cycle needs to update (would Moorthi know?)

alvsf/alvwf/alnsf/alnwf - water albedo at points with some open water?
albdirvis_ice/albdifvis_ice/albdirnir_ice/albdifnir_ice - ice albedo at points with some ice?
albdirvis_lnd/albdifvis_lnd/albdirnir_lnd/albdifnir_lnd - land albedo

[2022-09-14 20:33] junwang-noaa commented on #1419
@yangfanglin @SMoorthi-emc would you please help answer George's question? Thanks

[2022-09-15 00:23] SMoorthi-emc commented on #1420
This is NOT a bug.  You just need to set fhzero=3, if you want to restart
from hour 3.  Restart interval cannot be less than fhzero.

On Wed, Sep 14, 2022 at 3:59 PM Bing Fu ***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23)

[2022-09-15 01:07] bingfu-NOAA commented on #1420
GEFS reforecast needs to use fhzero=6 and restart from f03 because of IAU in the reanalysis. This is what we did for GEFSv12 reforecast, and it is planned again for GEFSv13 reforecast.
It seems that the code is broken at some point after GEFSv12 reforecast project.

[2022-09-15 02:25] junwang-noaa opened #1422 "Update crtm/g2tmpl and remove yafyaml library"
## Description
In this PR, the two libraries will be updated to later versions: crtm 2.3.0->2.4.0, g2tmpl, 1.10.0->1.10.2. The corresponding changes have been made in upp (https://github.com/NOAA-EMC/UPP/pull/554).  upp will be updated once the UPP PR is merged.

Also the yafyaml library will be removed from the modulefiles and the CMakelist.txt in GOCART. Because of this, GOCART will be moved to

[2022-09-15 04:46] uturuncoglu opened #1423 "Inconsistent land-sea mask among sfc*, oro* and static information files for control_p8 RT"
## Description
The land sea mask information used by `control_p8 ( and its derivatives such as `control_restart_p8`) is not consistent between the oro* files, sfc* files and the files that provides static information to the land model (i.e. `C96.snowfree_albedo.tile*.nc`). This issue is appeared during the implementation of side-by-side RT for external land component under UFS model.

### To Repro

[2022-09-15 14:20] lisa-bengtsson commented on #1198
I wonder if @DomHeinzeller has an idea about this? I'm not so familiar with the horizontal loop index for odd blocksizes within ccpp.

[2022-09-15 14:32] climbfuji commented on #1198
I sent this to @junwang-noaa a few days after Moorthi's comment:

	- run the model with a blocksize of 24, then change it to 32 - as long as the blocksize is uniform (e.g. if the total number of gridpoints was imx = 96), results are the same

	- run the model with a blocksize of 7, let’s say the blocksize is non-uniform with the last block being of size 5 (imx = 96)
	- results will remain the same

[2022-09-15 15:19] pjpegion commented on #1420
@bingfu-NOAA looking at the code I see:

   if (Atmos%iau_offset > zero) then
     call get_time (Atmos%Time - Atmos%Time_init, sec)
     if (sec < Atmos%iau_offset*3600) then
       diag_time = Atmos%Time_init
       diag_time_fhzero = Atmos%Time
     endif
   endif

you may want to try running with iau_offset=3

[2022-09-15 15:30] bingfu-NOAA commented on #1420
@pjpegion Thank you for providing the solution for this.
We revised the code to deal with this in GEFSv12 reforecast a few years ago, but the code is broken at some point after GEFSv12 reforecast.
I have a temporary fix to correct the diag time now and I am using it for replay demonstration.

[2022-09-15 15:50] junwang-noaa commented on #1420
@bingfu-NOAA @pjpegion @SMoorthi-emc I made changes in the code to get correct diag_time and are testing it now. As Moothi said model should not restart at non multiple of fhrezo time as we don't save bucket accumulations in the restart files. The changes I made will allow model to have correct diag_time/bucket time in those restart runs, but the accumulated fields in the first output file only ha

[2022-09-15 16:44] bingfu-NOAA commented on #1420
@junwang-noaa Thanks Jun for the code changes, we definitely need this for upcoming real GEFSv13 reforecast.

[2022-09-15 20:29] lisa-bengtsson commented on #1198
@climbfuji I will redo the tests and see if we can close the issue

[2022-09-15 21:19] lisa-bengtsson commented on #1198
@climbfuji @DeniseWorthen I tested "control" test (GFSv16) and now blocksize 32 and blocksize 5 are reproducible. This is perhaps enough to close the issue? Or do you want me to also test coupled prototype 8 to be sure?

[2022-09-16 01:51] barlage commented on #1419
These plots from Lydia are surprising to me. This is probably something we need to fix. In other applications of noahmp what we have done is just maintain the last calculated albedo (right before sunset) constant through the night, so that when the sun rises there is a valid albedo value; it seems here there is a missing value getting set.

[2022-09-16 14:37] lisa-bengtsson commented on #1198
For good measure I tried also the cpld_control_p8 test which also now reproduces between blocksize 32 and blocksize 5. You can see the test directories here:

For GFSv16:
/scratch2/BMC/rem/Lisa.Bengtsson/stmp2/Lisa.Bengtsson/FV3_RT/TEST_BLOCKSIZE_GFSv16/control
/scratch2/BMC/rem/Lisa.Bengtsson/stmp2/Lisa.Bengtsson/FV3_RT/TEST_BLOCKSIZE_GFSv16/control_blocksize_5

For UFS coupled prototype 8:
/scra

[2022-09-16 14:40] DeniseWorthen commented on #1198
@lisa-bengtsson Thanks for the extra effort of testing this in cpld_control_p8.

[2022-09-16 14:41] BrianCurtis-NOAA commented on #1348
This made it into the dust scheme pr

[2022-09-16 14:41] #1348 closed

[2022-09-16 14:59] #1198 closed

[2022-09-17 14:42] HaixiaLiu-NOAA commented on #1404
@JianpingHuang-NOAA could you please update this issue with your fix to the LBC issue and close it? Thank you.

[2022-09-19 02:56] junwang-noaa opened #1424 "production/GFS.v16: update wcoss2 module file to use build version"
## Description
It is requested to update the production/GFS.v16 to use the build_version and run_version in wcoss2 module file

## Solution
modulefiles/wcoss2/fv3 is updated to use the build_version.

## Alternatives
If applicable, add a description of any alternative solutions or features you've considered.

## Related to
Directly reference any issues or PRs in this or other repositories that thi

[2022-09-19 15:45] rsdunlapiv commented on #1423
@uturuncoglu

It looks like the CCPP/Noah MP DDT trace was not posted. Can you please include that in the issue so we can get some help debugging?

[2022-09-19 15:50] uturuncoglu commented on #1423
@rsdunlapiv Here is the DDT trace. Also note that I changed its extension from html to txt since GitHub does not support it when attaching the file to the issue. Anyone who would like to check the trace, please change its extension to html.
[myjob.txt](https://github.com/ufs-community/ufs-weather-model/files/9600513/myjob.txt)

[2022-09-19 16:08] rsdunlapiv commented on #1423
So the failures are:

This is failing at [this line](https://github.com/uturuncoglu/ccpp-physics/blob/0f59f0b1051e1b7315c98fcf26e038cab4fd58a3/physics/module_sf_noahmplsm.f90#L2565).

This is failing at [this line](https://github.com/uturuncoglu/ccpp-physics/blob/0f59f0b1051e1b7315c98fcf26e038cab4fd58a3/physics/module_sf_noahmp_glacier.f90#L760).

@junwang-noaa do you have anyone on your side who

[2022-09-19 16:13] uturuncoglu commented on #1423
@rsdunlapiv BTW, this is just for restart run. The initial run has no issue with those files (copied over coupled simulation input directory). Maybe something going on wrong with the restart files and mismatched in the land-sea mask. As I know from @junwang-noaa, there is a code in FV3 side that sets the land sea mask.

https://github.com/NOAA-EMC/fv3atm/blob/develop/atmos_model.F90#L3156

[2022-09-19 17:21] uturuncoglu opened #1427 "control_p8 RT build fail on Cheyenne"
## Description
The model build fail for control_p8 on Cheyenne.

### To Reproduce:
What compilers/machines are you seeing this with?
Give explicit steps to reproduce the behavior.
1. checkout UFS weather model develop
2. try to run `./rt.sh -k -n control_p8` on Cheyyene
3. the build log will show netcdf issue.

**output logs**
[code]

[2022-09-19 19:33] bbakernoaa commented on #1404
@JianpingHuang-NOAA you mentioned there was an update to this but I haven't seen a PR put forth or a branch mentioned.  Can something be created so that the entire group can move forward.

[2022-09-19 19:57] JianpingHuang-NOAA commented on #1404
Hi Barry and others.

The LBC issue was caused by an error related to Climatology Aerosol LBCs. There is no change for the code. I will send the location  of the updated LBCs file to Chan-Hoo to be included in the workflow. I am working on the testing of chemical ICs generator. I want to send both to Chan-Hoo together in next few days.

Jianping

[2022-09-19 20:26] HaixiaLiu-NOAA commented on #1404
@JianpingHuang-NOAA This is great. Thank you so much. Let's communicate through the github issue to keep everyone updated.

[2022-09-20 16:27] uturuncoglu commented on #1427
I also tested GNU on Cheyenne and it is also failing with same error.

[2022-09-20 16:32] uturuncoglu commented on #1427
It is strange but the same test also fails on Orion with Intel compiler. It seems that updated module files have some issue.

[2022-09-20 16:50] uturuncoglu commented on #1427
I am closing to this issue since it was an error in checking out the code. It seems it is working now. Sorry about false alert.

[2022-09-20 16:50] #1427 closed

[2022-09-20 22:17] uturuncoglu opened #1428 "write component fails when cubed_sphere_grid is used with post"
## Description
The write component fails with segmentation fault for `control_p8` when `output_grid` is changed from `gaussian_grid` to `cubed_sphere_grid`. It seems that it is working if `write_dopost` is set to `.false.` in `model_configure`.

### To Reproduce:
What compilers/machines are you seeing this with?
Give explicit steps to reproduce the behavior.
1. checkout UFS weather model latest de

[2022-09-21 01:21] junwang-noaa commented on #1428
@uturuncoglu Post processing does not have the capability to ingest native cubed sphere grid yet, so you can't run UPP with native grid output even offline. For the same reason, if you are using native cubed sphere grid, you need to turn inline post off.

[2022-09-21 03:53] uturuncoglu commented on #1428
@junwang-noaa okay. I did not know it. I think post is used by default now with `control_p8`. I have just synced my branch with the develop and had this issue. The previous version of code was based on UFS Jul 29 commit. Anyway, it might be useful if model rise a meaningful message or error in case of using `cubed_sphere_grid` with post.

[2022-09-21 12:43] #1409 closed

[2022-09-21 18:36] jiandewang commented on #1413
I tried MOM6 standalone with NG-GODAS IC, didn't see slowness in the run (both HERA and wcoss2). I also used NG-GODAS IC to replace the IC in one of the rt.sh run (cpld_bm8 on HERA) and didn't see the slowness. Bing Fu is running GEFS coupled run with NG-GODAS IC and told me that he didn't see the slowness in reading MOM6 IC. The model resolutions for each component between BIng Fu's and Moorthis'

[2022-09-21 19:23] SMoorthi-emc commented on #1413
Jiande,
   Are you running on wcoss2?  All of my runs are slow reading these
NG-GODAS ICs.
Moorthi

On Wed, Sep 21, 2022 at 2:36 PM jiandewang ***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel

[2022-09-21 19:31] jiandewang commented on #1413
no, rt.sh run is on HERA but standalone run were done on both HERA and WOCSS 2

[2022-09-22 13:27] SamuelTrahanNOAA opened #1430 "rt.sh $TASKS and $NODES are wrong, breaking rocoto workflow"
## Description

The `$TASKS` and `$NODES` calculations in rt.sh are wrong; the new ones are in run_tests.sh. They should be moved to rt_utils.sh so they can be called in both locations.

### To Reproduce:
Run the cpld_bmark_esmfthreads_p8 test on hera using Rocoto

[2022-09-22 14:38] SamuelTrahanNOAA opened #1432 "cpld_control_p8 and cpld_debug_p8 frequently freeze on hera.gnu"
## Description
When running regression tests, the cpld_control_p8 and cpld_debug_p8 frequently freeze at this point on hera.gnu:

[code]

The gdb debugger has yielded little results because it doesn't understand the stack of the running fv3.exe process.

### To Reproduce:
Run the cpld_control_p8 or cpld_debug_p8 test a few times with hera.gnu.

## Additional context
Tested with hash b004ce442ac4b6

[2022-09-22 14:42] DusanJovic-NOAA opened #1433 "Add run time options to save/load route handles to/from external file."
## Description
Computing remapping route handles in fv3atm is computationally expensive, especially for large model and output grids. Since these are not changed from run to run in production, we can speed up the initialization phase by saving computed route handles once, and use them in subsequent runs, speeding up the initialization.

## Solution
Add run time options to save/load route handles t

[2022-09-22 14:55] jiandewang commented on #1413
testing from Bing Fu:
(1) using NG-GODAS to replace one of GEFS coupled runs but keep PE setting
(2) same as above but using Moorthi's PE setting for each components
neither of the runs show slowness in reading MOM6 IC

[2022-09-22 15:49] GeorgeGayno-NOAA commented on #1419
@junwang-noaa I just checked your latest baseline control_p8 files (develop-20220919/INTEL/control_p8). You are right, the "lnd" albedos are continuous.

[2022-09-22 16:32] SamuelTrahanNOAA opened #1436 "Regional boundary data lacks pressure on non-scalar velocity points"
## Description

~~The fv_regional_bc.F90 requires surface pressure on all velocity points for wind remapping. Velocity boundary points go beyond scalar boundary points, and the surface pressure is only available on scalar boundary points.  Surface pressure must extend beyond velocity points, to i-1 and j-1 locations relative to velocity points. That means the surface pressure boundary regions must

[2022-09-22 18:53] SamuelTrahanNOAA commented on #1222
I can fix the debug and 2threads variants in this PR: https://github.com/ufs-community/ufs-weather-model/pull/1437 Sadly, as yet, I have no fix for the restart or decomp variants.

However, I suspect this bug may be breaking decomp: https://github.com/ufs-community/ufs-weather-model/issues/1436 if it is using data from halo regions. I have no way to fix that bug, nor even confirm my suspicions, si

[2022-09-23 17:06] bbakernoaa commented on #1404
@JianpingHuang-NOAA are we not using GEFS for aerosols LBCs?

[2022-09-23 17:33] ytangnoaa commented on #1404
Barry

The final LBC combines the static and GEFS LBCs, and the GEFS LBC mainly
represents fire, sea salt and dust influences.

Thanks

Youhua

On Fri, Sep 23, 2022 at 1:06 PM Barry Baker ***@***.***>
wrote:

[2022-09-24 19:35] DeniseWorthen opened #1440 "Excessive wall clock time for hera.gnu"
## Description

Run-times for the current develop on hera.intel/gnu vs cheyenne.intel/gnu taken from the most Regression test logs.

**control_p8:**
hera.intel          165s
hera.gnu           890s

cheyenne.intel  178s
cheyenne.gnu  300s

**cpld_control_p8:**

hera.intel         333s
hera.gnu         1720s

cheyenne.intel 321s
cheyenne.gnu 495s

Cheyenne intel/gnu times are similar for both tests

[2022-09-26 17:07] DeniseWorthen commented on #1324
Needs to keep up-to-date w/ CDEPs in UWM. @binli2337 will still be code manager and do the updates when required. No current plan to bring in a 1/12 resolution test to UWM.

[2022-09-26 17:14] DeniseWorthen commented on #1331
* Ratko and Ben Blake are EMC contacts.
* MPI decomp problems (RRFS, LAM) are all fixed.
* Restart problem in LAM is fixed, @RatkoVasic-NOAA will replace coarse resolution tests w/ small domain high resolution tests for UWM. Only script level changes will be needed.  All tests are with LAM configuration.
* RRFS-A is next candidate for opn, Will use same domain as LAM and eventually replace it. Nex

[2022-09-26 17:33] DeniseWorthen commented on #1323
This will be a EPIC task in the future on all RDHPCS machines; EIB will take care of only WCOSS2.

Dusan has opened PR for ESMF library to hpc-stack (spack-stack). EPIC is working on getting spack-stack working.

Many small fixes in ESMF update; main fix is attribute type for history (8.3.1 , patch of 8.3.0).

ESMF updated PIO in 8.3.0; binary format was removed and stricter usage of attribute typ

[2022-09-26 17:44] DeniseWorthen commented on #1322
Update to store of RH in FV3 cap to reduce initialization time. Stored RH files are binary; files stored in input-data-directory which all trace their lineage to hera's copy. As long as endianness is same, should be able to re-use hera-generated files on other platforms.

Layouts need to be same for re-use between configurations. ESMF will check to enforce the conditional re-use of stored RH. Will

[2022-09-26 17:50] DeniseWorthen commented on #1111
WCOSS2 is unavailable for testing for ESMF team. Need to work w/ Cray to resolve possibly. Need issue to hardware support team for start solving the issue. C5 is in acceptance testing so may be a possible test machine. George Vandenberge could perhaps look at in on WCOSS2.

[2022-09-26 17:58] DeniseWorthen commented on #1310
EPIC team does not have this in the PI6 list (task assignment list) but in future they should be picking these types of issues.

This EPIC (RT framework etc) is a EPIC-team responsibility in the future. Test owners (application team or the feature developer) they need to work w/ EPIC. Test owners can be community, outside of EIB or even EMC.

[2022-09-28 15:01] jkbk2004 opened #1441 "g2tmpl-1.10.2: backward compatibility issue on hafs cases"
new version of g2tmpl-1.10.2 was installed on each RDHPCs.  The regression tests of the ufs-wm (hafs_regional_atm, hafs_global_multiple_4nests_atm, hafs_regional_specified_moving_1nest_atm) show the baselines are different between g2tmpl-1.10.0 and g2tmpl-1.10.2. Validation is needed from UPP and HAFS teams.

[2022-09-28 17:54] BinLiu-NOAA commented on #1441
@jkbk2004 Thanks for creating this issue! @LinZhu-NOAA will help to communicate this with @WenMeng-NOAA to check/confirm if the changing results are expected. Thanks!

[2022-09-29 14:25] #1422 closed

[2022-10-03 04:28] uturuncoglu opened #1442 "Add external land component support to UFS"
## Description
The existing implementation only allows to run land component internally through the used of CCPP/physics. To allow interaction with the external land component FV3 and its coupling interface need to be extended.

## Solution
- Make required changes in the coupling interface as well as CCPP/physics to allow interaction with the external land component.
- Create NUOPC cap for Noah MP

[2022-10-03 14:57] DusanJovic-NOAA commented on #1416
In run_test.sh this must be removed:

https://github.com/ufs-community/ufs-weather-model/blob/8925cdb03aec5324e4bd256253a61992ea2101d7/tests/run_test.sh#L376

[2022-10-03 20:15] jkbk2004 opened #1446 "SRW-v2.1 release requirement: Add FV3 suite WoFS_v0"
## Description
During SRW v2.0 release process, the WoFS option was directly added to release/public-v3.0: not develop branch.

## Solution
There was [Ted's PR 1158](https://github.com/ufs-community/ufs-weather-model/pull/1158). Create a new PR to add the WoFS option to the ufs-wm develop branch.

[2022-10-04 12:31] jkbk2004 commented on #1417
merging in #1418

[2022-10-04 15:56] jkbk2004 commented on #1446
SRW-v2.1 release timeframe is around early Nov.

[2022-10-04 16:49] mark-a-potts opened #1448 "Update module dependencies to use spack-stack instead of hpc-stack"
## Description
The hpc-stack approach to building the software stack required by the UFS-WM is being deprecated and the WM needs to be tested and validated with the new spack-based software stack.

## Solution
EPIC will install spack-based modules for all the packages required by the WM under their role accounts and begin the process of validating their use with the WM via regression test comparis

[2022-10-05 17:32] ericaligo-NOAA opened #1449 "New Winter Weather Diagnostics and Precip Ice Density"
## Description
The accumulated snow, graupel and freezing rain will be added to  history files. A new precipitation ice density will be used in NOAH and NOAH MP LSMs. This new precipitation ice density is currently used in the RUC LSM and the computation will be moved from the RUC LSM to GFS_MP_generic.F90. Users will have the ability to choose between the original formulations in NOAH and NOAH LS

[2022-10-05 17:36] JessicaMeixner-NOAA opened #1450 "Compile errors on orion and hera with develop"
## Description
When running ufs-weather-model develop branch (hash, e6da626e086ecd063621278062d8e909c34a6a00) I get a failure for most of the comile jobs on orion  (@pjpegion and others have gotten similar errors) and for compile 011 on hera (@MatthewMasarik-NOAA gets the same errror).

### To Reproduce:
Check out the develop branch, run ./rt.sh -e (from ecflow server on hera).

## Additional cont

[2022-10-06 13:46] benjamin-cash commented on #1448
@mark-a-potts - This came up in another discussion that I think has gotten buried, so I wanted to include it here. To use spack-stack the version of [CMakeModules](https://github.com/NOAA-EMC/CMakeModules) that ufs-weather-model points to will need to be updated. Right now it is pointing to [cedeb2c](https://github.com/NOAA-EMC/CMakeModules/commit/cedeb2c64e55d3445ac4e4847ea7c4fa3220c3dd), which i

[2022-10-06 14:56] JessicaMeixner-NOAA commented on #1450
@jkbk2004 I have retested on both hera and orion and am still having this same issue.

[2022-10-07 20:32] MatthewMasarik-NOAA opened #1452 "Sync WW3 dev/ufs-weather-model with develop"
## Description
Request for component WW3:dev/ufs-weather-model to be synced with it's develop branch.

## Solution
The component WW3 should have it's dev/ufs-weather-model branch synced with it's develop.

## Alternatives
None.

## Related to
N/A

[2022-10-08 07:59] WalterKolczynski-NOAA commented on #1450
Can confirm the same error on Orion when I call tests/compile.sh directly to attempt build for global-workflow.

[2022-10-10 12:34] jkbk2004 commented on #1450
@JessicaMeixner-NOAA I reset the permission of the whole hpc-stack directory on orion. Can you give a try?

[2022-10-11 02:09] MatthewMasarik-NOAA commented on #1450
Hi @jkbk2004, @JessicaMeixner-NOAA is away until Wednesday.  I can test on orion and let you know the outcome.

[2022-10-11 06:58] SMoorthi-emc commented on #1277
Another thing one can try is to set n_sponge back to 42, but set hord=6.

On Thu, Jun 16, 2022 at 9:53 PM RuiyuSun ***@***.***> wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e-mail: ***

[2022-10-11 07:09] junwang-noaa commented on #1103
Sure, I will do some testing. But my understanding is that the changes are
independent to decomposition, it is to fix the writing time for restart
files in the two phases run.

On Sun, Mar 20, 2022 at 12:05 AM Fanglin Yang ***@***.***>
wrote:

[2022-10-11 07:28] junwang-noaa commented on #1190
I am curious how the PR#1171 is related to this restart reproducibility as
we currently have the restart reproducibility when using the 3hr restart
interval.

On Wed, Apr 27, 2022 at 12:32 PM Jessica Meixner ***@***.***>
wrote:

[2022-10-11 07:48] Hang-Lei-NOAA commented on #1348
Hi, Jun

I sent the request this morning. PIO was approved. v2.5.2 was installed.

Thanks,
Hang

On Tue, Jul 26, 2022 at 2:21 PM Jun Wang ***@***.***> wrote:

[2022-10-11 08:02] bensonr commented on #801
RTS was also run on gaea before committing things and asking for functional
tests.

On Tue, May 3, 2022 at 2:44 PM Jun Wang ***@***.***> wrote:

[2022-10-11 08:07] SMoorthi-emc commented on #1198
I made 4 runs with a C384L127 coupled model with "blocksize" of "32", "16",
"5" and "4".
Three runs, except for blocksize=5, were identical.
My guess is that all blocks should have the same size.

On Fri, Apr 29, 2022 at 1:37 PM Phil Pegion ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for

[2022-10-11 08:13] YihuaWu-NOAA commented on #936
These two suites were not created by me.  I need permission from him or her
who created these.

*Yihua----------------------------------------------------Yihua Wu, Ph D*I.M.
Systems Group
NOAA/NWS/NCEP/EMC
5830 University Research Court, Room: 2031
College Park, Maryland 20740, USA
Phone: (301)-683-3691
Fax:       (301)-683-3703

On Thu, Mar 10, 2022 at 11:46 AM arun chawla ***@***.***>
wrote:

[2022-10-11 08:19] junwang-noaa commented on #801
GFDL plans to implement a fix in FV3 to resolve the issue, I will let you
know when the timeline is available.

On Thu, Mar 10, 2022 at 10:14 AM JacobCarley-NOAA ***@***.***>
wrote:

[2022-10-11 08:20] AnningCheng-NOAA commented on #1277
Fanglin and Ruiyu:

By turning on the fast physics and gfdlmprad. I got the similar error as
Ruiyu:
/scratch1/NCEPDEV/stmp2/Anning.Cheng/FV3_RT/rt_177614/control_p8

The error points are near 232E and 50N for both GFDL and Thompson,
Something to do with the land/lake.

Anning

On Thu, Jun 16, 2022 at 5:51 PM RuiyuSun ***@***.***> wrote:

[2022-10-11 08:51] climbfuji commented on #649
Yes, that’s correct. It works for some configurations (e.g. global) and/or some physics suites, but it’s not guaranteed.

[2022-10-11 09:04] SMoorthi-emc commented on #1277
Try p8_sg_adj with "dt_inner=150" or 300.

On Thu, Jun 16, 2022 at 10:24 AM AnningCheng-NOAA ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel: (301)683-3718

e-mail: ***@***.***
Phone:  (301)

[2022-10-11 12:38] MatthewMasarik-NOAA commented on #1450
@jkbk2004 I just tested on orion and found I get the same error.

[2022-10-11 12:46] MatthewMasarik-NOAA commented on #1452
I had a small issue with creating/matching a baseline with the PR for this.  I will hold off submitting until @JessicaMeixner-NOAA returns tomorrow (Wed 12th).  It is otherwise complete.

[2022-10-11 12:55] SamuelTrahanNOAA commented on #936
This is corrected in @HelinWei-NOAA's clm_lake.v9 branch, and also in my branch off of his branch, where I added the CLM Lake Model.

[2022-10-11 13:09] lisa-bengtsson commented on #1198
If your runs reproduces in debug mode it may be related to the "AVX2" compiler flag that Dom described above?

[2022-10-11 13:54] SMoorthi-emc commented on #1198
Hi Lisa,
   Something strange is going on in google mail.  Old mails are being sent
as new.  I did not make any comment 6 hours ago.
Moorthi

On Tue, Oct 11, 2022 at 9:10 AM lisa-bengtsson ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research C

[2022-10-11 13:58] lisa-bengtsson commented on #1198
Ok, yes, I noticed some strange updates in my inbox as well. Hopefully that gets solved quickly.

[2022-10-11 13:59] pjpegion commented on #1198
That is a relief,  I thought you, and a bunch of other EMC people were
working all night.
-Phil

On Tue, Oct 11, 2022 at 7:54 AM SMoorthi-emc ***@***.***>
wrote:

--
Phil Pegion (he/him/his)
Physical Scientist
NOAA/Physical Sciences Laboratory
(303) 497-7897
***@***.***

[2022-10-12 12:44] jkbk2004 commented on #1450
@MatthewMasarik-NOAA @BrianCurtis-NOAA @ChunxiZhang-NOAA @zach1221 can you take a look: /work/noaa/epic-ps/jongkim/4debug? As err.log shows, I am able to load modules ok: crtm. Can you give a try to run the jobs_card I put there? so that we can catch if module loading is ok with everyone.

[2022-10-12 13:01] MatthewMasarik-NOAA commented on #1450
@jkbk2004 I copied that directory and submitted the job_card.  Here is the output of err.log (out.log is empty):

[code]

Ps, I don't have `account=nems` so I set `account=marine-cpu`.

[2022-10-12 13:02] BrianCurtis-NOAA commented on #1450
make sure you `module use modulefiles && module load ufs_<machine>.<compiler>` (i.e. ufs_hera.intel)

[2022-10-12 13:16] MatthewMasarik-NOAA commented on #1450
Is this message for me, @BrianCurtis-NOAA?

If I try that,  `module use modulefiles && module load ufs_orion.intel`, in the directory I copied I get an Lmod error saying `"ufs_orion.intel"` is unkown

[2022-10-12 13:30] JessicaMeixner-NOAA commented on #1450
@BrianCurtis-NOAA  @jkbk2004 @MatthewMasarik-NOAA I am back from leave and can try this again today.  Brian I had a question about the module load you said we should do because I don't have to do this for other machines and I've never had to do this for orion before.

[2022-10-12 13:52] BrianCurtis-NOAA commented on #1450
@JessicaMeixner-NOAA @MatthewMasarik-NOAA @jkbk2004 Sorry for the confusion. I had an issue on orion that I found when testing a build on Orion with develop branch. I had to load git/2.28.0 before git would pull everything cleanly without error.

More context for the module use and module load, here's how I setup my env for running RT.
[code]
on Orion, at least, a `module load git/2.28.0` helped g

[2022-10-12 14:00] JessicaMeixner-NOAA commented on #1450
I've tried loading the git module last week and that did not solve my issue either.    I've never had to load the ufs modules for any other machine...

[2022-10-12 14:01] BrianCurtis-NOAA commented on #1450
rt.sh should automatically do it, yes.

[2022-10-12 15:14] JessicaMeixner-NOAA commented on #1450
I was able to run on orion this morning with the latest ufs version.   I'll try hera now.

[2022-10-12 18:40] JessicaMeixner-NOAA commented on #1450
Compile 11 on hera is still failing for me

[2022-10-14 14:18] DusanJovic-NOAA opened #1455 "Model crashes with FMS version 2022.04"
## Description
Model fails with the following error when compiled using FMS 2022.04:

[code]

### To Reproduce:
What compilers/machines are you seeing this with? Hera/Intel
Give explicit steps to reproduce the behavior.
1. clone latest ufs-weather-model
2. change the version of the fms library from 2022.01 to 2022.04, for example:
[code]
3. then, run the 'control' regression test:
[code]

[2022-10-14 14:31] junwang-noaa commented on #1455
@DusanJovic-NOAA would you please create an issue at fms repo too? Thanks.

[2022-10-14 15:16] DusanJovic-NOAA commented on #1455
I remember FMS 2022.04-beta2 (which is practically identical to 2022.04 release) worked just fine. Let me try to rebuild 2022.04 and try again. The above test was using fms installation from hpc-stack.

[2022-10-14 15:43] DusanJovic-NOAA commented on #1455
When I use the fms build from this location:
[code]
the 'control' test passes. I suspect there must be some issue with the hpc-stack installation of 2022.04.
@Hang-Lei-NOAA could you please check.

[2022-10-14 16:21] Hang-Lei-NOAA commented on #1455
@DusanJovic-NOAA
I just check it, the flag was skipped in the last installation. I just rebuilt with the additional flag. Please test it again.

[2022-10-14 16:40] DusanJovic-NOAA commented on #1455
It still crashes with same error.

[2022-10-14 16:46] DusanJovic-NOAA commented on #1455
I see in this log file (/scratch2/NCEPDEV/nwprod/hpc-stack/src/develop/log/fms.log.2022-10-14_1624), assuming that's the one that corresponds to current 2022.04 installation, that you used szip/2.1.1, hdf5/1.12.2 and netcdf/4.9.0 modules, while in the current installation we used hdf5/1.10.6 and netcdf/4.7.4.

[2022-10-17 13:30] Hang-Lei-NOAA commented on #1455
@DusanJovic-NOAA This has been corrected with netcdf/4.7.4. The intel compiler automatically loaded the latest netcdf.

[2022-10-17 14:49] DusanJovic-NOAA commented on #1455
Thanks. The control test now finishes successfully.

[2022-10-17 14:57] junwang-noaa commented on #1455
@DusanJovic-NOAA @shansun6 @TingLei-noaa would you please create a RRFS hourly test using the chunksize feature in FMS 2022.04 to confirm the showiness issue is resolved? Thanks

[2022-10-17 16:05] #1436 closed

[2022-10-17 18:30] ShanSunNOAA commented on #1455
Hi Jun,

It is nice to hear from you! Are you coming to AMS in Denver? Hope to see
you soon.

Are you sure you meant to send this email to me, as I don't work
with RRFS...

Best,
Shan

On Mon, Oct 17, 2022 at 8:57 AM Jun Wang ***@***.***> wrote:

[2022-10-17 18:33] junwang-noaa commented on #1455
Sorry, Shan. This is supposed to go to @shunliu-noaa.

[2022-10-18 02:08] junwang-noaa opened #1458 "production/GFSv16: remove nowarn compile option"
## Description
The nowarn compile option is requested to be removed in GFSv16.3.0 implementation.
Crtm library is updated to 2.4.0 and upp is  now point to 8.2.0.
wcoss dell p3 and phase1 compile option and the RT log files are cleaned up.

## Solution
Add a clear and concise description of what you want to happen.

## Alternatives
If applicable, add a description of any alternative solutions or f

[2022-10-18 04:34] uturuncoglu commented on #1423
@junwang-noaa @barlage JFYI, I did some testing in new external NoahMP model and I tried to define the mask like following (`frac` is coming from `land_frac` variable in oro files  and `vegtype` is coming from `vegetation_type` variable in static vegetation_type files),

[code]

Then, model seems working without modification that I done previously in `fv3_conf/control_run.IN`. So, this trick seems

[2022-10-18 15:50] RatkoVasic-NOAA opened #1461 "Replacing regional regression tests with more realistic ones"
## Description
Current regional regression tests are obsolete. We have new configurations running in parallel runs.
These tests will replace old, low resolution tests with new, high resolution tests (over small domain).
Test "3km" is becoming new "control", and all tests will use same configuration and ICs.

## Solution
I'm preparing new tests to replace previous ones.
For now, on Hera, these are

[2022-10-18 15:59] RatkoVasic-NOAA opened #1462 "Regional run with LAM SDF is failing when compiled in debug mode"
## Description
When using suite_FV3_GFS_v15_thompson_mynn_lam3km.xml SDF in regional application (currently running as parallel) model is failing with segmentation fault.

### To Reproduce:
Get new code from repository.
Compile with DEBUG option.
Run regional_3km test (soon to be called regional_control).

## Additional context
Related to issue #1461

[code]

[2022-10-18 17:09] uturuncoglu opened #1463 "Possible issue in interpolation when using gaussian_grid as output_grid"
## Description
The output of the model does not match when `model_configure` is changed from
[code]
to
[code]
I tested this with two different RTs.

- `control_p8`
- `control_p8_atmlnd_sbs`: newly introduced for external land component

It seems that output is consistent from FV3 when `cubed_sphere_grid` is used but not `gaussian_grid`. It seems that latent heat flux is more similar even for `gaus

[2022-10-18 17:11] uturuncoglu commented on #1463
@junwang-noaa this is not related with the external land component PR but I found it when I checking results. So, it would be worth to look at more deeply. It could be just interpolation artifacts but I am not expecting such as smooth results for sensible heat flux in `gaussian_grid` case and also it is not approving for latent heat flux in same order of magnitude.

[2022-10-18 17:13] uturuncoglu commented on #1463
@junwang-noaa i am also plaining to update `control_p8_atmlnd_sbs` test not to use post and use `cubed_sphere_grid` for output until we figure out the issue in the FV3 write component.

[2022-10-18 19:58] uturuncoglu commented on #1463
@junwang-noaa sorry for false alarm. it seems that this is an artifact of used plotting tool (ncview). I check sensible heat flux with ferret and it looks fine. So, I am closing this.

[2022-10-18 19:58] #1463 closed

[2022-10-19 13:55] junwang-noaa commented on #1423
@uturuncoglu I think it is good to define the noahmp mask using noahmp%domain%frac and vegtype. Please confirm with @barlage.

[2022-10-19 14:01] jkbk2004 commented on #1423
@barlage can you add some comment on this issue? so that we can move on with pr #1443

[2022-10-19 15:37] uturuncoglu commented on #1423
@junwang-noaa @barlage @jkbk2004 I think the most less complicated short term solution will be option 3. It is your decision.

[2022-10-19 16:29] natalie-perlin opened #1465 "Updating hpc-stack modules and miniconda locations for Hera, Gaea, Cheyenne, Orion, Jet"
## Description
Update the locations of the hpc-stack modules and miniconda3 for compiling and running the UFS-weather-model on NOAA HPC systems, such as Hera, Gaea, Cheyenne, Orion, Jet. The modules are installed under role.epic account and placed in a common EPIC-managed space on each system. Gaea also uses the Lmod installed locally in the same common location ([ufs-srweather-app/PR-352](https:/

[2022-10-19 16:55] RatkoVasic-NOAA commented on #1450
Same thing for me, it fails in compiling with DEBUG option on Hera.
[code]

[2022-10-19 16:58] JessicaMeixner-NOAA commented on #1450
I tried again today and the compile 011 is still failing for me on hera.  I have been okay on orion and was going to test that again but there are /work issues.

[2022-10-19 19:31] DeniseWorthen commented on #1423
@uturuncoglu Did you ever try the control_p8 test case with ``frac_grid=.false.``?

[2022-10-19 20:14] uturuncoglu commented on #1423
@DeniseWorthen no I did not

[2022-10-19 21:10] DeniseWorthen opened #1466 "standalone tests do not launch w/ correct number of PEs"
## Description

The calculation of ``tasks`` seems incorrect for the standalone RTs.

### To Reproduce:
On Hera.intel, run the control_p8 RT. The job should run on 150 tasks:
[code]

The job launches on 160 tasks:

``srun --label -n 160 ./fv3.exe``

The PET logs 000-149 contain valid information. PET logs 150-159 show report only the reading of the config information.
[code]

[2022-10-19 21:15] uturuncoglu commented on #1466
@DeniseWorthen I just wonder if you check the number of io tasks? It could increase the number PR used in the test?

[2022-10-19 21:17] DeniseWorthen commented on #1466
The ``control_p8`` runs with 144 for FV3 and 6 wrt tasks, for a total of 150 (0-149).

[2022-10-19 21:18] uturuncoglu commented on #1466
Okay. That makes sense. There was a recent mods in the UFS side that moves that calculation from rt.sh to another script (I think?). Maybe it is related with it.

[2022-10-19 21:23] DeniseWorthen commented on #1466
Maybe---I remember something about that. I first noticed it when I built an atm-wav-cmeps test more than a month ago but I thought I had set something incorrectly (I was launching w/ 200 even though I only needed 180).

[2022-10-19 22:10] DusanJovic-NOAA commented on #1466
See this PR comment https://github.com/ufs-community/ufs-weather-model/pull/1305#discussion_r912130905

[2022-10-19 22:37] DusanJovic-NOAA commented on #1450
@JessicaMeixner-NOAA One option is to try to reduce the number of ccpp SDFs in the FV3/ccpp/suites directory to only those actually used by the regression test. This test that is failing does not explicitly list suites, so it tries to build them all. Currently there are more than 90 suite definitions there. Not all of them are used, we use (regression test) only about a third.
Can you run this scr

[2022-10-19 22:38] DeniseWorthen commented on #1466
@DusanJovic-NOAA Thanks. I see now that this is expected, so I will close the issue.

[2022-10-19 22:38] #1466 closed

[2022-10-19 23:10] RatkoVasic-NOAA commented on #1450
I just ran with 90 (out of 91 SDFs) and it worked. I just excluded first one on the list (suite_FV3_CPT_v0.xml). Still have no idea why this is happening, and only to few of us.

[2022-10-20 01:03] jkbk2004 commented on #1465
@natalie-perlin Can you make sure all compiler and library versions are confirmed against https://github.com/ufs-community/ufs-weather-model/tree/develop/modulefiles ?

[2022-10-20 02:14] jkbk2004 commented on #1465
@ulmononian can we coordinate about intel/gnu/openmpi to hera on this issue?

[2022-10-20 12:31] natalie-perlin commented on #1465
@jkbk2004 The PRs have not been made yet to address the changes in modulefiles for the ufs-weather-model, only for the ufs-srweather-app

[2022-10-20 14:21] ChunxiZhang-NOAA commented on #1450
suite_FV3_CPT_v0.xml is a deprecated SDF.  To reduce the number of SDFs in the suites directory is a good option. And could make it happen soon.

[2022-10-20 15:54] natalie-perlin commented on #1465
The modulefiles for Hera and Jet to use the intel/2022.1.2  version, and not the latest 2022.2.0, version have been built. Updating the info in the top comment of this issue.

[2022-10-20 16:01] DusanJovic-NOAA commented on #1465
Can somebody please build the gnu hpc-stack on hera and cheyenne using openmpi. Thanks.

[2022-10-20 17:07] uturuncoglu commented on #1423
I switch to easier solution by modifying land-sea mask code in NoahMP NUOPC cap and removing modifications that uses some files from coupled RT for control under UFS (commit: https://github.com/ufs-community/ufs-weather-model/pull/1443/commits/a8b669da9a8ca6c10b213328823a192e3b7b4208). Note that this is just a temporary solution and those input files needs to be fixed but this fix will allow us to

[2022-10-20 17:14] ulmononian commented on #1465
@DusanJovic-NOAA @jkbk2004 here is a build i did in the past w/ gnu-9.2.0 & openmpi-3.1.4 on hera: module use /scratch1/NCEPDEV/stmp2/Cameron.Book/hpcs_work/libs/gnu/stack_noaa/modulefiles/stack

[2022-10-20 18:17] DusanJovic-NOAA commented on #1465
Thanks @ulmononian. I also have the gnu/openmpi stack built in my own space. What I was asking is the installation in officially supported location so that we can update modulefiles in develop branch.

[2022-10-20 19:37] JessicaMeixner-NOAA commented on #1450
@DusanJovic-NOAA  - running with your script first, the regression tests succeeded.  I'm with @RatkoVasic-NOAA  on the wondering why this is happening to a few of us.

[2022-10-21 12:09] junwang-noaa commented on #1465
@ulmononian would you please also create an issue hpc-stack on upp repo (https://github.com/noaa-emc/upp). Also other workflow (global workflow, HAFS workflow) may also be impacted by this change. @WenMeng-NOAA @aerorahul @WalterKolczynski-NOAA @KateFriedman-NOAA @BinLiu-NOAA  FYI.

[2022-10-21 12:22] jkbk2004 commented on #1465
@junwang-noaa @ulmononian @WenMeng-NOAA @aerorahul @WalterKolczynski-NOAA @KateFriedman-NOAA @BinLiu-NOAA @natalie-perlin I noticed that Kyle's old stack installations are still used in other applications and some machines. I started a coordination on EPIC side. It may take a week or two to finish the full transition. I want to combine this issue with the other library update follow-ups on-going:

[2022-10-21 12:26] WenMeng-NOAA commented on #1465
@jkbk2004 Can you install g2tmpl/1.10.2 for the UPP? Thanks!

[2022-10-21 12:33] jkbk2004 commented on #1465
@WenMeng-NOAA g2tmpl/1.10.2 is available ([current ufs-wm modulefiles](https://github.com/ufs-community/ufs-weather-model/tree/develop/modulefiles)) but backward comparability issue was captured at issue #1441.

[2022-10-21 12:41] WenMeng-NOAA commented on #1441
@jkbk2004 Please provide me the locations of two regression tests, I can take a look.

[2022-10-21 13:55] RatkoVasic-NOAA commented on #1462
Sam's commit #1437 solved this issue. Closing.

[2022-10-21 13:55] #1462 closed

[2022-10-21 18:42] natalie-perlin commented on #1465
@DusanJovic-NOAA - hpc-stack with gnu/9.2.0+mpich/3.3.2 and gnu/10.2.0+mpich/3.3.2 have been installed on Hera under role.epic account (EPIC-managed space). Testing them with ufs-weather-model-RTs, and plan to include these Hera-gnu into the module updates.

The stack installation locations are:
/scratch1/NCEPDEV/nems/role.epic/hpc-stack/libs/gnu-9.2/
/scratch1/NCEPDEV/nems/role.epic/hpc-stack/lib

[2022-10-21 19:11] DusanJovic-NOAA commented on #1465
@natalie-perlin Is anyone going to provide gnu/openmpi stack?

[2022-10-21 19:14] jkbk2004 commented on #1465
@ulmononian can you install gnu/openmpi parallel to the location above?

[2022-10-21 22:21] natalie-perlin commented on #1465
@jkbk2004 - do we need al four possible combinations for compilers (gnu/9.2.0,  gnu/10.2.0) with mpich/3.3.2 , openmpi/4.1.2 ?

[2022-10-21 22:32] jkbk2004 commented on #1465
@natalie-perlin I think @ulmononian has installed gnu10.1/openmpi. That should be good enough as a starting point for openmpi option. But it makes a sense to  set openmpi installation available along with the role account path.

[2022-10-24 01:34] jkbk2004 commented on #1441
@WenMeng-NOAA can you take a look at RegressionTests_orion.intel.log: /work/noaa/epic-ps/jongkim/UFS-RT-tests/pr-dev/tests? I set some regression tests with g2tmpl-1.10.2.

[2022-10-24 01:35] jkbk2004 commented on #1441
It's on Orion.

[2022-10-24 14:33] jkbk2004 opened #1470 "Cheyenne LMOD issue after last maintenance"
## Description
Lmod Warning: MODULEPATH directory:
"/glade/scratch/jongkim/pr-dev-gnu/jongkim/FV3_RT/rt_57077/control_p8" has too
many non-modulefiles (149). Please make sure that modulefiles are in their own
directory and not mixed in with non-modulefiles (e.g. source code)

### To Reproduce:
A good portions of regressions are running ok but some of them fail with both intel and gnu. Failed cases

[2022-10-24 15:16] jkbk2004 commented on #1470
During the maintenance, lmod was updated from 8.1.7 to 8.7.13: /glade/u/apps/ch/modulefiles/default/localinit/localinit.sh

[2022-10-24 15:36] DeniseWorthen commented on #1470
@jkbk2004 is there a quick fix I can use? I've been using Cheyenne as my main development platform for the unstructured mesh for waves since hera is too slow.

[2022-10-24 15:42] jkbk2004 commented on #1470
@DeniseWorthen can you do source /glade/scratch/jongkim/localinit.sh ? and see how it goes. I reverted to 8.1.7. I am talking to cisl help desk. They are suggesting to set modulefiles (lua) different way. But I need time to test for that option.

[2022-10-24 15:44] uturuncoglu commented on #1470
@DeniseWorthen @jkbk2004 I also create a ticket about it last wee but I did not get any response yet. I'll update you if I get.

[2022-10-24 16:41] uturuncoglu commented on #1470
I got following response from support. It seems that the issue related with the newer version of the Lmod and we ned to support also those cases.

---

Browsing your github issue, the structure of /glade/scratch/jongkim/pr-dev-gnu/jongkim/FV3_RT/rt_57077/control_p8 seems to be the issue.  Lmod wants all the files in the search path to be module files, whereas that's not the case.

could you simply

[2022-10-24 16:46] benkirk commented on #1470
Hi, I hope it's OK to weigh in here:

Yes, we upgraded Lmod on Cheyenne, actually at the request of NOAA/EPIC.

What you are seeing is a message from Lmod that apparently is introduced in v8.7.3: https://github.com/TACC/Lmod/blob/main/README.new

The issue stems from having module and non-module files in the same directory.  Lmod prefers to have modulefiles isolated, so I'd recommend creating a '.

[2022-10-24 16:59] BrianCurtis-NOAA commented on #1392
Code freeze was moved to 12/1 from 10/1. Work towards that will ramp up in the coming days and weeks.

[2022-10-24 17:21] DeniseWorthen commented on #1323
Ufuk reports that 8.4 should be released soon; first week of November 2022 is planned at this point (8.4.0beta20).

AQM will not use older ESMF since it needs to use release version (8.3.1 or 8.4) for implementation. Brian will followup w/ AQM cap updates.

Jun clarifies that issue for updates needs to be created on hpc-stack; EPIC installs on RDHPCS. EMC takes care of acorn/wcoss2; submit new lib

[2022-10-24 17:25] DeniseWorthen commented on #1392
Issues and PRs are being moved to official emc repo. Brian is AQM code manager. Decisions will be made about which of issues and Prs are required prior to science code freeze.

[2022-10-24 17:45] DeniseWorthen commented on #1062
Need code update to dy-core. fms2022.03 was installed acorn. version currently on wcoss2 may have wrong -dconstants present. Need compile fixed on wcoss2; the commit update to dycore for fms 2022.03 asap.

Still no RT for mixed-mode.

Updates for chunking will require 2022.04.

Issue of maintaining different constants vs what is default for FMS; Physics group would need to evaluate change in the v

[2022-10-24 17:47] DeniseWorthen commented on #1323
Use of Gaea-C5 may work as a standin for wcoss2 since they have same architecture once it is available.

[2022-10-24 17:54] natalie-perlin commented on #1465
@jkbk2004, @ulmonian -
HPC-modules using different versions gnu, mpich and openmpi were installed, plus new versions of netcdf 4.9.0 (netcdf-c/4.9.0, netcdf-fortran/4.6.0, netcdf-cxx-4.3.1) for the following combinations:

gnu/9.2.0 + mpich/3.3.2 + netcdf/4.7.4
gnu/9.2.0 + mpich/3.3.2 + netcdf/4.9.0
gnu/10.2.0 + mpich/3.3.2 + netcdf/4.7.4
gnu/10.2.0 +mpich/3.3.2 + netcdf/4.9.0
gnu/10.2.0 + openmpi

[2022-10-24 17:58] DeniseWorthen commented on #1111
Need to check w/ coupled group for their testing of esmf-managed threading in s2s (Neil has tested) and prepare to drop non-esmf-managed threaded tests. Uses fewer tasks which is preferable (relative to non-threaded). We can close this EPIC once we have confirmation that EMSF-managed threading is default for coupled apps.

[2022-10-25 00:25] jkbk2004 commented on #1470
@DeniseWorthen Clearly @benkirk 's suggestion makes a sense. I am looking into script.

[2022-10-25 12:46] jkbk2004 commented on #1470
@DeniseWorthen @uturuncoglu take a look at the fix on cheyenne: [pr to Mathew's #1454](https://github.com/MatthewMasarik-NOAA/ufs-weather-model/pull/1/files)

[2022-10-25 13:05] DeniseWorthen commented on #1470
@jkbk2004 I modified the job_card in one of my sandboxes as you showed and the job is now running.

[2022-10-25 21:04] DeniseWorthen commented on #1395
@BinLiu-NOAA I believe this issue is now resolved, perhaps through PR #1437. I was able to compile and run the ``hafs_regional_atm_wav`` in debug mode using the latest develop.

[2022-10-25 21:04] #1395 closed

[2022-10-25 22:37] DeniseWorthen commented on #1470
@jkbk2004 Your fix does not allow you to re-run in the same sandbox. When I tried, I got two errors. First, the ``modulefiles`` directory already existed and once I commented out the mkdir line, it failed because there were no ``*.lua`` files to move.

[2022-10-26 01:54] jkbk2004 commented on #1470
@DeniseWorthen I missed the line to check modulefiles. Can you take a look at [lines 16-19](https://github.com/MatthewMasarik-NOAA/ufs-weather-model/blob/syncww3dev/tests/fv3_conf/fv3_qsub.IN_cheyenne) ?

[2022-10-26 17:27] DusanJovic-NOAA opened #1472 "Change the default value of INLINE_POST build option"
The default value of INLINE_POST build option is currently OFF:
[code]
However in all cmake/configure_*.cmake files we override this and set INLINE_POST to ON:
[code]
It makes more sense to set the default value to ON, and remove all these settings from all cmake/configure_*.cmake files.
Users will still be able to turn the inline post off by explicitly setting INLINE_POST to OFF (for example by u

[2022-10-26 17:34] DeniseWorthen commented on #1472
@DusanJovic-NOAA If we build w/ inline post ``ON``, the tests (e.g. ``cpld_control_p8``) can still specify ``WRITE_DOPOST=.false.``?

[2022-10-26 17:40] DeniseWorthen opened #1473 "Update WW3"
## Description

The WW3 develop branch has been updated to include auto-formatting, removal of whitespace and cleanup of some #ifdefs. These changes need to be added to the dev/ufs-weather-model branch and then UWM needs to be updated.

A bug associated with the export of the wave spectrum when coupling with CICE6 is also fixed (see issue https://github.com/NOAA-EMC/WW3/issues/843)

[2022-10-26 18:30] DusanJovic-NOAA commented on #1472
Yes. `WRITE_DOPOST=.false.` is run-time option to turn off inline post.

[2022-10-27 16:52] natalie-perlin commented on #1465
Added a stack build with the intel compiler and netcdf4.9 on Hera (see the list of locations in the top comment)

[2022-10-27 17:08] ulmononian commented on #1465
@DusanJovic-NOAA @jkbk2004 @natalie-perlin i will install the stack w/ gnu-9.2 and openmpi-3.1.4 here  /scratch1/NCEPDEV/nems/role.epic/hpc-stack/libs shortly, as well as w/ gnu-10.1 & openmpi-3.1.4 in the official location.

[2022-10-27 17:23] lisa-bengtsson opened #1477 "Activate prognostic convection for GFSv17"
This is an "issue" created to be associated with PR's that activates prognostic closure by setting namelist progsigma = true in _gfsv17 and pointing to new field_table in the RT’s and creates a set of _gfsv17 RT’s to reflect tests that are beyond prototype 8 targeted for GFSv17.

[2022-10-28 13:40] jkbk2004 opened #1478 "Issue on the baselines with long_name and units: control_p8_atmlnd_sbs, datm_cdeps_lnd_gswp3"
The attributes flipped on those baselines introduced from PR #1443: develop-20221026.

[2022-10-28 13:44] DeniseWorthen opened #1479 "remove non-esmf-managed threading bmark P8 test"
## Description
ESMF managed threading is working as intended for the bmark p8 test, as verified by Neil Barton. The non-managed test should be removed and the restart test modified to use esmf-managed threading also.

[2022-10-28 13:50] JessicaMeixner-NOAA commented on #1479
Tagging @NeilBarton-NOAA

[2022-10-28 23:46] ulmononian commented on #1465
@DusanJovic-NOAA @jkbk2004 @natalie-perlin hpc-stack built w/ gnu-9.2 and openmpi-3.1.4 was installed successfully here: /scratch1/NCEPDEV/nems/role.epic/hpc-stack/libs/gnu-9.2_openmpi-3.1.4.

[2022-10-29 14:16] DusanJovic-NOAA commented on #1465
I tried running the regression test using gnu-9.2_openmpi-3.1.4 stack but it failed because the debug version of esmf library is missing:

[code]

[2022-10-29 14:32] DusanJovic-NOAA commented on #1465
I also tried 'gnu-10.2_openmpi' stack, but it looks like when I load it, it does not actually load gnu 10.2 module, I see:
[code]
note, there is no gnu/10.2 module loaded. When I run gcc I see the compiler is version 4.8.5:
[code]
I think this is because, in gnu-10.2_openmpi/modulefiles/core/hpc-gnu/10.2.lua, two lines:
[code]
are missing:
[code]
which are present in:
[code]

[2022-10-29 14:40] DusanJovic-NOAA commented on #1465
There is also unnecessary inconsistency in the naming of hpc-gnu module between two versions:
[code]
[code]
Why '10.2' and not '10.2.0'? Also the 9.2 stack directory name has openmpi version, while directory for 10.2 stack does not.

[2022-10-29 16:47] ulmononian commented on #1465
my apologies, @DusanJovic-NOAA i will install esmf/8.3.0b09-debug in /scratch1/NCEPDEV/nems/role.epic/hpc-stack/libs/gnu-9.2_openmpi-3.1.4 now and update you when it is finished. we will also address the inconsistency in naming convention and look into the gnu-10.2 modulefile. thank you for testing w/ these stacks.

[2022-10-29 17:16] ulmononian commented on #1465
@DusanJovic-NOAA the stack at /scratch1/NCEPDEV/nems/role.epic/hpc-stack/libs/gnu-9.2_openmpi-3.1.4 has been updated to include esmf/8.3.0b09-debug. i was able to load ufs_common_debug.lua, so hopefully it works for you now!

[2022-10-30 09:36] natalie-perlin commented on #1465
@DusanJovic-NOAA, @ulmononian  - please note that the GNU 10.2.0 is not installed system-wide on Hera, and only installed locally in EPIC space. It could be build under the current hpc-stack for a particular compiler-gnu-netcdf installation location, but because the compiler is shared between several of such combinations, it is moved to a common location outside a given hpc-stack installation.

Pl

[2022-10-30 09:40] natalie-perlin commented on #1465
The modulefiles for GNU 10.2.0 had to be manually adjusted to allow a customized location of the gnu/10.2.0 compiler, the path that is only listed when the hpc-stack is being requested to load. The stack would not find a compiler "by default", because the modulepath is not known: it neither the system-wide installation path, nor is under the given hpc-stack combo.

I hope it resolves questions abo

[2022-10-30 09:45] natalie-perlin commented on #1465
@DusanJovic-NOAA - as to the questions about the use of 9.2 vs. 9.2.0 or 10.2 vs. 10.2.0 - it is purely by legacy reasons. I did see that previous hpc-stack installations used XX.X abbreviations. However, you do need to give the full version of the compiler, the way it is installed system-wide, which is 9.2.0 in this case. And GNU/10.2.0 was installed in EPIC-space to match the gnu/9.2.0 conventio

[2022-10-31 13:17] DusanJovic-NOAA commented on #1465
@ulmononian Thanks for adding the debug build of esmf. I ran control and control_debug regression tests, both finished successfully. The control tests outputs are not bit identical to the baseline, contol_debug are identical. I guess this is expected due to different MPI library.

[2022-10-31 13:30] DusanJovic-NOAA commented on #1465
@natalie-perlin I tried to run control and control_debug tests after loading gnu module form the location above (thanks for explaining this, I missed that in the description). The control test compiled successfuly, but failed at run time:

[code]

[2022-10-31 13:38] DusanJovic-NOAA commented on #1465
Debug version of esmf is missing in gnu-10.2_openmpi stack:
[code]

[2022-11-02 16:57] MichaelLueken commented on #1465
@natalie-perlin The SRW App was tested on Hera using the `intel/2022.1.2 + impi/2022.1.2 + netcdf-c 4.9.0` stack.  All fundamental WE2E tests successfully ran.  Testing using `netcdf/4.9.0` with the `/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/stack` stack location causes the SRW WE2E tests to fail while running the forecast due to illegal characters in the NetCDF files.

It woul

[2022-11-03 14:49] #1473 closed

[2022-11-04 19:47] grantfirl commented on #1465
I think that this is related to this issue: https://github.com/NCAR/ccpp-physics/discussions/980

[2022-11-04 19:54] MichaelLueken commented on #1465
Thanks, @grantfirl!  Yes, I was seeing the same issue as described in [NCAR/ccpp-physics#980](https://github.com/NCAR/ccpp-physics/discussions/980).  It is nice to see that this won't be an issue once the stack on Hera is transitioned to @natalie-perlin's new stack.

[2022-11-04 21:52] #1470 closed

[2022-11-07 15:45] #1452 closed

[2022-11-07 15:45] #1442 closed

[2022-11-07 15:47] #1458 closed

[2022-11-07 15:49] #1424 closed

[2022-11-07 15:54] #1396 closed

[2022-11-07 18:09] DeniseWorthen commented on #1062
target install is 2022.04 on wcoss2; no current update on when this will actually be installed on wcoss2. in progress.

Moorthi reports that mixed-mode is working fine as you don't care about BL changes due to constants used (C3072 10day case).

[2022-11-07 18:13] DeniseWorthen commented on #1109
No update on HAFS moving-nest development. However, there is a project to move the moving-nest code from dycore to FV3-atm repo; details of how this it should be implemented under discussion (GFDL recommends that communication be done through the publicly accessible APIs).

[2022-11-07 18:18] DeniseWorthen commented on #1186
SRW documentation is currently undergoing development.

Not clear what the interaction between EIB and EPIC is on this project.

[2022-11-07 18:21] DeniseWorthen commented on #1324
Not clear what the role of EIB is for this EPIC.

[2022-11-07 18:37] DeniseWorthen commented on #1323
ESMF can be updated directly to 8.4.0 release (skipping 8.3.1 patch). External PIO option will be used. Hang Lei reports that he believe that the release version of ESMF 8.4 will resolve the issue w/ MAPL but it needs to be tested.

[2022-11-07 18:40] gspetro-NOAA commented on #1186
@DeniseWorthen @jkbk2004 It turns out that Ligia added me as a maintainer for the WM docs ReadTheDocs (RTD) site a while back. We will likely need someone on the WM side to add a ufs-srw-v2.1.0 tag on the UFS WM repo (corresponding to the WM hash being used in the SRW v2.1.0 release), and then I can go ahead and use that tag to create RTD documentation that pulls the docs from that hash.
As to gen

[2022-11-07 18:41] DeniseWorthen commented on #1322
fix for cube-sphere (issue #1428) w/ inline post could be done either in code or at script level.

[2022-11-07 18:43] DeniseWorthen commented on #1331
PR #1471 will conclude LAM update. Then work will begin on RRFS configuration which will eventually replace LAM.

[2022-11-07 18:43] DeniseWorthen commented on #1331
PR #1471 will conclude LAM update. Then work will begin on RRFS configuration which will eventually replace LAM.

[2022-11-07 19:02] DeniseWorthen commented on #1310
Potential impact of tracking gefsv13 and gfsv17 for global configuration. Sustainability of this is a question.

Dusan suggests some budgets that the RT tests fit inside of (core hours, all time etc). Each app gets a slice of the total pie. Each app team decides how to make use of their allocations.

Jun reports that management is looking at the issue. Also issue of how the RTs split between EPIC

[2022-11-07 19:26] DeniseWorthen commented on #1186
@gspetro-NOAA Thanks for the update.

[2022-11-10 02:33] #1446 closed

[2022-11-10 02:48] jkbk2004 opened #1485 "regional_2threads hanging issue on cheyenne"
## Description
Provide a clear and concise description of what the bug is.
Also give a description of what behavior you expected to happen.

regional_2threads hanging issue was captured on cheyenne with PR #1471. Further identified an odd setup of TASKS/INPES/JNPES of regional_control/regional_2threads on cheyenne, regional_control job_card sets #PBS -l select=4:ncpus=36:mpiprocs=36 and mpiexec_mp

[2022-11-10 19:35] #1461 closed

[2022-11-10 19:35] #942 closed

[2022-11-10 19:44] jkbk2004 commented on #1485
resolved with adding omplace option in #1471

[2022-11-10 19:44] #1485 closed

[2022-11-14 20:51] jiandewang opened #1491 "update MOM6 to its main branch 20221112 commit"
MOM6 main repo was updated on 20221112 (see detail at https://github.com/mom-ocean/MOM6/pull/1586). Need to update it in UFS.
Note the default value of KVML is changed from 1E-4 to 0. By following MOM6-examples, we will set this explicitly in MOM_input. Also several variables were removed from restart files while 3 new variables were added but the original style of restart files can be preserved b

[2022-11-18 18:37] AlexanderRichert-NOAA opened #1498 "ESMF CMake config/capitalization"
## Description
When compiling UFS against a spack-stack installation of NCEPLIBS etc., UFS executable fails to complie because "-lESMF" cannot be found.

### To Reproduce:
What compilers/machines are you seeing this with?
Give explicit steps to reproduce the behavior.
1. Compile a model that includes GOCART with a copy of MAPL whose cmake config has capitalized "ESMF" as a target library.
2. The b

[2022-11-18 19:31] ericaligo-NOAA opened #1499 "Rename nradar_reset"
The namelist parameter, nsradar_reset, in the gfs_phys_nml section should be renamed. The current name is misleading as it implies that something will be reset. No resetting is done.  The parameter nsradar_reset is the time in seconds for when the reflectivity is computed assuming water coated ice (full reflectivity). For hourly output and nsradar_reset = 3600s, the full reflectivity is computed o

[2022-11-18 20:20] ericaligo-NOAA commented on #1499
@gthompsnWRF @RuiyuSun

[2022-11-18 20:50] jswhit opened #1500 "compression parameters in &mpp_io_nml ignored by atmospheric component"
If input.nml contains

[code]

the size of the ocean restarts is reduced by about 50%, but the the atmospheric restarts are unaffected.

to reproduce, run with the above namelist block included and excluded, and compare the size of the restart files.  `ncdump -s -h` can also be used to inspect the special attributes that indicate whether compression is used.

@pjpegion

[2022-11-18 21:34] pjpegion commented on #1500
The atmosphere restarts are written out using fms2_io. I see the namelist options there are limited
namelist / fms2_io_nml / &
                      ncchksz, netcdf_default_format, header_buffer_val

[2022-11-18 23:11] jswhit commented on #1500
Apparently version 2022.04 has an optional deflate_level argument to register_restart_fields, but no way to specify a default value from the namelist.  I recall that when the old mpp_io module was being used for IO, the ATM restarts were compressed (I believe this is the case in the current operational GFS).  This was apparently lost with the change to fms2_io.

[2022-11-18 23:48] pjpegion commented on #1500
Looking at the [https://github.com/ufs-comminty/ufs-weather-model](ufs-weather-model) code it looks like the optional arguments is going to have to be added to each 100+ calls to register_restart_field.  Not pretty.

[2022-11-19 03:08] junwang-noaa commented on #1500
@jswhit @pjpegion fms2_io is used to write out restart files in the fv3atm. We have been talking to GFDL on adding the compression and chunksize options when writing out restart files. The options were added in FMS 2022.04. Dusan's dycore PR of using chunksize option is at dycore [PR#223](https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/pull/223).

[2022-11-21 18:17] DeniseWorthen commented on #1111
Maintenance of framework should be EPIC task but issue is more urgent to have implemented, so EIB can contribute to this task.

[2022-11-21 18:23] DeniseWorthen commented on #1310
Lisa will submit new gfsv17 test and confirm that pass the ORTs at time of commit. But each ORT test type will not be added as new RT test for gfsv17.

Jun reports that the issue of RT number and burden will be escalated to R2O steering committee.

[2022-11-21 18:25] DeniseWorthen commented on #1367
Ali provided a 10min and 15min unstructured mesh to test for scalability of the coupled model using the unstructured mesh.

[2022-11-21 18:32] #1324 closed

[2022-11-22 15:27] JessicaMeixner-NOAA opened #1501 "Use outerloop wave coupling in gfsv17 test"
## Description
Due to the wave model speed, outerloop coupling is necessary for reasonable runtimes of the wave model.  While science testing is still ongoing, one regression test should have outerloop coupling for the wave model.

## Solution
In combination with the future gfsv17 single regression test, use outerloop wave coupling.  The coupling sequence is from @DeniseWorthen

[2022-11-30 14:35] junwang-noaa opened #1506 "enable GOCART on wcoss2"
## Description
GDIT installed ESMF/MAPL on wcoss2, the GOCART tests are enabled.

## Solution
the ESMF/MAPL libraries need to be installed on wcoss2.

## Alternatives
If applicable, add a description of any alternative solutions or features you've considered.

## Related to
Directly reference any issues or PRs in this or other repositories that this is related to, and describe how they are related

[2022-11-30 14:44] #1491 closed